[2020-06-26 17:08] LabhanshAgrawal commented on #4318
Can you all try the latest [ci build](https://github.com/vercel/hyper/actions/runs/145055527) once and see if it works.

[2020-06-26 17:18] LabhanshAgrawal commented on #3239
Seems to fixed since Windows 10 1903

[2020-06-26 17:18] #3239 closed

[2020-06-26 17:21] LabhanshAgrawal commented on #4683
Try the [ci build](https://github.com/vercel/hyper/actions/runs/145055527) once

[2020-06-26 20:58] #3443 closed

[2020-06-27 06:43] LabhanshAgrawal commented on #3321
@pradyuman can you try the deb file from [ci](https://github.com/vercel/hyper/actions/runs/149163272)  directly on NixOS? I'm not familiar with nix, so couldn't get all that's there in the Nix package in the pr.
Before packaging node-pty is re-built based on the os. So that might be causing the issue.
Is it possible to build from source in Nix package? like AUR.

[2020-06-27 10:59] the-ult commented on #4318
Same issue is occuring. The latest does not seem to fix the problem.
(screenshot has 3.0.2 again.. removed the. canary build since it had issues with the font as well.)

<img width="392" alt="Screenshot 2020-06-27 at 12 58 33" src="https://user-images.githubusercontent.com/4863062/85920672-ea4fbc80-b875-11ea-92ae-d6d30959bc2b.png">

[2020-06-27 11:33] LabhanshAgrawal commented on #4318
can you try these steps once -
close hyper
backup the config somewhere else
delete the config file
open latest hyper - config will be recreated (if you have problems with fonts, set `disableLigatures: true` in the newly generated config)

Also a question, config gets reloaded when it's accessed or modified, via the node fs.watchFile. Is there any process which might be accessing it like indexer or

[2020-06-27 13:40] the-ult commented on #4318
Hey @LabhanshAgrawal ,

Just completely removed Hyper (both stable and canary.)
Clean config.

It is still happening.
On every command (`ll`, `ls`, `npm outdated` etc)

-------------
Had the config opened in VS Code.. but closed it... (both the file and VS Code). And it is still happening.
It is happening on Mac when you switch desktops as well. But only sometimes
------------
Opened XCode, so it

[2020-06-28 15:42] techiedesu commented on #2645
@RBalconi try this: https://github.com/vercel/hyper/issues/1020#issuecomment-266216491

[2020-06-28 16:04] agscala commented on #2922
I had this issue and narrowed it down to a tmux config problem:

Fix it by adding `set -sg escape-time 0` to `~/.tmux.conf`

You can apply it without restarting tmux by:

`<C-b>:source-file ~/.tmux.conf` (or substituing `<C-b>` for your tmux control key.

[2020-06-29 06:48] LabhanshAgrawal commented on #4318
@the-ult
Can you try a build from https://github.com/LabhanshAgrawal/hyper/actions/runs/151171792
I've changed the code to watch the config file to use `chokidar` instead of `fs.watch` directly.
Do try it out for a while to make sure there are no other issues or crashes
we'd moved from chokidar to fs.watch earlier due to crash reports, but that was almost 2 years ago, so chokidar should've improve

[2020-06-29 07:16] LabhanshAgrawal commented on #4658
`Hyper 3.1.0-canary.4 (stable)` Here stable denotes your `updateChannel`
That's why you're getting an update notification, you can change `updateChannel` to canary in the config.

[2020-06-29 07:16] #4658 closed

[2020-06-29 07:17] Olgoetz opened #4687 "Spaceship prompt icons not properly rendered"
Hi together,

I have been struggling for while to setup spaceship-prompt running in a Hyper Terminal. However, I do not manage to have the icons displayed correctly (e.g. the package icon does not have a space and the node js icon is far too small) in the prompt.

![Screenshot 2020-06-29 at 00 25 27](https://user-images.githubusercontent.com/19877252/85959900-90e3ac80-b99f-11ea-98dd-52ce71fd8bf2.p

[2020-06-29 07:24] LabhanshAgrawal commented on #4687
try the latest [ci build](https://github.com/vercel/hyper/actions/runs/149163272)
If you face issues with font set `disableLigatures: true` and `webGLRenderer: false` in the config file

[2020-06-29 07:31] shinriyo commented on #4658
@LabhanshAgrawal

Ah, I see.

How to fix
command + ,
[code]

`updateChannel: 'stable',`
 =>
`updateChannel: 'canary',`

Right?

[2020-06-29 07:36] LabhanshAgrawal commented on #4658
yep

[2020-06-29 07:49] shinriyo commented on #4658
@LabhanshAgrawal Thank you. It worked!

[2020-06-29 11:09] the-ult commented on #4318
[code]
So far it seems to work. 👍

[2020-06-29 11:32] Olgoetz commented on #4687
Hi @LabhanshAgrawal,

yout suggestion almost fully worked. Additionally I had to set `fontWeightBold: 'normal'` instead of `fontWeightBold: 'bold` (but I do not why actually).

![screenshot](https://user-images.githubusercontent.com/19877252/85999778-f752e400-ba0c-11ea-8e23-2affb914f79c.png)

[2020-06-29 12:15] LabhanshAgrawal commented on #4687
The fontWeightBold thing is a separate issue. I will close this as it's resolved (the issue was lack of newer unicode versions support, which has been fixed recently). Fill free to open new issue if you face something else.

[2020-06-29 12:15] #4687 closed

[2020-06-29 12:17] LabhanshAgrawal commented on #4318
Good to hear that, Do reply if you face any issue. If it goes well, I'll add a pr to use chokidar in a few days.

[2020-06-29 12:26] LabhanshAgrawal commented on #4687
@Olgoetz one question though, what made you to try changing the fontWeightBold value?

[2020-06-29 12:38] LabhanshAgrawal commented on #4318
@joe-scotto @Jonic can you also try this build please? It will help us to confirm that this works and then can be merged.

[2020-06-29 12:45] Jonic commented on #4318
@LabhanshAgrawal I got a new Mac recently, and I haven’t seen the issue since, so I don’t think I’ll be much help testing the build!

I can install it anyway if you think that will actually be helpful, but I won’t be able to confirm whether or not this exact issue has been addressed!

[2020-06-29 12:52] LabhanshAgrawal commented on #4318
@Jonic it will certainly help if you can try this build.
As I've mentioned, last time we were using `chokidar` it caused crashes, so we moved to `fs.watch` #2217
Though that was almost 3 years (mistakenly wrote 2 earlier) ago. I want to confirm that it's not an issue now.

[2020-06-29 13:01] LabhanshAgrawal commented on #4505
You should try to single out which of the plugins is causing the issue. And open an issue in their repo.

[2020-06-29 13:01] #4505 closed

[2020-06-29 13:46] francogp commented on #2144
I'm having this problem on the latest commits, since today. unsetopt PROMPT_SP does not fix the problem

[2020-06-29 14:04] LabhanshAgrawal commented on #2144
@francogp check the note by @Luxcium about PROMPT_CR, that might help.

[2020-06-29 14:17] didymus commented on #3835
I have a similar issue, but it is different in that when I immediately change it to `true` it starts blinking, but any reload causes it to no longer blink. Same with other changes such as colors.

[2020-06-29 15:29] Vi8670 opened #4698 "open command does not work and also vm exit is getting hanged after typing qa ."
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-06-29 15:55] LabhanshAgrawal commented on #4698
can you elaborate a bit?

[2020-06-29 16:08] Vi8670 commented on #4698
![Screenshot (60)](https://user-images.githubusercontent.com/60037680/86029017-41a98480-ba50-11ea-8047-d64a9e96dbf0.png)
I am unable to open text file inside my folder my using the command
open <file_name.txt> (as per my instructor direction)

[2020-06-29 16:11] LabhanshAgrawal commented on #4698
see https://stackoverflow.com/questions/35811533/git-bash-bash-open-command-not-found
closing this issue as it's not related to hyper

[2020-06-29 16:11] #4698 closed

[2020-06-29 16:15] Vi8670 commented on #4698
Thank you very much
Its actually
start <file_name.txt>
not open
Now it is working
It is my instructor fault

[2020-06-29 16:21] LabhanshAgrawal commented on #4698
Which course is this? Can you please tell them to add instructions for windows?
Someone opened a similar issue recently #4666

[2020-06-29 16:26] Vi8670 commented on #4666
Web Development by Angela Yu (udemy)

[2020-06-29 19:54] Olgoetz commented on #4687
@LabhanshAgrawal since it must be something related to the font setting, I just did trial and error. Putting it `normal` made the node js icon appear properly, but the rest does not look that nice any more.
As you suggested sooner or later will open another issue.

[2020-06-29 20:50] LabhanshAgrawal commented on #4687
Can you paste the text here, or give some details about the setup?
I would like to try to replicate it

[2020-06-29 21:02] LabhanshAgrawal commented on #2719
@agypsydiver can you try the latest [ci build](https://github.com/vercel/hyper/actions/runs/151770461) and check if it's still happening.

[2020-06-29 21:29] Olgoetz commented on #4687
The .hyper.js config I used to have is the exact same one I pasted in the issue description.

[2020-06-30 04:31] #4683 closed

[2020-06-30 06:08] LabhanshAgrawal commented on #4687
I was talking about pasting the text from the screenshot (with the node icon), so I can paste it in the terminal try out the font weight stuff.
Or a link to the zsh plugins used, so I can install them and test.

[2020-06-30 06:34] LabhanshAgrawal commented on #3423
The [first](https://github.com/vercel/hyper/issues/3423#issue-400824796) comment about start menu issue is for v2.1.1 please try with latest version and create new issue if it's still there.
[Second](https://github.com/vercel/hyper/issues/3423#issuecomment-455988321) comment is about #4035
[third](https://github.com/vercel/hyper/issues/3423#issuecomment-647011001) seems to be resolved.

[2020-06-30 06:34] #3423 closed

[2020-06-30 06:47] LabhanshAgrawal commented on #4597
This is not a compatibility issue. The executable has just changed from `bash.exe` to `wsl.exe` (or distro specific exe).
Closing this, as it's not an issue with hyper.

[2020-06-30 06:47] #4597 closed

[2020-06-30 06:51] LabhanshAgrawal commented on #4506
can you please elaborate a bit?

[2020-06-30 06:56] LabhanshAgrawal commented on #4490
Remove the curly braces around the shell path. Or as mentioned earlier, you can also just delete the config file.
If it still doesn't open then it might be about #4035

[2020-06-30 06:56] #4490 closed

[2020-06-30 07:03] LabhanshAgrawal commented on #4504
Looks like residual artifacts from resizing.
Does this also happen if you open a new tab?
Try out the latest [ci build](https://github.com/vercel/hyper/actions/runs/151770461) once to see if the issue is still there.

[2020-06-30 07:11] timbchua92 commented on #4506
the steps that I face this issue:
1. opened hyper > coded git clone > then it crashing randomly.

[2020-06-30 07:14] #3068 closed

[2020-06-30 07:17] LabhanshAgrawal commented on #4506
try the [ci build](https://github.com/vercel/hyper/actions/runs/151770461)

[2020-06-30 07:53] #4255 closed

[2020-06-30 08:05] LabhanshAgrawal commented on #4064
Duplicate #3959
The link in the website also points to the dmg now.

[2020-06-30 08:05] #4064 closed

[2020-06-30 16:20] LabhanshAgrawal commented on #1671
Tested all the mentioned characters with the [latest canary](https://github.com/vercel/hyper/actions/runs/151770461).
Using `echo "ä ü ö Ä Ü Ö ß € § – — ' ¿ ¢ ¶ “ ¡ å ñ"`
Closing this as it seems to be working.
Feel free to open a new issue if you face any other problem with the canary build

[2020-06-30 16:20] #1671 closed

[2020-06-30 16:20] LabhanshAgrawal commented on #2946
Please try the [latest canary](https://github.com/vercel/hyper/actions/runs/151770461) once
closing this as it's for v2
Feel free to open a new issue if you face any problems with the canary build

[2020-06-30 16:20] #2946 closed

[2020-06-30 16:21] LabhanshAgrawal commented on #3745
I tried to type some accented characters on the [latest canary](https://github.com/vercel/hyper/actions/runs/151770461).
I tried this on a mac.
I hadn't typed accented characters earlier so used the below table from https://slcr.wsu.edu/help-pages/keyboards-osx/
IIRC similar method was also there for linux using right alt or compose key

Accent | Key Strokes | Available Characters
|---|---|---|
Gr

[2020-06-30 16:21] #3745 closed

[2020-06-30 16:22] LabhanshAgrawal commented on #3332
Tested some accented characters & others with the [latest canary](https://github.com/vercel/hyper/actions/runs/151770461).
Using `touch ä ü ö Ä Ü Ö ß € § – — \' ¿ ¢ ¶ “ ¡ å ñ; ls`
Closing this as it seems to be working.
Feel free to open a new issue if you face any other problem

[2020-06-30 16:22] #3332 closed

[2020-06-30 18:30] mosesoak commented on #3306
Happened to me on Stable 3.0.2 on WSL Ubuntu. I am running oh-my-zsh, not sure if that makes a diff. I wasn't using the app including opening or closing any windows, it was just sitting open and threw this error.

![image](https://user-images.githubusercontent.com/24345/86163402-09905900-bac5-11ea-8bc7-23fbf3ae01d6.png)

[2020-06-30 18:40] LabhanshAgrawal commented on #3306
@mosesoak can you try the latest [canary build](https://github.com/vercel/hyper/actions/runs/151770461) once and check if the error is still there
Do post a screenshot if it occurs (will help in debugging)

[2020-06-30 22:22] mosesoak commented on #3306
If I get time I will try Canary, but it only happened once randomly so
there's no real repro I can try on it.

On Tue, Jun 30, 2020 at 11:40 AM Labhansh Agrawal <notifications@github.com>
wrote:

[2020-07-01 02:07] LexSong commented on #2922
Hi, sorry for the late reply

I can confirm that this issue no longer exists.
I'll close this issue.

[2020-07-01 02:07] #2922 closed

[2020-07-01 15:07] alyasevich opened #4700 "Strange path change in PATH"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version

- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10(version 1803)
- **Relevant information from devtools** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_: No
- **The issue is reproducible in va

[2020-07-01 15:13] #4700 closed

[2020-07-01 16:12] LabhanshAgrawal commented on #4700
Hey @alyasevich were you able to figure it out?
It was a problem in the registry module we used earlier to set the PATH. It's solved in the latest [canary build](https://github.com/vercel/hyper/actions/runs/153185087)

[2020-07-01 19:30] scottgemmell opened #4701 "Unable to run Hyper due to error in Preferences on Windows 10"
I was trying to get my ZSH theme to work and in Hyper Preferences I changed line `shell : 'C:\\System32\\bash.exe'` to `shell: '\bin\zsh'`.

Immediately the app stopped working. I cannot reopen. I have tried uninstalling and reinstalling multiple times.

From reading other Issues it appears I just change the `~/.hyper.js` file but I cannot find this where its expected or anywhere else. Where can I

[2020-07-01 20:00] LabhanshAgrawal commented on #4701
The config file is in `%appdata%\Hyper`
You have to set zsh inside wsl, not in Hyper config
Check out this [blog post](https://medium.com/@vinhp/set-and-use-zsh-as-default-shell-in-wsl-on-windows-10-the-right-way-4f30ed9592dc)

[2020-07-01 20:00] #4701 closed

[2020-07-01 20:11] scottgemmell commented on #4701
I see a `/hyper/` folder in `Users/MyUserName/AppData/Local` but nothing that looks like an editable config file

[2020-07-01 20:22] scottgemmell commented on #4701
Uninstalled app then deleted the above `../Local/hyper/` directory and still not starting up.

[2020-07-01 20:29] LabhanshAgrawal commented on #2038
Tested `echo -e '\e[31m 767M \e[41m____________________\e[m \e[31mdir1/\e[m'`
on mac, windows & ubuntu using the latest [canary build](https://github.com/vercel/hyper/actions/runs/153185087)
It seems to be working well
Feel free to open a new issue if you face any other problems

[2020-07-01 20:31] LabhanshAgrawal commented on #4701
It should be in `C:\Users\<UserName>\AppData\Roaming\Hyper`

[2020-07-01 20:44] scottgemmell commented on #4701
Ah. Many thanks @LabhanshAgrawal

[2020-07-01 21:15] LabhanshAgrawal commented on #3569
I tried it on the latest [canary build](https://github.com/vercel/hyper/actions/runs/153185087) using
[code]
And it was working.
Closing this, feel free to open a new issue if you face any problems.

[2020-07-01 21:15] #3569 closed

[2020-07-01 21:37] LabhanshAgrawal commented on #1572
I tried it on the latest [canary build](https://github.com/vercel/hyper/actions/runs/153185087) in Ubuntu
It was working properly.
Closing this, feel free to open a new issue if you face any problems.

[2020-07-01 21:37] #1572 closed

[2020-07-01 23:02] Olgoetz commented on #4687
Ah, sorry.

List of zsh plugins:
plugins=(git ruby dotenv lighthouse bundler zsh-completions zsh-autosuggestions zsh-syntax-highlighting)

List hyper plugins:
plugins: ['hyperterm-atom-dark']

[code]

[2020-07-02 05:51] LabhanshAgrawal commented on #819
Based on the last comment, it seems to be fixed.
Closing this, Feel free to open a new issue if you face any problems.

[2020-07-02 05:51] #819 closed

[2020-07-02 06:00] LabhanshAgrawal commented on #4023
This fixes the issue.

[2020-07-02 06:00] #4023 closed

[2020-07-02 06:32] LabhanshAgrawal commented on #3670
Duplicate of #3500
Fixed in #4086
@colepeters your issue seems different, can you open a new issue for it, if it's still there.

[2020-07-02 06:32] #3670 closed

[2020-07-02 06:42] LabhanshAgrawal commented on #4331
@cdenneen can you please post your config?

[2020-07-02 06:46] LabhanshAgrawal commented on #4199
@mdizo @petercr
We've recently added the xterm unicode plugin, which may fix this
Can you try the latest [ci build](https://github.com/vercel/hyper/actions/runs/153185087) once and check if it works

[2020-07-02 06:57] LabhanshAgrawal commented on #4404
I also saw it when tested at that time.
Tested again with the latest [build](https://github.com/vercel/hyper/actions/runs/153185087) (there's been xterm updates and new unicode plugin added since then)
I seems to be fixed, can you try it once and check if it's working for you

[2020-07-02 07:11] LabhanshAgrawal commented on #3656
last login isn't there in vscode, terminus etc. also. It might be a terminal.app thing.
the % issue's solution is as per the last comment

[2020-07-02 07:11] #3656 closed

[2020-07-02 07:23] LabhanshAgrawal commented on #3956
Closing this for #4318 as there's been some developments there
See https://github.com/vercel/hyper/issues/4318#issuecomment-650966733 , try that out and reply there if it works

[2020-07-02 07:23] #3956 closed

[2020-07-02 09:58] dominikzogg commented on #4404
@LabhanshAgrawal works like a charm

PS: would like to get the old icon back

[2020-07-02 09:58] #4404 closed

[2020-07-02 10:18] LabhanshAgrawal commented on #4404
The icon is different as it's a canary build.
If you can change the icon locally then you can use the icon from https://github.com/vercel/hyper/tree/canary/build
Or you can also build hyper locally and it will have the normal icon

[2020-07-02 10:20] LabhanshAgrawal commented on #3729
works properly on latest canary, see #4404

[2020-07-02 10:20] #3729 closed

[2020-07-02 10:44] dominikzogg commented on #4404
Ah thanks, replaced it with the svg on https://hyper.is/

[2020-07-02 11:28] JoeEarly commented on #3391
Is this fixed and live?

[2020-07-02 14:19] cdenneen commented on #4331
@LabhanshAgrawal

[code]

[2020-07-02 14:20] LabhanshAgrawal commented on #3391
You can download a [ci build](https://github.com/vercel/hyper/actions/runs/153185087) , it isn't released yet.

[2020-07-02 14:23] RBalconi commented on #4610
Win 10 Pro - 64 bits

[2020-07-02 14:24] LabhanshAgrawal commented on #4331
It's a problem with the ligatures addon, it's being worked on.
For the time being you can set `disableLigatures: true` or use a different font in the fontFamily other than the NF font (some NF fonts work with the ligatures enabled also)

[2020-07-02 14:27] LabhanshAgrawal commented on #4610
which build number? you can check using `winver`

[2020-07-02 14:49] LabhanshAgrawal commented on #4610
You have a `"` at the end in the powershell path

[2020-07-02 15:57] cdenneen commented on #4213
Example:

![hyper_watch](https://user-images.githubusercontent.com/720097/86381269-2199e100-bc5b-11ea-87c2-9dfb04cc4e67.gif)

[2020-07-02 17:12] LabhanshAgrawal commented on #4213
I tried with the latest [ci build](https://github.com/vercel/hyper/actions/runs/153185087)
and it was working properly
can you try that out

[2020-07-02 17:39] LabhanshAgrawal commented on #4199
@petercr did it work properly for you?

[2020-07-02 19:49] SeregaT79 opened #4702 "error update plugin"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-07-02 19:58] LabhanshAgrawal commented on #4702
can you explain the problem?

[2020-07-02 20:13] LabhanshAgrawal commented on #4702
[code]
Remove the 2nd and 3rd entries from the plugins array in your config

[2020-07-02 23:07] petercr commented on #4199
@LabhanshAgrawal Sorry I haven't had a chance to test it out yet. I have been really busy. 😅

I will try it out today, and let you know 👍

[2020-07-03 02:26] GTMxCode commented on #1361
I'm going to make an additional thread of my own, but I wanted to post in here so I can keep tabs.. Even though I can't seem to figure out how to get notifications for issues I posted in working..

Anyway I have been tearing my hair out too. Long story short, I became increasingly annoyed by the fact that for some reason in nano I had to use alt+left/right to jump words, in contrast to the practic

[2020-07-03 09:49] alyasevich commented on #4700
Oh, I'm sorry. Looks that I have been using an old version. Anyway my issue is a duplicate. That is why I closed this issue

[2020-07-03 14:16] RBalconi commented on #4610
I left it that way and it worked, apparently it was the double quotes I hadn't seen. Excuse me.

[code]

[2020-07-03 14:18] #4610 closed

[2020-07-03 14:58] Project-42 commented on #283
I have same issue in chromeos/crostini and the current workaround was to disable the clock emoji from the bash-it prompt as @mcshaman already mentioned (THANK YOU!!)

[2020-07-03 17:19] #4702 closed

[2020-07-03 17:21] LabhanshAgrawal commented on #4331
@cdenneen did you try it with ligatures disabled or a different font?

[2020-07-03 17:22] LabhanshAgrawal commented on #4213
@cdenneen were you able to try out the ci build?

[2020-07-04 04:38] GTMxCode opened #4703 "A few issues I have and some bugs Ive noticed"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- Win10 19041.329 / WSL2.0 / Ubuntu 18.04 / zsh 5.4.2
- Hyper v3.0.2 stable
- Is Vanilla

---------------------ISSUES
I was asked in another thread I commented in to open a new i

[2020-07-04 05:39] LabhanshAgrawal commented on #3257
See https://github.com/vercel/hyper/issues/2038#issuecomment-652630719

[2020-07-04 05:39] #3257 closed

[2020-07-04 05:40] LabhanshAgrawal commented on #3301
see https://github.com/vercel/hyper/issues/2038#issuecomment-652630719

[2020-07-04 05:40] #3301 closed

[2020-07-04 05:41] LabhanshAgrawal commented on #3524
see https://github.com/vercel/hyper/issues/2038#issuecomment-652630719

[2020-07-04 05:41] #3524 closed

[2020-07-04 05:48] #4561 closed

[2020-07-04 06:50] LabhanshAgrawal commented on #2285
Tested using the latest [canary build](https://github.com/vercel/hyper/actions/runs/153185087)
It seems to be working properly
Feel free to open a new issue if you face any other problems

[2020-07-04 06:50] #2285 closed

[2020-07-04 06:59] ji-ggy commented on #3703
@joybh98 where can i find hyper.js file?
 i open my hyper terminal and click preferences but hyper.js not show up.

[2020-07-04 07:05] LabhanshAgrawal commented on #3000
#3769 was merged

[2020-07-04 07:05] #3000 closed

[2020-07-04 07:06] LabhanshAgrawal commented on #2929
you can set the `workingDirectory` config key for this.

[2020-07-04 07:06] #2929 closed

[2020-07-04 07:11] LabhanshAgrawal commented on #3678
Fixed in #3769

[2020-07-04 07:11] #3678 closed

[2020-07-04 07:14] GTMxCode commented on #4703
Oh and I also had this just happen, I'm about to reinstall because I cannot seem to get the error to go away.

![image](https://user-images.githubusercontent.com/33583282/86507176-038bc800-bda4-11ea-895b-03b773bbfe97.png)

I literally didn't touch anything to do with my imports and was making modifications to my index.js, and when I restarted this popped up.
So I reverted my changes (not many at t

[2020-07-04 07:18] LabhanshAgrawal commented on #4703
in your config file `.hyper.js` you are doing a `require` you should remove that

[2020-07-04 07:21] GTMxCode commented on #4703
Holy moly you're right. I legitimately have no clue how that got in there... it must have been there for a long time now though because I didnt add it tonight.

You know what it was, I actually tried to call one of that particular function from within the require line in the config, just to see if that would work, so I could mess with things that way and not have to  close and reload hyper for eve

[2020-07-04 07:26] LabhanshAgrawal commented on #2732
use `workingDirectory` config key #3769

[2020-07-04 07:26] #2732 closed

[2020-07-04 07:42] LabhanshAgrawal commented on #2991
Tested with the latest [ci build](https://github.com/vercel/hyper/actions/runs/153185087)
It was working properly
Feel free to open a new issue if you face any other problem

[2020-07-04 07:50] LabhanshAgrawal commented on #2991
oops, my bad.
I had tested it on a mac.
Tried again on windows and it was there

[2020-07-04 10:24] iinfin opened #4704 "Hyper doesn't respond when trying to close inside WSL"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 20161.1000
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: [de7adca130745

[2020-07-04 10:32] erasmuswill commented on #435
Hi guys. I'm quite new to Electron but happy to jump in and help. Has any progress been made on this thread since the last post?

[2020-07-04 11:25] LabhanshAgrawal commented on #4704
your config doesn't mention `shell` as set to wsl

[2020-07-04 12:03] Milo123459 opened #4705 "hyper cli not working"
Heyo, Just installed hyper and I ran hyper i  and it said hyper is not recognised as a program.

I on the latest version and 64 bit windows

Would appreciate any help

[2020-07-04 12:05] LabhanshAgrawal commented on #4705
you tried to run it from command line?

[2020-07-04 12:18] iinfin commented on #4704
@LabhanshAgrawal I just use default cmd and switch to WSL with `bash` and `kali` commands. I don't use them for daily work so didn't set default.

But yes, I just tried setting it default and I can close Hyper without this problem.
The error seems to occur only when launching WSL afterwards with those commands as in the screenshot.

[2020-07-04 12:24] LabhanshAgrawal commented on #4704
This is an issue with the `node-pty` version used in that build.
It was fixed in #3781
Since there hasn't been any release since then, you may instead use the canary build
You can download it from the artifacts in the [ci](https://github.com/vercel/hyper/actions/runs/153185087)
if you still run into this issue, try setting `useConpty: true` and report how it behaves (also try setting it to `false`

[2020-07-04 12:26] LabhanshAgrawal commented on #4705
@Milo123459 ^

[2020-07-04 13:10] iinfin commented on #4704
My update channel was already set to canary but I'll keep an eye on [builds from GitHub actions](https://github.com/vercel/hyper/actions), it seems more frequent.
This fixed my problem, thank you!

[2020-07-04 13:10] #4704 closed

[2020-07-04 18:47] #3074 closed

[2020-07-04 18:49] LabhanshAgrawal commented on #4067
ref https://github.com/vercel/hyper/issues/3074#issuecomment-396027642

[2020-07-04 18:49] #4067 closed

[2020-07-04 18:51] #2287 closed

[2020-07-04 22:34] cdenneen commented on #4331
I’ve tried default font but the shell never opens. Do running these never
works for me. Have only had success with pkg installs.

On Fri, Jul 3, 2020 at 1:21 PM Labhansh Agrawal <notifications@github.com>
wrote:

[2020-07-05 00:55] petercr commented on #4199
@LabhanshAgrawal So I checked out the latest build like you asked. It seemed to work great with `oh-my-zsh` and a custom Nerd Font. So I am no longer having this issue with the 3.1.0 build 👍

[2020-07-05 07:52] #4199 closed

[2020-07-05 12:33] LabhanshAgrawal commented on #3010
It's due to earlier limitations on windows. `node-pty` had to open a console window offscreen and read from that. It's been fixed since the addition of `conpty` on windows.
It's not being used in earlier hyper versions.
So you should download the [ci build](https://github.com/vercel/hyper/actions/runs/157826845) and try that out, it has support for conpty.

[2020-07-05 12:36] LabhanshAgrawal commented on #3634
can you please try out the latest [ci build](https://github.com/vercel/hyper/actions/runs/157826845) and see if the issue is still there.

[2020-07-05 12:40] LabhanshAgrawal commented on #2424
We're on the latest xterm and this issue is not reproducing on latest canary [build](https://github.com/vercel/hyper/actions/runs/157826845)

[2020-07-05 12:40] #2424 closed

[2020-07-05 12:42] LabhanshAgrawal commented on #3357
can you please try out the latest [ci build](https://github.com/vercel/hyper/actions/runs/157826845) and see if the issue is still there.

[2020-07-05 12:43] LabhanshAgrawal commented on #3667
duplicate #3593

[2020-07-05 12:43] #3667 closed

[2020-07-05 12:45] LabhanshAgrawal commented on #3593
We're on the latest xterm
can you try the latest [ci build](https://github.com/vercel/hyper/actions/runs/157826845) and confirm if it's fixed.

[2020-07-05 13:05] LabhanshAgrawal commented on #3357
duplicate #3634

[2020-07-05 13:05] #3357 closed

[2020-07-05 13:10] LabhanshAgrawal commented on #4331
can you add some screenshots and post your changed config

[2020-07-05 13:16] LabhanshAgrawal commented on #1674
ref https://github.com/vercel/hyper/issues/3074#issuecomment-396027642

[2020-07-05 13:16] #1674 closed

[2020-07-05 13:32] LabhanshAgrawal commented on #3219
Fixed in #4261
ref #4190

[2020-07-05 13:32] #3219 closed

[2020-07-05 13:36] LabhanshAgrawal commented on #3321
closing as the original issue is fixed

[2020-07-05 13:36] #3321 closed

[2020-07-05 13:40] LabhanshAgrawal commented on #4360
we've disabled ligatures in the default config. I've created an issue to track this in xterm https://github.com/xtermjs/xterm.js/issues/2980
It should be fixed once that's closed.

[2020-07-05 13:40] #4360 closed

[2020-07-05 13:42] LabhanshAgrawal commented on #4634
ref #2038

[2020-07-05 13:42] #4634 closed

[2020-07-05 13:45] LabhanshAgrawal commented on #287
Fixed in #4661

[2020-07-05 13:45] #287 closed

[2020-07-05 13:48] #4319 closed

[2020-07-06 01:39] fyrfli commented on #4611
Encountering the same error.

[2020-07-06 06:22] LabhanshAgrawal commented on #3251
Closing as this was for v2
Feel free to open a new issue if you face any problems with latest [builds](https://github.com/vercel/hyper/actions/runs/157826845)

[2020-07-06 06:22] #3251 closed

[2020-07-06 06:28] LabhanshAgrawal commented on #2609
Closing as this was for v2
Feel free to open a new issue if you face any problems with latest [builds](https://github.com/vercel/hyper/actions/runs/157826845)

[2020-07-06 06:28] #2609 closed

[2020-07-06 06:47] LabhanshAgrawal commented on #2746
Tested with latest [build](https://github.com/vercel/hyper/actions/runs/157826845)
seems to be working properly
Feel free to open a new issue if you face any problems

[2020-07-06 06:47] #2746 closed

[2020-07-06 06:54] LabhanshAgrawal commented on #3445
Closing as upstream issue https://github.com/xtermjs/xterm.js/issues/1147 is closed
Feel free to open a new issue if you face any problems

[2020-07-06 06:54] #3445 closed

[2020-07-06 06:56] LabhanshAgrawal commented on #3105
Closing as upstream issue https://github.com/leo/args/issues/129 is closed
Feel free to open a new issue if you face any problems

[2020-07-06 06:56] #3105 closed

[2020-07-06 07:00] LabhanshAgrawal commented on #3098
Closing as upstream issue https://github.com/xtermjs/xterm.js/issues/622 is closed
Feel free to open a new issue if you face any problems

[2020-07-06 07:00] #3098 closed

[2020-07-06 07:13] LabhanshAgrawal commented on #2587
Fixed in https://github.com/vercel/hyper/pull/4679

[2020-07-06 07:13] #2587 closed

[2020-07-06 07:18] LabhanshAgrawal commented on #2836
https://github.com/xtermjs/xterm.js/pull/1391 is merged

[2020-07-06 07:18] #2836 closed

[2020-07-06 07:32] LabhanshAgrawal commented on #2821
Tested with latest [build](https://github.com/vercel/hyper/actions/runs/157826845)
seems to be working properly
ref https://github.com/vercel/hyper/issues/4404 https://github.com/vercel/hyper/issues/2038
Feel free to open a new issue if you face any problems

[2020-07-06 07:32] #2821 closed

[2020-07-06 08:31] LabhanshAgrawal commented on #1663
Fixed in #3769

[2020-07-06 08:31] #1663 closed

[2020-07-06 08:38] LabhanshAgrawal commented on #901
Closing as this was for v1
Feel free to open a new issue if you face any problems with the latest [build](https://github.com/vercel/hyper/actions/runs/157826845)

[2020-07-06 08:38] #901 closed

[2020-07-06 10:33] Milo123459 commented on #4705
i have indeed tried,didn't change anything

[2020-07-06 10:33] Milo123459 commented on #4705
oh and i tried that

[2020-07-06 10:35] Milo123459 commented on #4705
I fixed it :) but then this happens: https://salvage.is-inside.me/OFglNdsy.png

[2020-07-06 11:27] LabhanshAgrawal commented on #4705
can you post your config?

[2020-07-06 11:29] LabhanshAgrawal commented on #4611
can you try with the [ci build](https://github.com/vercel/hyper/actions/runs/157826845) once

[2020-07-06 12:10] Milo123459 commented on #4705
i managed to fic it by wiping all data, ty for the help 👍

[2020-07-06 12:11] #4705 closed

[2020-07-06 15:49] utsav0904 commented on #3793
It's working fine for me, just add Ubuntu Mono as a prefix like below

 fontFamily: 'Ubuntu Mono,Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console",monospace',

[2020-07-06 15:51] utsav0904 commented on #3793
It's working fine for me, just add Ubuntu Mono as a prefix like below

fontFamily: 'Ubuntu Mono,Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console",monospace',

[2020-07-06 17:21] LabhanshAgrawal commented on #2429
Closing as https://github.com/xtermjs/xterm.js/issues/1049 is closed, we're on latest xterm and it's not reproducing on testing with latest canary builds.
Feel free to open a new issue if face any problems

[2020-07-06 17:21] #2429 closed

[2020-07-06 17:22] #4146 closed

[2020-07-07 08:15] Milo123459 opened #4718 "plugin request"
**hi there!**
just wondering if anyone could write a **plugin**!
it's basically something like termius, which when you open it, there is a new menu in the top left something like ssh hosts, and when you click one it will ssh into it, and then automatically put in the password.

termius: https://termius.com/
thanks in advanced 🧶

[2020-07-07 11:41] Nevnet99 commented on #684
Hi,

Seems to be nothing has been merged in with this issue I'm going it give it a go today :)

[2020-07-07 14:48] nicobarray commented on #3593
I'll install the ci build and tell you if something fails (or not 🎉 ). Thanks for the work!

[2020-07-07 15:06] Nevnet99 commented on #684
Nowhere near finished still trying to fix a bug that has been nagging me for a few hours anybody know of anywhere to look ? https://github.com/Nevnet99/hyper/tree/bugfix/ISSUE-684 will be picking this up again a little later :) also still trying to look for the function that fires on close of the terminal.

[2020-07-07 15:12] FeddiGhani commented on #3337
I Build First ARM Based Mac OS BigSur app with rosetta 2, Congrats me - Feddi Ghani

[2020-07-07 15:32] jpmarra commented on #3768
This did the trick for me. Thanks @lndwn!

[2020-07-07 15:42] LabhanshAgrawal commented on #3768
closing as it seems to be caused by a plugin, not hyper

[2020-07-07 15:42] #3768 closed

[2020-07-07 21:08] cdenneen commented on #4213
@LabhanshAgrawal it does fix it... thanks

[2020-07-07 21:08] #4213 closed

[2020-07-07 21:58] Nevnet99 commented on #684
Struggled with this the entire day didnt get any further ;(

[2020-07-08 05:48] arumals commented on #3951
@LabhanshAgrawal With that build I can't split into multiple panes.

[2020-07-08 05:50] LabhanshAgrawal commented on #3951
are you getting any error?

[2020-07-08 08:58] vaclavbenes opened #4719 "Correct behaviour , Launch Hyper"
I d like to debug hyper js in debug menu, but debug exit with code 0 and no hyper instance was created.
I am confused. is it correct behaviour?

1. `yarn run dev`

[code]

2. `Launch hyper` < vscode debug menu

[code]

- **OS version and name**: macOs Catalina 10.15.5
- **Hyper.app version**: 3.1.0-canary.4
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js** https:

[2020-07-08 09:10] vaclavbenes commented on #4719
![ezgif com-crop](https://user-images.githubusercontent.com/25709267/86900403-96619500-c10b-11ea-9d0e-2f60082b64e9.gif)

[2020-07-08 10:31] LabhanshAgrawal commented on #4719
Not sure why this happened
I tried the same and it worked as expected
maybe try `git clean -xdf` (deletes all untracked changes and files) and `yarn` to reinstall all the deps

[2020-07-08 11:17] LabhanshAgrawal commented on #2421
@Stanzilla I guess we should close this issue as it was for v2 and I don't think it's present in canary now.

[2020-07-08 11:21] vaclavbenes commented on #4719
works with stable debuger

<img width="660" alt="Screenshot 2020-07-08 at 13 20 47" src="https://user-images.githubusercontent.com/25709267/86912787-e2b5d080-c11d-11ea-8a8c-f2cdaa1a195a.png">

[2020-07-08 11:25] LabhanshAgrawal commented on #4719
closing as it's an upstream issue.
Feel free to open a pr if you can adapt the `launch.json` or any other required setup to work with both stable and preview debugger.

[2020-07-08 11:25] #4719 closed

[2020-07-08 11:43] #2421 closed

[2020-07-08 12:56] kshitij86 opened #4720 "Change window controls position"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 18.04
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/kshitij86/1a988c213aa7534eb3f7463b4958dd79) with the contents of

[2020-07-08 13:02] arumals commented on #3951
@LabhanshAgrawal I had a remap to split panes, after removing them it works fine, there is just a minimim delay between a viewport resize and getting the content properly aligned without distortions.

Thanks for helping out with this issue.

[2020-07-08 13:03] LabhanshAgrawal commented on #4720
you can set the `showWindowControls` property to `'left'`

[2020-07-08 13:07] kshitij86 commented on #4720
@LabhanshAgrawal  That worked. Thanks!

[2020-07-08 13:07] #4720 closed

[2020-07-08 13:10] LabhanshAgrawal commented on #3951
that delay is because calls to resize function are debounced.

[2020-07-08 13:10] #3951 closed

[2020-07-08 13:14] sudansth opened #4721 "Is there a way to configure a default working directory when launching the hyper?"
- **OS version and name**: Windows 10
- **Hyper.app version**: 3.0.2
-**Shell**: bash.exe

## Issue
I am unable to set the custom default working directory so that I can launch to the pre-set (not default) directory while launching the hyper app.
Is there any way to set a hyper's working directory to the custom directory path?
Can we support this in the hyper's configuration file?

[2020-07-08 13:18] LabhanshAgrawal commented on #4721
You can set the `workingDirectory` property
It might not be there in 3.0.2
Should work with the canary build

[2020-07-08 13:20] LabhanshAgrawal commented on #3593
confirmed to be fixed, in #3951
Feel free to open a new issue if you face any other problem

[2020-07-08 13:20] #3593 closed

[2020-07-08 13:28] sudansth commented on #4721
@LabhanshAgrawal, Thank you for your response. Where do i get the canary build of hyper?

[2020-07-08 13:38] LabhanshAgrawal commented on #4721
you can get it from the [ci](https://github.com/vercel/hyper/actions/runs/160043941)

[2020-07-08 14:42] LabhanshAgrawal commented on #3634
Seems to be the same as #3391
closing as this was on 3.0.2, it should be working properly in canary
Feel free to open a new issue if face any other problem

[2020-07-08 14:42] #4721 closed

[2020-07-08 15:18] #3684 closed

[2020-07-09 03:52] nnnnicholas opened #4724 "Can Extensions or CSS modify line spacing?"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 + WSL 1
- **Hyper.app version**: 3.0.2
- **The issue is reproducible in vanilla Hyper.app**:

## Issue
I would like to add a few pixels of vis

[2020-07-09 05:18] Photobooth13 opened #4725 "open the file code"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-07-09 05:40] LabhanshAgrawal commented on #4725
please search for existing issues first
also you should add some explanation of the issue
can't help from just the 4 word title

[2020-07-09 05:40] #4725 closed

[2020-07-09 06:02] #3694 closed

[2020-07-09 06:14] LabhanshAgrawal commented on #3205
tested on canary and it's working

[2020-07-09 06:14] #3205 closed

[2020-07-09 06:32] LabhanshAgrawal commented on #3076
fixed in #4086

[2020-07-09 06:32] #3076 closed

[2020-07-09 07:20] sudansth commented on #4721
I get exception while installing the canary build in windows version 2004 (OS Build 19041.329). The Hyper just displays blank back UI

Error:
"A JavaScript error occurred in the main process.
Uncaught Exception:
Error: File not found:
  at new WindowsPtyAgent
......
....."

[2020-07-09 07:22] LabhanshAgrawal commented on #4721
can you post the full error

[2020-07-09 07:23] LabhanshAgrawal commented on #4721
also post your config

[2020-07-09 07:36] sudansth commented on #4721
This is my config:
"
// Future versions of Hyper may add additional config options,
// which will not automatically be merged into this file.
// See https://hyper.is#cfg for all currently supported options.

module.exports = {
  config: {
    // choose either `'stable'` for receiving highly polished,
    // or `'canary'` for less polished but more frequent updates
    updateChannel: 'stable',

[2020-07-09 07:43] LabhanshAgrawal commented on #4721
either remove ` from `shell` or
set `shell: 'C:\\Program Files\\Git\\bin\\bash.exe'` and `shellArgs: []`

[2020-07-09 19:50] Milo123459 opened #4726 "unicode"
is there a way for the hyper devs to add unicode support into hyper?

[2020-07-09 20:59] agypsydiver commented on #2719
@LabhanshAgrawal Have been using that exact build for a week now, no ghosts! 😄

[2020-07-09 21:00] #2719 closed

[2020-07-09 21:01] LabhanshAgrawal commented on #4726
Added in #4679
you can download from [ci](https://github.com/vercel/hyper/actions/runs/162241917)

[2020-07-09 21:01] #4726 closed

[2020-07-10 09:18] robcresswell opened #4727 "Releases / public roadmap?"
Hi! I was looking at Hyper, but its very difficult to understand whether the project is alive or not. There are almost 700 commits since the last stable release, and over 300 since even the last canary release. There's no project board, and the issue milestones listed for `3.1.0` and `3.2.0` are so minimal that they are basically placeholders.

Is the project still being maintained and published,

[2020-07-11 09:18] LabhanshAgrawal commented on #2068
Doesn't seem to be the case on latest [canary build](https://github.com/vercel/hyper/actions/runs/162241917)
Feel free to open a new issue if you face any other problems

[2020-07-11 09:18] #2068 closed

[2020-07-11 10:01] #3061 closed

[2020-07-11 11:39] LabhanshAgrawal commented on #699
seems to fixed by adding `--login` to `shellArgs`

[2020-07-11 11:39] #699 closed

[2020-07-11 12:12] LabhanshAgrawal commented on #4727
The releases had been paused due to some cert issues. @timothyis is setting up the certs, hopefully we'd be able to release soon.

3.1.0 milestone was populated by issues which were blocking the release, but the cert issue cropped up before the release.
Few of the webgl renderer related issues were pushed to 3.2.0 milestone, so that's somewhat like a placeholder currently.

Contributions are welco

[2020-07-11 15:24] #3062 closed

[2020-07-11 15:24] #3564 closed

[2020-07-11 20:18] robcresswell commented on #4727
@LabhanshAgrawal Great, thanks, that's good to know! I'll close the issue

[2020-07-11 20:18] #4727 closed

[2020-07-11 22:48] tberghuis opened #4729 "Plugin to dim inactive panes possible?"
There is an extension for vscode https://marketplace.visualstudio.com/items?itemName=ojkwon.vscode-activedocumentindicator that highlights the active pane by making inactive panes dimmer. Would it be possible to create a similar plugin for hyper?

[2020-07-12 06:52] LabhanshAgrawal commented on #4729
I use [hyper-pane](https://www.npmjs.com/package/hyper-pane)
you can explore more in https://github.com/bnb/awesome-hyper list

[2020-07-12 06:52] #4729 closed

[2020-07-13 14:03] OJFord commented on #901
I don't use Hyper any more, but FYI in case it pops up again - shouldn't be tagged Windows. (I thought that seemed off since I didn't think I'd ever used Windows for development, and sure enough my OP did say macOS.)

[2020-07-13 14:59] virajkanwade opened #4741 "Empty bar at the bottom which doubles up sometimes"
For some reason, there seems to be an empty space at the bottom. Maybe placeholder for status, but I don't see anything there.

Also, once in a while, it doubles up (next time it happens will try to take a screenshot).

The empty space seems to be attributed to "#hyper .terms_terms" css.

[2020-07-13 15:02] virajkanwade commented on #4741
And suddenly I am now seeing a footer along with the empty line space.

[2020-07-13 15:11] virajkanwade commented on #3626
Similar behavior on MacOS

[2020-07-13 20:01] LabhanshAgrawal commented on #4318
@the-ult @Jonic
Did you face any issues with the build?
If it worked well I'll open a pr for it.

[2020-07-13 20:17] the-ult commented on #4318
Did not face any issues 👍

Outlook voor Android downloaden<https://aka.ms/ghei36>

________________________________
From: Labhansh Agrawal <notifications@github.com>
Sent: Monday, July 13, 2020 10:01:25 PM
To: vercel/hyper <hyper@noreply.github.com>
Cc: Arjen <the_ult@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [vercel/hyper] Every command triggering configuration reload. (#431

[2020-07-14 13:37] graham73may commented on #3722
Fresh install of macOS, Hyper 3.0.2 stable installed and this issue is occurring for me as well.

`hyper -v` shows a longer version of the notification message.

[code]

@marjorg's suggestion didn't work for me.

Don't have yarn installed so the other suggestions just cause more errors.

[2020-07-15 02:41] sudansth commented on #4721
Setting these worked for me.
`shell: 'C:\\Windows\\System32\\bash.exe'` and `shellArgs: ['~']`

[2020-07-15 09:07] knitron07 opened #4744 "i am not able to type password in my hyper terminal"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-07-15 10:03] LabhanshAgrawal commented on #4744
can you elaborate a bit?
What's happening when you're trying, are there any errors in the dev console, and other details

[2020-07-15 13:03] #4318 closed

[2020-07-15 16:14] mguthaus commented on #2837
Still exists 2 years later... 3.0.2

[2020-07-15 16:14] mguthaus commented on #2837
Appears same as #2016

[2020-07-15 19:20] clutch-justin commented on #3283
This looks like it is working now?

Hyper 3.0.2 (stable)
macOS Catalina

[2020-07-16 13:58] matheusranzani opened #4745 "Text is beeing automatically selected after I paste it on Hyper (using Oh My Zsh)"
Whenever I paste some text on Hyper it is selected automatically. I'm using Hyper with Oh My Zsh on Linux right now. I also use them on Windows and the same problem doesn't happen.

Steps to reproduce the problem:
1. Copy a browser URL, for example: https://github.com/matheusranzani/reactive-native-rocketseat (this is a private repo of mine, just to example the problem)
2. Paste it on Hyper
3. See

[2020-07-16 16:48] knitron07 commented on #4744
the console is showing--->
Password:
but when I type my password nothing seen to typed in console.it still shows---->
Password:

[2020-07-16 18:16] LabhanshAgrawal commented on #4744
mostly shells will not show any characters (like ·····) when entering passwords
did you try to proceed after entering password, it should work

[2020-07-16 18:25] LabhanshAgrawal commented on #4745
This behaviour is from zsh with oh-my-zsh
It also occurs with the default terminal
I've also observed this, as I'm using the same setup
you can just type a space after pasting, it triggers the syntax highlighting

[2020-07-16 18:25] #4745 closed

[2020-07-16 18:25] #4744 closed

[2020-07-16 18:36] sharmachinmay opened #4746 "I've got blurry text in hyper."
I'm using latest version of hyper and getting very blurry text.
![Annotation 2020-07-16 235109](https://user-images.githubusercontent.com/67503180/87709075-56607900-c7c1-11ea-985b-b97dfe69f78a.jpg)
Please help me, it's getting very annoying.

[2020-07-16 18:38] LabhanshAgrawal commented on #4746
try the latest [ci build](https://github.com/vercel/hyper/actions/runs/170038990)

[2020-07-16 19:39] Pikdo commented on #3626
I have the same error cursorBlink setting doesn´t work on hyper last version, +3.0.2 with "zsh" and "oh my myszh "installed on win10 WSL Ubuntu 20.04, the cursor is static.

[2020-07-16 19:41] Pikdo commented on #3533
I have the same error cursorBlink setting doesn´t work on hyper last version, it is true, hyper version:+3.0.2 with "zsh" and "oh my myszh " installed on win10 WSL Ubuntu 20.04, the cursor is static.

[2020-07-16 20:38] BananaAcid opened #4747 "`nano` has multiple problems on hyper3"
- Ctrl-key tipps do not show up
- pasting code messes with the cursor position and mixes the pasted chars
- cursor pos is not positioning correctly after pasting
- ... positioning the cursor in general seems to not work correctly

[2020-07-17 04:18] joybh98 commented on #3703
if you're using linux, it should be in your home directory.
Type `ls -alF` or `ll` if you're on ubuntu or ubuntu based distros

[2020-07-17 05:23] blakeperdue commented on #4529
harpreetsb's solution didn't work for me. Anyone have any luck tweaking the settings to remove this annoying border? @Un-knownCoder did you find a fix?

[2020-07-17 07:34] LabhanshAgrawal commented on #4747
try the [ci build](https://github.com/vercel/hyper/actions/runs/170038990)

[2020-07-17 13:07] slamoureux commented on #3533
When I switched to the Canary version this issue was fixed.

[2020-07-18 06:28] LabhanshAgrawal commented on #3533
this is working with the canvas renderer
closing it for #3626 which is for webgl renderer

[2020-07-18 06:28] #3533 closed

[2020-07-18 06:30] LabhanshAgrawal commented on #3041
this is working with the canvas renderer
closing it for #3626 which is for webgl renderer

[2020-07-18 06:30] #3041 closed

[2020-07-18 06:34] LabhanshAgrawal commented on #3664
seems to be fixed in canary

[2020-07-18 06:34] #3664 closed

[2020-07-18 14:34] docmarionum1 commented on #3306
I was having this issue constantly, at least once a day if not more. (Same exact stack trace as mosesoak posted a screenshot of.

I updated to the latest canary build a couple of days ago and so far so good. I'll update if I see it again.

[2020-07-18 18:00] TheHaricover commented on #2849
Happened to me too.
Still happening when I'm launching Hyper in root (either by adding "zensu" in front of the command from the launcher or by trying to launch Hyper myself with a term, always with "zensu" ofc).
If someone have an idea, I'm taking it :)
In the meantime I'll dig where I can.

[2020-07-19 12:33] TheHaricover commented on #2849
I tried the latest build, Hyper-3.1.0-canary.4.AppImage, and it didn't work, but differently (it wants --no-sandbox now when being launch with sudo, and it write more text when launching a new hyper term when I'm typing "hyper i")

[2020-07-19 12:40] LabhanshAgrawal commented on #3306
Fixed in 820c094923b492501762084c3f134918b22a4f2e

[2020-07-19 12:40] #3306 closed

[2020-07-19 12:42] LabhanshAgrawal commented on #4331
@cdenneen ping

[2020-07-19 12:42] #3010 closed

[2020-07-19 12:44] LabhanshAgrawal commented on #4506
@timbchua92 did you try the ci build? Were there any issues with it?

[2020-07-19 12:46] LabhanshAgrawal commented on #3835
#3626

[2020-07-19 12:46] #3835 closed

[2020-07-19 16:07] timbchua92 commented on #4506
@LabhanshAgrawal, Yes It's working correctly right now.

[2020-07-19 16:07] #4506 closed

[2020-07-20 22:03] cdenneen commented on #4331
@LabhanshAgrawal I've updated the repo to latest and it seems to give me a shell now (which is the first time).
The window I launch it from does provide some errors that I figured I'd share:

[code]

[2020-07-21 06:23] LabhanshAgrawal commented on #4331
The extension error is an issue with devtools extensions and electron 9
https://github.com/electron/electron/issues/23662
https://github.com/MarshallOfSound/electron-devtools-installer/issues/130

the json parse error is because https://hyper-news.now.sh/ is down.

[2020-07-21 10:42] gitmaeker commented on #2782
Cheers, quickest way to sort this out

[2020-07-21 15:56] cdenneen commented on #4331
@LabhanshAgrawal  thanks I will close this issue since things are basically working

[2020-07-21 15:56] #4331 closed

[2020-07-21 17:34] LabhanshAgrawal commented on #4198
I downloaded the zip from https://sourceforge.net/projects/win-bash/
and set `shell` to path of `bash.exe` in the extracted zip
and everything seems to be working properly

I tested it on the latest [ci build](https://github.com/vercel/hyper/actions/runs/174098472)
Feel free to open a new issue if you face any problems

[2020-07-21 17:34] #4198 closed

[2020-07-23 03:06] SuperMaZingCoder opened #4750 "Notification messages fetch error SyntaxError: Unexpected token T in JSON at position 0"
[code]
OS: Manjaro Linux
Installation: `pamac build hyper`
I have seen other [issues](https://github.com/vercel/hyper/issues/3423#issuecomment-647011001), but these seem to be because of Windows WSL limitations where I'm using Konsole on Manjaro KDE.

[2020-07-23 06:41] allywilson commented on #4750
Same issue here.
CentOS 8
AppImage 3.0.2 (stable).

[code]

It also opens a new hyper window, which doesn't do anything, but if I close it then the original window finally goes back to prompt, so must be expecting something from it...

[2020-07-23 15:59] gfscott opened #4751 "Zero-width-join emoji outputs don’t clear properly"
I use a CLI tool that periodically outputs a [Zero-Width Join](https://emojipedia.org/emoji-zwj-sequence/) emoji at the beginning of the line — in this case [`woman-technologist`](https://emojipedia.org/woman-technologist/): 👩‍💻

In Hyper, that emoji doesn't disappear fully when clearing the buffer. I wind up with half a face overlaid on the terminal output (screenshots below).

Resizing the windo

[2020-07-23 16:34] LabhanshAgrawal commented on #4751
it should be working in the canary build
try it from [here](https://github.com/vercel/hyper/actions/runs/174098472)

[2020-07-23 19:04] gfscott commented on #4751
I downloaded the canary build and can verify it works! Looking forward to the stable release. Thanks! 👍🏻

[2020-07-23 19:04] #4751 closed

[2020-07-23 19:19] deanhouseholder commented on #3671
+1

[2020-07-23 23:24] deanhouseholder commented on #3671
I was able to fix this!

I just compiled the source code from scratch. I cloned the canary branch and followed the instructions on the github readme: https://github.com/vercel/hyper

I believe the problem was with the xterm.js npm package and has been fixed there but because Hyper has not been re-compiled and released since May 2019, the fix has not been distributed.

My working build is 3.1.0-can

[2020-07-23 23:24] deanhouseholder commented on #3391
I was able to fix this!

I just compiled the source code from scratch. I cloned the canary branch and followed the instructions on the github readme: https://github.com/vercel/hyper

I believe the problem was with the xterm.js npm package and has been fixed there but because Hyper has not been re-compiled and released since May 2019, the fix has not been distributed.

My working build is 3.1.0-can

[2020-07-24 01:02] legolasdimir commented on #3671
I actually moved away from hyper a long time ago. Had problems with it being really slow. Currently I'm using Windows terminal and I really like it but I'm not in terminal a ton

[2020-07-24 10:06] sihunqu123 opened #4752 "Request to tune the config/installation location on Windows10"
I am a newbie to hyper, and I experienced the below issue at the very first day with hyper.

On Windows10:
  + after installation, no shortcut created on the desktop, and also, no folder called hyper in `c:\Program Files`, which makes it hard to find hyper.
  + If `C:\Users\${userName}\AppData\Local\hyper` is acceptable, then how about the config location: `C:\Users\sihun\AppData\Roaming\Hyper`? W

[2020-07-24 10:39] storenth commented on #4750
The same issue caught when `hyper -v` called:
<img width="1552" alt="Снимок экрана 2020-07-24 в 17 36 58" src="https://user-images.githubusercontent.com/18244131/88383353-8c5eb800-cdd4-11ea-9b77-9c45a5e79acc.png">

[2020-07-24 10:40] bvandenbon opened #4753 "Freezing while `node` is running in 2nd tab."
Steps to reproduce:

- start hyper.
- open a 2nd tab, leave the first one open as well.
- execute `node` from the commandline in that 2nd tab, it will ask for additional input, just leave it open.
- while `node` is still on, close the terminal window, clicking the cross of the window.

--> the terminal window stays open, but becomes unresponsive.

environment: windows.

[2020-07-24 22:42] jackHedaya opened #4754 "Proposal: keep an extra Electron window hidden at all times"
I'm noticing considerable lag when I create a new Hyper window. However, this lag is not there if Hyper hidden and then shown. What are you guys' thoughts on the following?

Hyper will always keep an extra window open and hidden that will be shown whenever a user creates a new window. A new window will then be created and hidden in the background. The only downside of this I can imagine is when a

[2020-07-25 09:15] judicaelandria opened #4755 "I added a verminal theme on hyper windows and nothing changed"
Hey,
first, this project is really great, but I have an issue when I add a new theme on hyper windows
nothing changed even after I reload the terminal, maybe I am missing something
![hyper](https://user-images.githubusercontent.com/46365844/88453526-638c0080-ce70-11ea-81ce-b6b3e810216b.PNG)
?

[2020-07-25 21:02] zhorton34 commented on #1147
@www-wagner Already Referenced it, but Hyper Launch Menu. Here's the official readme docs.

https://hyper.is/store/hyper-launch-menu/source?README.md

[2020-07-26 12:46] regisbsb commented on #3607
Looks like https://github.com/xtermjs/xterm.js/pull/2847 is merged now.

[2020-07-27 16:11] weeebdev opened #4756 "How to setup that beautiful Vercel triangle on the prompt?"
As in all the examples. Do I have to install specific prompt like ohmyzsh or ohmyfish? Maybe starship?

[2020-07-27 19:18] notoriousVKC commented on #2961
I know this is a stale issue, but I have this issue as well. Customizing the keymapping in Hyper to control/escape sequences would be amazing (I work in pulling data from old terminal apps and they key mapping doesn't always make sense).

[2020-07-27 22:22] BrunoBernardino commented on #2756
I can confirm this doesn't happen with the latest stable version of Hyper. Can probably be closed.

[2020-07-28 01:48] KnowsCount opened #4757 "Default terminal & Default shell"
- [x] I am on the [latest](https://github.com/vercel/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/vercel/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Mojave 10.14.6
- **Hyper.app version**: Hyper 3.0.2 Stable
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**

[2020-07-28 07:38] enhsaihan-d commented on #1612
I have same problem behind a corporate proxy even with proxy configured within npm.

[2020-07-28 22:58] rafaelstz commented on #3703
To me, it worked when I changed the **shell** to this path below in the `~/.hyper.js`.

[code]

[2020-07-29 14:29] ArCiGo commented on #3384
Is there any workaround for this?

[2020-07-29 18:03] anbcodes commented on #3958
This appears to be have been fixed on the latest version. So I am closing this issue.

[2020-07-29 18:03] #3958 closed

[2020-07-29 20:46] TomYeoman commented on #2536
No way have I just found this shortcut out after all these years on windows, works a treat with terminal always set as 1!

[2020-07-30 00:12] alasher commented on #4266
Just to update anyone else who reads this, I had the same issue described above where `$SHELL` was correctly set to `/bin/zsh` on Terminal.app, but was still using `/bin/bash` on Hyper. For me it was fixed after fully logging out and back in again, simply opening a new terminal session did not work. I guess it could just be a bug with `chsh`.

[2020-07-30 03:00] jasongaare commented on #1137
Also seeing this in Hyper 3.0.2

[2020-07-30 04:57] beardedeagle commented on #1147
@www-wagner & @zhorton34 I tried installing hyper-launch-menu via:

[code]

and added the following inside my `module.exports`:

[code]

However, I only see default in my shell select list. What am I doing wrong here?

[2020-07-30 17:16] jackHedaya commented on #4757
I believe you can do this by exporting `TERM_PROGRAM=Hyper` and `TERM_PROGRAM_VERSION=3.0.2` as variables. Using this option, Chrome (and I'm assuming other applications) will recognize Hyper as the default terminal.

![Screen Shot 2020-07-30 at 1 13 44 PM](https://user-images.githubusercontent.com/20172754/88953171-8189a480-d266-11ea-8643-00ae5e5b10c0.png)

[2020-07-30 21:16] DaniGuardiola commented on #3126
@NerdsvilleCEO @rendhalver
Have you guys made any progress with this? :)

[2020-07-30 22:56] bpeake-illuscio commented on #3626
Same here on OSX + oh-my-zsh. Weirdly, changing the zoom level fixes it for a given tab.

[2020-07-31 11:06] laidbackware opened #4759 "Strange select behaviour on live above current"
I'm seeing a strange issue on the Linux version of Hyper that I can't explain. With all plugins removed and quick edit disabled, when the screen buffer starts to scroll it becomes difficult to select the line directly above the cursor. This is only ever the line directly above and only after the cursor reaches the bottom enabling scrolling.

![hyper-cursor-issue](https://user-images.githubusercont

[2020-07-31 12:32] nlwilkinson commented on #4035
Hello,

I've tried every step here but Hyper STILL won't reopen once I've closed it after making both edits to preferences. It's not showing up in my Task Manager either. Please let me know if anyone has any ideas on how to fix this!

[2020-07-31 14:04] emmiep commented on #2369
I find this really annoying, but I found one possible solution. [Running `[distribution.exe]`](https://docs.microsoft.com/en-us/windows/wsl/wsl-config#launch-wsl-by-distribution) instead of `wsl.exe` or `bash.exe` always make you start in `$HOME`.

For instance, I'm using Debian so I'm having this configuration

[code]

The downside is if you switch your default distribution you have to update `.h

[2020-08-01 01:04] dylanaraps commented on #2038
@LabhanshAgrawal Those aren't the sequences I am talking about. Please reopen this issue and please carefully read my initial post. :+1:

[2020-08-01 03:23] brainkim opened #4760 "Writing commands with strings doesn’t work when typing past the last column"
I apologize if this is a duplicate issue. Here is a gif of what I’m talking about:

https://gfycat.com/wildimportanteagle

It only seems to happen with commands with strings that extend past half of the screen which wrap.

Hyper version: 3.0.2
OS: macOS Mojave 10.14.6

[2020-08-01 03:39] jyangchisyan commented on #3337
#4135 #4375
Group related issues into original issue

[2020-08-01 13:57] guna123884 opened #4761 "how to clear the hyper terminal screen"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-08-02 04:04] corscheid commented on #4761
on Mac, it works for me by either entering the `clear` command, or by using Command+k. Not sure about other OS

[2020-08-02 04:12] corscheid commented on #4754
Same here, but I think it's not something the developers have a whole lot of control over, if it's related to being an Electron app.

The same goes for minimize/un-minimize the window, which is how I have been getting around this.
If I need one to always be handy, I would just minimize (not close) the window.

I open multiple simultaneous Hyper windows fairly frequently.

[2020-08-02 04:43] corscheid commented on #4756
If you're using Bash, try
[code]
and add that line to your `~/.bashrc` or `~/.bash_profile` or `~/.profile`, whichever one is in use.

if you're on zsh, try
[code]
and add that to your `~/.zshrc`

I'm not sure about other shells.

[2020-08-02 20:42] jackHedaya commented on #4754
Even if multiple windows are created at the same time, I'm thinking then their will be that lag. However, lag in that specific case is definitely not as bad as lag all the time.

[2020-08-02 20:44] jackHedaya commented on #4757
@KnowsCount Hope this solved your problem! if so, please be sure to close this issue.

[2020-08-03 02:13] #4757 closed

[2020-08-03 03:21] Liquidmantis commented on #2144
I started seeing this recently, too.  I switched to the canary channel, and it doesn't show up, but as soon as I start typing I lose my prompt and all the terminal text is invisible, so I switched back to stable.

[2020-08-03 11:23] dracos commented on #2369
That works for starting directly, but breaks the right click "Open Hyper here" link; it always opens the home directory.
What worked for me was to alter the shortcut you have (on the taskbar, wherever) so that its target is `...Hyper.exe \\wsl$\Ubuntu\home\matthew` (changing to your own distro/homedir of course). This maintains it working from Explorer and launches in the linux home directory when

[2020-08-03 17:10] WildOrangutan opened #4783 "Text moves on focus"
I'm having some weird issue while using `tig`. If I change focus from another pane or tab, some of the text moves out of view.

![bug](https://user-images.githubusercontent.com/5972966/89207389-f0466500-d5ba-11ea-893b-4f4fe8ed5c65.gif)

**Reproduce:**
1. Open `tig`
2. Open another terminal as a pane or in a different tab
3. Switch back to terminal running `tig`

- I can reproduce this on two separ

[2020-08-03 19:02] ismk commented on #4761
`cmd+k` clears the whole buffer including the history
if you want to just clear the current pane to the top `ctrl+l` should do to the job

[2020-08-03 19:11] hancockks commented on #4266
@alasher Thanks! That saved me some time!

[2020-08-03 21:36] jorgechen commented on #4466
It looks like a white-colored drop shadow is being applied.  Any way to have an option to disable the drop shadow on text selections?

[2020-08-03 23:33] dronenb commented on #3762
I just ran into this bug. Obviously this is an issue, but the alternative that I decided on is using $SUDO_USER environmental variable instead of the logname command.

[2020-08-04 12:52] Sagarchawla076 commented on #4035
Same  issue is with me...Angela Yu

[2020-08-04 15:03] marcelosomers opened #4784 ".bash_profile doesn't load on startup"
**Versions:**
Hyper: 3.0.2
macOS: 10.15.6

I searched for this issue and couldn't find much. I deleted my hyper config file, so it's stock.

When I open Hyper, my .bash_profile doesn't load, so my prompt isn't customized and shortcuts I have in there don't work. However, executing the .bash_profile through `. .bash_profile` loads it and everything works fine.

The DevTools aren't showing any error

[2020-08-04 17:53] rmasci opened #4785 "Send keystroke to all tabs"
Is there a way to send a keystroke to all tabs?  Many times I'll log into all my web servers and issue the same commands. So I link all my tabs to get the same keystroke.

[2020-08-04 18:34] naquiroz commented on #883
Why is this issue close? This is still a problem in the sable version and canary

[2020-08-05 21:28] #4747 closed

[2020-08-06 01:43] rendhalver commented on #3283
I am also seeing this on Linux with 3.1.0-canary-4 and 3.0.2.

[2020-08-06 14:42] cldmello opened #4786 "Unable to install plugins in Hyper"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-08-06 14:46] cldmello commented on #4786
Found the solution online.

Apparently, we need to export the bin path.

export PATH=/usr/lib/hyper/resources/bin:$PATH

This worked!

[2020-08-06 14:46] #4786 closed

[2020-08-06 20:18] GVCCbob opened #4787 "Mac Os 10.11.6 afinfo will not work with .flac audio files"
Hyper 3.0.2

Same behavior with Mac Terminal

Don't have a clue why this doesn't work.

https://www.mac-forums.com/threads/afinfo-terminal-command.358558/page-3#post-1857972

## Issue
ROBERTS-IMAC:Desktop robertmyers$ afinfo Audio.flac
File:           Audio.flac
Fail: AudioFileOpenURL failed
ROBERTS-IMAC:Desktop robertmyers$

 - **Hyper version**: undefined "3.0.2"

 - **OS ARCH VERSION:** darwin

[2020-08-07 00:41] brainkim commented on #4760
I figured it out. It was happening for all commands and it was due to a buggy PS1 command. My b.

[2020-08-07 00:41] #4760 closed

[2020-08-09 21:21] kamtouboris commented on #3595
Works for me. Thx.

[2020-08-09 23:36] james-prado opened #4788 "Question: Can the new line on terminal startup be removed?"
How do I prevent new terminal windows from starting with a new line?

- terminal starts with new line
![new_line](https://user-images.githubusercontent.com/13836920/89744048-fa62da80-da76-11ea-87e4-0ade7ad94df5.png)
- and it goes away after clearing (ctrl+l)
![no_new_line](https://user-images.githubusercontent.com/13836920/89744049-fb940780-da76-11ea-9c12-bad1a94eb43c.png)

This isn't a hyper spec

[2020-08-10 17:46] TheKasjel commented on #2929
This worked fine for me, Im on Mac Catalina. THX. !

[2020-08-10 19:26] theAnshulGupta opened #4801 "Hyper not working after configuring with Bash."
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

## Issue

I installed Hyper on Windows and was trying to configure it for bash by changing the preferences with this [gist](

[2020-08-11 08:43] Yakumo-Yukari opened #4802 "Unable to install theme"
➜ hyper i hyper-material-theme
/opt/Hyper/resources/bin/cli.js:19156
      getProperties = memoize(() => getParsedFile().program.body[0].expression.right.properties),
                                                                                    ^

TypeError: Cannot read property 'properties' of undefined
    at memoize (/opt/Hyper/resources/bin/cli.js:19156:85)
    at d (/opt/Hyper/resources

[2020-08-11 09:18] Yakumo-Yukari opened #4803 "After opening the terminal,% will appear"
![2020-08-11 17 15 49](https://user-images.githubusercontent.com/12076232/89880165-83ece680-dbf6-11ea-98cc-02f79805ed88.png)

After opening the terminal,% will appear

How to set it not to appear%

[2020-08-11 09:44] diorcula opened #4804 "Windows CMD completion not working properly"
When on Windows, using [TAB] to auto-complete your file/folder it only works half, it does complete but doesn't add the [/] and [SPACE] after the completion.

Not sure if this can be set in the Preferences, so i thought i should open this issue.

[2020-08-11 11:59] totabraz opened #4805 "i"

[2020-08-11 12:00] #4805 closed

[2020-08-11 12:00] totabraz commented on #4805
miss click
sorry

[2020-08-11 17:48] codehia commented on #4803
same here. any solutions will be much appreciated.

[2020-08-11 18:48] caelinsutch commented on #3722
@drdogbot7's suggestion worked for me, but **I had to install yarn from brew**. For some reason, installing it with npm: `npm i -g yarn` didn't work :( Either way, glad I figured it out and thanks to everyone from this thread!

Commands that worked for me:
[code]

[2020-08-12 12:26] garyyeap commented on #4611
Flashing back as soon as it opens

[2020-08-12 13:48] xjunior commented on #1507
@chabou I thik that @kuoppa is looking for something similar to iTerm's Timestamps (cmmd+shift+e), as described in their official page. This is how it looks like:

![image](https://user-images.githubusercontent.com/8156/90022771-4d13e080-dc89-11ea-98f6-ec21819b8163.png)

This is shell agnostic

[2020-08-12 13:49] xjunior commented on #1507
What's nice about having this on the terminal instead of on `$PROMPT` is that it can be toggled-on/off. On my mac I usually keep it off until I need it for any particular reason.

[2020-08-12 15:51] Leon-Huang opened #4806 "run some commands automatically"
Does it possible to  execute some certain command whenever I start a hyper.exe process?
just like we can add some command in the bash.rc
In win10, I want to run the `chcp 65001` command everytime I open hyper or CMD
does hyper support this function?

[2020-08-13 16:29] phaalonso opened #4807 "Cutting italic fonts"
Hi, I am trying to use Hyper with Neovim. And it seems to be cutting the italic fonts, and I don't know why but it keeps bothering my eyes. The only way to enable fonts ligatures that worked for me is using this plugin hyper-font-ligatures
![image](https://user-images.githubusercontent.com/26033899/90160932-cc2c1600-dd68-11ea-8d5b-9ccc91b4ae69.png)

[2020-08-13 19:03] TheRafaelFarias commented on #4803
With me this happens when i use zsh, try to use bash, if don't appear is problem with zsh

[2020-08-13 19:11] TheRafaelFarias opened #4808 "Add macos style option"
I use linux and the interface is like macos, and all apps is like macos. But in hyper is the windows style, then i tried to customize and set the mac buttons (in code) and worked but now don't work anymore (i will try to resolve later).

Add an option to set the buttons to mac os will be much better to who have a macos like interface and match with the system

(I'm not a native speaker, so may hav

[2020-08-14 02:02] Hblanqueto commented on #4808
How curious, just now I just installed it and I thought it would have the design of the macOS buttons.

The truth is that it would be a very good idea to implement it since there are many users who like that practical style.

I'm still looking for a way to pass the buttons to the left but I can't

[2020-08-14 10:56] briandipalma opened #4810 "Change Linux/Windows keymaps to not require `shift`"
In Mac I can open a tab with `command+t`, but on Linux/Windows I have to use `ctrl+shift+t`.
Why the extra `shift`?

I know I can change the keymaps, I've done that but I don't understand the reason for this extra shift in the out of the box configuration.

It would be great if Mac also supported the `ctrl` shortcuts to ease moving between the different OSs. My muscle memory is constantly tripping

[2020-08-14 11:28] ToMMy86 commented on #3230
Any news on this one ? **This would be a really really appreciate feature**

I could also be also as simple as just lanching commands in tabs... with a custom title.
So the connection manager ( core-plugin? ) should be able to store & organize connections  ( just like it is in remmina )

Name, Group, Credentials ( stored in a secure manner ) , Command.

... and be able to launch IN HYPER TABS ...

[2020-08-14 17:08] perzanko commented on #4750
Same issue here :hand:
OS: Ubuntu 20.04.1,
Ver: 3.0.2

[2020-08-14 21:19] Ok9xNirab opened #4811 "Black dots when terminal launched"
ScreenShot :

![screenshot](https://i.ibb.co/3Y2L6FB/Screenshot-2020-08-15-at-3-16-09-AM.png)

[2020-08-14 22:34] TheRafaelFarias commented on #4808
I found a solution, if use the  plugin "hyper-custom-controls" already set to macos buttons

https://www.npmjs.com/package/hyper-custom-controls

[2020-08-14 22:34] #4808 closed

[2020-08-15 04:15] warcayac commented on #4803
same here

[2020-08-15 04:24] warcayac opened #4812 "CTRL+L cleans and ERASES the content of terminal"
With certain terminals like **Konsole** and **Hyper**, `CTRL+L` cleans and erases the content displayed in terminal, I wish it cleans it only like **Alacritty** where the content is maintained and visible when scrolling back.

[2020-08-15 12:29] #4803 closed

[2020-08-15 14:55] DevOps127 commented on #3590
Thx man. it works for me.

[2020-08-16 01:52] brcmesquita commented on #4258
I had the same problem here.

The problem is complicated to discover, but it is more than obvious.

We install "hyper" on Windows, via Windows, and then we want to install plugins etc via WSL (Bash Linux). It will not work!

To resolve, go back to the default configuration of Hyper (deleting ".hyper.js") where it will open with the "cmd" Windows again. Install all the plugins you want, and only af

[2020-08-16 01:56] brcmesquita commented on #3595
I had the same problem here.

The problem is complicated to discover, but it is more than obvious.

We install "hyper" on Windows, via Windows, and then we want to install plugins etc via WSL (Bash Linux). It will not work!

To resolve, go back to the default configuration of Hyper (deleting ".hyper.js" for example) where it will open with the "cmd" Windows again. Install all the plugins you want

[2020-08-16 01:56] brcmesquita commented on #3722
I had the same problem here.

The problem is complicated to discover, but it is more than obvious.

We install "hyper" on Windows, via Windows, and then we want to install plugins etc via WSL (Bash Linux). It will not work!

To resolve, go back to the default configuration of Hyper (deleting ".hyper.js" for example) where it will open with the "cmd" Windows again. Install all the plugins you want

[2020-08-16 07:21] watsoncj commented on #4788
Tested with 3.1.0-canary.4, using both zsh and bash. Did not see this behavior.

I suspect the issue has to do with your local shell config.

Have you seen this with an empty/missing rc file? (.zshrc, .bashrc, etc)

[2020-08-16 07:47] gv706 commented on #4317
Thank You..It worked for me

[2020-08-16 09:36] ftpd opened #4813 "Badge dock icon on macOS."
Hi.
Sorry for creating an issue for this, but I couldn't find the option anywhere.
Is there any possibility to have dock icon with badge when 'bell' is activated? I prefer to have all sounds off and those badges are my only indicators that something is happening.

Also - to avoid creating second 'issue' for next 'I can't find it in documentation thing': how to change the cyan-like color showing ac

[2020-08-16 14:22] james-prado commented on #4788
@watsoncj Yea you're right, it was a [theme](https://github.com/sindresorhus/pure) I load in my config that's causing it. Thanks for the suggestion, I didn't think to check if it was something in my `.zshrc` causing it.

[2020-08-16 14:22] #4788 closed

[2020-08-17 02:56] rajat-np commented on #3666
CTRL+shift+e is an emoji entry shortcut. Use ibus-setup to change the key setup for that.

[2020-08-17 20:06] scott-joe commented on #1973
@hharnisc can we get another fix? It just freezes Hyper when used :\

[2020-08-17 20:54] dhouck commented on #3607
If ligatures are merged upstream whatʼs the next step here then?

[2020-08-17 21:20] cesar-cb commented on #4750
I can install plugins without problems using **version 3.1.0-canary.4 (pre-release)**. But I keep struggling with **version 3.0.2**

OS: Arch Linux (5.8.1-arch1-1)

[2020-08-18 03:45] sandeephalder commented on #2823
Is this issue still open?

[2020-08-18 07:02] MeirAtWork opened #4820 "hyper won't open when setting shell with visual studio developer prompt"
hi

when I set this line in the config:

shell: 'c:\windows\system32\cmd.exe /k \"C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Enterprise\\Common7\\Tools\\VsDevCmd.bat\"'

then hyper won't load.
I also tried to escape sequence the above - same result.
any help?

thanks
M

[2020-08-18 09:31] naomiquinones opened #4821 "Hyper overrides first 15 system colors in bash on Mac Mojave"
Hello, when I use Hyper to run shell commands that use TPUT color codes 0 through 15 or ANSI color codes 30 through 37 to output colored text, the colors display incorrectly. However, when I view the output in iTerm and the Terminal application, the colors display as expected. Something about Hyper interferes with the colors.

Having a magenta that looks like cyan is a problem because I'm relying

[2020-08-18 11:28] OopsYao opened #4822 "Unexpected scroll area in new window"
## Description

Everytime I open hyper, there would be a scroll area like this
![image](https://user-images.githubusercontent.com/32776639/90505922-0725b380-e186-11ea-8f30-ebe72fc5d4cd.png)

I'm using Windows 10 wsl Arch Linux, and I found that this only occurs on the first tab of every new window.
If you open a new tab or split the tab, the new session looks alright.
and if I change the shell (zs

[2020-08-18 17:35] adeyemi20365 commented on #4035
same problem here

[2020-08-18 17:35] adeyemi20365 commented on #4035
please fix this for us

[2020-08-18 20:13] gargraghav opened #4823 "Hyper has become very slow. I am trying to build Flask and nginx using docker-compose but it is kind of hanged."
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-08-19 01:30] Maransatto commented on #3855
I did the same but it's still not working here for me. Using MacOS Big Sur.

[2020-08-19 07:28] tayyabferozi commented on #3763
where am I supposed to write these two lines??

[2020-08-19 07:32] RitikPatni commented on #3763
@tayyabferozi In your .hyper.js file. You can open it in Preferences. It will be like this [Hyper Config](https://gist.github.com/RitikPatni/02bda7bd2236bfb324f0e365a9fbb1f8)

[2020-08-19 12:24] #3439 closed

[2020-08-19 18:07] ryu1kup opened #4824 "does not Hyper support true color?"
Hi developers, I'm a very beginner of Hyper.

I would like to use True Color for Neovim.
The environment variable TERM is xterm-256color, so I guess it supports true color.
However, it's said that hyper does not support true color in [this](https://gist.github.com/XVilka/8346728),

Does this mean Hyper does not support true color actually?
Then here TERM no longer mean anything?

Sorry for my elem

[2020-08-20 11:22] bpeake-illuscio commented on #4824
Was just scanning through the docs / issues with the same question, and if there is a setting somewhere I need to use to enable it.

[2020-08-20 15:41] ryu1kup commented on #4824
Of course I scanned the docs/issues quickly, but I didn't get clear answer.
I just want to know what TERM variable means in Hyper.

[2020-08-20 16:53] fafshari opened #4825 "Hyper Installation has failed"
Unfortunately not much to go by with this issue. Fresh install, never before installed on Windows 10 Home Education.
![image](https://user-images.githubusercontent.com/1194550/90801515-fc813080-e2e3-11ea-892c-ee132d01d953.png)
Clicking on "Open Setup Log" opens a completely empty SquirrelSetup.log file.

[2020-08-21 02:02] iToXiQ opened #4826 "Color degradation in Neovim"
Hello,

I would like to know if there is a fix for the color degradation which occurs when i open neovim in the Hyper.js Terminal.
I've tested the same in iTerm2 and there it worked. I found this Issue from 3 years ago(https://github.com/vercel/hyper/issues/2294), but i am unsure if was solved or if there exists any trick to get it working. I recently switched from iTerm2 to Hyper.js and this is t

[2020-08-21 12:30] coderealistics opened #4827 "bash: lias: command not found"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-08-22 16:13] #4827 closed, assigned to nobody

[2020-08-24 01:59] proteriax commented on #2431
@Stanzilla Why is this issue closed?

[2020-08-24 03:37] JuanVqz commented on #2431
@proteriax Are you having this problem? or Do you solve it?
because I set `bell: false` and it still doing the "Beem" sound

[2020-08-24 07:34] codehia opened #4828 "keyboard mappings for vim doesn't work"

[2020-08-24 13:23] Jessekalli commented on #4825
I'm having the same problem!

[2020-08-25 05:30] shans10 commented on #4826
I am facing the same issue on Windows 10 with Neovim and Hyper. However, the issue seems to have been fixed in the canary release. I tried the version **3.1.0-canary.4** and it displayed the colors correctly.

**OS -** Windows 10 v2004
**Hyper version -** 3.0.2 (issue present)
**Hyper version -** 3.1.0-canary.4 (issue fixed)

[2020-08-25 12:33] Sin13 commented on #1625
as described [https://github.com/vercel/hyper/issues/1625#issuecomment-285774582](url) its not a command.

you should put them in the target box of a shortcut. don't bother though! i tried that and didn't get any transparency effect :(

[2020-08-25 19:22] viniciusgati commented on #3736
reproducing on 3.0.2

[2020-08-26 07:09] akhilpratap1991 opened #4833 "Incomplete matching on url"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-08-26 09:47] the-ult commented on #4318
Any change on a new release of hyper.js with this fix?

[2020-08-26 13:16] #4804 closed

[2020-08-26 13:17] diorcula commented on #4804
Not sure if this ever will come but also seems to be an 'feature' with CMD in general

[2020-08-26 13:39] akhilpratap1991 commented on #4833
<img width="592" alt="Screenshot 2020-08-26 at 12 20 17 PM" src="https://user-images.githubusercontent.com/64142250/91310527-9c9cf500-e7cf-11ea-9159-1445062343cd.png">
I am also ok if I can modify the regex that matches the URL.

[2020-08-26 14:30] mdirshaddev commented on #1594
Well technically you have to uninstall all the plugins you have.

[2020-08-27 02:22] Elecronix opened #4834 "Can you make a video tutorial?"

[2020-08-27 04:31] #4834 closed

[2020-08-27 04:32] Elecronix opened #4835 "Can you make a video tutorial?"

[2020-08-27 07:12] kingheaven opened #4836 "mkdir"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-08-27 10:38] Roshan931 opened #4837 "Window gets stuck after closing a tab"
Steps:

- Make window full screen
- Open a new tab with `cmd+d` while being in fullscreen
- Make the window smaller by double tapping on the title bar
- Close the new tab with `cmd+w`

The main tab gets stuck and sometimes makes the content inside weirdly scaled.

[2020-08-27 15:11] luiz-csilva opened #4838 "Add hyper to path on linux"
How can I add hyper to path on linux? kde neon 20.04

[2020-08-27 17:34] thdjoker commented on #1394
ctrl+shift+V works for me.

[2020-08-27 23:30] ppot commented on #4836
Please open an issue with actual information.

[2020-08-27 23:30] #4836 closed

[2020-08-27 23:31] ppot commented on #4835
Please open an issue with actual problem and conformity with the issue template.

[2020-08-27 23:31] #4835 closed

[2020-08-28 16:56] MartynF commented on #3462
Is there any update on this?
I have no plugins, no customisations, no tabs, but frequent loss of visibility of 1st and/or last line of text on Mac OS

[2020-08-29 05:53] Yuvaan1182 commented on #4317
@SajjanKarn Thank BROTHER for your solution.
it helped me

[2020-08-29 12:15] aroooo opened #4839 "[Hyper 3.0.2] "man" does not work"
Hi.
_I'm using Hyper v3.0.2 on Void Linux (Kernel 5.8.1_1)._

I've recently came into an issue:
When I use the `man` command followed with another command (example `ls`) Hyper throws an error at me:
`hyper.AppImage: ERROR: ls: No such file or directory`
I can't figure out where it's coming, I've installed Hyper using the AppImage and it's located inside the /opt/Hyper folder.

Thank you.

[2020-08-29 17:22] jvzaniolo commented on #2930
Hey man, could you be more specific ? Where can I delete this trailing whitespace/newline?

[2020-08-29 23:07] NeonWizard commented on #1369
This should be re-opened. The pull request was abandoned, and the suggested `hyperlayout` plugin is now unmaintained and broken.

[2020-09-01 07:02] Lazer39 commented on #4487
Thanks for you

[2020-09-01 08:35] Lazer39 commented on #4487
Thanks for you my freinds

[2020-09-01 09:46] andrew-paterson opened #4846 "Hyper 3.0.2 too slow to be usable on Ubuntu 20.04.1 LTS, Gnome 3.36.3, dual boot with Windows 10"
I have just installed `Hyper 3.0.2` in `Ubuntu 20.04.1 LTS` with `Gnome 3.36.3`. In case it matters the machine is running as a dual boot system with Windows 10.

I have not installed any Hyper plugins.

I have tried with zsh and the default bash.

I am using a brand new laptop and everything else is running fast.

In all cases the Hyper terminal starts OK for a the first one or two lines, but ver

[2020-09-01 18:41] danacr commented on #4135
I had the same issue, so I spent some time fixing the arm64 build: https://github.com/danacr/hyper/releases/tag/v3.0.2-arm64-fpm-1.10.2

[2020-09-01 18:44] danacr commented on #4375
If you're running the arm64 version of raspbian you can try this: https://github.com/danacr/hyper/releases/tag/v3.0.2-arm64-fpm-1.10.2

[2020-09-01 18:45] danacr commented on #3337
and this is the one for 3.0.2: https://github.com/danacr/hyper/releases/tag/v3.0.2-arm64-fpm-1.10.2

[2020-09-01 20:50] vegerot commented on #4135
How'd you fix it?  Awesome!!

[2020-09-01 23:05] tolgahanakgun commented on #4377
The `+` key on the keypad can be mapped with `numadd` as [electron key mapping](https://github.com/electron/electron/blob/master/docs/api/accelerator.md) shows, so the following key mapping solved my problem:
[code]

[2020-09-01 23:05] #4377 closed

[2020-09-02 15:43] LabhanshAgrawal commented on #4377
oh i see, good to know.

[2020-09-02 15:54] LabhanshAgrawal commented on #4804
this is not affected by hyper, it's a cmd thing

[2020-09-03 03:22] mgowtham opened #4850 "editor undo not working in hyper 3.0.2"
editor undo not working in hyper 3.0.2
os: mac OS Catalina

[2020-09-03 14:11] danacr commented on #4135
This is the diff: https://github.com/vercel/hyper/compare/3.0.2...danacr:3.0.2-build

Disregard the Dockerfile, I was using that for testing

[2020-09-03 14:12] danacr commented on #3337
I'll have a go and add the fixes in a PR

[2020-09-03 16:20] romaklimenko commented on #39
Hello from 2020. Sorry to see that this feature is not going to happen. It forces me to switch back to Terminal.

[2020-09-03 17:36] NeonWizard commented on #311
Hyperlayout seems to be discontinued and is no longer accepting pull requests. I would very much prefer if this basic functionality was provided in vanilla Hyper, it's been asked many times over the last several years.

[2020-09-03 17:38] NeonWizard commented on #1369
@ppot Are you planning on finishing your pull request any time soon? Or should this issue be re-opened?

[2020-09-04 02:45] hailin84 opened #4851 "May I request those two popular functions? Paste on a single click(middle key or right key)，cusor line highlight. Thanks."
May I request those two popular functions?
1. Paste on a single click(middle key or right key);
2. Cusor line highlight.
Thanks.

[2020-09-04 10:05] andrew-paterson commented on #4846
This was actually an issue with usipng an external monitor on Gnome. Works fine when the external monitor is not connected.

[2020-09-04 10:05] #4846 closed

[2020-09-04 13:52] vegerot commented on #4135
Wow, great fixes!  Why didn't I try that lol

[2020-09-06 07:24] #4851 closed

[2020-09-06 07:25] hailin84 commented on #4851
It works by setting quickEdit to true.

[2020-09-06 15:46] ridgway1920 commented on #4838
Cola esse código em algum editor de texto, e salva como hyper, depois digite chmod +x hyper, e finalmente mova ele para o diretório /usr/local/bin/, o código:

#!/usr/bin/env bash
# Deeply inspired by https://github.com/Microsoft/vscode/blob/1.17.0/resources/linux/bin/code.sh

# If root, ensure that --user-data-dir is specified
if [ "$(id -u)" = "0" ]; then
	for i in $@
	do
		if [[ $i == --user-da

[2020-09-07 06:22] AkimaLunar commented on #4611
Looks like this issue is still open. Just wondering if there have been any thoughts on how to fix this. I have the same issue with the same OS and Hyper.app version.

[2020-09-08 07:24] MichaHuiskamp commented on #4035
This worked for me, thanks a lot you are the best!!!

[2020-09-08 09:24] theproj3ct opened #4863 "Last line for typing new command cant scroll up, is stuck offset below window."
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-09-08 15:34] abhitrip13 commented on #3398
Guyss i just solved all the installation problems using homebrew.
1)go to : [brew.sh](url)
2)install it using the existing hyper terminal and then install the cli using plugins tab in the navbar
3)You are good to go!

[2020-09-08 15:50] abhitrip13 commented on #3349
the best way is to install homebrew from [brew,sh](url) which basically installs all missing commands in your mac.
1)go to [brew,sh](url), paste the command in your terminal(wait for sometime until it installs)
2)then go to your hyper terminal and using plugins tab in top nav bar and install hyper cli.
3)You are good to go!!
now you can use hyper commands
for eg< hyper i verminal>

[2020-09-09 06:41] 50l3r commented on #3736
I still have issue with ```useConpty`: true``` enabled

[2020-09-10 08:51] Tsimopak commented on #1213
Any update?

[2020-09-10 09:17] brenoprata10 commented on #1780
Thanks for the initial step @Inlustra, i'll take it and finish the feature :)

[2020-09-10 11:17] brenoprata10 commented on #1780
Thanks for the first step @Inlustra, i'll give it a try myself and hopefully make it work as badass as we want it to be :)

[2020-09-10 19:53] lvar opened #4879 "Can't use poetry package manager"
I try to use poetry for make some python projects.
When I run **_poetry install_** get this error:

`
$ poetry install
  /c/Users/el_sh/.poetry/bin/poetry: line 2: import: command not found
/c/Users/el_sh/.poetry/bin/poetry: line 3: import: command not found
/c/Users/el_sh/.poetry/bin/poetry: line 4: import: command not found
/c/Users/el_sh/.poetry/bin/poetry: line 6: syntax error near unexpected

[2020-09-11 09:41] mr-bjerre commented on #4504
Same for me...

[2020-09-11 12:32] martinowren opened #4880 "Hyper is crashing on closing"
Hello!

I am having issues that Hyper is crashing when I try to close the program (hyper).

How would I go about debugging this?

Thanks!

[2020-09-12 00:33] creepinson commented on #4824
Yeah I don't see a way to enable it :/ I really need this feature for bpytop to work!

[2020-09-12 03:55] franciscocandido commented on #4611
One of the ways to solve this problem and pasting it: `alias hyper="cmd.exe /c hyper"` in `zshrc` or `bashrc` file

It worked for me on Windows 10 with WSL2 😊

[2020-09-12 11:11] dominikfiala commented on #4611
I just tried to install a hypercwd plugin and encountered the same issue. `alias hyper="cmd.exe /c hyper"` in `bashrc` helped with the installation, but I'm running into JS error when opening a new tab now in WSL. It works perfectly in Windows PowerShell though.
JS error enclosed.
![Annotation 2020-09-12 130914](https://user-images.githubusercontent.com/3163672/92994299-75e1fc80-f4f9-11ea-9c71-6e1

[2020-09-12 19:25] franciscocandido commented on #4611
I have the same error just removing the line after installing the plugins

[2020-09-13 09:44] michelvoillery commented on #3637
You Sir are a ⭐  Thank you so much for this! @qweasd1

[2020-09-14 09:34] alikadir commented on #4194
I'm still waiting for this release 😔

[2020-09-14 10:09] Stanzilla commented on #4194
So are we

[2020-09-14 13:15] Jack8400 opened #4887 "Hyper Terminal 'A javascript error occurred in the main process'"
I'm using macOS Catalina and I wanted to download hyper terminal but it's showing an error 'a javascript error occurred in the main process'

note: I've unstalled hyper previously, I'm reinstalling it now. | I'm using macOS Catalina and I wanted to download hyper terminal but it's showing an error 'a javascript error occurred in the main process'
![Screenshot 2020-09-14 at 6 45 07 PM](https://user

[2020-09-14 15:50] pergpau opened #4888 "Hyper crashes with 4 tabs + high memory use"
Hyper always crashes when I try to open a 4th tab, and has very high memory usage. See gif below.

Bug? What can be causing this?

Details:
- Windows 10 using WSL2 with Ubuntu 18.04
- Hyper 3.0.1
- bash.exe opening into zsh

![hypercrash](https://user-images.githubusercontent.com/58368467/93108181-cbadd480-f6b2-11ea-8a72-37459bd994d3.gif)

[2020-09-14 16:03] regron commented on #4801
Even I am facing same problem !!!

[2020-09-15 11:49] MecDog commented on #3293
same problem

[2020-09-15 20:44] Diamond-Frost opened #4890 "Carriage Return acts as Line Feed on Windows (Most likely on Linux then as well)"
When you write code, and you constantly update the last line, often people use the CR (carriage return \r) character to jump the beginning of the line, but not create a new one (Only doesn't work on OS X, where CR is the character to create a new line).

On windows, when I run a python script and tell it to do `sys.stdout.write("some text\r")` (NOT `print` which automatically adds `\r\n`), Hyper a

[2020-09-15 21:20] #4890 closed

[2020-09-15 21:21] Diamond-Frost commented on #4890
The issue occurred due to too many space characters at the end (to overwrite the last character), which ended up causing it to forcefully go to the next line.

[2020-09-16 08:20] nomad3k opened #4892 "Constant "Configuration Update" notification"
This has only started happening recently, so I guess it's a new bug.

I have a hyper terminal open, with multiple tabs even just typing "ls" causes the following error message to appear, along with multiple notification pings.  The tabs have processes running, which include .Net Core and a Vue application.

<img width="365" alt="image" src="https://user-images.githubusercontent.com/149791/93311036

[2020-09-16 08:22] nomad3k commented on #4892
Oh, I forgot to say.. I love Hyper.  Excellent tool.  Good work! :D

[2020-09-16 12:04] LabhanshAgrawal commented on #4892
Seems to be same as #4318
can you try the [latest build](https://github.com/vercel/hyper/actions/runs/254382407) and confirm if it's working for you.

[2020-09-16 16:35] ThisNameNotUsed commented on #2794
I can't start in a different directory at all in CMD / Hyper. I have read all the links and tried these commands out in regular cmd where they work fine.

`shell: '',`
and
`shellArgs: ['/K', 'cd /d C:\\Users\\OPS\\source'],`

[2020-09-18 05:08] admosity commented on #3929
This comment got my esc key working again on the canary channel:

https://github.com/vercel/hyper/issues/3217#issuecomment-646773120

Adding this to the config
[code]

[2020-09-18 08:44] kanavpruthi commented on #462
Is this issue still open? I am a first time contributor here.

[2020-09-18 17:14] mcdonaldryn opened #4895 "hyper i hyper-plugin returns unexpectedTokenError"
/Applications/Hyper.app/Contents/Resources/bin/cli.js:26017
                throw this.unexpectedTokenError(token, message);
                ^
Error: Line 135: Unexpected end of input
    at ErrorHandler.constructError (/Applications/Hyper.app/Contents/Resources/bin/cli.js:29026:22)
    at ErrorHandler.createError (/Applications/Hyper.app/Contents/Resources/bin/cli.js:29042:27)
    at JSXParser.Pa

[2020-09-18 20:50] brenoprata10 opened #4896 "How to write text on hyper window via plugin?"
Hi guys o/

I am developing an autocomplete for hyper term, but i can't find a way to actually make the autocomplete write on the screen as i need, do you have any idea on how to do that via plugin?

Thanks :)

[2020-09-18 21:29] brenoprata10 commented on #1417
Same issue, i am trying to create an autocomplete for hyper, but the onWindow event is not called on plugin

[2020-09-20 22:57] hsusanoo commented on #4880
Hi, does the issues still persists even when you disable all plugins ?

[2020-09-21 07:14] nomad3k commented on #4892
I've installed the canary build and I'll let you know. :)

[2020-09-21 08:07] harpreetsb opened #4897 "SCREEN command problem"
Hi,
I was using terminator as my primary app, but had to look for other alternatives for better UI and themes.
I really love hyper but there seems to be a very irritating bug.
Here are steps to reproduce  is a bug.

1. Create a new screen with command `srceen -S test`
2. When you enter the screen, simply run `sudo apt update`, wait for it to complete.
3. Detach from screen by pressing `CTRL+A+D`
4

[2020-09-22 07:08] makuzaverite opened #4911 "Hyper installing plugins and themes failure"
I have installed the hyper command-line app using choco on wind10 and I'm not sure why it is giving me the same error while installing plugins and theme

![issue](https://user-images.githubusercontent.com/53856673/93852885-221ea280-fcb3-11ea-80e9-a6745524f478.PNG)

I have tried to search but nothing worked for me

Thanks in advance

 - **Hyper version**: undefined "3.0.2"

 - **OS ARCH VERSION:**

[2020-09-22 18:05] lyndsysimon commented on #3699
This is important to me as well - it makes a _huge_ difference in terms of battery life.

[2020-09-22 23:57] jeffjose commented on #3186
Was giving hyper a spin and ran into this. Any updates on whether this usecase could be supported? I use `tcsh`.

[2020-09-23 08:13] mat-ale commented on #4750
Same here.
- `KDE Neon 5.19` (based on `Ubuntu 20.04`)
- `Hyper v3.0.2` version `.AppImage`

[2020-09-23 20:45] seth100 commented on #280
I'm interested in that too! Any feedback please?
Thanks

[2020-09-24 06:41] SpencerC opened #4912 "URL highlighting stops at '+' character"
A clicking on URL printed in the terminal pointing to https://something.com/path/thing1+thing2 navigates to https://something.com/path/thing1 in the browser (dropping the '+thing'). Using macOS 10.15.6.

To reproduce:
[code]
Then click on the link.

[2020-09-25 05:27] srk1195 commented on #3644
You can open the hyper.js file by clicking **ctrl + ,** .
It is annoying that the terminal disappears into the background and every time need to open it from the tray. Any of you guys have any solution on how to stop hyper going into bg?

[2020-09-27 20:50] petahbred commented on #4611
@dominikfiala Have you had any fixing hypercwd?

[2020-09-27 21:43] Robbie-Cook commented on #39
This be some bullsheet right here. This could be the best terminal, but instead, it's feature lacking.

[2020-09-27 21:49] philip-peterson commented on #39
Maybe time to hook up hyper to a bug bounty system so issues like this can be funded.

[2020-09-29 02:32] momoko8443 commented on #4911
I have the same issue under MacOS 10.14.6

[2020-09-29 08:23] 50l3r commented on #3804
I still have the problem in the stable version

[2020-09-29 12:40] #3162 closed

[2020-09-29 16:50] daffa-db5 opened #4923 "strange black color on arrow when i using oh-my-zsh"
![image](https://user-images.githubusercontent.com/69158099/94588015-92c65000-02ad-11eb-8f1b-36675b0d0d8e.png)

so i installed hyper on my windows 10
and i install ubuntu using Windows Subsystem for Linux (WSL)
and then i install oh-my-zsh to make pretty and add colorscheme

but when i do some commands, the arrow in zsh showing up black, and i don't know whats happen
i'm using **Fira Code** Font F

[2020-09-30 04:06] Project-Magenta commented on #684
I'm willing to do this for Hacktoberfest. Is this still available?

[2020-09-30 04:57] jackHedaya commented on #684
@Project-Magenta Took a crack at it ages ago and didn't really get anywhere. Go ahead!

[2020-09-30 14:56] Picoseconds commented on #684
Are we willing to introduce a new dependency of `ps-node`?

[2020-09-30 19:38] mjuarez opened #4924 "webLinksActivationKey not working"
### Summary
I'm trying the new [`webLinksActivationKey`](https://github.com/vercel/hyper/pull/4543) feature in canary. I have tried setting my modifier to ctrl, alt, meta, shift. I'm restarting Hyper after saving the config file as per the caveats listed in #4543, however none of the attempts seem to be working. I double-checked the change-log for hyper 3.1.0-canary.4 release, and #4543 should hav

[2020-09-30 23:46] Project-Magenta commented on #684
oh, btw Picoseconds is also me

[2020-10-01 13:25] iamfrisbee opened #4925 "Unmount disk failed"
I have an external harddrive that I use with Time Machine on my laptop. The situation is a bit clunky and I have to eject it in order to use my laptop as a laptop, but it has worked, until now. I thought there was an issue with the drive. I couldn't eject it anymore. No matter what I did it just would not eject. Even trying to use diskutil CLI, I could not unmount the disk. Google searches and try

[2020-10-01 16:51] jclevesque commented on #2316
For anyone out there still with this issue, make sure to close all tabs and restart hyper completely to test new configurations. My problem was not fixed by `env={TERM: "msys"}` until I restarted the whole application.

[2020-10-01 21:11] kis87988 commented on #3737
got this same issue too

[2020-10-02 10:45] Warns commented on #155
`set background=dark` and `set termguicolors` kind of fixed it for me as it blends in with Hyper's default colors just fine.

If you're unsure if your env supports `set termguicolors` you may set it as the following:

`if (has("termguicolors"))
  et termguicolors
endif`

[2020-10-03 22:53] Picoseconds commented on #684
@lucleray can you add hacktoberfest tag so I can get a tshirt?

[2020-10-04 14:03] HunderlineK opened #4929 "[Feature Request] Remote Terminals over Websocket"
Sorry if my request doesn't make any sense, as I do not fully understand the architecture of hyper.

However,  if I am correct to assume that Hyper is essentially a web application with a FE and a BE running on the local machine i.e. an electron application, then it should technically be possible to move that BE to a remote machine e.g. a server in the cloud and then wire the FE and BE using e.g.

[2020-10-05 11:08] vodafone001 opened #4942 "DontKillMyApp Benchmark"
DontKillMyApp Benchmark checks your phone background processing to make apps on your phone work properly.

https://play.google.com/store/apps/details?id=com.urbandroid.dontkillmyapp

[2020-10-05 15:15] danielraffiando opened #4943 "[HELP] Stuck install v.3.0.2 at 50% in Win10 x64"
![Capture](https://user-images.githubusercontent.com/34260317/95097904-37d2a400-0758-11eb-87ba-d754c8a11608.PNG)

[2020-10-05 20:24] RedHoodJT1988 commented on #4911
When you open the application try:
1. clicking the three lines in the top left
2. highlighting the plugins option
3. select the install Hyper CLI command to path

The image below shows where this is located.

![hyperjs problem](https://user-images.githubusercontent.com/31198731/95128299-db06c780-071e-11eb-934e-0603c593a77f.png)

[2020-10-05 21:08] RedHoodJT1988 commented on #4911
Let me know if that helps. You might have to restart your entire computer in order for the change to take place.

[2020-10-06 10:12] kev-aron-28 opened #4944 "I'm opening a Hyper window but not loading"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-10-06 17:06] wesbos opened #4945 "Sourcing .zshrc crashes"
Hello! Bug report:

When I source my `.zshrc` file to enable new commands, hyper crashes.

1. type `source ~./.zshrc`
2. Type something else, like `ls`. It will crash

example:

![Kapture 2020-10-06 at 13 05 28](https://user-images.githubusercontent.com/176013/95236218-a5bcb100-07d4-11eb-8e08-5c5c1b9bc175.gif)

[2020-10-07 07:16] vin-d commented on #3412
On my side the invisible window problem was related the de last window position where default values from the config file cause the problem

[code]
changed the window size to
`2540, 2380` (while Hyper is not started) and at next execution my window was there.

[2020-10-07 10:43] bitttttten commented on #2587
I am still hitting this isse in Hyper 3.0.2 on stable and on canary.

[code]

Notice the space after the ghost. It appears in hyper like so:

![Screenshot 2020-10-07 at 12 42 51](https://user-images.githubusercontent.com/19930241/95320981-a15acb80-089a-11eb-9a6d-8eb05a0496ca.png)

You can see the ghost is taking up two character spaces. If I replace the ghost with a letter, like `A` you'll get:

!

[2020-10-07 16:32] danilodecanini commented on #1213
any?

[2020-10-07 16:38] Stanzilla commented on #1213
my comment still stands, sorry.

[2020-10-07 20:42] abhinavg247 commented on #3736
For people facing this error in 2020,
There is a second way to solve:
You can just use wsl.exe without any shell arguments:

shell: 'wsl.exe',
shellArgs: [],

After getting stuck for an hour on this, Instantly solved the problem for me.

[2020-10-08 18:35] ghazette commented on #3343
IT WORKS AWESOME

[2020-10-09 02:22] parichaypari1986 commented on #4892
where do I find the Hyper config file for linux(my os is Ubuntu 20.04 LTS). However I found one config file which upon applying I am getting this:
**execvp(3) failed.: No such file or directory**.

[2020-10-09 02:29] parichaypari1986 opened #4947 "execvp(3) failed.: No such file or directory"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-10-09 03:39] parichaypari1986 commented on #3703
I don't have updateChannel in that hyper.js file. How do I solve the same problem

[2020-10-10 10:49] ivycmg commented on #4035
it really doesnt work for me i followed this step

[2020-10-10 15:04] Megumin-Master commented on #4035
@ivycmg and anyone else having the same difficulties, make sure that you have git installed in your ssd, not your hdd.

Follow the same instructions you were given by the previous instructions, but before you open hyper, reinstall git and make sure it's installed in your ssd.

I hope this helps in some way.

[2020-10-10 18:41] kasipavankumar opened #4948 "causes virtual box (linux mint) to crash on executing any command"
Hyper installs properly using .deb package on Linux Mint but causes the virtual box to crash when executing any command. The terminal is configured to use Zsh but crashes when set to Bash as well.

Attaching a snip of the error message for reference.

![vbox-hyper-crash](https://user-images.githubusercontent.com/44864604/95662582-91224500-0b55-11eb-8a9b-389c42793135.jpg)

[2020-10-11 10:23] ivycmg commented on #4035
@Megumin-Master  I've been searching for this issue for the last few days and it helps! I'm stuck with my online course because of this. Thank you very much!

[2020-10-11 15:32] aroooo commented on #4839
Bump, still occuring.

[2020-10-12 15:48] davidcostadev opened #4965 "Use the alt+[number] to switch between tabs instead of ctrl"
I'm using the terminal before from popos 20.04, and I was so used to it to use `alt+[number]`, It's was not possible to found the alternative way to use it.

[2020-10-13 03:24] Revandzy commented on #3684
Sorry for necroing. I have the same issue, I've checked the latest build https://github.com/vercel/hyper/releases/tag/v3.1.0-canary.4 but I don't see *.exe file there...

[2020-10-13 21:30] mhb-machado commented on #2764
Thanks dude,this is so fucking helpful!!

[2020-10-14 15:37] joshunger opened #4966 "Error while loading devtools extensions TypeError: config.css.replace is not a function"
Version 3.0.2.

[code]

[2020-10-14 16:03] joshunger commented on #4966
Deleting `~/.hyper.js` fixed the issue 🤔

[2020-10-15 04:18] zackkitzmiller opened #4967 "Hyper doesn't start on latest OS X Big Sur"
Big Sur build 20A5395g prevents Hyper from opening. The application starts, and the following lines are logged in syslog.

[code]

The app then hangs, and a window never opens.

[2020-10-16 02:15] shizhaojingszj opened #4968 "multi-line selection again"
#2710 again in hyper v3.0.2(stable)

[2020-10-16 02:15] #4968 closed

[2020-10-16 02:15] shizhaojingszj commented on #4968
sorry, false alarm....

[2020-10-16 07:25] baermathias opened #4969 "Hyper doesn't start on Win 10"
I restarted my computer and Hyper doesn't start. Supposedly it runs in the background?

<img width="426" alt="Unbenannt" src="https://user-images.githubusercontent.com/45003352/96225339-39d70700-0f91-11eb-9f4c-081af743e66e.PNG">

[2020-10-17 09:33] ciscohack opened #4970 "Syntax highlighter feature requested"
Hi Team,

First, I would like to say thanks to you all for the amazing work.

Team, I have a feature request, if you people consider in upcoming releases. is it possible for you folks to add syntax highlighter feature for networking devices? like cisco, juniper and other vendors. I am aware SecureCRT/iterm2 tool have such feature where we can build regex-based syntax highlight for keywords for bet

[2020-10-17 17:16] matespinosa opened #4971 "Isn't Working"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-10-17 18:33] Ominitay commented on #3560
I also encounter this very often.

[2020-10-17 18:37] Ominitay commented on #3560
It is a duplicate of #3462, #2468, and #2654. There has oddly been no progress on this...

[2020-10-17 18:41] Ominitay commented on #3142
Same issue here on Arch.

[2020-10-19 07:24] koenvg commented on #2738
Hey, I just checked if this is still an issue and this seems to be fixed.
The version I checked it with 3.0.2
os: Mac

[2020-10-20 11:07] JoshuaSmeda commented on #3596
Just an update: problem will persists.

You can manually force a buffer clear by running: `ctrl shift k` but this is not a ideal solution.

Running latest build on Windows:
![image](https://user-images.githubusercontent.com/39983886/96578266-35825500-12d5-11eb-8c25-3dd6c95010c2.png)

[2020-10-20 22:13] chabou commented on #2738
Thank you 🙏

[2020-10-20 22:13] #2738 closed

[2020-10-20 23:29] ankawas commented on #4035
Hi guys, all of you who are stuck on this issue. I suggest using Microsoft power shell which is the inbuilt command line for shell scripting. There is no point in wasting time to fix this issue or get stuck because of it. Hyper does not have anything special that Power shell does not have.

[2020-10-21 01:41] jcrben commented on #4611
3.1.0-canary.4 worked better for me

[2020-10-21 10:44] KarenEfereyan commented on #4969
I have this same exact issue.

[2020-10-21 11:31] mrjones2014 commented on #4035
@ankawas Hyper and Powershell aren't the same thing at all. It's apples to oranges. Powershell is a _shell_, Hyper is a _terminal emulator_.

[2020-10-21 12:06] ankawas commented on #4035
@mrjones2014 Thanks for the clarification. But is there anything particularly in this course that can't be done on PowerShell? Also is there any place where I can see what the exact difference is? I just want to see if there is something that can't be done on PowerShell and you would absolutely need a Terminal emulator for your Windows.

[2020-10-21 12:51] mrjones2014 commented on #4035
@ankawas this issue wasn't started from any course, I opened it because I liked Hyper as a terminal emulator. As far as the difference between Powershell and Hyper, the comparison would be like asking "what is the difference between a computer and a keyboard?". [Here](https://www.hanselman.com/blog/whats-the-difference-between-a-console-a-terminal-and-a-shell) is a brief overview of the terms.

[2020-10-21 12:56] mrjones2014 commented on #4035
@ankawas you can even use Powershell _within_ Hyper.

[2020-10-21 13:08] ankawas commented on #4035
@mrjones2014 Thank you for the link. I apologize if my comment offended you in any way. I am still learning the concepts.
My comment was meant for the people who were stuck in the course because of this issue. Also, I don't think the analogy of keyboard and computer work in this scenario. If the purpose was to make me look dumb then that's different.

[2020-10-21 13:19] mrjones2014 commented on #4035
@ankawas sorry, didn't mean to make you look dumb, that was definitely not my intention. All I meant was that using Powershell isn't a solution for the real issue here.

[2020-10-21 15:36] ankawas commented on #4035
@mrjones2014 That's okay bro. And thanks for the link. I definitely want to clear out my doubts about this issue.
Have a nice day!

[2020-10-21 16:37] ankawas commented on #4035
Hi guys,

My issue was resolved a bit differently. I realized that hyper doesn't work when I change/update the .hyper file and copy the hyper configuration from the following link, https://gist.github.com/coco-napky/404220405435b3d0373e37ec43e54a23. The reason for me was because my Git directory was not in Program Files folder.

This is the part where you mention the path to Git in the .hyper file

[2020-10-22 10:00] songs126 commented on #4971
the same issue

[2020-10-22 10:41] denissabramovs opened #4982 "Window -> Select pane -> Next not working"
Getting this in the console and no error:
`ignoring move for single group`

Using latest release from your home page on Ubuntu.

[2020-10-22 10:42] denissabramovs commented on #4982
Oh it is related to split screen...

[2020-10-22 10:42] #4982 closed

[2020-10-22 10:54] denissabramovs opened #4983 "Changing keymaps not working"
Trying to to it on Ubuntu with installed latest .deb package.
This doc is outdated or is incorrect https://hyper.is/#keymaps

[2020-10-22 10:54] denissabramovs commented on #4983
Tried restarting Hyper after adding changes to that file.

[2020-10-22 11:31] Meerkhani opened #4984 "hyper text editor issue"
"Invalid executable path: C:\Program Files\Git"
I changed my hyper text host name from C drive now i am getting this issue , how can i fix that.

[2020-10-22 19:22] #4984 closed

[2020-10-22 19:24] Meerkhani opened #4985 "nodemon installing issue via bash command line"
Facing this Issue While Installing nodemon

$ npm install -g nodemon
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@~2.1.2 (node_modules\nodemon\node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@2.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

npm ERR! Unexpected end of JSON inpu

[2020-10-24 03:19] rascode commented on #2211
Had the same issue and resolved it by removing the malformed config file by running `rm ~/.hyper.js`.  Restarted Hyper and presto!

Really think this error should be more specific.  Sure there are others out there pulling their hair out over this.

[2020-10-24 19:59] nyc-tinker opened #4986 "Alt triggers menu dropdown in plasma"
Hitting the alt key in Hyper in KDE plasma triggers the menu dropdown in the top left corner.  I can't get rid of this action via .hyper.js config altIsMeta:

[code]

This behavior makes meta key unusable in terminal emacs (emacs -nw).  Any way to modify this / remove this behavior?  Seems this is also the default behavior in windows (win10).

[2020-10-26 10:24] avinesh2101 commented on #4035
go in users->appdata -> roaming ->
and in roaming folder rename
.hyper
to
.hyper.js

thats it and it will work .

[2020-10-26 15:15] jtphelan commented on #4888
Same issue on Mac 10.15.7. Every time I open a 4th tab the app crashes.

[2020-10-26 16:35] danimas commented on #3426
Bump up

[2020-10-26 16:59] danimas commented on #4924
Same Problem here.
❯ echo $TERM_PROGRAM_VERSION
3.1.0-canary.4
❯

[2020-10-26 23:30] JuanLaparra opened #4993 "Crashed when I want to close it and won't show installed themes"
When I close it, the window becomes unresponsive. With themes, I'm able to install them, but none will show no matter how many times I reload the page. I thought uninstalling the program would work, but the issue still continues.

[2020-10-27 14:27] markpanado commented on #4265
I noticed this too

[2020-10-27 15:39] markpanado commented on #1460
This solves my problem! Italics are now rendering with vim-gruvbox. Thank you!

[2020-10-27 22:39] CallumCarmicheal commented on #1361
Is there any update on this issue ?
This issue is killing Hyper for any use. Cannot use the ALT key at all, it gets mapped to ctrl sequences in vim and well anything. Tried setting `altIsMeta` to true and false yet it does nothing.

[2020-10-28 10:25] #530 closed

[2020-10-28 20:41] eleksir commented on #1361
Looks like this bug relates to general electron-based apps beviour.
In many other e-based apps alt key stolen by e itself. This can be overriden but tooks some efford in reading docs, because it hidden somwhere in e deeps, but it is overridable.

[2020-10-29 14:20] lexfrei opened #4996 "Duplicate input to panes"
Is it possible to duplicate input to multiple panes?
Seen this at iterm2 and really missed this feature

[2020-10-30 08:44] Renha opened #4997 "Emoji breaks rendering"
I've typed an emoji, and next symbol is rendered on top of the right half of it. Looks like symbol width is ignored for some reason.
<img width="308" alt="image" src="https://user-images.githubusercontent.com/3139759/97678449-dbd41480-1aa4-11eb-9c75-b4ffc64b9eaf.png">
btw: what does % symbol on launch mean? I've just launched the freshly installed app and it's already there. I didn't type it in.

[2020-10-30 08:49] Renha commented on #4997
Wow, the issue is even deeper: after the shown state I've pressed backspace until it stops to type actual command, and here's what I've got:
<img width="258" alt="image" src="https://user-images.githubusercontent.com/3139759/97679153-f35fcd00-1aa5-11eb-9a14-a3e41810bbbd.png">

[2020-10-30 08:54] Renha commented on #4997
Oh, it looks like last year release according to copyright notice...
<img width="243" alt="image" src="https://user-images.githubusercontent.com/3139759/97679656-99133c00-1aa6-11eb-9add-e22f489daecd.png">

[2020-10-30 18:41] ciscohack commented on #4970
Hello Expert,

Can you please Take this feature request? it's one of the best and most anticipated feature for network eng and cli lover

[2020-10-31 09:13] NoviceEric commented on #3337
1

[2020-10-31 09:14] jjcall opened #4998 "Installing plugins through CLI are not being added to hyper.js"
- I am on the latest Hyper.app version
- OS version and name: macOS Mojave 10.14.3
- Hyper.app version: 3.0.2
- Link of a Gist with the contents of your .hyper.js: [Gist](https://gist.github.com/jjcall/61f33ed2a60595b44180424257428e09.js)

When installing plugins through the CLI, they seem to install. Previously they were automatically being added to the array in hyper.js, I now have to do this ma

[2020-10-31 22:13] kakato10 commented on #857
Hyper looks polished now, so maybe you can take a look at this request again?
Further black-screen (last known as upterm) is now deprecated and Hyper seems as our only chance for this feature.

[2020-11-01 11:48] yeukfei02 opened #4999 "hyper 3.0.2 error updaing plugins."
[code]

in my local, I have node installed already.
every time open, it shows me the prompt and add plugin it looks not working...

anyone can help?
thanks.

[2020-11-01 20:10] ceoshikhar commented on #2843
2.5 years+ and this bug still exists. Give me more thumbs down but this is just funny and cringe.

[2020-11-01 21:11] jmsv commented on #2843
Hyper is open source, what's stopping you from fixing this yourself? In the meantime I hope you get a refund for the free software

[2020-11-02 01:43] onestep749 opened #5000 "delete this"
delete this and apologize to the people of earth for creating it

[2020-11-02 01:59] iLeveller commented on #4427
Almost the same message but I am on linux mint tricia and unable to solve E: The package io.solarwallet.app needs to be reinstalled, but I can't find an archive for it.
Tried: sudo rm /var/lib/apt/lists/* -vf after which I tried to update and reinstall but no joy.

Would appreciate any help

[2020-11-02 02:14] yeukfei02 commented on #4999
in my local my home
`.hyper_plugins` i can see there is package.json, but it did not auto-install with `node_modules`
does it affect and cause to this error?

thanks.

[2020-11-02 07:51] ceoshikhar commented on #2843
So you are saying, if one person uses VS Code for developing HTML+CSS static website and finds a bug that has not been resolved for years then the person who reported it has to fix it just because it's open source ?

[2020-11-02 07:57] ChuckNorrison opened #5001 "exit code 127 on yarn run"
I want to build from source, after installing yarn i try to build this app.

or this one

[2020-11-02 07:58] ChuckNorrison opened #5002 "Ubuntu 20.04 seems not supported in .deb package"
Try to install hper for ubuntu. Downloaded current Release from official website.

Failed with "Failed to install file: not supported"

[2020-11-02 12:21] yeukfei02 commented on #4999
after I `yarn` or `npm install`, there is `node_modules ` folder there.
then i reopen hyper seems plugins are working, but still show `error updaing plugins` notification

[2020-11-02 18:42] qngapparat commented on #5000
This isn't 4chan buddy

[2020-11-03 02:20] dictShuang commented on #2888
Just add 'winpty' in start of my cmd.
before:
`docker exec -it kubia-container bash`
after:
` winpty docker exec -it kubia-container bash`

[2020-11-03 14:31] ktmq commented on #4892
I've had this exact notification issue ever since I started using Hyper. I installed the latest build as suggested by @LabhanshAgrawal and it seems to have solved the issue so far! I haven't had the notification pop up (except when editing `~/.hyper.js`) in about an hour.

[2020-11-03 17:37] asharifauzan opened #5020 "Error loading config: SyntaxError, see DevTools for more info"
i'm getting this error everytime im open hyper. When i see devTools > console it's said :

[code]

My installed plugins :
[code]

[2020-11-04 09:44] paseaf commented on #1370
I'm on Hyper 3.0.2. Closing a hyper tab doesn't stop process from running when there are multiple panes with multiple processes in the tab. Seems it only stops the process in the focused pane of the previous tab.
Steps to reproduce the issue:
1. open hyper
2. run program 1
3. open a new pane with `ctrl + shift + d`, in the new pane run program 2.
4. open a new tab with `ctrl + shift + t`
5. close

[2020-11-04 16:49] DarkPhoenix2005 opened #5021 "How to start hyper without sandboxing ?"
I am trying to use hyper but I can just get it to work on a prooted environment on android because sandbox doesn't work in proot l. So is there a way to start it without sandboxing ? If not, could you please implement it as it would be greatly helpful.

[2020-11-05 03:01] caue-santos commented on #2843
thought it was a recent bug... terminal suggestions for wsl on windows 10?

[2020-11-05 03:11] orcinus commented on #2843
Give MobaXterm a try, it's freemium, but the free functionality is very generous, and it "just works".
Alternatively, try the new Windows Terminal.

[2020-11-05 04:20] JimLynchCodes opened #5022 "plugins not working"
Hi there! I installed "hyperterm-mactabs" both by manually changing .hyper.js and with the cli: `hyper i hyperterm-mactabs`, but it doesn't change my shell at all...

is there some extra step I need to take to make it work? 🤔

  - [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched t

[2020-11-06 20:34] JimLynchCodes commented on #5022
bump 🙃

[2020-11-06 21:32] angelhdz commented on #87
Where? In the env: {} ? Or in the module exports {} as a javascript object property? Or in the css: ''  as a CSS string?

[2020-11-06 21:38] angelhdz opened #5023 "Window Opacity?"
I tried some solutions I read in the Issues. None worked.

In the developers tools, in the console, I get this error:
**bundle.js:1 WebGL Renderer has been disabled since it does not support transparent backgrounds yet. Falling back to canvas-based rendering.**

Is opacity possible on Windows 10 or not?

[2020-11-06 21:41] angelhdz commented on #5023
It's called "Hyper" but something expected, very basic as changing the window opacity, has been an odyssey.  I tried adding opacity: '0.5' as a property of the module exports literal object. Tried the css: "" property string. Tried the env: {} property. Tried the plugin hyper-opacity. Added it in the plugins array. Restarted Hyper. Nothing.

[2020-11-06 21:45] angelhdz commented on #5023
### Update

Now the plugin hyper-opacity is working. But I can't figure out where to change the opacity value... please help? Thank you.

[2020-11-06 22:29] sekti92 opened #5024 "Zoom-in shortcut didn't work"
Hello, I was trying to Zoom in using (Ctrl+=) but seems didn't work.
So, I have to go to `Menu > Edit > Zoom-in` to zoom in.
Anyone have the same issue? How to fix this?

[2020-11-07 01:25] tpanning commented on #2918
Is there a current way to reproduce this? It's not reproducible in hyper or the standard Terminal.app on Mac, even in bash. It seems more likely that curl has changed to reset the colors on interrupt than both hyper and Terminal.app fixed something.

[2020-11-07 09:59] HyDra-55 opened #5026 "Issue"
Those not working fine...
It opens up a terminal that looking diferent but in reality its cmd!
It says at the prompt:  C:\Users\User>
And the hyper.js file is blank
No words or any text!

[2020-11-07 11:04] victorkane opened #5027 "On Ubuntu 20.04 dead keys don't show accents, accents don't show up on letters"
I use the US International keyboard for `á, é, ñ` etc. (am doing it now) by effectuating the following command:

    setxkbmap -layout us -variant intl

This works everywhere in Ubuntu 20.04, absolutely in every application.
But not when I use the hyper terminal (neither on the command line nor in text editors).
Hope this can be fixed! Thanks for a great terminal!

[2020-11-07 18:00] kurokochin commented on #4923
I also got the same thing today when I install hyper + dark theme + oh my zsh, anyone can advice?
![Capture3](https://user-images.githubusercontent.com/15144782/98448314-22d99e00-2166-11eb-9260-2b4e0dcdd462.PNG)

[2020-11-08 19:50] asharifauzan commented on #5020
UPDATE:

solved by remove or rename file `.hyper.js` in `/home/user`.

[2020-11-08 19:50] #5020 closed

[2020-11-09 00:25] marcosdipaolo commented on #1604
and to make it toggle the terminal? like that we can only open it, if you press again it opens another one

[2020-11-09 01:29] #1589 closed

[2020-11-11 09:53] soykot2910 opened #5050 "How to run .exe file"
I try to run .exe file by using hyper terminal. but I got the error bash: .exe command not found.
any solution?

[2020-11-11 16:16] doojin commented on #4466
Having the same issue.
Noticed it a lot of time ago already.
Any fix for this?

[2020-11-12 03:59] darkguy2008 commented on #280
Same here, any way to have it unlimited?

[2020-11-12 10:44] LuoHong1993 opened #5051 "uos don't install"
uos don't run in source code

[2020-11-12 10:49] LuoHong1993 commented on #5051
4.19.0-arm64-desktop
cpu ft-2000

[2020-11-12 17:37] JimLynchCodes commented on #5022
re-bump 🙃

[2020-11-13 13:01] Lekesoldat opened #5052 "Great lag on macOS Big Sur 11.0.1"
Apple released its new macOS yesterday, Big Sur. Everything runs smoothly; however, Hyper seems to cause major lag on my system. I've performed a clean install of both the OS and Hyper.

The lag is most apparent while swapping between windows and showing all active windows.

Any ideas?

[2020-11-13 16:26] IoHL commented on #3722
As far i as know, the issue might be similar to this. https://hyper.is/store/security-notice

TL;DR: Find your plugin version in the Hyper Store and update the plugins key in your `~/.hyper.js` file to include the current version of plugin as well. Example:

[code]

[2020-11-14 01:18] Stanzilla commented on #5052
Try without the plugins

[2020-11-14 10:55] Lekesoldat commented on #5052
Did some more debugging now. Seems like Verminal causes the issue. Will write an issue there.

[2020-11-14 11:20] meduzen commented on #4967
Does it still happen on the official Big Sur release?

[2020-11-14 14:03] zackkitzmiller commented on #4967
Yup

[2020-11-14 16:31] meduzen commented on #4967
Have you tried without plugins? 🤔

[2020-11-15 18:40] dougpagani commented on #1761
+1 again @ppot what is the name of the plugin? Am very curious to try this but now I see in-terminal web browser does not work by default anymore.

[2020-11-15 22:30] jackmoody11 commented on #1988
Just for anybody else who is wondering, for Fira Code, it is `"FiraCode Nerd Font"`.

[2020-11-16 09:06] gaojr commented on #5023
![image](https://user-images.githubusercontent.com/18600387/99233224-eb39b880-282d-11eb-83b8-8a79cf11fec6.png)

[2020-11-16 16:53] angelhdz commented on #5023
Wow. I appreciate your time and help a lot. Stay safe!

[2020-11-16 16:53] #5023 closed

[2020-11-16 17:21] angelhdz opened #5061 "[BUG] 'cls' command doesn't clear the window"
![image](https://user-images.githubusercontent.com/10191085/99285993-a5212c80-280e-11eb-9cda-90c82cd74835.png)

[2020-11-16 17:29] angelhdz commented on #5061
### Update

I noticed the issue happens when the scrollbar is active, when it has content to scroll to.

[2020-11-16 20:38] florpistan commented on #4035
This worked, thank you so much :D

[2020-11-17 04:48] tats-u opened #5062 "Feature: provide link protection like Visual Studio Code"
https://code.visualstudio.com/updates/v1_38#_link-protection-for-outgoing-links

I clicked unwanted and maybe-harmful links after processing its URLs by `sed` and `grep`.
VSCode, the most famous text editor developed by Microsoft, prevents opening untrusted URLs without asking.
This feature prevents us from opening harmful websites by clicking strings representing URLs and domains while and after

[2020-11-17 11:02] #5050 closed

[2020-11-17 17:04] lucasjurgensen commented on #3737
I got the same issue too, really wish this would get fixed because it makes Hyper unusable on my display

[2020-11-17 17:59] martonlederer commented on #4750
Same. Arch Linux manjaro

[2020-11-18 06:10] datadu-de commented on #4750
ditto on artix

[2020-11-18 12:52] Sushant9473 opened #5063 "there is a not erasing command which is bash: lias: command not found"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-11-19 02:05] Lyrillind commented on #5052
I didn't use verminal, and still have great lag.

[2020-11-19 12:22] Maadtin commented on #4118
Anyone has fixed this problem? Happens to me aswell, Using git bash for the shell.

[2020-11-20 01:35] Nikola-Nino opened #5072 "java script"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-11-20 12:39] #5072 closed

[2020-11-20 12:39] #5000 closed

[2020-11-20 12:40] #5026 closed

[2020-11-20 13:01] onestep749 commented on #5000
Please delete this trash and cease programming right away.

On 11/20/20, Benjamin Staneck <notifications@github.com> wrote:

[2020-11-20 14:43] be-krishna commented on #4750
Same. Pop OS 20.10.

[2020-11-21 08:04] abhipsa1729 commented on #4035
Install git bash first and then run hyper .It works!

[2020-11-22 06:25] rweir4 opened #5074 "Shift+Ctrl+K does not permanently move the cursor"
When you shift+ctrl+k on windows, the terminal does pop to the top, and you can type normally until you backspace. When you backspace, the cursor reappears at the place it was before clearing the terminal, and you can't fix it.

[2020-11-22 09:00] yeukfei02 commented on #4999
close for now...

[2020-11-22 09:00] #4999 closed

[2020-11-23 06:35] LabhanshAgrawal commented on #5051
can you provide some more details

[2020-11-23 06:37] LabhanshAgrawal commented on #5063
try latest ci build https://github.com/vercel/hyper/actions/runs/374295202

[2020-11-23 06:37] #5063 closed

[2020-11-23 07:35] marijnbent commented on #3796
Still the case for me

[2020-11-23 09:10] gponty commented on #4750
Same here, manjaro.

[2020-11-23 09:28] ahmedthebest31 opened #5078 "Bad accessibility"
I am a blying programmer I use nvda screen reader
I tried with Hyper, but doesn't give me any respond
Actually my screen reader doesn't read anything like a blank page can you make it accessible please.
A lot of applications filled by electron JS very accessible like Visual Studio code why this doesn't?

  - [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://git

[2020-11-23 13:07] KubaMiszcz opened #5092 "feature: add TopMost/AlwaysOnTop-like feature"
to keep window or single tab above all windows

[2020-11-23 13:10] #4892 closed

[2020-11-23 14:34] LabhanshAgrawal commented on #3796
@marijnbent can you try the latest ci build https://github.com/vercel/hyper/actions/runs/378801823
and see if it's still happening

[2020-11-23 14:38] LabhanshAgrawal commented on #5001
you need to first run `yarn` to install the dependencies

[2020-11-23 14:38] #5001 closed

[2020-11-23 19:16] svantetic commented on #4971
Make sure you have a correct path in `shell` key of configuration. Use explorer to find where your bash executable is located.
In my case changing this to:
[code]
Also adding
[code]
helped

[2020-11-23 19:41] marijnbent commented on #3796
Downloaded and tried it, but I get the same error as @kms-rscholz

[2020-11-23 21:02] ChuckNorrison commented on #5001
Thanks i was not familar with yarn, works for me :+1:

[2020-11-23 23:22] meduzen commented on #3796
Same error for me, too.

[2020-11-24 04:40] #4971 closed

[2020-11-24 05:45] LabhanshAgrawal commented on #4967
can you try build from https://github.com/LabhanshAgrawal/hyper/actions/runs/380409101
I haven't updated to big sur yet so can't test on my end, this is just a build on big sur, see if it behaves any different

[2020-11-24 07:17] ryu1kup commented on #4826
@shans10 How did you install the canary release in Windows10? I could not find the released binary for Windows.

[2020-11-24 07:29] Pratik-Hub commented on #3586
add ```unsetopt PROMPT_SP``` to your last line of ```.zshrc``` will simply solve it

[2020-11-24 07:39] shans10 commented on #4826
@ryu1kup Yes there is no canary release for Windows 10 in the official release pages so the first time when I had to install it I googled for it and I found a comment on github where I think one of the collaborators said that for Windows version we will have to get the ci build. [Here's](https://github.com/vercel/hyper/issues/4511#issuecomment-619431190) the link to that comment and if you want to

[2020-11-24 07:40] ChuckNorrison opened #5093 "GL_INVALID_FRAMEBUFFER_OPERATION: Framebuffer is incomplete"
Iam testing this awesome terminal on my Ubuntu 20.04. After getting a bit more familiar with the yarn, iam able to run hyper.

As i played around with themes and plugins i observed opacity is not supported and themes looks all not as proposed. So here is some output after starting my hyper in development mode.

ANy ideas to get this hyper full functional? :)

[2020-11-24 08:20] ryu1kup commented on #4826
@shans10 thanks a lot! It works for me too ;)

[2020-11-24 08:31] ryu1kup commented on #4824
This has been solved for the moment in https://github.com/vercel/hyper/issues/4826

[2020-11-24 08:31] #4824 closed

[2020-11-24 08:46] romkatv commented on #3586
This is a bad idea. Consider:

[code]

Note that the output of `cat message.txt` is missing the second line.

**It's a really bad idea to unset `PROMPT_SP` in zsh.**

[2020-11-24 08:58] #4826 closed

[2020-11-24 13:31] LabhanshAgrawal commented on #5078
Can you try out the build from https://github.com/LabhanshAgrawal/hyper/actions/runs/381127746
and see if it's working for you
if it does then I can send a pr with the changes

[2020-11-24 21:17] abonforti commented on #2947
Experiencing the same problem

[2020-11-25 03:23] LabhanshAgrawal commented on #2947
you can set `altIsMeta` in config

[2020-11-25 09:35] abonforti commented on #2947
With that enabled, I can't anymore do OPT+5 -> ~.
Is there any way to set altIsMeta per Hyper tab, or set which one of the two options assign to altIsMeta?

[2020-11-25 10:14] LabhanshAgrawal commented on #2947
I think you can use the esc key also

[2020-11-25 12:50] MayankRajAnand commented on #4035
Broooo doing the same udemy course.Please help.How to proceed

[2020-11-25 13:46] simon-bq commented on #3737
same issue here, happens to me only on my 4k monitor when going into fullscreen, or when i manually resize the window beyond a certain width.
Very similar behaviour to what @bearguns described.

One observation i can add:
The width value where the cursor starts to be miss-aligned is affected by the window height also.

[2020-11-25 15:27] abhipsa1729 commented on #4035
Install Gitbash and then change the configuration of Hyper.

[2020-11-25 19:22] Lateralus138 commented on #87
Sorry, for the necro, but this is, of course, still an issue and there is an external solution for those who use *Gnome* desktop . You can use the *Gnome* extension '**transparent-window**'. I'm successfully using it on: `Ubuntu 20.04.1 LTS`

![ScreenShot](https://imgur.com/t5CsOq9.png)

Extension:
[https://extensions.gnome.org/extension/1454/transparent-window/](https://extensions.gnome.org/exten

[2020-11-25 19:30] beamercola commented on #5022
I think I'm having the same problem.  Set up a new M1 Mac and plugins are ded

[2020-11-26 03:18] fransiscusrolandamalau commented on #4969
same problem bro

[2020-11-26 05:34] Kelhen commented on #5052
I also have lag when hyper is open.
After removing my theme the lag is gone

[2020-11-26 10:48] HassaanNaushahi commented on #3684
Did anyone find a solution?
Please let me know

[2020-11-26 11:09] JPustkuchen commented on #2551
I tried to pass custom home directory to hyper from windows, but I didn't find any information how to do it.
Using hyper-init is no option here because I only want to pass the parameter from a certain windows symlink (Taskbar) to open ~ instead of Windows Desktop. The hyper shortcut from the context menu item should not be overwritten and provide the context, which hyper-init would do.

Is there a

[2020-11-26 12:31] HassaanNaushahi opened #5097 "Text is all blurry in Hyper. Help Please!"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-11-26 19:38] ChuckNorrison opened #5098 "yarn failed with fsevent - platform "linux" is incompatible"
On one of my ubuntu machines (20.10 here), i tried to Release 3.0.2. On another machine (ubuntu 20.04) i can build and run hyper.

[code]

[2020-11-27 03:34] MorganFinTW commented on #3626
same here on Windows 10

[2020-11-27 13:36] antoineneidecker commented on #2582
As @chabou mentioned, the solution is to add `selectionColor: 'rgba(R_Intensity, G_Intensity, B_Intensity, Opacity)'` to the config section in your hyper.js file (often found at ~/.hyper.js)

[2020-11-29 18:26] bramus commented on #3762
I've filed [an issue over at Electron](https://github.com/electron/electron/issues/26721), and the reply there was as follows:

Oh, Apple … 😭

[2020-11-30 09:46] MatoXsvk opened #5099 "Bad text display"
![Snímka obrazovky 2020-11-30 102155](https://user-images.githubusercontent.com/75246510/100591404-001a4f80-32f6-11eb-8bd6-a01d108ccb9a.png)

## Issue
When I opened the hyper, text was blurred and couldn't be read.
I tried reinstalling it, but it didn't work, then I tried to change the font, and it didn't work either.

 - **Hyper version**: undefined "3.0.2"

 - **OS ARCH VERSION:** win32 x64 10.0

[2020-11-30 11:33] marcmarina commented on #3107
Hello, I still have this issue. I'm on a Spanish layout, and the only Alt Gr combination that doesn't work is Alt Gr + 4 (~).

[2020-11-30 14:12] necromancerthedark commented on #3607
I am getting same problem now! can anybody suggest something to fix it? arrow symbol works only sometimes!

[2020-11-30 16:21] bduffany opened #5109 "Window title escape sequence doesn't work"
Paste the following into Hyper (with Bash shell):

[code]

**Expected behavior**: The window title should change to "Foo." (Try it out on `gnome-terminal` or another mature Terminal and it should work).

**Actual behavior**: The window title is still "Hyper."

[2020-11-30 21:59] rndbblnn commented on #1507
+1 for this

[2020-11-30 23:26] starchild opened #5110 "Hyper limiting row numbers"
If I do a grep or similar that returns many many rows, I'm prevented from scrolling up to the very first one - is this a setting I can turn off or something?

[2020-12-01 02:43] knettwerk opened #5111 "Kicked out - JS error"
Using Hyper v3.0.2 as my main windows terminal for myself and I class I teach. Do not want to use main Windows terminal but every time I need to add new tab or split window horizontally, I get a JS error message. My students are getting same error.

Any way to fix this or no?

Thanks
![2020-11-30_13-46-04](https://user-images.githubusercontent.com/4305746/100690654-9c6f4100-334c-11eb-880c-e6a54362

[2020-12-01 09:52] Obike-dev opened #5112 "After opening atom text editor through hyperterminal, hyperterminal does not respond again and just hangs there. Any solutions??"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-12-01 15:44] JimLynchCodes commented on #5022
![this-womps](https://user-images.githubusercontent.com/5354163/100762579-22799f00-33c2-11eb-81e9-5bd712572047.gif)

[2020-12-01 16:28] bduffany commented on #5109
Probably related to #516 which was closed for some reason.

[2020-12-01 16:53] malik446644 commented on #3025
me too .. i have the same probleme .. please fix it fast

[2020-12-02 06:07] #3644 closed

[2020-12-02 12:19] Kevin-De-Koninck commented on #3107
I too have the same issue on windows (french azerty keyboard). If I press `altgr+~` I get `=~`.

[2020-12-04 04:26] Delfador42 commented on #155
Here are 2 workarounds
Workaround 1:
- Install hyper-background: `$ hyper i hyper-background`
      - Docs for hyper-background: https://www.npmjs.com/package/hyper-background
- Take a screenshot of your desired background color and set your background image as that screenshot in your .hyper.js config file
Example of .hyper.js:
Note: The background image setting is inside the config object as expl

[2020-12-04 04:29] Delfador42 commented on #1583
Here are 2 workarounds: https://github.com/vercel/hyper/issues/155#issuecomment-738556676

[2020-12-04 12:30] alzedd opened #5113 "can't find a config option to disable inactive panes dimming"
Pretty much as the title says: is there a way to disable dimming/fading of inactive panes?

[2020-12-05 07:14] berensn opened #5114 "Manipulate Terminal Output?"
I want to add a glow effect to the prompt, how would that be done? I looked at Hyper in the dev tools, and the terminal area is a div with no content in between the tags. I'm guessing that the typescript files inject content into the terminal area, but where is that content coming from? I've seen colorls and rainbow so there is the ability to manipulate terminal output; is Hyper just an eye candy

[2020-12-06 13:33] brandtrock commented on #1824
This is not a Hyper issue, but a Verminal issue. Verminal requires its own object to be set within Hyper's config object. According to Verminal's documentation, at the time of this posting, you need to do this:

[code]
This fixes the issue we have all been experiencing.

[2020-12-06 14:36] joaopaulo23 commented on #3684
Set webGLRenderer equals false.

[2020-12-07 09:13] segersniels opened #5115 "[Question] M1 Mac & Rosetta"
Has there been any progress made on creating an ARM compatible build for the new M1 Macs so everything isn't executed through Rosetta?

Sorry if this has been discussed elsewhere before.

[2020-12-09 12:28] xenoterracide opened #5133 "improve clickable uri's to recognize file://"
so... spotbugs for gradle is lovely... it gives me a `file://` link to the report. I'd like this to open in my browser, which I believe is the default configured behavior... at least that's what terminus with the link plugin does. I believe I've seen something else do it too, but I can't remember what/when. Honestly this is reason 1 that I'm seeking a new terminal, reason 2 is that I'm going to be

[2020-12-10 06:59] chazt3n commented on #117
it doesn't work now

[2020-12-10 13:19] SmashScharrer opened #5137 "[QUESTION] Move with path"
Hy ^^

I would like to move in my second storage platform (D:\).

With common cmd, i just put this path "D:\xxx".
With Hyper, it's seem not functionnal.

I put a screen here.

Thanks for your response.

![image](https://user-images.githubusercontent.com/35690812/101777411-bc43f900-3af2-11eb-9888-49ab568a87a9.png)

[2020-12-11 21:54] raeokay commented on #4066
Same issue on Windows 10 18363.1256

[2020-12-12 06:01] surendranaidu opened #5139 "getting below error"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-12-12 15:36] Kayoshi-dev commented on #5137
Hello, you just have to type the letter corresponding to the hard drive you want to go to and then add a colon.

In your case :
[code]

Hope it helps

[2020-12-12 17:01] tiagoleonmelo opened #5140 "[QUESTION] .bash_profile overwritten, preferences not being loaded"
I accidentally overwrote `.bash_profile` and now preferences are not being loaded, what should I append for it to go back to normal?

[2020-12-13 12:38] LossJ opened #5141 "Hyper will force the use of discrete graphics"
Every time I use Hyper on my macbook pro, **the discrete graphics card of the computer is always turned on**. The system shows that the hyper helper process uses GPU. I don't want to turn on the discrete graphics card when using the terminal. I hope this bug can be resolved as soon as possible.

[2020-12-13 13:16] #5141 closed

[2020-12-13 15:25] RatnaMadhav opened #5142 "Please tell why after writing any command it is showing that this "this file doesn't exist". But that file already exists."
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-12-13 20:16] vexCoder opened #5143 "Large empty space at top"
Just installed hyper.

im getting this big space before the current line. and i couldnt find any configuration regarding this. Is this intended to be there?

![image](https://user-images.githubusercontent.com/47610646/102022583-cf8ce800-3dc2-11eb-9c21-8498b64fd68e.png)

[2020-12-13 21:59] weiwang11 opened #5144 "Uninstalling does not remove ZEIT, Inc folder"
The uninstaller leaves an empty ZEIT, Inc folder in the user's start menu

[2020-12-13 22:01] SmashScharrer commented on #5137
Okay thanks

[2020-12-13 22:01] #5137 closed

[2020-12-14 12:35] vexCoder commented on #5143
Turns out its just hyper-init thats causing it

[2020-12-14 12:35] #5143 closed

[2020-12-14 16:52] jukrb0x opened #5166 "[enhance][bug] Tabs positions compatibility(anomaly) and QUIT ALERT"
# Latest update
After fully re-install hyper, I found the tabs issue is not from hyper itself instead maybe some plugins caused them, still working on it. But still, quit alert can be a feature to be added.

The problem seems to be caused by multiple themes, **the theme management looks super bad for hyper.** every time I type `hyper i <theme-name>` and it maybe just cover the theme exist and ever

[2020-12-16 05:49] rafaelje commented on #4611
if you need to install something urgent change the .hyper.js file with:
[code]
restart the terminal

now you should have the default cmd.exe and you can run

[code]

[2020-12-16 13:42] Irtiaz commented on #4264
Hi, I am facing the same problem, did you find a solution?

[2020-12-16 19:21] Stanzilla commented on #5115
https://github.com/vercel/hyper/runs/1561963547 has an arm64 artifact, can you try it?

[2020-12-17 02:32] dshvydka commented on #3275
same

[2020-12-17 05:53] harshpatel0 opened #5172 "When running Hyper through the Run Box on Windows, Hyper shows a black screen"
When running Hyper through the Run Box, Hyper runs but doesn't show the Command Prompt on Windows

![image](https://user-images.githubusercontent.com/58038014/102449426-46391800-4045-11eb-96e5-42bfbf847dcf.png)

[2020-12-17 06:07] stolenzc opened #5173 "Chinese input select box"
OS version and name: 10.15.7 macOS Catalina
Hyper.app version: 3.0.2

when I input chinese，nomal select box like this：
![image](https://user-images.githubusercontent.com/42373706/102449901-32ef7200-4070-11eb-8396-a5496e751ec4.png)

but when I input faster，will appear：
![image](https://user-images.githubusercontent.com/42373706/102450019-86fa5680-4070-11eb-9344-1fe513c06026.png)

and if input in la

[2020-12-17 11:38] segersniels commented on #5115
I'm getting:

[2020-12-18 09:38] tiagoleonmelo commented on #5140
Alright, I found what I neededto change [here](https://github.com/lysyi3m/macos-terminal-themes/issues/1#issuecomment-148635036)

[2020-12-18 09:38] #5140 closed

[2020-12-18 22:29] andrewnorell commented on #5115
@Stanzilla I got the same issue as @segersniels when attempting to run the arm64 artifact

[2020-12-18 22:30] Stanzilla commented on #5115
Yeah I think I know what it is, will be fixed soonish

[2020-12-19 14:11] saleh-mir commented on #413
Any updates on this handling files? It'd be great if you can 🙏

[2020-12-20 08:12] apex-blaze commented on #5172
Yeah , same problem here. Even updated to latest version , still doesn't works. Mine not even showing pink cursor!!!

[2020-12-20 11:16] EinarJohansson commented on #2387
I'm still getting ghosting text problems when using a transparent background color. Is there any solution?
OS: Mac OS High sierra 10.13.6
Hyper version: 3.0.2
backgroundColor: 'rgba(161,163,162,0.6)'
![Skärmavbild 2020-12-20 kl  12 14 09](https://user-images.githubusercontent.com/19911867/102711849-eea4e180-42bc-11eb-8018-e854ebdc3484.png)

[2020-12-21 05:54] hwooo opened #5174 "Application freezes when try 'pane close' in WSL session"
1. Open a new tab
2. Type 'bash' to enter WSL session
3. Close the tab (Ctrl+Shift+W)

Then the application freezes and it should be shut down by force.

[2020-12-22 11:29] rorm commented on #3736
Also having this problem.

[2020-12-22 12:38] kirillkh commented on #3230
I'd love to use Hyper, but can't without a connection manager. I work with dozens of servers, sometimes under different users, so I need all that information organized efficiently for viewing, editing and connecting. The screenshot from mRemoteNG demonstrates pretty much what I need. Tree of connections, each connection customizable with name, host ip, username and password/private key.

[2020-12-22 15:31] Resisty opened #5181 "Ctrl+U doesn't work as expected in Hyper+bash.exe"
OS: Windows 10 Pro 19041.685
Hyper: 3.0.2 release

When using bash.exe in Hyper, entering text and then using `ctrl+u` to cut back from the cursor doesn't work as expected; it leaves several characters from the front dangling which can't be interacted with.
Compared to Powershell.exe, cmd.exe, and Windows Terminal, all running bash.exe with ctrl+u support, this is pretty shocking.

![hyper_ctrl_u_

[2020-12-23 02:14] KnowsCount opened #5182 "cannot open file when dragged onto dock icon"
as stated in the title.

When one drags a folder onto the default macOS terminal, a terminal would be opened, working in the dragged directory, however, this does not work on hyper and is kinda annoying.

Does not change the fact that this is a great app tho! Thanks!

[2020-12-23 14:22] shinriyo commented on #5115
I am looking for M1 native support

[2020-12-24 05:04] martin-sweeny commented on #4149
@jbaccarelli dude you solve this?

[2020-12-24 15:01] Resisty commented on #3478
I have this issue as well on
* Windows 10 build 19041.685
* Hyper 3.0.2
* No plugins
* Fonts are installed in Windows and in WSL via `fc-cache`, `fc-list | grep -i ${font}` shows them installed.

[2020-12-24 17:25] Harsh1052 commented on #4801
I also face same issue.

[2020-12-24 17:34] maclermo commented on #5172
Same issue here. My fix was to populate the "shell" field in the settings (.hyper.js). After restarting the program, I was prompted with bash in my case. You can set it up with bash.exe, cmd.exe or powershell.exe. See the example in the settings file.

[2020-12-24 17:36] maclermo commented on #5174
Same issue here. Can reproduce on Windows 10 build 19042.685, WSL2 and Hyper 3.0.2 with hyper-material-theme plugin installed.

[2020-12-24 17:53] sfskysf commented on #294
I'm having the same problem tried all fixes over the past 90 minutes. time to remove this garbage!

[2020-12-25 03:47] avanishsubbiah commented on #3736
I'm also having this problem now on Windows 10 20H2.

[2020-12-25 11:52] apex-blaze commented on #5172
![image](https://user-images.githubusercontent.com/59483233/103134096-9a429d00-46d4-11eb-8f3a-c8de35b69a47.png)
I did as you said , but replacing git-cmd with git-bash  in 'shell' field and then reloading application opens blank hyper screen and an ordinary bash shell , which I don't want . I want to run specifically Hyper's Terminal which shows black screen sometimes and sometimes it runs good (K

[2020-12-26 22:55] phillipkregg commented on #5111
Same error here as well

[2020-12-27 07:13] SkybuckFlying commented on #1938
I can confirmed, pressing tab without any text seems to make git bash hang or load excessively.

[2020-12-27 16:30] fisherok3452 commented on #4825
Same problem, but inside SquirrelSetup.log file I have this
2020-12-27 17:18:43> Program: Starting Squirrel Updater: --install .
2020-12-27 17:18:43> Program: Starting install, writing to C:\Users\RybakPC\AppData\Local\SquirrelTemp
2020-12-27 17:18:43> Program: About to install to: C:\Users\RybakPC\AppData\Local\hyper
2020-12-27 17:18:43> CheckForUpdateImpl: Couldn't write out staging user ID, thi

[2020-12-27 16:31] chovy opened #5184 "markdown links are broken"
`[Foo](https://google.com)` this includes the trailing `)` which is part of markdown link syntax when I click the url.

[2020-12-28 18:55] domenico65 opened #5195 "devTool"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-12-28 20:25] ProtonGravity opened #5196 "Color dont' work"
I have just installed hyper and a few plugins.
I also tried to change theme and almost work but colors of fonts doesn't seems to be working --> are always the same color.

OS - WINDOWS 10.

[2020-12-29 06:01] wudi commented on #3338
work for me  `tmux 3.1c`  👍

[2020-12-29 10:07] mindesik commented on #5115
Any news?

[2020-12-29 10:10] Stanzilla commented on #5115
Still have to fix the CI to properly upload the artifact

[2020-12-29 15:31] chovy opened #5197 "can't get out of fullscreen in xfce"
Just switched to xfce today. Hyper somehow got into fullscreen. If I go out of fullscreen the window size doesn't change and none of the corners are grabbable.

[2020-12-30 00:44] nils-kt commented on #5182
I have the same "problem". Would be great if the function could be added.

[2020-12-30 02:55] sebszocinski opened #5198 "Weird % char on launch"
Not a huge issue but just annoying, but i've just setup my new MacBook running Big Sur and Hyper with OhMyZSH and notice this every time I launch a new terminal:

![image](https://user-images.githubusercontent.com/5466694/103326918-64b9fd00-4aa2-11eb-9799-cd1dd1ce0bb3.png)

Any ideas on how to fix / remove this?

[2020-12-30 19:47] sheeepdev opened #5199 "Config resets after modifing it"
When I was modifying the config file and changing the font and a few other things in hyper, It reset to the default settings when I restarted it, I tried to undo all changes I did but it's still on the default settings.

[2020-12-31 21:47] mroberts1 opened #5200 "Hyper is broken"
I'm on MacOS Big Sur. Hyper is broken and unusuable after multiple reinstalls - minuscule font, grey frame around window regardless of theme installed; pressing keys causes window to suddenly zoom in for as long as key is held, then out again.

It appears there's a config file that is persisting between installs but I don't know what or where it is. Apparently <brew uninstall --cask hyper> doesn't

[2021-01-01 16:41] sheeepdev commented on #5199
(#5200) Solved it by deleting the file in C:\Users\Username\AppData\Roaming\Hyper\.hyper.js

[2021-01-01 16:41] #5199 closed

[2021-01-01 19:15] bxb23 opened #5201 "Hyper Logo Problem"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2021-01-01 19:16] bxb23 commented on #5201
I can not see hyper logo on dock.
<img width="232" alt="Screen Shot 2021-01-01 at 22 14 26" src="https://user-images.githubusercontent.com/45719457/103444931-0007c980-4c7f-11eb-9966-674e6cedaeb5.png">

[2021-01-01 20:41] nickcabral commented on #5198
I don't know if this is an ideal fix, but it works for me. A while back I added this to my `.zshrc`:
[code]

[2021-01-02 05:28] nerdalot commented on #5200
Have you tried anything else so far?

[2021-01-02 06:19] mroberts1 commented on #5200
I deleted the hyper folder in ~/Library/Application Support, then uninstalled and reinstalled Hyper with Homebrew. Still have exact same problem as before: grey frame around terminal window, tiny font, window zooms when any keyboard key is  depressed. I'm not sure what else there is to delete.

[2021-01-02 13:45] Spy474 commented on #1370
I have the same problem as @paseaf on WIndows. I did the exact same steps as him, and I can close the process. Trying to run a server side on port 5000, and it still open somewhere else (a previous Hyper Window that I closed)

[2021-01-02 14:07] Stanzilla commented on #1370
kinda depends on which version you are using. the last release is super old so you'd have to be on a CI version to get something remotely working. also plugins always break things.

[2021-01-02 22:27] Stanzilla commented on #5200
I recommend checking out https://github.com/Eugeny/terminus

[2021-01-03 18:09] Stanzilla commented on #5115
Try https://github.com/vercel/hyper/suites/1759175736/artifacts/33489701

[2021-01-03 18:51] #5111 closed

[2021-01-04 01:28] xcity commented on #5115
I tried this new build, it shows file is damaged, cannot open.

[2021-01-04 02:05] Qetesh commented on #5115
I tried "sudo xattr -rd com.apple.quarantine /Applications/Hyper.app",and it shows
[code]

[2021-01-04 02:05] mindesik commented on #5115
Still broken

[2021-01-04 12:52] chovy opened #5208 "long links don't work"
Long links in irssi don't copy the whole url when clicked, it only copies the first line.

[2021-01-04 15:52] segersniels commented on #5115
@Stanzilla Anything we can do to assist?

[2021-01-04 15:54] Stanzilla commented on #5115
@segersniels I mean you can try building it locally and see if that works, I don't have a M1 mac to do that.

[2021-01-04 16:12] mindesik commented on #5115
Building canary is working on M1, I'm using it right now

[2021-01-04 16:21] segersniels commented on #5115
Hmm I'm receiving the same error as reported above building from `canary`. Are you sure you are running the arm64 version?

[2021-01-04 16:22] mindesik commented on #5115
Yes. I'm also have node and yarn for arm64.

[2021-01-04 16:27] mindesik commented on #5115
![CleanShot 2021-01-05 at 03 27 20@2x](https://user-images.githubusercontent.com/4484092/103556462-ed52f600-4f05-11eb-9274-2cc3ec42a7d7.png)

[2021-01-04 16:29] segersniels commented on #5115
Aha, so apparently building using node 14 (which doesn't run natively on m1) causes the above error @Stanzilla. Building using 15 does seem to work now and hyper is running natively.

[2021-01-04 16:30] segersniels commented on #5115
@mindesik Thanks for clarifying that you were using node 15 👍

[2021-01-04 17:08] Stanzilla commented on #5115
Updated the CI to node 15, seems like there is still more to do though: https://github.com/vercel/hyper/runs/1645081308

[2021-01-04 17:13] mindesik commented on #5115
`Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk`

I think it must use `MacOSX11.1.sdk`

[2021-01-04 17:18] segersniels commented on #5115
Exactly. It seems that the `runs-on: macos-latest` is starting the CI under version 10.15.7:

[code]

Can you see if manually defining `macos-11.0` enforces anything?

[2021-01-04 17:18] Stanzilla commented on #5115
I just did that, yeah

[2021-01-04 18:44] Stanzilla commented on #5115
How about this then https://github.com/vercel/hyper/suites/1764441117/artifacts/33639826

[2021-01-05 00:50] Qetesh commented on #5115
Can run normally👍, very fast

[2021-01-05 07:28] weeebdev opened #5209 "A Javascript error occurred in the main process"
![image](https://user-images.githubusercontent.com/48881444/103618043-7e9f8800-4f59-11eb-9a10-26321f05a04b.png)
I'm launching Hyper on my Windows using wsl. The error occurs when I am trying to open a new tab

[code]

[2021-01-05 09:00] segersniels commented on #5115
I get even though I was able to build and run it locally:

[2021-01-06 11:09] docgonzo2015 opened #5210 "js failure?"
I've installed like in the instruction written and  now i'm got:
$ hyper i hyper-rose-pine

`AppData\Local\hyper\app-3.0.2\resources\bin\cli.js:26017
                throw this.unexpectedTokenError(token, message);
                ^
Error: Line 1: Unexpected identifier
    at ErrorHandler.constructError (C..\AppData\Local\hyper\app-3.0.2\resources\bin\cli.js:29026:22)
    at ErrorHandler.createErr

[2021-01-06 16:20] piyumanthaAB commented on #4761
For windows type "cls" and enter.

[2021-01-07 11:19] davidarogunre opened #5211 "My hyper image is not showing what do i do"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2021-01-07 12:01] LabhanshAgrawal commented on #5078
@ahmedSamy31 ping

[2021-01-07 12:02] LabhanshAgrawal commented on #5078
Direct link https://github.com/LabhanshAgrawal/hyper/suites/1553426646/artifacts/27791561

[2021-01-08 07:01] tejasamandaliya commented on #3796
Same issue here!

Anyone have solution ?

[2021-01-08 10:15] andreasvirkus commented on #4721
@LabhanshAgrawal thanks! Setting `workingDirectory` worked for me on canary `3.1.0-canary.4` (it wasn't there for 3.0.2 as you mentioned). It also accepts a relative path on MacOS

[code]

[2021-01-08 10:21] lai-bin opened #5215 "split"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2021-01-08 10:21] #5215 closed

[2021-01-08 15:40] d-weber commented on #3107
Bump, same issue here, `<altgr> + <2>` then `<space>` produce `é~`
AZERTY French Keyboard

[2021-01-08 21:51] andreasvirkus commented on #4332
@LabhanshAgrawal This is still broken on the latest canary (`3.1.0-canary.4`) on macOS 11.1, `Ctrl+[` is the workaround for now i suppose.

[2021-01-09 10:20] LabhanshAgrawal commented on #4332
There's some issues blocking releases, you can get the ci build from https://github.com/vercel/hyper/actions/runs/461548454

[2021-01-10 16:16] AmyangXYZ commented on #5115
It can be built and run natively, but the font is too bold.

[2021-01-11 00:47] sebszocinski commented on #5198
Thanks mate, just got back to the machine and opened Hyper and it seems to have fixed itself... weird! but thanks i'll close this and hopefully it helps someone else.

[2021-01-11 00:47] #5198 closed

[2021-01-11 03:11] LabhanshAgrawal commented on #5201
Try installing latest build from ci https://github.com/vercel/hyper/actions/runs/474630865

[2021-01-12 10:40] Virtual-Dreamer commented on #3686
by default it's on this format but it still doesn't work

[2021-01-12 12:36] JoanComasFdz commented on #2207
I just followed the steps in @leodutra comment and once I change the shell to wsl, it doesn't load anything inside Hyper, just a pink cursor is shown but no prompt is shown and I can't type.

This is what I see:
![image](https://user-images.githubusercontent.com/1288587/104314790-3395ef80-54da-11eb-86bd-a149b86993db.png)

This is the config file:
[code]

My windows version is: **1909** (18363.1256

[2021-01-12 15:29] altosaar commented on #4611
Having the same issue!

[2021-01-12 20:26] altosaar commented on #3607
Also having this issue with Fira Code from nerd fonts:

![image](https://user-images.githubusercontent.com/5317244/104368787-8bd4ed80-54ea-11eb-91f6-a59fd7995e5b.png)

[2021-01-13 00:54] Vj-pixel opened #5226 "Hyper rose-pine theme not working"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2021-01-13 14:30] Vladikasik opened #5228 "Strange input line in terminal"
Probably its simply do not print ~
(I already fixed '%' by adding unsetopt PROMPT_SP in .zshrc)
![image](https://user-images.githubusercontent.com/40665208/104465083-babf9200-55c4-11eb-8682-11366c4170da.png)

[2021-01-13 15:53] LabhanshAgrawal commented on #5228
You need to use a font with powerline glyphs

[2021-01-13 17:12] LabhanshAgrawal commented on #5182
Try with new build from ci (https://github.com/vercel/hyper/actions/runs/477722328#artifacts)
Fixed in #4661

[2021-01-13 17:12] #5182 closed

[2021-01-14 22:43] Vladikasik commented on #5228
Can you send what to enter in the font field in the config? I tried a few times to change the font but it was a failed attempt.

[2021-01-15 07:02] LabhanshAgrawal commented on #5228
You can get a font from https://www.nerdfonts.com/font-downloads
and add it's name at the beginning in the `fontFamily` field in the config.
Post your config if you're facing any issue

[2021-01-16 11:18] Vladikasik commented on #5228
Thanx, it helps

[2021-01-16 20:56] bduffany commented on #2812
Can confirm that this is still an issue on Hyper version 3.0.2, Ubuntu 20.04. For me, it's only an issue with 12px font size.

[2021-01-17 00:38] in5anity opened #5229 "Cannot make Hyper to launch using PowerShell"
Cannot make Hyper to launch using PowerShell
Here's my Hyper config

[code]

Still every tab is cmd.exe
Hyper version: 3.0.2

[2021-01-17 02:24] #5228 closed

[2021-01-17 05:24] imoby opened #5230 "Weird % shows at the top of hyperjs but not iterm"
For some reason I am getting a weird "%" showing up at the top of my terminal the first time I open it. It doesnt happen on iterm and I've double/triple checked my hyperjs and reinstalled and uninstalled all plugins and I still get this issue:

![image](https://user-images.githubusercontent.com/6380855/104831843-f4f19380-5851-11eb-88eb-7874c2ebbe5c.png)

[2021-01-17 06:11] LabhanshAgrawal commented on #5230
https://github.com/vercel/hyper/issues/2144#issuecomment-326741620

[2021-01-17 06:11] #5230 closed

[2021-01-17 06:16] LabhanshAgrawal commented on #4985
Not related to hyper

[2021-01-17 06:16] #4985 closed

[2021-01-17 14:26] LabhanshAgrawal commented on #5098
The fsevent message is info not an error

[2021-01-17 14:26] #5098 closed

[2021-01-17 14:27] #5139 closed

[2021-01-17 14:27] #5142 closed

[2021-01-17 14:41] LabhanshAgrawal commented on #3555
Has been fixed in canary #3391

[2021-01-17 14:41] #3555 closed

[2021-01-17 17:32] GoBoldMS commented on #4035
I had the same issue,
I solve it by uninstall the app and then manually delete the hyper folder from AppData -> Roaming & AppData -> Local
after that I reinstall the app and now it will load.

[2021-01-17 18:12] PyGera opened #5231 "SSH Double Tab Crash"
When I'm using 2 or more tabs connected to the same host with ssh, if i close 1 of these tabs the program crash with no errors.

[2021-01-18 22:56] mvllow commented on #5226
Did you try adding `hyper-rose-pine` to the plugins array?

[code]

Another option is to try installing the theme via the command line `hyper i hyper-rose-pine`.

[2021-01-18 22:59] mvllow commented on #5210
Unrelated to the error but if you could try adding `hyper-rose-pine` to your plugins array does that install the theme properly?

[code]

[2021-01-19 04:38] Vj-pixel commented on #5226
yep, I did try it

[2021-01-19 04:46] Vj-pixel commented on #5226
My plugin setting isn't in the module exports. `/ a list of plugins to fetch and install from npm
  // format: [@org/]project[#version]
  // examples:
  //   `hyperpower`
  //   `@company/project`
  //   `project#1.0.1`
  plugins: ["hyper-rose-pine"]`

[2021-01-19 04:51] Vj-pixel commented on #5226
never mind, got the original config file, and everything's fixed now

[2021-01-19 04:51] #5226 closed

[2021-01-19 10:01] rastydnb commented on #4750
Same here, manjar

[2021-01-19 21:10] mymedia2 commented on #2259
Please do not do this until you implement `-e` and `-T` options as required by [Debian policy,  §11.8.3][1] or you break the system. Any other programs expect these options to be working.

 [1]: https://www.debian.org/doc/debian-policy/ch-customized-programs.html#packages-providing-a-terminal-emulator

[2021-01-19 21:12] mymedia2 commented on #3979
You are allowed to provide this virtual package only if you correctly implement the "x-terminal-emulator" binary. See [Debian policy, §11.8.3][1] what it must do.

 [1]: https://www.debian.org/doc/debian-policy/ch-customized-programs.html#packages-providing-a-terminal-emulator

[2021-01-20 09:20] Warwolt commented on #3619
Bumping this as I could reproduce this on Hyper 3.0.2 running zsh on git bash (`shell: 'C:\\Program Files\\\Git\\\git-cmd.exe'`) now over a year later.

[2021-01-21 06:52] Tbzp opened #5246 "can't able to copy paste in hyper terminal"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2021-01-21 07:13] LabhanshAgrawal commented on #5246
Try with the latest ci build once, https://github.com/vercel/hyper/suites/1869033026/artifacts/36402941

[2021-01-21 07:16] LabhanshAgrawal commented on #3619
@Warwolt Try with the latest ci build once, https://github.com/vercel/hyper/suites/1869033026/artifacts/36402941

[2021-01-21 13:12] LabhanshAgrawal commented on #5133
We use xterm-addon-web-links to do the link matching, you can open an issue there [xterm](https://github.com/xtermjs/xterm.js)

[2021-01-21 13:22] LabhanshAgrawal commented on #5184
We use xterm-addon-web-links to do the link matching, you can open an issue there [xterm](https://github.com/xtermjs/xterm.js)

[2021-01-21 13:23] #5184 closed

[2021-01-21 13:25] LabhanshAgrawal commented on #2949
Fixed in #4543
Use a new build from CI and set `webLinksActivationKey` to one of `ctrl`,`alt`,`meta`,`shift`

[2021-01-21 13:25] #2949 closed

[2021-01-21 13:26] LabhanshAgrawal commented on #4924
The 3.1.0-canary.4 release was done before #4543 was merged, please try with latest ci build
I've confirmed with new build that it's working.

[2021-01-21 13:26] #4924 closed

[2021-01-21 14:38] LabhanshAgrawal commented on #4879
Doesn't seem related to hyper

[2021-01-21 14:38] #4879 closed

[2021-01-21 15:15] LabhanshAgrawal commented on #3796
I've never used laravel, can anyone share some quick setup or example which I can use to test and debug this.

[2021-01-21 15:25] kms-rscholz commented on #3796
@LabhanshAgrawal

1. Install Laravel valet as per the instructions of the docs: https://laravel.com/docs/8.x/valet
2. Download or clone a php project, for example Kirby’s starterkit: https://github.com/getkirby/starterkit
3. Open hyper and `cd` into the php project
4. Type `valet share` into hyper to reproduce the error.

Doing the same with the nativ MacOS Terminal will create the desired result.

[2021-01-21 15:27] LabhanshAgrawal commented on #3338
Seems to be working fine now
Tested on latest ci build and tmux 3.1c

[2021-01-21 15:44] LabhanshAgrawal commented on #4825
please try once with latest build from [ci](https://github.com/vercel/hyper/actions/runs/499993353)

[2021-01-21 15:45] xenoterracide commented on #5133
can I ask a question? why do open source developers (I am one, but I appear to be the exception unless I've abandoned something) don't file the bugs with the upstream projects themselves? I do not know the api calls you have done so I will not be as effective at opening the bug, however, I am doing it now.

[2021-01-21 15:56] LabhanshAgrawal commented on #5196
test once by running [this](https://gist.github.com/mlocati/fdabcaeb8071d5c75a2d51712db24011/) script
test with the latest ci [build](https://github.com/vercel/hyper/actions/runs/499993353#artifacts) if your current version is not working correctly

[2021-01-21 16:21] LabhanshAgrawal commented on #5133
For me I open them sometimes myself sometimes not, it's a bit random, haven't really noticed if this is a common behaviour.

[2021-01-22 05:02] LabhanshAgrawal commented on #3796
@kms-rscholz thanks for the guide
I'm able to reproduce this
The error seems to be because of ansi color codes see cpriego/valet-linux#221
In Hyper
![Screenshot 2021-01-22 at 10 08 10](https://user-images.githubusercontent.com/16598275/105447482-4f4b8380-5c9a-11eb-92de-e8ccba59d7cc.png)
In Terminal
![Screenshot 2021-01-22 at 10 10 54](https://user-images.githubusercontent.com/16598275/105447505-5b

[2021-01-22 06:40] xenoterracide commented on #5133
please see the closed ticket opened, they say there's a solution already.

[2021-01-22 06:44] LabhanshAgrawal commented on #5133
I see, I'll try to add it when I get some free time, pr's also welcome.

[2021-01-22 06:45] jet-chien opened #5255 "Selected Text is not displayed, covered by color"
- [x] I am on the [latest](https://github.com/vercel/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/vercel/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 20.04
- **Hyper.app version**: 3.0.2 (Stable)

## Issue

the selected text is not displayed :
![image](https://user-images.githubusercontent.c

[2021-01-22 07:06] LabhanshAgrawal commented on #5255
Try once with new build from ci https://github.com/vercel/hyper/actions/runs/499993353#artifacts

[2021-01-22 07:33] LabhanshAgrawal commented on #4912
Fixed in canary
you can test using new build from ci https://github.com/vercel/hyper/actions/runs/499993353#artifacts

[2021-01-22 07:33] #4912 closed

[2021-01-22 07:37] LabhanshAgrawal commented on #4897
Fixed in canary #3391
you can test using new build from ci https://github.com/vercel/hyper/actions/runs/499993353#artifacts

[2021-01-22 07:37] #4897 closed

[2021-01-22 07:40] LabhanshAgrawal commented on #4887
Looks like an issue in your config, the plugin names should be strings, i.e. `"hyper-material-theme"`
open `~/.hyper.js` and add `"` around the plugin names

[2021-01-22 07:40] #4887 closed

[2021-01-22 07:42] LabhanshAgrawal commented on #4838
You can use the `Install Hyper CLI command in PATH` option in the plugins menu.

[2021-01-22 07:42] #4838 closed

[2021-01-22 08:02] LabhanshAgrawal commented on #5174
Try once with new build from ci https://github.com/vercel/hyper/actions/runs/499993353#artifacts

[2021-01-22 13:40] LabhanshAgrawal commented on #3796
@kms-rscholz @reppair
can you try once after setting `export TERM_PROGRAM=hyper` and check

[2021-01-22 13:59] Tyriar commented on #3796
Might be related to `TERM`? It's probably an issue of differing environments between Terminal and Hyper.

[2021-01-22 14:03] GeoBrodas commented on #2942
OK guys I finally found out how to change the theme on hyper I don't know whether this fix was declared but here it is I figured it out myself
So what hyper does is if you have installed a particular theme already its shows `theme already installed` and there is no provision as such to select between themes...so here's what you can do

It'll work!

Alhough this is a manual proccedure it would be b

[2021-01-22 14:06] kms-rscholz commented on #3796
This fixes it for me

[2021-01-22 14:27] Soomootie commented on #5255
Hello, i think this only because you use '#000000' has white color.
Have a great day !

[2021-01-22 14:33] jet-chien commented on #5255
After I tried the version ```hyper_3.1.0-canary.4_amd64.deb```, the problem got fixed, thanks sir! @LabhanshAgrawal

[2021-01-22 15:23] Soomootie commented on #5208
Hello, i try to write an url over three lines and it's working.
But it's seems some patterns doesn't work properly, like `https://github.com/vercel/hyper/tree/master\=id.poc`.

[2021-01-22 15:51] LabhanshAgrawal commented on #3796
Well, I found the reason in an unexpected eureka moment, there's some library 'symfony' being used which is using the `TERM_PROGRAM` env var and if it detects `Hyper` it shows colored output, it's some sort of feature for when it's running on windows, based on the fact that windows console didn't use to be able to show ANSI colors, it detects if it's running on hyper and returns colored values as

[2021-01-22 15:53] #3796 closed

[2021-01-22 16:02] LabhanshAgrawal commented on #5255
@jet-chien that might be an issue with hyper-line
you can open a new issue and give details

Also, you should probably remove the plugins `hyper-font-ligatures` and `hyper-search` as these features are inbuilt in hyper now

[2021-01-22 16:02] #5255 closed

[2021-01-22 19:07] jschneekloth commented on #3283
Still issue, MacOS 10.15.7, Hyper 3.0.2.  This is a blocker to user adoption and maintaining users in real world scenarios.
 Working around limitation this is tedious and cumbersome.

[2021-01-22 20:29] LabhanshAgrawal commented on #3283
I don't see this issue in new ci builds https://github.com/vercel/hyper/actions/runs/504157911#artifacts
tested on macOs 10.15.7

[2021-01-23 03:20] LabhanshAgrawal commented on #3796
Fixed in valet [`v2.13.19` (release)](https://github.com/laravel/valet/releases/tag/v2.13.19)

[2021-01-23 12:06] reppair commented on #3796
Well I am now running Debian based OS called PopOS v20.10 (no longer I use the MacBook) I also have Laravel valet (it's linux version - [Valet Linux](https://cpriego.github.io/valet-linux/)) and just downloaded and installed Hyper.deb (v3.0.2) - to my surprise the `valet share` command works just fine with this setup.

[2021-01-23 12:08] LabhanshAgrawal commented on #3796
Yeah, they had fixed the issue in their fork, I guess it was also there for other linux terminals.

[2021-01-23 12:52] LabhanshAgrawal commented on #5229
try once with new build from ci https://github.com/vercel/hyper/actions/runs/504157911#artifacts

also just confirm once the powershell path by running `$(Get-Command powershell.exe).Source` in powershell

[2021-01-23 23:29] ProcrastinatingEntrepreneur commented on #2369
Thank you! You solved all my problems!

[2021-01-24 06:42] alanqchen commented on #4264
Adding `highlight Normal ctermbg=none` to my `.vimrc` fixed this issue for me.

[2021-01-25 04:06] yuis-ice opened #5257 "plugins decorating term has been disabled because of a plugin crash"
- [x ] I am on the [latest](https://github.com/vercel/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/vercel/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: windows 10 pro 10.0.19041 N/A Build 19041
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .

[2021-01-25 17:17] leitie opened #5264 "I can't find the form where I put https or add on form where do I find the form j was on"
- [ ] I am on the [latest](https://github.com/vercel/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/vercel/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools

[2021-01-25 18:29] #5264 closed

[2021-01-25 22:48] janapc commented on #3688
I have the same problem 😞

[2021-01-27 02:43] designedbyclu commented on #5052
Have the same issue as well, but i found after disable the plugin. it's work well.

[2021-01-27 19:23] #4811 closed

[2021-01-27 21:00] imaai commented on #3736
I'm using git-bash and adding `-l` worked like a charm.
[code]

[2021-01-28 14:03] Soomootie commented on #4983
Hello, I assume you have type `'window:devtools': 'cmd+alt+o'` but can you try this instead `'window:devtools': 'ctrl+alt+o'`. Have a good day.

[2021-01-29 03:59] lopugit commented on #883
For people wanting transparency and a fix, if you disable hyper-transparent-vibrancy but enable hyper-opacity it gives you opacity and makes nano text visible. no termCSS needed

[2021-01-29 05:32] MattEding commented on #3637
I think many users would find it beneficial if the [official website's plugin list](https://hyper.is/plugins) listed @qweasd1's [hyper-drop-file](https://github.com/qweasd1/hyper-drop-file).

[2021-01-30 15:53] AndreVu commented on #4035
I was trying to customize the font text when it originally bugged out on me and wouldn't reopen.

I reinstalled, but then it only lets me open command line.

I tried gpupdate /force, uninstalling, deleting both hyperfolders in appData, roaming/local.

Tried updating preference for the shell to git-bash.exe, nothing seems to work.

Why can't this just be easy as reinstalling T_T

Any suggestions?

[2021-01-31 02:57] kwickramasekara commented on #4833
Having the same issue with "&" characters in url

[2021-01-31 13:25] LabhanshAgrawal commented on #4833
Working in canary, try with latest build from ci https://github.com/vercel/hyper/actions/runs/513403548#artifacts

[2021-01-31 13:25] #4833 closed

[2021-01-31 17:03] Ed-Ed opened #5267 "Some default key maps are missing?"
I just installed hyper on my Windows machine. I noticed `ctrl+l` clears the screen. I want to map this to `ctrl+k` instead. However, I can't seem to find it in the keymaps: https://github.com/vercel/hyper/blob/master/app/keymaps/win32.json

`editor:clearBuffer` does not achieve the results I am looking for.

This is the only comment I could find which relates to what I'm talking about: https://git

[2021-01-31 18:02] LabhanshAgrawal commented on #5267
try once with the latest build from ci https://github.com/vercel/hyper/actions/runs/513403548#artifacts
also check the keymap file on canary branch instead of master to see the latest version of it https://github.com/vercel/hyper/blob/canary/app/keymaps/win32.json

[2021-02-02 01:53] kangxiaoju commented on #4750
Same here, arch
Hyper version 3.0.2

[2021-02-02 02:01] burtchensu commented on #699
On ubuntu 20.04, ~/.bashrc not loaded at first, fix by using ['-i'] for the shell args

[2021-02-02 09:51] allywilson commented on #4750
Just checked v3.1.0-canary.4 still the same on that (CentOS 8 Stream).

[2021-02-02 09:56] LabhanshAgrawal commented on #4750
This isn't something which will cause anyone issues. It's just failing to fetch the notifications as the server is down since some time, it doesn't impact anything else.

[2021-02-02 09:58] allywilson commented on #4750
It stops any themes from being installed and used. I'd say that's an issue.

[2021-02-02 10:52] LabhanshAgrawal commented on #4750
I'm talking about the error `Notification messages fetch error SyntaxError: Unexpected token T in JSON at position 0`
If you're facing trouble in installing plugins then that's because the cli is not setup properly
open hyper first and then add cli to path from the plugins (tools if you're on latest ci build) menu option.
try with latest build from https://github.com/vercel/hyper/actions/runs/5278

[2021-02-02 10:57] LabhanshAgrawal commented on #4750
Also as someone has mentioned earlier that they are facing issues with AppImage, try with maybe rpm if you face the same.
If it's working on other builds and not on appimage then that can be tracked in a separate issue.

[2021-02-02 14:04] allywilson commented on #4750
Thanks, the RPM works for me. I'd have expected a known issues section or similar for the AppImage though. This has been an issue for ~6 months at least.

[2021-02-02 16:05] LabhanshAgrawal commented on #4750
@allywilson did you try using the `add hyper cli to path` option from the tools menu when you had the appimage install?
if not can you please try that once

[2021-02-02 16:06] LabhanshAgrawal commented on #4750
Also please install from the ci link from my earlier comment, the release is too old at this point, maybe it's fixed since then.

[2021-02-02 17:56] williammu6 commented on #1188
puting it in my ~/.zshrc or ~/.bashrc worked for me

`function title() { echo -e "\033]0;$(basename $PWD)" }`

[2021-02-03 01:27] alecbz commented on #3531
I think a clearer error message is still warranted as a fix here? Nothing in the error message points to `~/.hyper.js`.

[2021-02-03 08:10] JosefBH commented on #2450
how can i do it please ? how can i run a different shell in a different tab in hyper ?

[2021-02-03 15:48] oshaughnessy commented on #501
+1

[2021-02-03 16:25] LabhanshAgrawal commented on #5211
seems to be duplicate of #5201

[2021-02-03 16:25] #5211 closed

[2021-02-03 16:29] LabhanshAgrawal commented on #5257
Did it happen again since then? maybe it's graphics issue, if you face this again try once with webgl renderer disabled or with the latest build.

[2021-02-03 16:30] LabhanshAgrawal commented on #5257
some plugin might've been updated too, also check after disabling plugins

[2021-02-03 16:36] LabhanshAgrawal commented on #5210
@docgonzo2015 can you post your config?

[2021-02-03 16:37] LabhanshAgrawal commented on #4895
duplicate #4066

[2021-02-03 16:37] #4895 closed

[2021-02-03 16:39] LabhanshAgrawal commented on #3145
Closing as this is for v2, please open a new issue if you face this in v3

[2021-02-03 16:39] #3145 closed

[2021-02-03 16:43] LabhanshAgrawal commented on #4066
might've made a mistake while editing the config file, please post it here

[2021-02-03 16:57] LabhanshAgrawal commented on #4821
You're using a theme which is changing the colors.

[2021-02-03 16:57] #4821 closed

[2021-02-03 17:00] LabhanshAgrawal commented on #4821
you can use the latest build from ci and use osc 4 sequences to redefine the colors (the support for osc 4 was added very recently, it's not there in stable)

[2021-02-03 17:25] LabhanshAgrawal commented on #4850
can you please elaborate a bit

[2021-02-03 17:43] mvgeny commented on #3283
Works fine on macOS BigSur 11.1

[2021-02-03 21:10] abdo643-HULK commented on #3561
It was running in the background and started consuming more and more memory (6GB). This is when my Memory started to get full and my PC started to lag

[2021-02-03 21:55] SergeiDruzhina commented on #5209
I am also having the same issue.

[2021-02-03 22:44] DigiOhhh commented on #1913
Any news about this? Both `Ctrl + Backspace` and `Alt + Backspace` are translated to `^H` for me.

[2021-02-04 01:38] yuis-ice commented on #5257
So far not yet happened again. okay I will try webgl renderer/disabling plugins

[2021-02-04 05:08] #5052 closed

[2021-02-04 06:58] LabhanshAgrawal commented on #5209
this error code means directory name invalid (according to [this](https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-?redirectedfrom=MSDN))
check the path once, maybe there's a difference in capitalization

also try once with latest build from ci [here](https://github.com/vercel/hyper/actions/runs/527838058#artifacts)