[2018-01-16 19:00] chabou commented on #2522
What type of performance issue ?

[2018-01-16 19:05] portenez commented on #2522
I'm experiencing the same as https://github.com/zeit/hyper/issues/2592

[2018-01-16 19:06] portenez commented on #2592
+1 on this issue, I encountered it this morning as well. canary9 caused this, but not canary 8.

[2018-01-16 20:52] iskilled commented on #1019
@mlosh have you tried changing the 'copyOnSelect:' option from false to true on Hyper's preferences?

[2018-01-16 21:19] kuntashov commented on #294
@methodbox

Hyper is not responsible for syntax highlighting in text editors.
Are you sure you've enabled syntax highlighting in Vi (`set syntax=on`)?

All other things you are described are offtopic for this issue.

Please try to be more patient and constructive.
I've managed to solve all issues I wrote about recently and now I see that Hyper is really great software.

[2018-01-17 01:14] methodbox commented on #294
@kuntashov

1) The other issues are absolutely on-topic. The same thing is still happening.

2) I was trying to be constructive by proposing a sane way of customization (classes and ids for each element and a separate element for dynamically typed text a la Atom).

3) Syntax highlighting is enabled in Vi and works in Terminal.

Again, the theme gets applied, it doesn’t work other than changing the

[2018-01-17 01:40] cmeiklejohn commented on #2613
I tried switching to the canary build and I'm still experiencing the issue.  Do I have to wait for a new 'canary' build to be created / shipped?

[2018-01-17 03:26] dlynch29 commented on #2470
I think you have to install the fonts into Windows, not into the WSL environment. Have you done so?

https://medium.com/@jrcharney/bash-on-ubuntu-on-windows-the-almost-complete-set-up-1dd3cb89b794

[2018-01-17 04:05] davemkirk commented on #2610
I think this is related to this upstream issue (https://github.com/zeit/hyper/issues/2297).

[2018-01-17 05:28] ethanx94 commented on #2607
....On further inspection, although I feel like this is a Chrome issue. I was able to remedy the problem by changing the order of my dGPU/eGPU set up. This fixed graphics switching as it now falls back to the factory AMD card. That being said others with MacBooks which lack a dGPU may still be affected by this.
If you know that Google has removed the --supports-dual-gpus flag from more recent vers

[2018-01-17 07:55] WeslleyNasRocha opened #2615 "Terminal height not right, line offscreen"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version (*canary*)
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: DeepinManjaro 17.1.1
- **Hyper.app version**:  2.0.0-canary.9
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.

[2018-01-17 08:03] saamalik commented on #2578
Can anyone else please confirm the same issue?

[2018-01-17 08:40] chabou commented on #2610
Thanks for the report 🙏 .
We're tracking this work over here: #2297

[2018-01-17 08:40] #2610 closed

[2018-01-17 11:16] chabou commented on #2613
Yes 🔜

[2018-01-17 11:20] VladimirHumeniuk opened #2616 "Scroll in splited windows does not work"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Linux Mint
- **Hyper.app version**: 2.1.1

## Issue

Scroll in splited windows does not work sometimes:
![](https://w3tls.net/4l4TL2f1d04a1dfe724a7f71678

[2018-01-17 11:24] chabou commented on #2616
Please install last canary: https://github.com/zeit/hyper/releases/tag/2.0.0-canary.9
(We have changed our versioning 2.0.0-canary.9 is newer thant 2.1.1)

[2018-01-17 13:32] VladimirHumeniuk commented on #2616
@chabou
![](https://w3tls.net/4l4TL2235a13047b1ac67d9f437e19a8adcfc6.png)

[2018-01-17 13:43] VladimirHumeniuk commented on #2616
@chabou  Yepp, everything is fine in canary. Thanks.

[2018-01-17 13:43] #2616 closed

[2018-01-17 15:02] damien122 commented on #288
@albinekb Could you please explain how a fix about custom keys should fix this error?

[2018-01-17 15:33] portenez commented on #2592
Disabling the theme made it fax again. I was using oceanic next theme as well.  I'm using nvim, and couldn't quite  apply @bgw's fix. I guess I just don't know how to apply it.

[2018-01-17 15:56] chabou commented on #2613
Available on [2.0.0-canary.10](https://github.com/zeit/hyper/releases/tag/2.0.0-canary.10)

[2018-01-17 15:56] dliuzzi commented on #2522
Unfortunately as of `2.0.0-canary.10`, update seems to still be broken. I've got this popup just now:

![canary10](https://user-images.githubusercontent.com/143884/35051790-52e796da-fba6-11e7-9040-badf3c2c00c2.png)

Firstly, the link to notes points to https://releases-canary.hyper.is/update/win32/2.0.0-canary.9 which, oddly enough, actually shows canary.10 information:

[code]

More importantly,

[2018-01-17 17:56] insanityfarm commented on #2601
I'm also looking for a way to style the terminal. Can't find any elements to select in the developer tools. Looks like everything's being rendered in the canvas now? Is there at least an API? If not, that's a pretty big cosmetic downgrade.

[2018-01-17 18:09] cmeiklejohn commented on #2613
Great, that seemed to fix the issue.  It's not full width still, but I'm at least seeing the fix from #2594.

[2018-01-17 18:35] #2613 closed

[2018-01-17 22:31] dougmaitelli commented on #2468
This issue is no longer happening to me as this latest canary 10 release

[2018-01-18 03:25] ed-alertedh commented on #2580
For the benefit of anyone that may be googling it: it seems that canary9 may be unable to update itself to canary10 on Windows. I was getting the update ready notification appearing every time I restarted hyper. The workaround was to manually install canary10.

I totally understand this is an unstable release channel, but it seems there are many people on the canary channel to benefit from the xte

[2018-01-18 09:46] ZeFifi commented on #2476
Same problem as @javihero here!

[2018-01-18 11:40] hdiass commented on #2020
Is there any update on this issue ?

[2018-01-18 11:55] albinekb commented on #2601
Yes, we have upgraded to xterm v3 in 2.0.0-canary.9+, it's an huge improvement in both compatibility and performance. At the moment there are no official way to change/hook in to the rendering, but it will come. I'm sorry your modifications no longer work but this was a necessary change to get better performance and lower memory usage.

[2018-01-18 15:47] drinkingChai opened #2620 "Square blocks"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS High Sierra 10.13.2
- **Hyper.app version**: 1.4.8
- **The issue is reproducible in vanilla Hyper.app**: `Is Vanilla`

## Issue
I'm having this squ

[2018-01-18 16:23] albinekb commented on #2578
Hello @saamalik! This is probably due to the upgrade of the terminal rendering/handling lib `xterm` to the latest v3. I don't know exactly why this has stopped working but thanks for reporting!

[2018-01-18 20:50] iamstarkov commented on #914
=( i will miss ligatures
<img width="445" alt="screen shot 2018-01-18 at 9 49 59 pm" src="https://user-images.githubusercontent.com/559321/35120815-a22e1e6e-fc99-11e7-8555-707ef42237e2.png">

[2018-01-18 21:09] Stanzilla opened #2621 "Update prompt links to json instead of GitHub releases"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 1709
- **Hyper.app version**: Canary.10
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant inf

[2018-01-18 21:10] Stanzilla commented on #2168
@EvanDarwin release or canary version?

[2018-01-18 22:46] dliuzzi commented on #2615
I'm on the latest canary (2.0.0-canary.10) and I see this as well:

![hyper](https://user-images.githubusercontent.com/143884/35125326-8550df2e-fca9-11e7-8695-06056b682183.png)

When ithappens I fix it by pressing F11 twice (going into fullscreen mode and out again.)

[2018-01-19 01:29] ppot commented on #281
@chabou @albinekb Still active.

[2018-01-19 05:01] saamalik commented on #2578
Corresponding issue on underlying terminal: xtermjs/xterm.js#487

[2018-01-19 08:09] jaywcjlove commented on #2172
`2.0.0-canary.10` @chabou  Not successfully repaired

[2018-01-19 08:23] saamalik commented on #2578
Found a temporary solution. Add the following to your `~/.inputrc` file:
[code]

And restart your terminal (or run `bind -f ~/.inputrc`). It's a temporary solution since still other bashrc shortcuts do not work (e.g: `alt+1`, `alt+2`, ..). Hopefully a more generic solution is found.

[2018-01-19 12:02] albinekb commented on #2172
What's the issue @jaywcjlove as we don't know chinese it's **almost impossible** for us to fix it :/

[2018-01-19 12:04] albinekb commented on #281
I'd say either add a config option, after that is set, don't hot reload. Only show a notification "config changed, click here to update". PR welcome?

[2018-01-19 12:33] jaywcjlove commented on #2172
@albinekb Chinese can not input.
![loading io](https://user-images.githubusercontent.com/1680273/35151115-01241c66-fd58-11e7-9a42-fe5d08108db6.gif)

[2018-01-19 13:32] albinekb commented on #2172
Are you sure that's canary? @jaywcjlove `hyperpower` plugin shouldn't work there..

[2018-01-19 13:40] albinekb commented on #1019
@b3l0v please open a new issue and fill out the issue template if you're still experiencing problems 👍

[2018-01-19 13:46] albinekb commented on #1842
PR Welcome @jamtur01 🙂 related to https://github.com/zeit/hyper/issues/2558 ? 🤔

[2018-01-19 13:54] jaywcjlove commented on #2172
@albinekb Remove the plug-in, Chinese or can not input.

![loading io](https://user-images.githubusercontent.com/1680273/35153923-49ea9442-fd63-11e7-900a-cb60132862f1.gif)

[2018-01-19 13:56] albinekb commented on #2172
You need to test with `canary`, hyper 2.0.0-canary. It's using a much more modern library for rendering and also key composition. Download it from the releases tab https://github.com/zeit/hyper/releases/tag/2.0.0-canary.10
https://github.com/zeit/hyper/releases/tag/2.0.0-canary.10
https://github.com/zeit/hyper/releases/tag/2.0.0-canary.10

@jaywcjlove 🙂

[2018-01-19 13:58] jaywcjlove commented on #2172
@albinekb  I confirm using the `2.0.0-canary.10` version test.

[2018-01-19 14:03] jaywcjlove commented on #2172
My system information:

- [x] mscOS High Sierra  version 10.13.2
- [x] [Hyper-2.0.0-canary.10.dmg](https://github.com/zeit/hyper/releases/download/2.0.0-canary.10/Hyper-2.0.0-canary.10.dmg)

@albinekb

[2018-01-19 15:06] WeslleyNasRocha commented on #2615
in the latest canary, at least in Manjaro, it got fixed

[2018-01-19 15:06] #2615 closed

[2018-01-19 15:19] dliuzzi commented on #2615
I can confirm that at least on Windows this is not fixed, even in the latest canary.

This issue is a duplicate of #2468 anyways, so I'll follow up there.

[2018-01-19 15:22] dliuzzi commented on #2468
This is still occurring even on the latest canary.10 release (on Windows 10):

![hyper](https://user-images.githubusercontent.com/143884/35125326-8550df2e-fca9-11e7-8695-06056b682183.png)

When it happens I fix it by pressing F11 twice (going into fullscreen mode and out again.)

[2018-01-19 15:22] ugrupp commented on #1188
Using zsh with ohmyzsh and hyper-tabs-enhanced and @audunolsen 's solution worked for me. It's even getting the process icons right which is pretty cool.
Took me a good hour to get to this point though.

[2018-01-19 16:24] ugrupp commented on #1188
After working with @audunolsen 's solution a bit, I realized there's one problem. Using `precmd()` and `preexec()` directly causes conflicts with other zsh plugins which are also using these hooks. In my case, the _git_ plugin wouldn't show the repo status anymore since its hooks were overridden by our tab title functions.

I managed to solve it, thanks to a similar solution posted in https://gith

[2018-01-19 17:03] scottmeyer commented on #2595
This may be related to this https://github.com/docker/compose/issues/5019#issuecomment-351495225

With explanation here:
https://github.com/Microsoft/vscode/issues/36630#issuecomment-350063413

[2018-01-19 17:15] csujedihy commented on #2172
@jaywcjlove I'm using 2.0.0 and I have no problem on typing Chinese.

[2018-01-19 18:34] ryanproud commented on #1638
Is the workaround no longer possible?  I'm on version 1.4.8 and not able to find any of the referenced code in app.asar:index.js.

[2018-01-19 20:47] saamalik commented on #2578
@albinekb proposed fix in underlying xterm.js library: [Mac OSX: altIsMeta support](https://github.com/xtermjs/xterm.js/pull/1225

[2018-01-19 22:16] albinekb commented on #2578
A w e s o m e  work @saamalik 🙏 😍

[2018-01-20 01:04] jaywcjlove commented on #2172
@csujedihy I do not know what to do? My download is up to date. Never installed before.

[2018-01-20 01:10] jaywcjlove commented on #2172
Update the system to restart the computer. No problem.

@albinekb Thank you!

[2018-01-20 01:14] jaywcjlove commented on #2172
Update the system to restart the computer. No problem.

@albinekb Thank you!

[2018-01-20 06:21] grafa commented on #1807
That notification is really anoying. Please add config property to turn off checking new versions.

[2018-01-20 16:50] nerdinja opened #2622 "Unable to run youtube-dl.exe in Hyper, works fine in other terminals"
- [x] I am on the [latest] Hyper.app version
- [x] I have searched the [issues] of this repo and believe that this is not a duplicate

- **OS version and name**:

- **Hyper.app version**:

- **Link of a [Gist] with the contents of your .hyper.js**:

- **Relevant information from devtools**:
- **The issue is reproducible in vanilla Hyper.app**:

## Issue

[2018-01-20 17:15] nerdinja commented on #2622
Somebody on irc just told me to give it a shot using "./youtube-dl.exe <url>" instead of "youtube-dl.exe <url>" and that worked like a charm, so this is no longer an issue. Thanks, though!

[2018-01-20 17:15] #2622 closed

[2018-01-20 23:47] caiocutrim commented on #914
no working for me in Ubuntu and hyper 1.4.8

[2018-01-20 23:50] novafacing opened #2624 ""X update is available" popup is horrifically annoying"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2018-01-21 05:40] rafmjr commented on #294
@leojcollard thanks a lot! Adding the following to my **~/.bash_profile** did the trick for me:

**export** PS1="\[\033[36m\]\u\[\033[m\]@\[\033[32m\]\h:\[\033[33;1m\]\w\[\033[m\]\$ "
**export** CLICOLOR=1
**export** LSCOLORS=ExFxBxDxCxegedabagacad
**alias** ls='ls -GFh'

Then you do you **source ~/.bash_profile**, reload hyper and my life is back in technicolor :)!

[2018-01-21 07:54] hew commented on #2592
I found that disabling
  * colorscheme
  * `set termguicolors`

Gives me the best workaround performance on Neovim.

[2018-01-21 09:19] #2578 closed

[2018-01-21 09:38] chabou commented on #2476
@javihero @KogAtlas @ZeFifi @novafacing : You need to install `2.0.0-canary.X` AND set your `updateChannel: 'canary'`.

Stable notifications are broken on Linux (in 1.4.8). It will be definitely fixed when 2.0.0 will be stable.

Notifications for stable (v1.4.8) availability when you are running a manually installed canary without switching update channel config, is attended.

[2018-01-21 09:39] chabou commented on #2624
Thanks for the report 🙏 .
We're tracking this work over here: #2476

[2018-01-21 09:39] #2624 closed

[2018-01-21 13:10] tiferrei commented on #2620
Hey, you need to make sure you're using a font that includes the glyphs you want to use. You can either change the font to one that works, or add the glyphs to a normal font using tools like [nerd-fonts](https://github.com/ryanoasis/nerd-fonts).

[2018-01-21 14:26] 16patsle opened #2625 "Emojis using zero-width joiners shown as multiple emojis"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.13.2
- **Hyper.app version**: 1.4.8 and 2.0.0-canary.10
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: ht

[2018-01-21 20:53] MegaGM commented on #2599
Any news? :3

[2018-01-22 00:43] drinkingChai commented on #2620
Hey @tiferrei thanks for the reply.

I may have missed something but I installed nerd-fonts with brew. Then I went to iTerm to see which font it's running: Meslo LG M DZ Regular for Powerline. I added that as the first item with double quotes on fontFamily settings.

But no joy :( Also tried just Meslo.

[2018-01-22 00:58] drinkingChai commented on #2620
Marking as resolved after installing Menlo for Powerline, and adding that as the first option for fontFamily. Thanks!

[2018-01-22 00:58] #2620 closed

[2018-01-22 02:10] irzan2010 opened #2626 "Update prompt for version 2.1.1 to 1.4.8"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10
- **Hyper.app version**: 2.1.1
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.github.com/i

[2018-01-22 08:30] chabou commented on #2626
We have changed our versionning. Canary are now: `2.0.0-canary.X`

If you want to remain on 1.4.8, set `updateChannel: 'stable'` (or remove it) and reinstall stable version (no need to uninstall before imo).

But I really encourage you to test our last canary (2.0.0-canary.10) and open issue if some issues lead you to rollback to stable.

[2018-01-22 08:43] aaronr0207 opened #2627 "Error on split from SSH tab"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Home x64
- **Hyper.app version**: 2.0.0 Canary 10 (I had tested stable version too)
- **Link of a [Gist] ** (https://gist.github.com/) https:/

[2018-01-22 09:32] chabou commented on #2627
I'm using gitbash on windows too and I can't reproduce :(

[2018-01-22 09:37] irzan2010 commented on #2626
Thanks for the quick response.
I just uninstall my 2.1.1 and install 2.0.0-canary.10. So far there is no problem. The only little problem is with my Avast Free AV, which is scan every new software installed on my computer and caused some failure installation when I abort the scan process. I recommended to disable temporarily if you have Avast Free like me.

[2018-01-22 09:37] #2626 closed

[2018-01-22 09:40] aaronr0207 commented on #2627
Maybe related to homestead? Is there something that I can attatch here to add some clarify?

[2018-01-22 11:04] chabou commented on #2627
I'll try to reproduce with a Vagrant, but I don't think it could be related... We'll see

[2018-01-22 11:17] aaronr0207 commented on #2627
I just notice that maybe I made a typo what I am trying to do is **ctrl+ D**
What I am doing is:
-start Hyper.exe
-type: homestead ssh
-press enter
-press ctrl+D

[2018-01-22 15:37] albinekb commented on #2622
Glad you got it working and thanks for updating us 🙂 Have a great day @nerdinja 👋

[2018-01-22 19:37] guiscaranse opened #2630 "Support the Windows 10 resize edges and corner grabbing"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Pro
- **Hyper.app version**: 1.4.8
- **The issue is reproducible in vanilla Hyper.app**: `Is Vanilla`.
## Issue

A normal window behaviour wou

[2018-01-22 21:53] mchipp commented on #2599
Agreed. I came here looking for a solution to exactly this. I'm running stable but I'm annoyed by having to close the alert about the latest Canary build every single time I launch Hyper.

[2018-01-22 21:53] jokeyrhyme commented on #2522
On macOS, I can install 2.0.0 canary 9 or 10, but it will automatically be "updated" to stable 1.4.8 when I next restart hyper

[2018-01-22 21:54] therealmarkchipp commented on #2599
Agreed. I came here looking for a solution to exactly this. I'm running stable but I'm annoyed by having to close the alert about the latest Canary build every single time I launch Hyper.

[2018-01-22 21:58] passcod commented on #2599
@therealmarkchipp that's a related issue but not the same: I believe there's an bug/regression currently where canary builds are advertised to stable users.

[2018-01-22 22:31] therealmarkchipp commented on #2599
True enough. But I still +1 your initial request to hide the alerts.

[2018-01-22 22:55] tdurand commented on #1968
Same issue here, is a fix underway ?

I have issue with this git config for diffs

[code]

![terminaldiff](https://user-images.githubusercontent.com/533590/35248769-233bb996-ffae-11e7-9b40-95861cc57efe.jpg)

[2018-01-23 07:57] Arttse commented on #2605
How to stop showing annoying canary update notifications in `1.4.8` version?
Option `updateChannel: "stable"` doesn't work.

[2018-01-23 09:22] chabou commented on #1968
@tdurand can you confirm me that you are on Windows?

[2018-01-23 09:30] chabou commented on #1968
Using GitBash with Hyper (2.0.0-canary.10), this is what I get when running AnsiColors256.ans :
![image](https://user-images.githubusercontent.com/4137761/35267957-2a97cf02-0028-11e8-9258-6814f20c229d.png)

And WTF, my mouse pointer goes UNDER the grey zones... 😱

(It works well on macOS)

[2018-01-23 10:07] tdurand commented on #1968
Yes, i'm on Windows 10 using WSL with Ubuntu. And the color works well if you use the powershell terminal, so I'm pretty sure it's an issue of hyper.

[2018-01-23 10:27] chabou commented on #1968
Yes, an issue with Hyper (but only on Windows, from my testing).

[2018-01-23 12:39] chabou commented on #2630
It works for me on canary.

Add: `updateChannel: 'canary'` to your hyper config to install it.

[2018-01-23 13:22] Stanzilla opened #2633 "[v2] Block plugin installation if compatibility is not stated"
Many plugins will break with the release of v2, to prevent users from suffering from incompatible plugins and their errors/slowdowns, we should block installation/loading if they do not specify a certain tag in their `package.json` file. That tag could be something like

[code]

Discuss!

[2018-01-23 13:38] albinekb commented on #2562
This is fixed in the latest canary release! https://github.com/zeit/hyper/releases/tag/2.0.0-canary.11

[2018-01-23 13:38] #2562 closed

[2018-01-23 13:39] albinekb commented on #2557
Fixed in latest canary https://github.com/zeit/hyper/releases/tag/2.0.0-canary.11 🎉

[2018-01-23 13:39] #2557 closed

[2018-01-23 13:40] albinekb commented on #1996
Should be fixed in the latest canary release: https://github.com/zeit/hyper/releases/tag/2.0.0-canary.11

[2018-01-23 13:40] #1996 closed

[2018-01-23 13:48] chabou commented on #2288
Fixed by #2375

[2018-01-23 13:48] #2288 closed

[2018-01-23 13:48] albinekb commented on #2288
Awesome work with the CLI! This issue is resolved. Let's open new ones in the future

[2018-01-23 13:48] CodeTheory commented on #2388
@gilesbradshaw Is this still the case?

[2018-01-23 13:53] albinekb commented on #1971
Thanks for the info @waretyler, please re-open if this solution didnt fix it for you @dsslimshaddy

[2018-01-23 13:53] #1971 closed

[2018-01-23 13:53] albinekb commented on #2002
Fixed some time ago! 🎉

[2018-01-23 13:53] #2002 closed

[2018-01-23 13:54] CodeTheory commented on #2438
Closing this due to inactivity. Please let us know if you still experience this!

[2018-01-23 13:54] #2438 closed

[2018-01-23 13:55] #2388 closed

[2018-01-23 13:57] CodeTheory commented on #2633
Hmm, this is interesting. cc @chabou. We discussed before about having better plugin management for versions.

[2018-01-23 13:57] albinekb commented on #1776
We don't use `gaze` anymore 👍

[2018-01-23 13:57] #1776 closed

[2018-01-23 13:58] albinekb commented on #1688
Closing due to inactivity

[2018-01-23 13:58] #1688 closed

[2018-01-23 13:58] CodeTheory commented on #1763
Closing this due to inactivity. Let us know if you have any issues writing plugins, and feel free to chat to us in https://zeit.chat 🎉

[2018-01-23 13:58] #1763 closed

[2018-01-23 14:02] CodeTheory commented on #1526
Prettier is in our codebase now 🎉

[2018-01-23 14:02] #1526 closed

[2018-01-23 14:04] CodeTheory commented on #1576
Closing this due to inactivity. Please let us know if you still see performance issues on either stable or canary releases ❤️

[2018-01-23 14:04] #1576 closed

[2018-01-23 14:05] CodeTheory commented on #1594
Closing this as a fix seems to be found and due to inactivity since. Please let us know if you have any remaining/other issues! Also feel free to ask questions in https://zeit.chat 🎉

[2018-01-23 14:05] #1594 closed

[2018-01-23 14:06] CodeTheory commented on #1703
Thanks @zsol. Seems like a plugin issue and the issue has been inactive for some time. Let us know if you have any issues with vanilla Hyper 🙏

[2018-01-23 14:06] #1703 closed

[2018-01-23 14:13] CodeTheory commented on #316
Update: There's a PR in xterm for this feature https://github.com/xtermjs/xterm.js/pull/896

[2018-01-23 14:18] Stanzilla commented on #2621
cc @leo

[2018-01-23 14:27] Stanzilla commented on #2284
https://github.com/zeit/hyper/issues/2633
https://github.com/zeit/hyper/issues/2592
https://github.com/zeit/hyper/issues/2239
https://github.com/zeit/hyper/issues/2574
https://github.com/zeit/hyper/issues/2548

[2018-01-23 14:32] timothyis commented on #428
`updateChannel: 'canary'` 😎

[2018-01-23 14:32] #428 closed

[2018-01-23 14:34] Stanzilla commented on #1542
@rauchg care to update that issue to current state?

[2018-01-23 14:37] Stanzilla commented on #1357
@timneutkens @henrikdahl @twodave still is still not working as intended in v2, right?

[2018-01-23 14:42] Stanzilla commented on #1325
https://github.com/zeit/hyper/pull/2515

[2018-01-23 14:50] Stanzilla commented on #434
https://github.com/zeit/hyper/pull/2514

[2018-01-23 14:50] Stanzilla commented on #2039
https://github.com/zeit/hyper/pull/2516

[2018-01-23 14:52] Stanzilla commented on #2351
Fixed with https://github.com/zeit/hyper/pull/2408

[2018-01-23 14:56] Stanzilla commented on #364
https://github.com/xtermjs/xterm.js/issues/484

[2018-01-23 14:56] Stanzilla commented on #2294
https://github.com/xtermjs/xterm.js/issues/484

[2018-01-23 14:56] Stanzilla commented on #1733
https://github.com/xtermjs/xterm.js/issues/484

[2018-01-23 14:59] Stanzilla commented on #2224
This is also happening in v2

[2018-01-23 16:01] joedborg opened #2634 "HyperJS 2.0.0 shows default electron icon"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- Ubuntu 18.04
- 2.0.0-canary.11

## Issue
Just updated from 1.4.8 to 2.0.0-canary.11 using the Linux debian release.  Once updated, the logo changed from the hyperJS logo to the d

[2018-01-23 16:31] twodave commented on #1357
I don't have a windows machine anymore, so I'm not able to re-test unfortunately.

[2018-01-23 17:24] darsain commented on #1776
@albinekb any ETA on when this might ship? been annoyed by error popups this issue is triggering for half a year now :)

[2018-01-23 17:54] alaminmishu opened #2635 "hyper preference edit"
-
        Hyper 2.0.4
        Electron 1.7.8
        win32 x64 6.1.7601

this file does not have a program associated with it hyper terminal font option can't change

[2018-01-23 17:56] albinekb commented on #1776
@darsain can you please try hyper 2.0, read how to change your updateChannel at https://zeit.co/blog/canary 👍 🙏 If that doesn't resolve it, let's reopen 👍

[2018-01-23 17:57] albinekb commented on #2635
Hello! Thanks for the report. This should be fixed in the latest canary release: https://github.com/zeit/hyper/releases/tag/2.0.0-canary.11 can you try that and see if it works? Thanks

[2018-01-23 18:02] albinekb commented on #2604
Hello, please fill in the  https://raw.githubusercontent.com/zeit/hyper/canary/.github/issue_template.md issue template so we have all information to reproduce.

[2018-01-23 18:02] #2604 closed

[2018-01-23 18:03] albinekb commented on #2602
I like the idea! @chabou isn't this possible already using our keymaps? Is there an event to trigger scroll up, if not, is it possible to add it? 🤔

[2018-01-23 18:57] MAPESO commented on #247
@chabou  @timothyis  This problem is already solved ?

[2018-01-23 19:43] blahsd commented on #101
The issue still happens.

[2018-01-23 20:06] ppot commented on #247
Resolved with xtermjs. Closing

[2018-01-23 20:06] #247 closed

[2018-01-23 20:48] ivanreese opened #2636 "Update notification "Notes" link is probably wrong"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.13.2
- **Hyper.app version**: 2.0.0-canary.10

## Issue
For the last two (or more?) Canary updates, the URL of the `(notes)` link in the update

[2018-01-23 22:55] ankitshah009 commented on #1540
Confirmed seems to be working in 2.0.0.Canary 11.
However, within screen session on a remote server, the scrolling doesn't seem to work. Any method to enable the functionality.

[2018-01-24 04:43] HelloWorld017 commented on #1839
I am also experiencing this problem while rewriting default prompt to powerline.

[2018-01-24 06:32] donwlewis commented on #1995
I am seeing the same issue.

![image](https://user-images.githubusercontent.com/16139164/35317771-2e145078-008d-11e8-955c-bf9b0c9d0537.png)

and after a few commands:

![image](https://user-images.githubusercontent.com/16139164/35317785-405b6ab4-008d-11e8-8805-1b00ef620786.png)

Even after hitting Ctrl+Shift+K, as soon as you hit another key, all the text is re-rendered.

[2018-01-24 07:40] Elderry commented on #2587
I have several ''s in my prompt and this also happened to me. The interest part is, the behavior is different on my Windows build-in Powershell and Powershell Core.

[2018-01-24 07:45] Elderry commented on #2587
shell: 'C:\\Program Files\\PowerShell\\6.0.0\\pwsh.exe'
before input:
![core before input](https://user-images.githubusercontent.com/1892221/35320050-619200f4-011d-11e8-853f-8d6d6aaeb5eb.JPG)
after input:
![core after input](https://user-images.githubusercontent.com/1892221/35320056-67b8eb32-011d-11e8-857e-82c648f44a73.JPG)
shell: 'C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\powershell.exe'
be

[2018-01-24 08:50] katiasmet commented on #287
@lordgiotto I have the same problem. I have version 1.4.8 and Mac OS Sierra but can't drag and drop.

[2018-01-24 09:03] HelloWorld017 commented on #1839
Finally I found it. The issue is because of ANSI escape code. If you dump the data, you can find texts like

[2018-01-24 09:15] chabou commented on #2602
I didn't know this behaviour.
Can you give some examples of these programs?

`space` in less is a less-specific feature. And there is already some shortcuts : `ctrl+f` for page down like space and `ctrl+b` for page up.

[2018-01-24 09:25] chabou commented on #2548
Can you try to reproduce with last canary (which uses xtermv3)

[2018-01-24 09:27] chabou commented on #2322
Please your `locales` and retry with our last canary.

[2018-01-24 10:39] richrace commented on #2449
I've noticed that output from processes/logs etc. is slow when running certain Plugins.

The following code output is very slow when I have `hypercwd` and `hyper-statusline` enabled. If I remove both these plugins, I do not experience any slow down in output.

Still happens in Canary 11.

[code]

Related issues:
https://github.com/hharnisc/hypercwd/issues/37
https://github.com/henrikdahl/hyper-sta

[2018-01-24 12:08] rightaway commented on #2602
Many programs like for viewing pdfs, images, and pretty much all web browsers.

[2018-01-24 13:18] laibulle commented on #2020
Same problem on OSX with tmux 2.6 and hyper 1.4.8.

[2018-01-24 15:34] meoknu commented on #1252
in hyper.js file
put

    // for environment variables
    env: {
		TERM: "cygwin"
	},

[2018-01-24 15:34] meoknu commented on #1809
// for environment variables
    env: {
		TERM: "cygwin"
	},

[2018-01-24 15:34] meoknu commented on #1809
in hyper.js file put
    // for environment variables
    env: {
		TERM: "cygwin"
	},

[2018-01-24 15:35] meoknu commented on #1837
in hyper.js file put

    // for environment variables
    env: {
		TERM: "cygwin"
	},

[2018-01-24 16:10] chabou commented on #2602
I see, GUI programs.
In command line, `space` and `shift+space` are not relevant, imo.

But it could be handy to have shortcut to scroll up/down like mouse wheel.
In iTerm :
`command+up/down`: scroll 1 line up/down
`command+pageup/pagedown` or `shift+pageup/pagedown`: scroll 1 page up/down

[2018-01-24 17:02] rightaway commented on #2602
I've used terminals a while ago (don't remember which now) where shift+space worked for doing the opposite of space in programs like `man` and `less` and it was a really nice usability point.

[2018-01-24 17:05] chabou commented on #2602
Related ressource: https://unix.stackexchange.com/questions/88579/shift-space-in-less

[2018-01-24 17:32] albinekb commented on #2602
@chabou Not saying we should add this as default. But we should def support it in the config/custom keymaps so people that want to have it can configure it like that 👍

[2018-01-24 18:23] #2636 closed

[2018-01-24 21:25] cringer commented on #1559
Any update since Fall Creators Update?

[2018-01-25 03:27] HelloWorld017 commented on #2511
When I dumped, the ANSI `ESC[0;1m`, which means reset all setting and make texts **bold**, keep mixed to texts.

Example:
![Screenshot](https://i.imgur.com/6RPIzOf.png)

Also, after checking the option of cmd `use legacy console`, this issue disappeared.

[2018-01-25 09:25] mbhall88 commented on #1676
I am seeing a similar issue, but with **vertical split**. After closing the vertical split the window still only displays information up to where the split boundary was before it was closed. The screenshot should illustrate this problem.

My version is Hyper 1.4.8 (stable)

![screenshot 2018-01-25 09 22 45](https://user-images.githubusercontent.com/20403931/35380611-b43b8412-01b1-11e8-8b50-80108fd

[2018-01-25 09:27] chabou commented on #2602
@albinekb agreed but adding keymap for scrolling (good thing!) will not work in `less`.

[2018-01-25 11:21] tienslebienz opened #2640 "keymap to recall the last argument of the previous commands."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 17.10
- **Hyper.app version**: 2.0.0-canary.11
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: Default .hype

[2018-01-25 14:07] gurmukhp commented on #311
Any update on this? I'd love to be able to remember window layouts on reload.

[2018-01-25 23:38] albinekb commented on #1542
This issue can be closed, all of the listed improvements were for hterm  👍

[2018-01-25 23:38] #1542 closed

[2018-01-25 23:39] #2351 closed

[2018-01-26 00:59] jaller94 commented on #2605
* OS version and name: MacOS 10.13
* Hyper.app version: Hyper version 2.0.0-cannery.11
* Update channel: `'canary'`

I am getting the 1.4.8 (stable) update notification.

[2018-01-26 06:59] donaldpipowitch commented on #1576
Hi! I just switched to Win 10 (1709) coming from Mac and use Hyper.js with my WSL. I don't know why, but it seems to slow down _a lot_ every now and then and becomes unresponsive. I tried the last stable version and the last canary version. It isn't slow the whole time, but it seems to slow down "the more happens": open one or two tabs, run `ll` or `git log`. Don't using tabs and maybe just use so

[2018-01-26 14:02] teonik commented on #2634
Confirmed on
- Debian 9 (Stretch)
- Gnome 3.22.2
- Hyper 2.0.0-canary.11

[2018-01-26 19:42] isseiler commented on #654
Is there a compiled build of 2.x floating around somewhere or does it have to be built manually?
@gauthier-delacroix

[2018-01-26 19:50] Xunnamius commented on #2007
It may also cause problems in modern terminal packages like micro, i.e. https://github.com/zyedidia/micro/issues/733

[2018-01-26 21:24] guiscaranse commented on #2630
Tested on canary, the corner grab seens working fine but not the resize edges when touching the screen corners.

[2018-01-26 21:58] gauthier-delacroix commented on #654
I don't remember where I've found a 2.1.1 release (there isn't even a tag for this version), but all releases are available there: https://github.com/zeit/hyper/releases

[2018-01-26 23:24] sddhrthrt commented on #2513
I'm on windows 10 with Hyper, bell set to false still doesn't work.

[2018-01-27 02:50] Xunnamius commented on #914
This is incredibly sad, but at least they show up in Sublime so I'm not too disappointed 😄 (confirmed not working as of 2.0.0-11)

[2018-01-27 06:48] ryzokuken commented on #5
A ton of really erratic behavior in fullscreen really puts me off:

1. The tab bar should not have a margin/empty space for the traffic lights. It might look okay for a single tab, certainly looks ugly for multiple tabs.

2. The custom bar that slides down looks plain ugly, use the standard MacOS titlebar instead.

# Actual (Hyper 1.4.8)

<img width="559" alt="screen shot 2018-01-27 at 12 11 24 pm

[2018-01-27 06:53] ryzokuken commented on #5
P.S. Apps like VSCode and Atom do the same, so that rules out "it must not be possible/easy in electron"

<img width="1210" alt="screen shot 2018-01-27 at 12 19 23 pm" src="https://user-images.githubusercontent.com/13121330/35469549-c8d382ec-035c-11e8-98eb-9fb864e1758e.png">
<img width="1680" alt="screen shot 2018-01-27 at 12 19 48 pm" src="https://user-images.githubusercontent.com/13121330/354695

[2018-01-27 06:54] pwsandoval commented on #2572
Same, any solution?

[2018-01-27 13:39] VladimirHumeniuk commented on #2634
Same here (Linux Mint)

[2018-01-27 16:01] hegelstad opened #2641 "Header title path is truncated when short"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

**High Sierra 10.13.2**
**Hyper 2.0.0-canary.11 (canary)**
**.hyper.js Gist: [Gist](https://gist.github.com/hegelstad/f42b0c221ade2ae09bb88cc988d27c50/)
**Relevant information from

[2018-01-27 16:45] hollowdoor commented on #2298
I'm having what might be a similar problem. On Ubuntu 17.10 when starting hyper it does not appear graphically, but it still shows as a running process in the system monitor.

I go this error when running hyper from the default terminal:

[code]

It's a different error from the OP's, but I'm starting here just in case.

[2018-01-28 02:37] JoshCode opened #2642 "Debian 8 logs out after Hyper opens"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Debian 8 Jessie (8.7). amd64 architecture
- **Hyper.app version**: 1.4.8 (latest stable) and 2.0.0-canary-11
- **Link of a [Gist](https://gist.github.com

[2018-01-28 02:54] Qix- commented on #914
Ref xtermjs/xterm.js#958

[2018-01-28 12:11] b0rski commented on #2470
Yes, the fonts are installed in Windows but this is already stated in my opening message.

[2018-01-28 13:30] mittalyashu opened #2643 "Two icons in taskbar (windows 10)"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 1
- **Hyper.app version**: 1.4.8 (Stable)

Getting two icons on the taskbar

![image](https://user-images.githubusercontent.com/29014463/354825

[2018-01-28 20:12] oquirozm opened #2644 "dircolors are different when inside tmux"
- **OS version and name**: MacOS High Sierra 10.13.2
- **Hyper.app version**: 1.4.8
- **My .hyper.js**: https://gist.github.com/oquirozm/5b4b4b1a53522781b32369553be06d4a

## Issue
dircolors differs when used in and out of tmux. Here are two screenshots:

**[Inside tmux](https://image.ibb.co/n9m3Dm/Screen_Shot_2018_01_28_at_3_02_21_PM.png)**

**[outside tmux](https://image.ibb.co/eN1QR6/Screen_Shot

[2018-01-29 09:13] stephane-archer opened #2645 "How to use PowerShell with Hyper?"

[2018-01-29 10:11] aaronr0207 commented on #2645
Update your .hyper.js file and change the "shell" variable to point your desired shell

`shell: 'C:\\Windows\\System32\\WindowsPowerShell\\v1.0',`

[2018-01-29 13:29] brandon93s commented on #2645
You'll probably want to remove `--login` from `shellArgs` as well. Example PowerShell config: https://gist.github.com/brandon93s/fcd4c2f00d16f140169344da3ba3ae15

[2018-01-29 16:23] fabiospampinato opened #2646 "Canary version not opening on macOS"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: 10.13.3 macOS
- **Hyper.app version**: 1.4.8
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
[code]
- **Relevant in

[2018-01-29 19:19] dlynch29 commented on #2470
After posting my previous comment, I've noticed that I may have the same issue as you. My hostname is not properly being styled.

[2018-01-29 19:55] silverwind commented on #2553
This is likely a issue with node's manpage, see https://github.com/nodejs/node/issues/18434

[2018-01-29 20:38] sholladay commented on #2553
Huh okay, interesting. Figured it was Hyper cause it worked fine through Terminal.app for me (using the same shell, etc).

I think we should keep this open until I have a chance to test with that patch. But it looks promising!

[2018-01-29 20:41] silverwind commented on #2553
In your case, I suspect that `terminal` invokes a different shell environment which maybe has a different manpager set up. try comparing the output of `env` in both terminals.

[2018-01-29 21:56] mcrump001 commented on #1911
I too am experiencing this issue with the latest version of hyper.js.  Are there any updates on this?

[2018-01-29 22:59] Tyriar commented on #316
And we merged it today, coming in the next version 😃

[2018-01-29 23:10] ppot commented on #2644
Please update image link. They are not working.

[2018-01-30 00:07] harblz opened #2647 "Nano: Enter Key Not Working"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10
- **Hyper.app version**: 1.4.8
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information

[2018-01-30 01:14] incomingstick commented on #1556
Still an issue in 1.4.8 (Windows 10 v1709 Build 16299.192)

[2018-01-30 01:31] incomingstick commented on #2016
I can confirm I am having the same issue. The Emacs CTRL+SPC command works on PuTTY, Cygwin, and even the default CMD terminal. I suspect it is a keybindings issue with the terminal itself, as a number of my CTRL and ALT commands do not seem to work properly either, whereas they work elsewhere.

[2018-01-30 02:28] oquirozm commented on #2644
@ppot updated

[2018-01-30 04:32] rikumi commented on #2587
The problem is that Hyper treats all Unicode characters as half-width character, and forces them to fit in `8.4px` width:

[code]

Apart from emojis, this problem affects all CJK characters because they are full-width.

Additionally, when multiple CJK characters appear in sequence, one of the characters is repeated after the last by mistake. For example, paste `あいうえお` into Hyper, they may appear a

[2018-01-30 06:35] hermbit commented on #1559
This is currently working for me on Windows 10 version 1709 (Fall Creators Update):
env: {
    TERM: 'cygwin'
}

[2018-01-30 08:46] aaronatmycujoo commented on #2587
Nice write up! So it is possible to detect halfwidth unicode characters and only force those to fit into the 8.4px width? Trying to help solve the problem here but I have no experience with this 😅

[2018-01-30 08:53] rikumi commented on #2587
@aaronatmycujoo

8.4px for half-widths; 16.8px for full-widths.
The font size can be customized, so this number may be generated. You may want to find the code that generated this number and that part of CSS.

Again, please also look into the other bugs I just mentioned apart from this one.

[2018-01-30 11:55] krzema12 opened #2648 "Fresh meat"
I created a plugin for Hyper. It's not mature enough to be shared in https://github.com/bnb/awesome-hyper, and I'd like the plugin to gain some attention of the community. Is there any place to share such info?

Some time ago there was such website called "fresh meat" or something like this. I thought I'll create an issue like this, de facto a forum thread, where one can share some new plugins/the

[2018-01-30 15:52] mittalyashu opened #2649 "How to open Hyper in the working directory"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10
- **Hyper.app version**: 1.4.8

## Issue
How to open hyper in the working directory?

![2018-01-30_21-21-15](https://user-images.githubuserc

[2018-01-30 17:17] ptessier commented on #1613
@sghiassy What you are referring is **disabling the sound** for the **notification banners** in the corner of your screen. We can see an example of this when `hyper.js` reloads the configuration.

[2018-01-31 04:13] nnmrts commented on #2347
Hey! I'm on a 32-bit Debian machine. How can I help with this? Why exactly isn't hyper supporting 32-bit? I mean, generally, what is the problem? Does dependency only work or 64-bit or is it electron or...?

Yeah, if I would know that, I could help.

[2018-01-31 06:12] DesWurstes commented on #2646
I have the same problem too. It opens, after a few seconds it says "Version 1.4.8 has been downloaded. Click this to install.", then it reverts back to 1.4.8.

[2018-01-31 08:25] chabou commented on #2347
We need this PR in `hazel`: https://github.com/zeit/hazel/pull/18

[2018-01-31 10:49] stephane-archer commented on #2645
Thank you guys!! 👍

[2018-01-31 10:49] #2645 closed

[2018-01-31 13:39] markopolo123 commented on #2647
Looks like this problem here, an issue with OpenSSH on Windows 10:

https://github.com/PowerShell/Win32-OpenSSH/issues/1004

[2018-01-31 16:34] rikumi commented on #2587
There's an NPM package about this: `is-fullwidth-code-point`. Use this to solve the problem.

[2018-01-31 21:32] herrbischoff commented on #2011
Same here. I have no hopes that this ever gets fixed though. Your issue is over half a year old and there's not even a reply of any kind. What can you do, it's a JavaScript-based terminal emulator after all. Performance just cannot be a priority in its development. From how it works, it can only be surmised its users are not doing more than running a couple of yarn commands and creating rather dis

[2018-02-01 01:24] 4nthonylin commented on #2016
Same issue, would like to bind ctrl+space to a command but it seems like the terminal it catching the key sequence. Using showkey -a yields nothing when typing ctrl+space

[2018-02-01 06:10] spences10 commented on #2649
There is a [plugin] for this but it has never worked for me 🙃

Take a look at [awesome-hyper] there may have been something added since I last checked 👍

[plugin]: https://www.npmjs.com/package/hypercwd
[awesome-hyper]: https://github.com/bnb/awesome-hyper#productivity

[2018-02-01 12:16] cybertk opened #2650 "High Power Usage on Window 10"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:  1709 Windows10
- **Hyper.app version**: 2.0.0-canary.11
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:  No custom

[2018-02-01 12:30] albinekb commented on #2650
How many tabs? What we're you doing inside these tabs during the time?

[2018-02-01 18:28] suhaibaffan opened #2651 "The app window appears for a second and get disappear."
I am using MacBook Air, I am not able to use the app. The moment I open the window appears for a second and gets disappear.
        Hyper 1.4.8
        Electron 1.7.8
        darwin x64 17.3.0

[2018-02-01 19:05] jaller94 opened #2652 "Reload causes New Tab to spawn multiple tabs"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS 10.13.3
- **Hyper.app version**: 2.0.0.canery11
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: [Link](https:

[2018-02-02 02:51] nt3rp opened #2653 "Emoji cannot be entered / pasted into hyper in Windows 10"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Pro (Version 1709, Build 16299.192)
- **Hyper.app version**: 1.4.8.
- **Link of a [Gist](https://gist.github.com/) with the contents of your .

[2018-02-02 05:52] willricketts opened #2654 "Lowest row of the shell extends beyond viewport"
## Issue
The lowest row of the shell extends beyond the bottom of the viewport in some cases, preventing the user from seeing their input.

## Reproduction Steps
The issue seems to be intermittent, and I can't seem to pin down exactly what actions could be causing it.
        -
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

[2018-02-02 06:24] saravanaselvan opened #2655 "Console not scrolling down automatically when command executed"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 8.1 Pro
- **Hyper.app version**: 1.4.8
- **Relevant information from devtools** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_: N/A
- **The iss

[2018-02-02 09:41] danieldelcore commented on #4
I had a look into this last night and i found that all of the underlying logic to do this has already been implemented. The actual problem is that [the cwd is not being pushed into redux](https://github.com/zeit/hyper/issues/1357) so when a new tab or panel is opened, there's no cwd to navigate to. 👍

[2018-02-02 14:53] kenorb opened #2656 "Handling selection when editing file in Vim"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.12.6 (Sierra)
- **Hyper.app version**: 1.4.8
- **Default configuration.
- **Relevant information from devtools** _(CMD+ALT+I on macOS, CTRL+SHIF

[2018-02-02 15:28] willricketts opened #2657 "Plugins Install but do not activate"
# Issue
Installing a plugin manually or with [hpm-cli](https://www.npmjs.com/package/hpm-cli) results in a successful package installation, but no package effects once it's install.ed

# Reproduction Steps
1. Install plugin
2. Notice it doesn't work 🤷‍♂️

        -
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

[2018-02-02 17:25] gluons commented on #1229
Can it be easier by [Snaps](https://snapcraft.io/)? Cross-linux system installation.

[2018-02-02 18:28] albinekb commented on #1229
Yes. We were working on creating a snap but we didn't get around to. There's not much demand and supporting a snap would be extra effort for little usability, but if someone knows how, feel free to PR the snap build scripts and we can work together on getting it out there 🎉

[2018-02-03 00:31] Alhadis commented on #2553
When `man` runs and finds a manual page to display, it passes it through `troff` to generate SGR-encoded output fit for terminal display. It calls `troff` with preconfigured command-line switches, one of which is to suppress all error messages (specifically, `-Wall`). See the options section in `troff(1)` and
check what's been set in `/etc/man.conf`:

[code]

[2018-02-03 03:38] AddAndy commented on #1845
I resolved this by adding the following to my .hyper:

 // custom css to embed in the terminal window
    termCSS:'x-row > span { line-height: 1.2em; }',

before:
![image](https://user-images.githubusercontent.com/397651/35762708-3213cccc-0861-11e8-8913-e5d0141e145a.png)

After:
![image](https://user-images.githubusercontent.com/397651/35762714-5824b192-0861-11e8-984a-307835d3a4ea.png)

[2018-02-03 09:52] chabou commented on #2154
I think this is fixed since new keymapping and not using `ctrl+[a-z]` shortcut anymore.

[2018-02-03 09:58] chabou commented on #2154
@computersarecool Can you check our last canary and confirm that it's suits your needs?

[2018-02-03 10:05] chabou commented on #2294
To be clear, this issue is related to 256 colors not true color.
Color Script, that tests 256 colors must render same thing in 2.x than in 1.x

[2018-02-03 10:14] chabou commented on #2294
ok 3-byte color mode in script is 24-bits Truecolor. This is not supposed to work yet. So everything is ok with color script on Mac (in last canary with xterm3 too).

@mike-engel Can you try to reproduce your vim issue with our last canary?

[2018-02-03 13:12] gluons commented on #1229
OK. I'm not serious about that.
I hope one day I can install Hyper via command line easily. PPA or Snaps are fine. 😄
Love Hyper anyway. 😘

[2018-02-03 13:57] Kaeltis commented on #2599
Agreeing on this, when installing Hyper via a package repository (for example AUR) the constant update notifications are pretty annoying.

[2018-02-03 20:00] computersarecool commented on #2154
My preliminary testing shows this as working on Windows when you set the `shell` to `bash.exe`.
Nice!
Thanks so much.

[2018-02-03 20:00] #2154 closed

[2018-02-03 23:28] mike-engel commented on #2294
@chabou It looks like the latest canary is much better, but for some reason my vim config is still using the incorrect colors. It could be my vim config, but it is curious how different it looks with the same config. The color test, however, looks much better :smile:

### Screenshots
**Left**: Hyper 1.4.8
**Right**: 2.0.0-canary.11

#### Vim
<details>
<img width="1153" alt="screen shot 2018-02-03

[2018-02-04 01:26] atrauzzi commented on #1147
While we're documenting use cases, I just came across another one today...

I'm defaulting to WSL with hyper right now, but I need PowerShell to do electron application development on Windows.

[2018-02-04 03:38] Valkhir commented on #2605
I'm getting update notifications for new canary version even though I am on stable channel. Very annoying - I'd rather not have an update notification than seeing an incorrect one every time I start the program., especially since  it appears the only way to close the notification is to use the mouse.

[2018-02-04 10:05] kasper3 commented on #1715
On Windows, nano "experience" with hyper is exalting, `nano[Enter]` crashes hyper I am using bin from https://files.lhmouse.com/nano-win/, source https://github.com/lhmouse/nano-win

[2018-02-04 16:20] UltCombo commented on #1767
I believe Hyper 2.0.0 (canary) supports Fish nicely.

[2018-02-04 16:31] UltCombo opened #2660 "[macOS] Auto update downgrades canary to stable version"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS High Sierra 10.13.2
- **Hyper.app version**: 2.0.0-canary.11
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:

[2018-02-04 19:36] kenorb opened #2661 "Can't install RPM on Knoppix"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:  Linux Knoppix v8.1
- **Hyper.app version**:  2.0.0
- Related: GH-799

## Issue

[code]

[2018-02-04 19:49] silverwind commented on #2553
@Alhadis Thanks for the pointer. I just compared the defaults in macOS and Linux and `groff` emits the warnings in both cases, but in Linux it appears that the `man` utility supresses printing them when the output is a pager. I can see them via `man node > /dev/null`. It appears the `man` utility on macOS does not have that functionality.

[2018-02-04 20:44] AndrewNoskov commented on #2599
Yay, guys! Easy hack:
`css: `
  .notifications_view {
    display: none;
  }
``.
Add this to

[2018-02-05 12:35] albinekb commented on #2661
Can you try to build from source? Instructions are here :) https://github.com/zeit/hyper#contribute

[2018-02-05 12:37] albinekb commented on #2660
Hi! This is a known "bug", the problem is that your config still says `updateChannel: 'stable'` so hyper will try to get the latest stable. You need to open your `.hyper.js` and add `canary` to updateChannel. see https://zeit.co/blog/canary for more info on how to do that 👍

[2018-02-05 13:11] albinekb commented on #1767
I'm using hyper with fish as my default shell without any changes to .hyper.js and it works great 👍 Closing due to inactivity & can't reproduce, if you're still having problems, feel free to re open 🎉

[2018-02-05 13:11] #1767 closed

[2018-02-05 13:14] albinekb commented on #2605
@Valkhir Can you double check your `updateChannel` in your `~/.hyper.js` ? That should not happen. Please open another issue if you have `stable` and still are getting canary notifications. Thanks

[2018-02-05 14:23] albinekb commented on #654
2.1.1 was released as a canary release when zeit/hazel didn't have support for pre-releases. We later released 2.0.0-canary.x instead, to indicate that it will be the stable 2.0.0 release.

To get the latest canary you will need to manually re-install the latest one, and it should start to update correctly again. Sorry for the inconvenience.

[2018-02-05 17:16] petercr opened #2662 "Windows 10 cannot access Preferences menu due to MS JScript error"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools**

[2018-02-05 17:42] brandon93s commented on #2662
A fix for this (#2631) has been merged into the canary branch, but is not in the latest release. To fix this for the release build, you can set a default program for "JavaScript" files in System Settings:

![image](https://user-images.githubusercontent.com/4730164/35819817-c96a1218-0a71-11e8-93c2-b0aeb0649a62.png)

Alternatively, you can manually open `C:\Users\{YOUR_USER}\.hyper.js` in your text

[2018-02-05 19:48] jimv3 commented on #2369
If I do this "shellArgs: ['~']" then hyper launches in my WSL home on Windows instead of the Windows user directory.

[2018-02-05 19:53] BasixKOR commented on #586
Same on windows

[2018-02-05 21:12] petercr commented on #2662
Great thanks for getting back to me so quickly. I did search through the issues to see if I could find the same one, but I wasn't looking in the canary branch just the main one.
Thank you the issue has now been fixed, everything is working great 👍 👏

[2018-02-05 21:37] sarah-appsheet commented on #2655
This started happening to me this month. Windows 10, Hyper 1.4.8, no plugins, no recent changes to preferences.

[2018-02-05 21:40] Yloganathan commented on #1682
Selecting the app and then win + left arrow brought the hyper terminal back to the main screen for me.

[2018-02-05 22:27] mwcarew commented on #2369
I'm not on my home PC for a while and can't mess with this, but would that affect my launch location if I'm right-clicking in Explorer to use the context option "Open Hyper here"? I'd imagine I'd now start in my home directory regardless.

[2018-02-06 00:10] albinekb commented on #2662
Awesome 🙏

[2018-02-06 00:10] #2662 closed

[2018-02-06 03:37] jimv3 commented on #2369
On my machine it opens in my WSL home even from explorer.

[2018-02-06 06:31] mwcarew commented on #2369
OK yeah. Not quite the behavior I'm hoping for from it.

[2018-02-06 09:29] albinekb commented on #1682
We should try to find the root cause of this error, anyone know how to reproduce? How did you get hyper off screen?

[2018-02-06 09:30] albinekb commented on #1682
Ah #1608

[2018-02-06 09:30] #1682 closed

[2018-02-06 09:30] albinekb commented on #1682
Being fixed in https://github.com/zeit/hyper/pull/2459

[2018-02-06 11:08] Kimmax commented on #1448
Still happening
It makes hyper basically unusable for me

[2018-02-06 22:51] albinekb commented on #2656
Can you try the canary release? It got tons of changes regarding the shortcuts and how the terminal I handled

[2018-02-07 06:24] sandangel commented on #2369
How can I set an default startup folder like D:\Works instead of '~'
I'm using Git bash because wsl is very slow on node process

[2018-02-07 13:39] johnwebbcole commented on #2359
I'm getting the same error with the latest git-bash 2.16.1.2 and canary 11.  I haven't been able to find a shell arguments combo that works.  No plugins enabled. My [hyper.js](https://gist.github.com/johnwebbcole/ed1f11f034419678f23a2a753dfb0b7d)

Microsoft Windows [Version 10.0.15063]
Hyper 2.0.0-canary.11 (stable)
Plugins: none

[2018-02-07 13:57] PleasedSkin opened #2664 "Hyper stuck at opening index.html"
I am on the latest Hyper version (1.4.8).

- OS version and name : Windows 10 64-bit (1709).
- Hyper version : 1.4.8

## Issue
Shows the following:

[code]
and gets stuck there forever.

There is no error message but Hyper does not launch.

[2018-02-07 22:38] leo commented on #730
We don't use `xo` in Hyper anymore... 😊

[2018-02-07 22:38] #730 closed

[2018-02-08 02:00] gdmachado commented on #1559
@hermbit the 'cygwin' solution works, but then we lose 256 color support (the colors set up on my PS1 are gone when using `TERM: 'cygwin'` as opposed to `TERM: 'xterm-256color'`. Is there any workaround?

[2018-02-08 03:33] Spaxe commented on #75
I'm tracing this issue, having begun to use Fira Code with ligature support (so long Meslo, Input Mono), and changing fonts is not a valid solution for me.

I suspect it's a limitation with features from `xterm` not exposed properly, not just a hyper issue. ref something like https://github.com/xtermjs/xterm.js/issues/302

[2018-02-08 05:16] cybertk commented on #2650
I will open 3-5 tabs in most time. Running ssh, vim and other common administrative CLIs.

[2018-02-08 14:27] DANIELG1952 commented on #2647
The issue with the enter key in nano can be bypassed. In the /etc folder there is the “nanorc” file in which we can remap some keys. At the end of the file I added 2 lines:
bind ^S savefile main
bind ^E enter all
When I edit a file with nano I can use ^S to save the file or ^O and ^E. And to use the enter function (break to new line) in the text I use ^E.

[2018-02-08 14:55] styfle commented on #1252
Anyone get this working wit Git 2.16.1?
It was working for me with Git 2.14 and I recently updated and hyper stopped working.
Hyper will close immediately and is not usable. I tried several variations above with `shell` and `shellArgs` but nothing works anymore 😞

[2018-02-08 15:42] bryantAXS commented on #1448
Same issue, back to terminal it is

[2018-02-08 19:49] DANIELG1952 commented on #2647
Another solution is to install the latest OPENSSH from
http://www.mls-software.com/opensshd.html
OPENSSL by Microsoft is 7.5 and here we become 7.6.
This version has no problem with the keyboard at all.

[2018-02-09 02:51] angular-moon opened #2665 "Chinese characters show that overlap"
-
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 6.1.7601
![image](https://user-images.githubusercontent.com/7876335/36009474-30f05f38-0d87-11e8-911a-51e3b816b011.png)

[2018-02-09 02:53] #2665 closed

[2018-02-09 17:41] nmaves commented on #1808
I am seeing the same result as @TooTallNate.  Might be an issue with users with the name Nate :)

[2018-02-09 19:14] miketwo commented on #2500
I didn't have to delete it -- just closed all Hyper windows and then changed the `windowPosition` to be 0,0
[code]
But it worked! Thanks so much!

[2018-02-10 02:29] jcrben commented on #1266
Why is this false by default? It's extremely poor UX.

[2018-02-10 03:40] jcrben commented on #1683
If you're on Linux and you don't have the native title menu, then you may not be able to get to the menu at all. You need to enable `showHamburgerMenu` - discussed at https://github.com/zeit/hyper/issues/1266.

[2018-02-10 04:11] sergiorojasa commented on #1496
I would like to work on this issue.

[2018-02-10 06:39] srikrishnacj commented on #1419
I too have the same problem.
Using Windows 10 latest update.
Hyper 1.4.8(stable)

[2018-02-10 09:50] AuHau commented on #280
Is there any update on this? The current size of scrollback buffer is not really sufficient...

[2018-02-10 16:57] AskAlice commented on #2560
how is this a feature request? every fucking other window does it? This is a bug!!!

[2018-02-11 00:28] trusktr commented on #1733
Bump.

The screenshot shows that although I've selected text in NeoVim, it looks as if nothing is selected (not just ugly, but negative impact on perceived functionality):

![bad_color](https://user-images.githubusercontent.com/297678/36067996-72cddc70-0e7f-11e8-976f-a2b08ceeff51.PNG)

[2018-02-12 06:28] TomazWang commented on #1351
+1

[2018-02-12 06:31] Galilyou commented on #1252
@styfle are you sure you set the env var TERM to 'cygwin' as in the gist?

[2018-02-12 09:22] livey0u opened #2668 "Multiple error messages are displayed for same error, if multiple tabs & panel are open"
- [ x] I am on the [2.0.0-canary.11](https://github.com/zeit/hyper/releases/tag/2.0.0-canary.11) Hyper.app 2.0.0-canary.11
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**: 2.0.0-canary.11
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.

[2018-02-12 10:23] wolfgangrittner commented on #287
@lordgiotto same here, I'm running 1.4.8 on Sierra and dropping a folder (from finder, or any other source) on the dock icon does nothing.

[2018-02-12 10:52] chabou commented on #2668
Your issue is due to a bad plugin (ie. `hyper-autoprofile`), developped by a bad bad developper (ie. me) 😛.

Can you try to add a `autoProfile: {}` in your hyper config file?

Do you mind to open an issue in plugin repository: https://github.com/chabou/hyper-autoprofile

[2018-02-12 12:44] albinekb commented on #287
Looks like we have a regression here, @chabou could this have been accidentally removed in 2.x? 🤔

[2018-02-12 15:54] blark commented on #1733
Would really like to see true color support. Been using this on WSL since it came out, and on my other platforms (Linux and Mac) so all my configs are set for it. I'd really like to switch to Hyper but true color is too nice to give up :)

[2018-02-12 16:10] chabou commented on #287
We have some feedbacks from 1.4.8 too.
We maybe have some old regression but not related to 2.X imo

[2018-02-12 16:47] chabou commented on #2668
@livey0u: Fixed in `hyper-autoprofile` v1.0.1.
Thank you for your feedback 🙏

[2018-02-12 16:47] #2668 closed

[2018-02-12 20:10] chabou commented on #2294
@mike-engel can you confirm me that running vim with your config in Terminal or iTerm looks like hyper v1.4.8?

[2018-02-12 20:20] #2039 closed

[2018-02-12 20:33] kireerik commented on #1020
Hi all, is it possible to remove the `PS ` prefix?

[2018-02-12 20:51] #316 closed

[2018-02-12 22:25] chabou commented on #973
@johnslemmer xtermjs/xterm.js#1117 has been merged in xterm v3.1 (and in hyper canary https://github.com/zeit/hyper/pull/2667)
Here a PR to use these new settings: https://github.com/zeit/hyper/pull/2669

But this is not exactly this issue subject.

[2018-02-12 22:26] chabou commented on #475
FTR: New config settings to disabling/force bold https://github.com/zeit/hyper/issues/475

[2018-02-12 22:50] chabou commented on #2574
@vinkla Thanks to #2669 you'll be able to disable/force bold font.
In your example, your prompt is normal and your `.git` folder is bold

[2018-02-12 22:55] Smona commented on #1336
I've managed to hack together a fix for my powerline use case:
![2018-02-12_16-50-12](https://user-images.githubusercontent.com/7091399/36124215-dea58eac-1014-11e8-96c5-a3146874286a.png)

[code]

Since the issue complicates when you change the width of unicode characters (messing up the cursor position), i just moved them on top of the other characters and adjust the alignment manually. You might

[2018-02-13 00:02] deleteme commented on #1367
This problem is particularly bothersome for those who use vi mode bindings (j/k) to browse history.

[2018-02-13 00:22] UltCombo commented on #2660
Indeed, my `.hyper.js` comes from a very old installation, it was missing the `updateChannel` key. Thanks @albinekb! 😄

[2018-02-13 00:22] #2660 closed

[2018-02-13 02:29] TomazWang commented on #155
`set termguicolors` won't work for me. It makes my vim colorless. I'm using vim 8.0 and hyper 1.4.8 as well. hyper 2.0 has the same problem too.

[2018-02-13 03:26] mike-engel commented on #2294
@chabou running iterm2 stock (minus base16 ocean dark from chris simpson) with my vim theme produces what I'd expect, which matches hyper 1.4.8. Let me know if you'd like me to try anything else!

### iTerm2 v3.1.5
<details>
<img width="682" alt="screen shot 2018-02-12 at 20 24 53" src="https://user-images.githubusercontent.com/464447/36132199-0839a028-1033-11e8-976b-e5859ad5a113.png">
</details>

[2018-02-13 11:40] Stanzilla commented on #2621
Should be fixed by https://github.com/zeit/hyper/commit/dc3155f190d7f72540c85c860b6f715a4befad44

[2018-02-13 13:18] PabiGamito commented on #1769
@gabrieldrs  Doing this seems to mess with the cursor, slightly offsetting it to the left when there are icons on the same line. Do you happen to know of any other fix for this?

[2018-02-13 14:33] chabou commented on #2294
Thank you for your screenshot.
I installed your config and reproduced your issue.

I tried to dig deeper into this issue and this is what I found:
Using `set termguicolors` needs to have a 24-bits (truecolor) ISO-8613-3 compatible terminal. Xtermjs isn't yet compatible. In this case, terminal render a `#303030` appromixation instead of `#2B303B` blue grey.

When `termguicolors` isn't set, it fallb

[2018-02-13 14:37] chabou commented on #2294
If you want to keep theme colors, I think you could use something like https://github.com/chriskempson/base16-shell with `let base16colorspace=256` vim theme parameter.

[2018-02-13 15:47] chabou commented on #1367
@deleteme what is your hyper version?
If you are using v1.4.8, can you install our last canary by adding `updateChannel: 'canary'` in your config file and retry?

[2018-02-13 17:12] deleteme commented on #1367
It's fixed in canary, thank you! ([before](https://user-images.githubusercontent.com/9389/36163292-ce3bb4b8-109d-11e8-9608-d3b1d8d8fe31.gif), [after](https://user-images.githubusercontent.com/9389/36163299-d2d58184-109d-11e8-9303-26c0d4959236.gif))

[2018-02-13 17:18] chabou commented on #1367
Thank you for your confirmation :pray:

[2018-02-13 17:21] chabou commented on #155
@TomazWang Thank your for your feedback.
`set termguicolors` is not possible anymore because our next v2 stable release will not support truecolor due to xtermv3

I'm closing this issue in favor of https://github.com/zeit/hyper/issues/2294

[2018-02-13 17:21] #155 closed

[2018-02-13 17:27] mike-engel commented on #2294
Thanks @chabou. I'll take a look at my configs tonight and try to update them.

[2018-02-13 17:32] deleteme commented on #2387
This problem still exists on canary.

[2018-02-13 17:35] chabou commented on #2387
@deleteme Was it after a `Reload`?

[2018-02-13 17:37] cclafferty commented on #1448
This is happening me too. I copied code written in Visual Studio Code over to nano and not only does it paste it in as one big line it also starts to eat other lines making a real mess.

[2018-02-13 20:14] benjamindenboer commented on #2651
I have this too, only when setting a custom shell path, though. When `shell` is left empty, it works for me.

[2018-02-13 20:54] brucedjones opened #2671 "Output incomplete or not correct"
- [x] I am on the canary11 Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- Windows 10
- Canary 11
- default hyper.js
- N/A
- Is Vanilla

## Issue

I have noticed that when a program outputs at a high frequency the output is either incomplete or doesnt appear at all. The best example i can give for t

[2018-02-13 21:37] deleteme commented on #2387
It can happen after a reload. It's more noticeable after changing tabs. In case it helps, I have a custom text-shadow style. The bug looks like the text-shadow persists between tabs. Resizing the window clears the artifacts.

[code]

[2018-02-14 01:51] ppot commented on #2643
Is it the same instance or different version of Hyper?

[2018-02-14 06:00] MAPESO commented on #2657
@willricketts Hi, hpm-cli is having some problems. In the version canary hyper that will soon be stable, we integrate a hyper-core cli that works much better. I invite you to try it 😸

[2018-02-14 08:16] chabou commented on #2387
@deleteme What is your exact Hyper version?
In our last canary, this setting should not apply, because we are using xtermv3 that uses canvas instead of DOM to render text.

[2018-02-14 08:23] chabou commented on #2671
Repoduced only on Windows (on GitBash).
Works great on macOS.

Seems related to win-pty.

[2018-02-14 08:29] chabou commented on #1448
@cclafferty @Kimmax @bryantAXS What is you Hyper version?
I can't reproduce on `2.0.0-canary.11`

[2018-02-14 08:35] Scukerman commented on #1448
@chabou I just installed it to test. Still happening in nano.

[code]

OS: `macOS High Sierra 10.13.3`
Shell: `zsh 5.3.1 (x86_64-apple-darwin16.6.0)`

[2018-02-14 08:52] chabou commented on #1448
@Scukerman thank you for your feedback.
I'm using zsh too and I can't reproduce :(

[2018-02-14 10:09] 2Kayo commented on #2655
This used to happen to me, but it seems to be fixed after I enabled "Override high DPI scaling behavior. Scaling performed by Application" in the Compatibility section of the .exe's properties.

[2018-02-14 10:48] duttaditya18 commented on #2671
@chabou The exact same code you wrote works fine on Canary 11, Hyper, ZSH, Win 10 V-1709

[2018-02-14 10:58] Ulimn commented on #1290
@albinekb Your reply is infuriating. From Europe, the download speed is under 100KB/s. Tested from Hungary and Germany.

[2018-02-14 11:16] albinekb commented on #1290
Someone commented but removed their comment, this is the download speed from sweden, europe. Seems fine?

![image](https://user-images.githubusercontent.com/5027156/36201555-9c8d61c6-1180-11e8-9b2a-cc752f59b3ee.png)

[2018-02-14 11:34] nzvtrk commented on #2524
@husainaloos this problem has been solved for me after i wrote shell path in .hyper.js
Its work for me on windows10 and windows7

[2018-02-14 11:56] albinekb commented on #2643
This happens to VS Code too on my windows machine, seems to be something with updates and how the pinning system works in windows.

[2018-02-14 13:09] #2574 closed

[2018-02-14 14:03] timothyis commented on #2004
Hi again, could any of you try the canary release and see if the issue is fixed?

[2018-02-14 14:28] brucedjones commented on #2671
Forgot to mention that I'm noticing incomplete output in powershell too with canary11, but am not in a position to test that code with ps for a few days.

[2018-02-14 15:46] deleteme commented on #2387
I am using version `Hyper 2.0.0-canary.11 (canary)`. You're right. There is no text-shadow applied to the text anymore, which is unfortunate because this was why I started using hyper in the first place.

[2018-02-14 15:52] chabou commented on #2387
Yes this is unfortunate 😞
But this is the cost of performance 🚀
`xterm` v3 (backed by canvas) is really amazing.
But yes, less customizable.

[2018-02-14 16:09] chabou commented on #2524
For text color, themes only concern background/foreground color and ANSI colors. CMD doesn't use any ANSI colors.
But yes, it will work with a configured shell on WSL or GitBash/Cygwin.

Coloring path is a shell feature, not a terminal feature.

[2018-02-14 16:09] #2524 closed

[2018-02-14 16:15] cclafferty commented on #1448
[code]
OS: `macOS High Sierra 10.13.3`
Shell: `zsh 5.4.2 (x86_64-apple-darwin17.3.0)`

[2018-02-14 16:20] chabou commented on #973
I think that this issue is fixed in v2.0.0 canary (backed by `xtermjs`).

Feel free to comment if not.

[2018-02-14 16:20] #973 closed

[2018-02-14 17:31] Jameskmonger commented on #1290
Seems fine for me now, albeit from a totally different network (still in the UK)

[2018-02-14 18:15] kingmomo commented on #1203
I use [hyper-pane](https://www.npmjs.com/package/hyper-pane) + [hyper-broadcast](https://www.npmjs.com/package/hyper-broadcast) to do exactly what you are saying.

[2018-02-14 20:27] albinekb commented on #1203
This is available as plugins, @kingmomo linked two nice ones 👍

[2018-02-14 20:27] #1203 closed

[2018-02-14 20:32] albinekb commented on #1290
Still fast in  🇸🇪
![image](https://user-images.githubusercontent.com/5027156/36226582-84357d22-11ce-11e8-9829-287abf66576d.png)

[2018-02-14 20:36] albinekb commented on #1290
Doh, I know what the issue was/is. The link you have in you initial message is to the old update server hosted at now.sh, now.sh is US-only and the code was written to proxy the github download  (don't ask me why), that meant pretty slow download speeds, I'm seeing 300KB/S in 🇸🇪 .  Everything should be alright now as all the new links use github releases direct link, which is on a CDN (s3).

[2018-02-14 20:54] QZSAMA commented on #1496
After I check the realease stable version (1.4.8) and also the resource code on windows 10 64 bit platform, the issue is already fixed. But the this issue post haven't been closed.

[2018-02-14 21:01] kingmomo opened #2673 "Drag and drop files onto a ssh session"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Sierra version 10.12.6
- **Hyper.app version**: 1.4.8 (stable)

## Enhancement/Plugin Request

Drag and drop files onto a ssh connection will copy

[2018-02-14 21:32] sarah-appsheet commented on #2655
Hm. I enabled that setting, but I'm still seeing the issue.

[2018-02-14 21:48] Kimmax commented on #1448
@chabou I'm out of office till monday, gonna update you as soon as I can

[2018-02-15 09:21] kuoppa opened #2674 "CMD + R breaks Hyper"
When pressing CMD + R when window is active it breaks the app. it clears all texts and no tab is working except the one you're in. So it results in a reboot of the  app.

- **OS version and name**: 10.13.1 High Sierra
- **Hyper.app version**: 1.4.8

[2018-02-15 11:30] alexedwardh opened #2675 "Encoding UTF-8 Python stdout"
**OS version and name**: Windows 10
**Hyper.app version**: 1.4.8 stable

## Issue

`'charmap' codec can't encode character '\u015f' in position 311: character maps to <undefined>`

Seem to experience this despite having encoding set and environment variable set. Don't experience this on default cmd.

[2018-02-15 12:28] saravanaselvan commented on #2655
@2Kayo Thanks very much. It seems to be working for me.

[2018-02-15 12:28] #2655 closed

[2018-02-15 13:31] problem233 opened #2676 "Xterm.js doesn't support font ligatures"
The `latest` version supports font ligatures, but `canary` doesn't.

[2018-02-15 13:33] chabou commented on #1203
Amazing plugins 😎 :trollface:

[2018-02-15 14:33] kingmomo commented on #1203
@chabou i have to agree! :clap:

[2018-02-15 15:04] albinekb commented on #2676
Latest version of what?

See https://github.com/zeit/hyper/issues/914#issuecomment-357979257 for more info

[2018-02-15 15:04] #2676 closed

[2018-02-15 20:42] styfle commented on #1252
@Galilyou I must have missed that. It [works](https://github.com/zeit/hyper/issues/1252#issuecomment-267810099) now, thanks!

[2018-02-16 13:14] arshdkhn1 opened #2677 "What are latest-mac.json and latest-mac.yml for?"

[2018-02-16 13:24] arshdkhn1 commented on #2677
No problem with 50mb file. Thanks!

[2018-02-16 15:12] mikemaccana commented on #1121
Still happens on 2.0.0 canary 11

![image](https://user-images.githubusercontent.com/172594/36314155-d7c47048-132b-11e8-8013-30b7db9fd2b2.png)

[2018-02-16 15:24] mikemaccana commented on #1121
Linking to the win-pty issue:

https://github.com/rprichard/winpty/issues/116

[2018-02-16 18:40] arshdkhn1 commented on #2605
@albinekb
![image](https://user-images.githubusercontent.com/16819670/36323384-c70f284c-1376-11e8-8457-3ceffcc18596.png)

[2018-02-16 18:41] arshdkhn1 opened #2678 "Getting canary notifications even when updateChannel is stable."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Lubuntu 17.10
- **Hyper.app version**: 1.4.8

## Issue

![image](https://user-images.githubusercontent.com/16819670/36323391-ccacd7f4-1376-11e8-9de1-0510

[2018-02-16 21:23] adammacias commented on #1556
Not working here too ```Windows 10 v1709 Build 16299.248``` ... ```Hyper 1.4.8```

[2018-02-16 21:30] kenorb opened #2680 "Support for symbolic links for the config file (`~/.hyper.js`)"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: 10.13.2 (macOS High Sierra)
- **Hyper.app version**: 1.4.8
- **.hyper.js**: default
- **The issue is reproducible in vanilla Hyper.app**: Yes

## Issue

[2018-02-17 06:49] gurpreetshanky opened #2681 "Windows 10 Install error"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 1709 (16299.248)
- **Hyper.app version**: 1.4.8

## Issue

2018-02-17 01:35:14> Program: Starting Squirrel Updater: --install .
2018-02-17 01:

[2018-02-17 07:41] MiYogurt opened #2682 "chinese fonts has some error"
![image](https://user-images.githubusercontent.com/10082395/36339044-49ec6506-13f7-11e8-97bc-1fed8cc10fe4.png)

![image](https://user-images.githubusercontent.com/10082395/36339047-6c720e5a-13f7-11e8-9dbb-5c3079573c11.png)

![image](https://user-images.githubusercontent.com/10082395/36339048-81de2d3c-13f7-11e8-8c51-3068e37019ae.png)

![2018-02-17 15 33 58](https://user-images.githubusercontent.com

[2018-02-17 10:35] albinekb commented on #2682
Hi! Try hyper canary, read how to enable it @ https://zeit.co/blog/canary

add `updateChannel: 'canary'` to your .hyper.js

[2018-02-17 18:24] hsiktas commented on #1147
Could this work while keeping the powershell.exe elevated but leaving Hyper.exe as a normal user process?
If I look at ConEmu, I see that a "PowerShell Admin" tab is also starting a ConEmuC64.exe child-process with the same high integrity level as powershell.exe.

I don't think that anyone would like to run the entire Electron-stack with admin rights. 😱

Somewhat tangential, but a similar topic ab

[2018-02-17 20:49] kenorb commented on #2680
It seems it worked after installing _TextMate_.

[2018-02-17 20:49] #2680 closed

[2018-02-18 00:52] SidneyNemzer commented on #1252
I'm not able to get this working with the latest version of Git. I've used [this config](https://github.com/zeit/hyper/issues/1252#issuecomment-267810099) for over a year now on two computers. Today I was setting up a new computer and downloaded the latest version of Git.

Launching Hyper with the config causes it to instantly close. No related logs in the devtools. Is there a log file I should ch

[2018-02-18 04:06] alexh commented on #1188
I'm getting the same issue as @mackmmiller

[2018-02-18 20:57] amisarca opened #2683 "Allow remapping keys, like iTerm does"
An very useful feature of iTerm is that it allows remapping certain keys. It would be really cool if hyper allowed remapping the keys in a similar fashion

<img width="933" alt="screen shot 2018-02-18 at 20 53 46" src="https://user-images.githubusercontent.com/648130/36356759-4d1da9ae-14ee-11e8-89e0-860ff7a8d78a.png">

[2018-02-19 04:11] brandon93s commented on #175
Added in #2669.

[2018-02-19 08:19] chabou commented on #175
@brandon93s Thanks!

[2018-02-19 08:19] #175 closed

[2018-02-19 11:44] Ichtaina commented on #2683
+1

[2018-02-19 12:15] albinekb commented on #2683
What are you missing from our keymap in config? https://hyper.is/#keymaps

[2018-02-19 15:17] MAPESO commented on #2681
@gurpreetshanky Hi, You can reinstall it. If the problem persists, let me know 🙏

[2018-02-19 16:09] gurpreetshanky commented on #2681
@MAPESO  Thanks it working now.

[2018-02-19 16:12] Zamerick commented on #2298
OS: Elementary OS Loki (Based on Xenial)
Hyper.app :2.0.0.- canary 11, and 1.4.8.

I'm experiencing this issue as well. I've tried mucking with the permissions on .hyper.js, but so far no luck.

[2018-02-19 21:58] JacobDB commented on #312
I'm still periodically having this problem, but I'm not 100% sure if it's the same issue. For some reason when updating plugins, I often get an error:

`Error: ENOTEMPTY: directory not empty, rmdir 'C:\Users\Jacob\.hyper_plugins\node_modules\electron\dist\resources'`

If I go and delete that folder myself, everything works just fine. It's like there's something running out of order or something.

[2018-02-19 23:33] alshdavid opened #2685 "[Feature Request] - .hyperfile file acting as a launch script"
I have an environment that has the same setup.

1) Open hyper as admin
2) Split vertically
3) Split vertically
4) Split previous horizontally
5) Split next vertically.
6) Run series of commands on each
7) New tab
8) ...etc

This has been the optimal environment for my current workflow and I repeat this process sometimes multiple times a day.

Would be really cool to have `.hyperfile` file type tha

[2018-02-20 06:55] chabou commented on #2681
Nice.
@gurpreetshanky, next time, please close your issue if it is resolved 😉

[2018-02-20 06:55] #2681 closed

[2018-02-20 08:40] VladimirHumeniuk opened #2686 "2.0.0-canary.12 is broken"
Hi guys, looks like you broke app in last canary release. Scroll and vertical split does not work after update.

[2018-02-20 09:02] albinekb commented on #2686
Yes we broke it intentionally. Sorry for the inconvenience. You can switch to the stable release by chaning `updateChannel: 'stable'`

No this is a regression, thanks for reporting. We're on it.

[2018-02-20 09:06] albinekb commented on #2685
I like the idea! I think this is already possible by creating a plugin that registers with .hyperfile extension, and picks that up, runs it with it's own lib converting it to hyper's redux actions, dispatching them to the hyper store and thus opening tabs etc.

[2018-02-20 09:15] chabou commented on #2686
Fixed by https://github.com/zeit/hyper/commit/52ac609c6ecacc2801da84203f617e0f7a0ca91f

New canary incomming

[2018-02-20 11:04] chabou commented on #2686
Broken by https://github.com/xtermjs/xterm.js/pull/1208

[2018-02-20 14:02] timothyis opened #2687 "Reset splits either side of a divider to an even ratio on double click of the divider"
## Enhancement
Would be great if double clicking the divider between two splits would reset those two splits to an even size. Otherwise you have to drag and guess.

![image](https://user-images.githubusercontent.com/1695613/36427984-957b5bd4-1646-11e8-9a5e-5a71ee8dbded.png)

[2018-02-20 14:56] bboure opened #2688 "Semi-transparent background not working as expected"
How to reproduce:

1.  I have `2.0.0-canary.13`
2. I have this line in my `.hyper.js`
[code]
3. I open hyper and see a completely transparent background
4. I open preferences, background becomes completely black
5. I click on hyper to regain focus, background becomes as expected (semi-transparent black)

[2018-02-20 14:58] MiYogurt commented on #2682
yes 3q, it's work for me . but it look like v2 did not finish

[2018-02-20 14:58] #2682 closed

[2018-02-20 15:05] JesseLeite commented on #2688
Same here 😢

![screen shot 2018-02-20 at 10 04 49 am](https://user-images.githubusercontent.com/5187394/36431408-84d32f26-1625-11e8-943a-3fe25cc7cb88.png)

[2018-02-20 15:13] chabou commented on #2688
Reproduced

I noticed something:
If you edit your config again and save, background color is ok 😞

[2018-02-20 15:13] Stanzilla commented on #2621
The link now is `https://github.com/zeit/hyper/releases/tag/2.0.0-canary13` instead of `https://github.com/zeit/hyper/releases/tag/2.0.0-canary.13` notice the missing period.

[2018-02-20 15:18] JesseLeite commented on #2688
@chabou yeah I noticed that too.  However upon restarting, it's transparent again.  Also "background color is ok" doesn't seem totally true...

![screen shot 2018-02-20 at 10 16 33 am](https://user-images.githubusercontent.com/5187394/36432068-3a379928-1627-11e8-947b-5ddce4a588cd.png)

It doesn't seem to matter whether I set opacity to 0.6 or 0.9, it renders the same on save.

[2018-02-20 15:19] chabou commented on #2688
Oh, I didn't noticed that.

Thank you 🙏

Investigating...

[2018-02-20 16:14] #2688 closed

[2018-02-20 16:29] chabou commented on #2688
`2.0.0-canary.14` incoming

[2018-02-20 16:30] chabou commented on #2688
Really sorry for this regression 😞

[2018-02-20 18:01] JesseLeite commented on #2688
@chabou no problem, and thank you!

[2018-02-20 20:11] joeSaad commented on #1251
any updates on this issue?

[2018-02-20 20:59] benatkin commented on #1308
This seems like something that might have unintentionally been fixed since then. I'm going to test it out and report back.

[2018-02-20 21:08] albinekb commented on #1251
Anyone that tested `canary`? I think this might be fixed. 2.0.0 will be released 🔜

[2018-02-20 22:21] maikwoehl commented on #2687
I think `` hyper/lib/components/split-pane.js `` ist the relevant part.

I will take some time of my break at work to think about it.

Maybe I will come up with a solution.

Please don't assign me yet. I don't know if I can find time to contribute. But I will try.

[2018-02-20 22:45] benatkin commented on #1308
I configured Hyper to use FuraCode Nerd Font. I found that ligatures were not enabled by default. Installing [hyper-ligatures](https://github.com/timneutkens/hyper-ligatures) got them working, but in Neovim they would sometimes not work. For instance, if I went to a new JavaScript tab and typed `<=` the ligature would not appear right away, but when I left the tab and went back to it, the ligature

[2018-02-21 06:12] Shcak commented on #1947
It does exactly the same for me on Windows 10 x64 with Hyper 1.4.8. On any output of Rust and Cargo.

It also does'nt align updating lines correctly :

![display](https://user-images.githubusercontent.com/36688662/36465643-5b7ea86a-16d6-11e8-8633-28e6e0065ba8.png)

Is any fix on the horizon ?

[2018-02-21 06:49] niceKamrul commented on #1556
Not working with windows 10

[2018-02-21 08:09] olsonpm commented on #1448
This issue occurs in [xterm.js' demo](https://github.com/xtermjs/xterm.js#demo) so I imagine it's unrelated to hyper.

[2018-02-21 08:16] bgw commented on #2592
FYI, I'm working on an implementation of a dynamic character atlas for xterm.js that allows characters with different background colors to be cached, which should fix most people's performance issues. It generates a character atlas that looks something like:

![selection_031](https://user-images.githubusercontent.com/180404/36469286-90f040ca-169b-11e8-8302-935d22e79c50.png)

The current implementa

[2018-02-21 09:02] albinekb commented on #1556
It's not supported on windows.

[2018-02-21 09:15] Kimmax commented on #1448
@chabou I'm sorry, forgot you. I'm on 2.1.1 stable
@olsonpm I don't see the connection here, mind shining light on me?

[2018-02-21 09:25] olsonpm commented on #1448
I'm still working at debugging this via the xterm.js demo.  There are a decent amount of paste issues on both xterm.js and vscode (which forked xterm.js I believe).  It just seems like the issue is deeper than this client which is built on top of xterm and electron but hopefully I'll have it solved by tomorrow.

[2018-02-21 10:45] albinekb commented on #1947
Please try our canary release: https://zeit.co/blog/canary . It's out 🔜 ⏲

[2018-02-21 10:58] kenorb commented on #698
Same with Hyper 1.4.8 (stable)

Reproducible steps:

1. Run `seq 1 1000`.
2. Scroll up.
3. Then try to select lines from 1 to 1000. Not possible.

[2018-02-21 11:09] jghielmi opened #2690 "Bug on opening, can't do anything as if it doesn't load fully"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows10
- **Hyper.app version**: 1.4.8
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: [https://gist.github.com

[2018-02-21 12:03] swetli commented on #1613
None of the workarounds worked for me on windows 10. I had to completely disable the sounds for the windows theme to get rid of the bell sound( Right click on the desktop->Personalize->Themes->Sounds->No Sounds)

[2018-02-21 13:19] lesce commented on #2687
@maikwoehl I can take a look also , if you haven't started it .
I already have a working prototype , could probably create a PR today
Let me know what your status is on this

[2018-02-21 14:30] dougmaitelli commented on #2525
Just a short update here, I am facing some issues related to non monospaced fonts even in the latest canary version.

FuraCode NF Mono:
![image](https://user-images.githubusercontent.com/1277391/36485289-20918934-171c-11e8-987a-44444c0ccf5a.png)

FuraCode NF:
![image](https://user-images.githubusercontent.com/1277391/36485214-eb531e90-171b-11e8-9638-771dd027bbd3.png)

[2018-02-21 14:48] jericopingul opened #2691 "Windows collapse, minimize and close buttons are visible on Ubuntu"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 16.04
- **Hyper.app version**: Hyper 2.0.0-canary.11 (stable)
- **The issue is reproducible in vanilla Hyper.app**: Straight out of the box

##

[2018-02-21 15:02] lesce commented on #2687
added a PR for this , would love some feedback on it @maikwoehl @timothyis

[2018-02-21 15:09] mhamdan95 opened #2693 "Export the text as ctrl + s doesn't exist in HyperTerminal"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: <macOS HighSierra 10.13.2>
- **Hyper.app version**: < hyper 1.4.8 >
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:

[2018-02-21 16:03] Tyriar commented on #2592
@bgw nice! I had a quick look at your branch, this was the main bit I'm worried about:

[code]

I think using these feature would break some browser support like IE11.

[2018-02-21 16:13] albinekb commented on #2691
Hmm, is this the case on all linux dists and all window managers? Or would it need to be configured per-windowmanager? 🤔 Maybe there's some way to find out if the current WM has built in window controls?

[2018-02-21 16:13] Tyriar commented on #2592
@bgw I created https://github.com/xtermjs/xterm.js/issues/1294 to track this, the issue I pointed to before https://github.com/xtermjs/xterm.js/issues/1063 is a different set of optimizations that can be tackled separately.

[2018-02-21 16:15] albinekb commented on #2592
Why do you need IE 11 support @Tyriar Isn't performance more important than compatibility for xterm? 😄

[2018-02-21 16:18] Tyriar commented on #2592
@albinekb well it's more about developer convenience than performance, but IE11 support is needed to run xterm.js within Visual Studio 🙂 https://github.com/Microsoft/WhackWhackTerminal

[2018-02-21 16:22] Tyriar commented on #2592
@bgw also are these different characters? Looks like 3 space chars?

<img width="86" alt="screen shot 2018-02-21 at 8 21 27 am" src="https://user-images.githubusercontent.com/2193314/36491716-49fc8242-16e0-11e8-8f95-3bcf35ac4475.png">

I notice 3 dark grey ones too?

[2018-02-21 17:06] ppot commented on #2693
export text as ?

[2018-02-21 17:16] bgw commented on #2592
@Tyriar I need an ordered map implementation for the LRU cache, so I'm relying on the ES6 Map implementation, which guarantees insertion order iteration. We'll either need to pull in a polyfill, or I'll need to write a minimal ordered map implementation myself. Alternatively, we can try relying on the iteration order of objects in JS, but that's also a fairly new addition to the spec, though every

[2018-02-21 17:44] Shcak commented on #1947
Tested it on canary, problem persists.

[2018-02-21 17:49] Tyriar commented on #2592
@bgw

Probably a polyfill is the way to go, we can tackle that later though.

Makes sense.

---

Something else you might notice with the current implementation is that the default background color is pulled off of characters in the character atlas, this is so characters that are overlaid on wide glyphs will not completely override them. An example:

<img width="203" alt="screen shot 2018-02-21 at

[2018-02-21 21:02] lesce commented on #2693
as a file , iterm2 and Terminal.app has this feat
first I ever heard of it too

[2018-02-22 05:53] iamvinny commented on #94
The same is happening for me.. Sometimes I have to run cURL commands on terminal and it returns a big output that instantly crash Hyper.js.

[2018-02-22 08:09] abhi18av opened #2694 "Crashes when trying to use Powershell as the login shell."
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
I'm on the stable release
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **CetnOS 7**:
- **Hyper version 1.4.8**:
- **https://gist.github.com/abhi18av/19951176d337d2d28ef6499c93f3bb41**:
- **Relevant information from devtools

[2018-02-22 10:53] crostine opened #2695 "gpu is always active when Hyper is active"
- [v] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [v] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **Windows 10**
  - **OS Name**	Microsoft Windows 10 Home
  - **Version**	10.0.16299 Build 16299

- **1.4.8 stable**
- **[Gist of .hyper.js](https://gist.github.com/crostine/d77f0

[2018-02-22 11:42] lesce commented on #2674
I can take a look 👀

[2018-02-22 12:09] kaminooni commented on #1968
I ran into the same problem. And since I use vim (with a lot of color schemes) for coding, it makes hyper almost unusable 😞

![shot](https://user-images.githubusercontent.com/2164861/36537826-525ce60e-17e2-11e8-9874-de8c17564528.png)

[2018-02-22 12:19] krzema12 opened #2696 "How to call `yarn build` after plugin installation?"
I develop a plugin: https://github.com/krzema12/hypergravity

I use yarn and webpack to bundle several .js files into one index.js file that resides in the root directory of my plugin and is loaded by Hyper. Currently, with every change in the source code, I need to recompile this index.js file and add it to the commit. Rebuilding is done after I do `yarn build`.

My aim is `yarn build` to be exec

[2018-02-22 12:30] albinekb commented on #2696
I think you should publish a prebuilt version of your package, you should only have webpack as a development dependency. In development, just run your webpack manually with --watch, would that work? So you should just build as normal and add `files` to your package.json, only publishing the **built** files. Hope that makes sense. I can see if I can find a guide 👍

[2018-02-22 14:50] timothyis commented on #94
@iamvinny Can you try the canary release? It certainly stress tests your systems but it does't lock up Hyper for me anymore.

[2018-02-22 15:57] JesseLeite commented on #2588
I've been getting this for a while too.  Doesn't seem to happen in bash, but does with zsh + oh-my-zsh.

![2018-02-22 10 55 13](https://user-images.githubusercontent.com/5187394/36548706-fc3f6314-17be-11e8-8d3f-9e73655969fd.gif)

It seems both the text and background color of pasted text uses `foregroundColor` in my hyper config.

[2018-02-22 16:03] kenorb opened #2697 "Support for vertical selection"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: 10.13.2 (17C2120)
- **Hyper.app version**: Hyper 1.4.8 (stable)

## Issue

In _Terminal_ app I could press _Alt_ key and make a vertical selection, simil

[2018-02-22 16:08] krzema12 commented on #2696
Thanks for the pointer, I played with `.gitignore` and `.npmignore` a bit and I'm further towards having it the proper way. Now, `/index.js` is ignored by git, but not by npm.

The only thing left is to ensure that there's the compiled `index.js` in the root directory. Otherwise, after calling `npm publish`, the compiled JavaScript **won't be** in the npm package. Are you aware of any mechanism th

[2018-02-22 16:15] mhamdan95 commented on #2693
@ppot sorry, yes it's as file

[2018-02-22 16:16] mhamdan95 commented on #2693
@lesce thanks for your participation

Then do you have any idea about the solution?

[2018-02-22 16:17] albinekb commented on #2696
You should add your build script to `"scripts": { "build": "here" }` and it will be run automatically on `yarn/npm publish`. If you can't configure your build to output in the root, you can add `"main": "path/to/index.js"` to your package.json and it should work 👍

[2018-02-22 16:39] krzema12 commented on #2696
Works like a charm.
For future reference, here are the exact changes I made to achieve it: https://github.com/krzema12/hypergravity/commit/d4df36f63ff00e3cc46d956c6aa3db461b967591

Thanks for your time!

[2018-02-22 16:39] #2696 closed

[2018-02-22 17:22] lesce commented on #2693
@mhamdan95 I can take a look tomorrow

[2018-02-22 17:33] albinekb commented on #2696
Glad i could help and good luck! 😊👌🤘

[2018-02-22 22:33] gurpreetshanky opened #2699 "Weird Scrolling Issue with other Applications"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

OS version and name: Windows 10-1709(16299.248
Hyper.app version: 1.4.8

When hyper is active it interferes with scrolling issues in other programs like Sublime Text or Vscode (Lit

[2018-02-23 00:25] chabou commented on #2693
Perfect idea for a plugin.
Saving a selection or all history 😍

[2018-02-23 00:33] chabou commented on #2697
In our v2, selection is handled by xterm.js.
Thus, we need to implement this in xterm.js repository.

[2018-02-23 01:09] iamvinny commented on #94
@timothyis , thanks, changing the update channel to canary solved the problem.

[2018-02-23 02:24] olsonpm commented on #1448
Alright - more reading and I finally understand the issue.

**In short**: The fix is to translate `\n` to `\r` as @menzow initially described. I will open a PR in xterm.js.

*note Hyper uses [a fork of xterm.js](https://github.com/zeit/hyper/blob/canary/package.json#L197) which will need to pull in the fix when it's merged.*
<br>

**In case you want to understand what's going on**:

This seems to

[2018-02-23 12:08] FaheemAlam commented on #87
I am using High Sierra and its works fine for me. `backgroundColor: 'rgba(0,0,0, 0.8)'`

[2018-02-23 12:46] timothyis commented on #2687
Merged in #2692 🎉

Huge thanks to you @lesce ❤️ and for your review and interest @maikwoehl 👏

I hope we see you contributing again 🙏

[2018-02-23 12:46] #2687 closed

[2018-02-23 15:13] mhamdan95 commented on #2693
@chabou that's true, thanks a lot :+1:

[2018-02-23 15:19] stefanivic commented on #2691
@jericopingul @albinekb this is dependent on the actual Desktop Environment. Ubuntu and Unity utilize the global menu that include collapse, minimize and close buttons but some do not have this feature available and use regular window buttons. In order to disable this you can set `showWindowControls: false,` in the Hyper config file. There is a lot of "fragmentation" in the Linux community and tak

[2018-02-23 15:21] stefanivic commented on #2694
@abhi18av there was an issue with `shellArgs: ['--login'],` causing issues on Windows for Powershell, can you try to remove `['--login']` and check if it works.

[2018-02-23 15:47] jericopingul commented on #2691
@stefanivic agreed it would be time consuming to consider all possible options. Thanks for the response.

[2018-02-23 15:56] kinglouie commented on #364
On the latest 2.0 canary I have the same issue as in the first post from this thread. On 1.4.8, `colortest` from base16-shell works fine.

#### 1.4.8

<img width="800" alt="bildschirmfoto 2018-02-23 um 16 47 31" src="https://user-images.githubusercontent.com/8280409/36603165-3c6cebfe-18ba-11e8-9c74-1b5b54bd1b6b.png">

#### 2.0 canary

<img width="769" alt="bildschirmfoto 2018-02-23 um 16 49 53" sr

[2018-02-23 19:38] drhacko commented on #2362
even the `yes` binary breaks hyper because it's so bad at handling.

[2018-02-23 22:09] CatherineHenry commented on #2168
This happens to me as well, W10. I usually don't actually get a stack trace, my window just becomes inaccessible. I am able to get a similar stack trace when I attempt to Update manually. However, hyper becomes inaccessible after a few hours, consistently.

I'm running version 1.4.8 stable
and have the following plugins: 'hyperterm-paste' (1.1.2), 'hyperlinks' (0.5.0), 'hyperterm-overlay' (0.4.0),

[2018-02-24 01:00] rcowles3 commented on #1613
On Windows 10, I went to Notifications and actions settings, and then just turned off notifications from Hyper and it worked.

[2018-02-24 03:52] dsantosp12 opened #2701 "Hyper Froze on Emacs after C-k"
- **OS version and name**: macOS High Sierra
- **Hyper.app version**: 1.4.8
- **Link of .hyper.js**: https://gist.github.com/dsantosp12/3d0447cea03c67699b869ac5eb1a793d

- **Relevant information from devtools**: Uncaught TypeError: Failed to execute 'extend' on 'Selection': parameter 1 is not of type 'Node'.
    at r.Terminal.copyStringToClipboard (file:///Applications/Hyper.app/Contents/Resources

[2018-02-24 04:16] chabou commented on #2691
Ok let's add this option

[2018-02-24 07:31] chabou opened #2702 "Add flow toolchain/workflow"
We really want to add [flow](https://flow.org/) in our project.

First step is to add it to our dev workflow: add dependencies, linter compatibility, automatically run before push...

Please help us to have some benefits of typed system.

[2018-02-24 07:33] chabou opened #2703 "Fix unit tests and make them mandatory"
Unit tests are using `ava`. There is some tests in our project. But running them are not mandatory to push a branch or to CI build. And now they are broken in our canary branch.

Please fix/remove outdated tests and make them mandatory

[2018-02-24 07:41] chabou opened #2704 "Canary builds should use canary channel by default"
If a canary build is installed from scratch, it should not be configured to have updates from stable channel.

The idea is to create a new config file that will override `updateChannel` setting in `config-default.js`. Something like `conig-default.canary.js`.

CI would use/copy this file before build app if this is a canary build.

[2018-02-24 11:58] justUmen commented on #2601
Oh no. I was back on Hyper thanks to #2571 , and now my custom CSS doesn't work. Damn...
Keep it up, i will be back again i guess !

[2018-02-24 15:12] Kimmax commented on #1448
Finally some progress on this! Thanks so much for digging into this @olsonpm

[2018-02-24 16:28] chabou commented on #2601
Please give us some feedback about what you need to style.
What was your `termCss`?

[2018-02-24 17:07] kinglouie commented on #2294
On my setup this issue is not limited to vim, the colors beyond 16 are not right.
I have a base16 solarized-dark colorscheme and tested the colors with `colortest` from [chriskempson/base16-shell](https://github.com/chriskempson/base16-shell)

<details/>
<summary>hyper.js</summary>

[code]

</details>

#### 2.0.0 canary-14

<img width="769" alt="bildschirmfoto 2018-02-23 um 16 49 53" src="https://

[2018-02-24 20:24] dalmoz commented on #1845
used the same solution as @AddAndy but with a 1.4em over LG S.
Perfect!

[2018-02-24 21:07] chabou commented on #2294
The main difference is for Bright_White and colors > 15.

I think that Bright_White is ok: https://github.com/winneon/hypersixteen/blob/master/src/HyperSixteen.js#L31
Maybe v1.4.8 has some side effect with this color. But now, it seems to be what solarized theme expects.

There is indeed some "regressions" with colors > 15, but this is exactly how it is looks like with iTerm.

So for me, there is

[2018-02-24 21:08] chabou commented on #364
We're tracking this work over here: #2294

[2018-02-24 21:08] #364 closed

[2018-02-24 21:46] kinglouie commented on #2294
strange, for me in iTerm colors > 15 are working with `base16-shell` and base16-solarized-dark.sh
Here are the dotfiles I'm using: [kinglouie/dotfiles](https://github.com/kinglouie/dotfiles)

<img width="666" alt="bildschirmfoto 2018-02-24 um 22 37 41" src="https://user-images.githubusercontent.com/8280409/36635336-570ac414-19b3-11e8-9804-26795a6cdb68.png">

[2018-02-24 21:52] #1845 closed

[2018-02-24 21:59] #2703 closed

[2018-02-24 22:47] aantron commented on #2655
I likewise have this issue, and the compatibility setting did not fix it.

[2018-02-24 23:58] jesseleite opened #2706 "cmdIsMeta and vim mappings?"
I apologize if this is wrong forum for this, just a question.  I have `modifierKeys: { cmdIsMeta: true }` in my config (latest canary build), but am having trouble mapping `CMD+S` to write a file in Vim.  I know other terminals/clients refer to the `CMD` key as `D` or `M`:

[code]

But neither of those seem to be working.  Any Vim users here have the solution for this?

[2018-02-25 00:38] aditya0099 opened #2707 "Bell broken in canary"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10
- **Hyper.app version**: canary.14

## Issue

When looking through the code trying to solve issue #1613, I found that the bell is broken on al

[2018-02-25 03:42] chabou opened #2708 "Add a menu checkbox to switch to canary/stable update channel"
We really need a better way to change Hyper update channel.

The idea is to add an item `Canary Releases` right above `Preferences...` menu item in:
* `Hyper` menu on macOS
* `About` menu on Windows/Linux

This checkbox should be synchronized with config file:
* Checking it will update/add an `"updateChannel"` setting with a `"canary"` value.
* Unchecking it will set `"updateChannel"` setting to `

[2018-02-25 05:55] chabou commented on #2691
Ok I misunderstood. This option is already here and I am agreed with @stefanivic: Best solution is to use it depending on your window manager

[2018-02-25 05:55] #2691 closed

[2018-02-25 12:49] justUmen opened #2709 "Some improvements ?"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Arch
- **Hyper.app version**: 1.4.8

## somes recommendations

(1) - Allow transparency above 90%, now opacity <0.1 in "hyper.js" turn the background whi

[2018-02-25 12:54] justUmen commented on #2605
This is not a solution but you can just hide them in the configuration, it's what I did :
`css: '.notification_indicator{display:none;}',`

[2018-02-25 15:26] kenorb commented on #2656
Related: #95

[2018-02-25 15:32] kenorb opened #2710 "Support for multi-line selection"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate.

- **OS version and name**: macOS 10.13.2
- **Hyper.app version**: Hyper 1.4.8 (stable)

## Issue

Given the output of the following command:

    seq 1 200 | xargs

there is a pro

[2018-02-25 16:07] chabou commented on #2710
Thanks for your feedback :pray:
It will be fixed in our v2 that will be shipped very soon.

[2018-02-25 16:49] milesjhl commented on #2655
Update: the fix I posed earlier didn't actually fix the issue, but it did make it much less common for me. I still experience it when the console is printing a lot of output on its own, like when running a local server or something.

[2018-02-25 16:54] aantron commented on #2655
I can confirm this. It seemed to make it less common for me as well, but alone I wasn't sure if that was chance or some kind of bias on my part. It still breaks though, especially when scrolling `less` around (using the arrow keys).

[2018-02-25 18:10] MAPESO commented on #2695
@crostine You can try in the canary version, maybe the consumption of the cpu is lower.

[2018-02-25 19:28] mlynch commented on #1810
Can confirm this is still an issue with the current Hyper. Tried to open Preferences and received the exact same issue as @isseiler

[2018-02-25 19:44] b0rski commented on #1733
And powerline is failing as well and probably because of this :/ See https://github.com/zeit/hyper/issues/2470.

[2018-02-25 20:26] chabou commented on #2548
I will pretend that is has been fixed in v2.
Do not hesitate to add some comment if not

[2018-02-25 20:26] #2548 closed

[2018-02-25 20:42] lucasqueiroz commented on #2548
I didn't see the previous comment, sorry! It has been fixed after the xterm update :)

[2018-02-26 01:49] jhqian commented on #786
Add the following into your .vimrc
`if $TMUX == ''
    set clipboard+=unnamed
endif`

Reference:
https://stackoverflow.com/questions/11404800/fix-vim-tmux-yank-paste-on-unnamed-register

[2018-02-26 07:11] olsonpm commented on #2599
I just created a very simple plugin [hyper-disable-new-version-notification](https://www.npmjs.com/package/hyper-disable-new-version-notification).  It just always negates the redux state which triggers the new version notification.  This way you don't have to use css to disable *all* notifications ;)

[2018-02-26 07:38] passcod commented on #2599
Also, because I've always wondered but too polite/uncertain to ask: @MAPESO who _are_ you?

You spoke as if you had a position of sorts among Hyper devs, but you have no badge so it's hard to tell. I couldn't really see many contributions. You have commented on a handful of issues, though, so... maybe? But it's _super unclear_. You're not on ZeitHQ's About page. Your github makes no mention of bel

[2018-02-26 07:42] olsonpm commented on #2599
@passcod - chill man.  This software is free, nobody's obligated to follow up on anything.  Sometimes people forget, sometimes they get busy, or even stop caring, it just doesn't matter.  If you want a follow up to something then ask politely.

[2018-02-26 08:06] passcod commented on #2599
@olsonpm sure, ok

[2018-02-26 08:40] saravanaselvan commented on #2655
Yes. For me too the same. Now it has got reduced. When it occurs, I had to close and re-open the app to fix it.

On a different note. Has anyone faced this issue before - https://github.com/zeit/hyper/issues/2554

[2018-02-26 09:46] dougmaitelli commented on #1968
Even worse here:

![image](https://user-images.githubusercontent.com/1277391/36663583-5b6cdf76-1ae2-11e8-992e-3ffcd110d3cb.png)

[2018-02-26 10:21] ricknox opened #2712 "First run produces an temporary error"
## Information card

- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: darwin x64 17.4.0
- **Hyper.app version**: Hyper 1.4.8 (Electron 1.7.8)
- **Contents of the .hyper.js file**: [1258180b739509563cbbf

[2018-02-26 12:57] crostine commented on #2695
I found it, when I tried to force Hyper to use the integrated card though NVidia control panel, it was already set to prefer the dedicated gpu.
I changed this to automatic/global setting and the dedicated gpu is now turned off.

[2018-02-26 12:57] #2695 closed

[2018-02-26 13:45] Mrtenz opened #2713 "Path ignored when an argument is specified"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Arch Linux
- **Hyper.app version**: 2.0.0-canary.14
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.gi

[2018-02-26 13:45] albinekb commented on #2695
Great to hear this got resolved. Thanks for updating us and closing 👍

[2018-02-26 14:48] albinekb commented on #2702
I think it would be better if we used TypeScript since it has more types available and specifically `xterm` which Hyper is now heavily dependent on is also written in TS.

[2018-02-26 16:49] jaraco opened #2714 "How to disable antialiasing (everything appears bold)?"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **macOS 10.13.3**:
- **Hyper.app version**: 1.4.8
- **[.hyper.js](https://gist.github.com/f3096b54d0ac14e58639c35aaf95afca)**
- **Relevant information from devtools** _(CMD+ALT+I

[2018-02-26 17:15] TDamiao opened #2715 "Bug Windows 64bit"
Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

in the "Clear" command does not delete the entire screen only makes it available to re-register, visually disrupting the concern
![screenshot_1](https://user-images.githubusercontent.com/9400697/36684585-85a70b64-1aff-11e8-85b1-6cc4c002194a.png)

[2018-02-26 17:51] mpcsh commented on #2294
+1. My vim is horrendously ugly in 2.0.0-canary.14, but looked fine in 1.4.8. This is my last barrier to switching from iTerm2.

[2018-02-27 06:37] Macmee commented on #1968
any movement on this issue?

[2018-02-27 06:54] dougmaitelli commented on #1968
I did a lot and research, testing. It seems it is not a Hyper issue. It is a node-pty issue because of a limitation in the way they interact with processes on Windows. So basically it seems to be still a Windows limitation.

You can even confirm this because the integrated shell in vs code has exactly the same issue, and they even use winpty instead of node-pty.

[2018-02-27 07:49] chabou commented on #2714
In our last canary, there are 2 new options to disable bold font.
https://github.com/zeit/hyper/blob/8ebdaebdfa2199f6f957d4aa94425f60fa65bc9e/app/config/config-default.js#L17-L21

If font is still enough thin, I will suggest you to change used font.

[2018-02-27 10:34] bboure opened #2719 "Ghost terminals in the background"
I have a semi transparent background and after some time of use I can see some "ghosts" of old commands/outputs in the background.

![image](https://user-images.githubusercontent.com/7089997/36723248-06b6c414-1bb0-11e8-8545-631a3fbc7e20.png)

I was not able to reproduce it yet. Not sure if it happens in some particular cases or just randomly.

It looks like it's there are old DOM elements in the b

[2018-02-27 12:44] hofm commented on #51
Same problem here, too. Looks fine on the built-in retina display of the MacBook; unusable with an external non-retina monitor. Any suggestions?
[
![screen shot 2018-02-27 at 13 40 52](https://user-images.githubusercontent.com/2122291/36729398-5180a726-1bc4-11e8-8c8e-1c3582ed8a8f.png)
](url)

[2018-02-27 15:11] scottbilas commented on #1968
ConEmu supports 256 and true color. Needs a bit of config.

https://conemu.github.io/en/Xterm256Colors.html

It works via a hook dll that monitors direct calls to write to the console, processing escape codes etc. There's also quite a lot of special case code, including detection of the vim process and powershell.

https://github.com/Maximus5/ConEmu/blob/master/src/ConEmuHk/hkConsoleOutput.cpp

[2018-02-28 08:16] abhi18av commented on #2694
Yup, it works fine after the suggested changes. :+1:

[2018-02-28 08:16] #2694 closed

[2018-02-28 08:16] abhi18av commented on #2694
Thanks @stefanivic :)

[2018-02-28 11:16] ozbonus commented on #1613
On Windows 10 the bell is the "Critical Stop" sound, so change that and you'll change the bell.

If you're thinking about setting it to silent, I've got bad news for you. At least on my machine doing that instead caused a *booop* sound to be played, and I couldn't find a way to silence that.

My solution: Set Critical Stop to a softer sound. I settled on ding.wav, which is in the list of default W

[2018-02-28 23:28] tiferrei commented on #2613
Hi, I think I might be having a similar issue on macOS 10.13.4, Hyper 2.0.0-canary.14 (canary).
![screen shot 2018-02-28 at 23 26 54](https://user-images.githubusercontent.com/8849915/36818886-fdf5f3ec-1cde-11e8-80ed-f5dc89020054.png)

[2018-03-01 01:56] Pythonfo commented on #2012
in windows, add .unicode-node{width: unset !important} to termCSS

[2018-03-01 02:38] ansidev opened #2720 "Cannot keep typing character on press and hold the keyboard button."
- [x] I am using Vanilla Hyper.app version is **2.0.0-canary.14**.
  - [x] OS version is **macOS 10.13.3**.
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
## Issue
Cannot keep typing character on press and hold the keyboard button.

## hyper.js config
[code]

[2018-03-01 09:07] TickleThePanda opened #2721 "Tmux not receiving some keyboard input"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Microsoft Windows 10 Enterprise, Version	10.0.15063 Build 15063
- **Hyper.app version**: 2.0.0-canary.14
- **Link of a [Gist](https://gist.github.com/) w

[2018-03-01 11:06] albinekb commented on #2720
Duplicate of https://github.com/zeit/hyper/issues/2297, there's a workaround in there.

[2018-03-01 15:19] rianquinn commented on #2715
I think this is is the reason why Vim and Nano are not working for me. When I try to use Vim or Nano, I get a corrupt screen:

Before:
![capture](https://user-images.githubusercontent.com/5932003/36852544-24d60bba-1d29-11e8-88bd-c16b5d2b57cf.PNG)

After:
![capture2](https://user-images.githubusercontent.com/5932003/36852547-271efb5c-1d29-11e8-9474-1c62fcefd1e8.PNG)

If I run clear, I get the same

[2018-03-01 15:23] rianquinn commented on #2715
I can also confirm that this is an issue with Canary 14.

[2018-03-01 20:18] albinekb commented on #2715
Are you sure this is an issue with hyper and not something with your config? Please fill in the issue template.

[2018-03-01 22:25] Dog commented on #1103
FWIW I still experience this in weechat.

[2018-03-01 22:41] rianquinn commented on #2715
For me at least, it is not my config. I just completely uninstalled hyper, deleted all of the files it tossed in my use folder, reinstalled 2.0 Canary14, and then ran vim again and it did the same thing you see above.

[2018-03-01 22:42] rianquinn commented on #2715
The biggest issue for me at the moment is both Nano and Vim are having this issue, so checking code into GitHub is basically impossible with Hyper, which sucks because I hate the alternatives.

[2018-03-01 22:59] rianquinn commented on #2715
Here is my config (should just be the stock config):

[code]

[2018-03-01 23:18] rianquinn commented on #2715
I should also note that this seems to be an issue only when I ssh into a remote box. If I use Vim to edit a file local to my machine, it works fine. Once I ssh into my remote box, and then use Vim, Nano or Clear, that's when it all goes to hell.

[2018-03-02 02:17] nguyenchiencong commented on #1822
Same problem here. If you are on Mac, stick to Iterm, It's a way better terminal. For those on windows, we have shitty options.

[2018-03-02 02:34] keeganjk opened #2722 "Custom blink speed"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS High Sierra
- **Hyper.app version**: Latest
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.gith

[2018-03-02 18:39] midgethoen commented on #629
this is still happening to me on a clean Mac..

[2018-03-02 19:08] Dog commented on #1103
This issue appears to be fixed with the canary build.

[2018-03-02 20:12] Dog commented on #2646
I haven't gone through your upgrade path, but I have gotten the canary build to work on Mac by following the directions for contributing in the README. If you want to go ahead and play with it, perhaps that route will work for you.

[2018-03-02 20:37] chabou commented on #2646
@DesWurstes Your problem is not exactly the same. I suspect that you haven't change/add your config setting `updateChannel` to canary.

@fabiospampinato Can you try to retry with our last canary? I can't reproduce your issue 😞

[2018-03-02 21:11] #1869 closed

[2018-03-02 21:53] DuckThom commented on #2719
I can confirm this happens on a clean install of both 1.4.8 and 2.0.0-canary.14.
Steps to reproduce:

1.  Install 1.4.8 or 2.0.0-canary.14.
2. Edit `.hyper.js`, set the terminal background color to `rgba(0,0,0,0.5)` (or another transparent value)
3. To make sure the config is loaded properly, I restarted Hyper but this may be optional.
4. Make sure there is some output on the screen (ie. `cat .hyp

[2018-03-03 05:04] joncalhoun opened #2723 "Can't map command+left to tab:prev (Mac OS)"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Mac OS High Sierra (v10.13.3)
- **Hyper.app version**: v1.4.8
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https

[2018-03-03 16:09] chabou commented on #2723
It reproduced your issue with v1.4.8
But this is already fixed in our canary (future v2).

[2018-03-03 20:59] joncalhoun commented on #2723
@chabou Sorry - I didn't see the canary build and should have tested it first. Thanks for the help.

[2018-03-03 20:59] #2723 closed

[2018-03-03 21:53] jaraco commented on #2714
Thanks @chabou.

I tried `fontWeight: 'normal'`, which has no effect. `fontWeight: 'bold'` makes the font slightly more bold.

:/

But I can see this font, Monaco, in the Terminal app, able to render with a more 'normal' weight.

I have the same issue with the default fontFamily:

[code]

Indeed, if I remove Menlo from that list, I get a font that renders not so bold.

I noticed I get the same bol

[2018-03-03 21:56] jaraco commented on #2714
This ticket is now a duplicate of #2505.

[2018-03-03 21:56] #2714 closed

[2018-03-03 22:24] jaraco commented on #2714
Aha! A `fontWeight: '100'` gets pretty close to just what I'm after. Between the other ticket and this setting, I think that's sufficient.

Many thanks for Hyper. I'm just getting to know it and I'm liking it.

[2018-03-03 22:28] jaraco opened #2724 "User-local copied fonts unavailable"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.13.3
- **Hyper.app version**: 2.0.0-canary14
- **[.hyper.js](https://gist.github.com/a7f6f93eef0b66ebce516ff7c314e038)**
- **Relevant informatio

[2018-03-03 23:33] chabou commented on #2723
Do not be sorry! This v2 would really be shipped!

[2018-03-04 00:18] nkzawa opened #2725 "Can't launch hyper after changing configuration on canary"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS High Sierra 10.13.2
- **Hyper.app version**: 2.0.0-canary.14
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:

[2018-03-04 00:31] nkzawa commented on #2294
👍  I used to have colorscheme on `.hyper.js`, but it doesn't work on v2 anymore.

Definition: https://gist.github.com/nkzawa/970f75de0f9f8b05524d99452dfabd54

[2018-03-04 02:22] LeviathanTheGreat opened #2726 "Error opening preferences"
error after trying to open up preferences

Windows Script Host
Script:	C:\Users\chris\.hyper.js
Line:	5
Char:	1
Error:	'module' is undefined
Code:	800A1391
Source: 	Microsoft JScript runtime
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

[2018-03-04 09:02] chabou opened #2728 "Configuring colors with an array is not possible anymore"
We need this for backward compatibility

[2018-03-04 09:03] chabou commented on #2294
@nkzawa your issue is not the same. I opened an issue for it: https://github.com/zeit/hyper/issues/2728

[2018-03-04 09:12] chabou commented on #2726
Fixed in canary

[2018-03-04 11:02] chabou commented on #2633
@timothyis @albinekb @Stanzilla If we want to use `engines` mechanism, we need to inject `hyper` version in `process.version`.
Easy for application but we need to inject it too when running embedded `yarn`. Here: https://github.com/zeit/hyper/blob/bf2d6ea8555e3a4e40e4c8df34cbe1963282d1fd/app/plugins/install.js#L19-L37

I think that the only solution is to use `-r` option when launching electron as

[2018-03-04 12:23] tonksol opened #2730 "As a new user I missed a good manual."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2018-03-04 12:25] tonksol commented on #2730
I didn't know that I need to install node.js and didn't know that I need to install something in VS code. So examples of how to set up hyper for different (frequently used) code editers would be nice :)

[2018-03-04 14:54] kenorb opened #2731 "Hyper Helper renderer hangs and uses 100% CPU"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate.

- **OS version and name**: macOS 10.13.2
- **Hyper.app version**: Hyper 1.4.8 (stable)

## Issue

I did some action, like pasting or something which caused _Hyper_ terminal to go

[2018-03-04 16:48] shynome opened #2732 "the start dir of win10 shortcut lnk is unavailable"
- [ x] I am on the [latest](https://github.com/zeit/hyper/releases/tag/2.0.0-canary.14) Hyper.app version
- [ x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:  windows10 1709
- **Hyper.app version**: 2.0.0-canary.14
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.j

[2018-03-04 17:32] cesarferreira commented on #687
Hi guys, this issue is still present in `1.4.8`

[2018-03-04 18:29] jcrben commented on #2702
+1 for TypeScript. TypeScript seems more widely known (I use TypeScript, have not yet used Flow) and seems to have more momentum. It can also pick up jsdoc...

[2018-03-04 18:40] pbegle commented on #2020
Same problem here. OSX with tmux 2.6 and hyper 1.4.8.

[2018-03-04 20:50] avm5689 opened #2733 "Syntax Error .hyper.js (plugins)"
Every time I go to save my .hyper.js I get an error for syntax. However I can't seem to figure out what's going on.

Here's my .hyper.js file:

// Future versions of Hyper may add additional config options,
// which will not automatically be merged into this file.
// See https://hyper.is#cfg for all currently supported options.

module.exports = {
  config: {

    // Choose either "stable" for rec

[2018-03-04 20:54] brandon93s commented on #2733
Plugins is an array. You appear to be missing a comma after 'hyper-mac-pro'.

[2018-03-04 21:00] avm5689 commented on #2733
-_- I'm an idiot... Thanks!

[2018-03-04 22:45] dennisroethig commented on #687
@cesarferreira see https://github.com/zeit/hyper/issues/687#issuecomment-341543935 above - you should be able to switch to the canary version ... using it without major issue since a while

[2018-03-04 23:51] rauchg commented on #2702
I'm ok with either as long as we have an incremental adoption story. For example, if we can start replacing one .js file at a time with one .ts file, then we can incrementally make lots of little PRs to get to where we want to be.

So far, the appeal of Flow to me has been that incremental adoption strategy. If we can do that with TS, I'm game

[2018-03-05 09:43] TotomInc commented on #2328
Having the same issue... No status since october?

[2018-03-05 09:44] mrpinkcat commented on #2328
Me too... Did you found a fix ?

[2018-03-05 09:49] chabou commented on #2702
No problem to have incremental adoption with TS.
If there is no bonus to use flow (to be compliant with other Zeit's projects, for example), I think that @albinekb has right: Maybe better to use TS because `xterm` uses TS.

I let this issue opened to let other people add their inputs. I suggest to definitely choose our type system in 7 days.

[2018-03-05 09:57] bboure commented on #2719
thanks @DuckThom  +1 on reproduction steps. I knew it had to do with cleaning the terminal since I use `cmd-K` all the time.

[2018-03-05 10:00] MAPESO commented on #2731
@kenorb I can try it in the canary version 🙏

[2018-03-05 10:22] MAPESO commented on #2733
@chabou @albinekb time to close it.

[2018-03-05 10:26] #2733 closed

[2018-03-05 13:56] cesarferreira commented on #687
Thanks for the reply @dennisroethig , how do I change to the canary version? there is no reference to stable version or something similar in my config

[2018-03-05 14:14] chabou commented on #687
You can find instructions here: https://zeit.co/blog/canary#hyper

[2018-03-05 14:55] Tyriar commented on #2702
Re-adding my thoughts here from Slack. xterm.js was originally a 5k+ line file and separating it out into different files was one of the main reasons to use TS. I incrementally pulled modules out into their own files while converting, you can check what these sort of PRs look like with the linked PRs on https://github.com/xtermjs/xterm.js/issues/335, though it will certainly be easier with Hyper a

[2018-03-05 15:03] MarcoPeraza commented on #1810
This is still an issue for me. Hyper version 1.4.8 on Windows build 17101.

[2018-03-05 16:24] dmaisano commented on #27
Would also like to see this feature, does not remember it's fullscreen orientation on windows 10

[2018-03-05 16:33] dmaisano commented on #27
although not a perfect solution, I am using the [hyperfullscreen](https://www.npmjs.com/package/hyperfullscreen) plugin which launches the terminal in a F11 fullscreen manner. Although I would have preferred for hyper to remember and launch as maximized by default this will have to do. I am able to run the hyper shortcut as a maximized window by editing the properties however this does not work in

[2018-03-05 16:35] dmaisano commented on #27
Since this is not a native feature (at least on windows 10 from what I am aware of) I opted to use [hyperfull](https://www.npmjs.com/package/hyperfull) to achieve the desired functionality. There is also [hyperfullscreen](https://www.npmjs.com/package/hyperfullscreen) which launches hyper in an F11 fullscreen window.

[2018-03-05 20:45] PlanetVaster opened #2734 "Can't edit preferences"
First time installing and I get an error everytime I try to edit my preferences saying "module not installed"
        -
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

[2018-03-05 21:08] zsoltuveges commented on #283
I had the same problem now... I opened the .zshrc file, and there are these lines :
# You may need to manually set your language environment
# export LANG=en_US.UTF-8

Just delete the # before the export line... It works for me!

[2018-03-05 21:22] chabou commented on #283
@zsoltuveges OMG! What you find is awesome... Seems unrelated but it works!
I can reproduce with a LANG set to `fr.UTF-8` (I really don't know why I have this value) but setting it to `fr_FR.UTF-8` fixes this issue 😮

[2018-03-05 21:25] chabou commented on #2328
Can you give us your LANG env var: `echo $LANG`

I fixed this issue with this workaround: https://github.com/zeit/hyper/issues/283#issuecomment-370566088

[2018-03-05 21:27] mrpinkcat commented on #2328
`fr.UTF-8`

Thanks

[2018-03-05 22:06] chabou commented on #2328
YES! We found this bug. I have no idea why LANG is wrongly set and how this side effect happens... But this is a real progress!

[2018-03-05 22:29] TotomInc commented on #2328
Thanks @chabou, I've set my `.zshrc` to export my `$LANG` to `fr_FR.UTF-8` and it now works fine!

[2018-03-06 00:08] ezequieltejada commented on #2298
Having the same issue:

OS: Linux mint 17.1
Hyper.app: (latest available through the webpage: "hyper_1.4.8_amd64")

[2018-03-06 07:48] amiram opened #2735 "cli not checking that plugin name was supplied"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 17.10 x64
- **Hyper.app version**: 2.0.0-canary-14
- **The issue is reproducible in vanilla Hyper.app**: yes

## Issue
When cli started with a plu

[2018-03-06 08:39] #2735 closed

[2018-03-06 10:17] ZeFifi commented on #283
You're right, that's why I did and it works (and I can use special characters such as `é à` etc, without having `<ffffffff>` in the terminal instead! Thanks!

[2018-03-06 12:31] crostine commented on #2522
I just tried out the canary update on windows 10 64bit, enabling it was kinda confusing.. setting "updatechannel":"canary" in the config actually does it but you just have to wait for the terminal to do something in the background until you get a message to restart.

But reverting back to stable seems to be impossible, I'm now on Hyper 2.0.0-canary.14 (stable)
![image](https://user-images.githubus

[2018-03-06 14:28] hdiass commented on #2020
Hello, is there Any update on this issue ?

2018-03-04 18:40 GMT+00:00 Peter Begle <notifications@github.com>:

[2018-03-06 14:32] chabou opened #2737 "Styled-jsx migration"
I would love to replace `aphrodite` by `styled-jsx`.
It would be more consistent to use Zeit tool :)

[2018-03-06 14:58] chabou commented on #2522
@crostine Sadly, rollback doesn't work on windows. You should reinstall stable release manually.

[2018-03-06 15:37] curiouscrusher commented on #2587
As a halfway hack for my setup I just added a `width: auto !important` to the unicode class.
It's not a great fix, and some emoji still seem to make the terminal rendering a bit funky until you run the command or clear the window.

I seem to have the most issues when using a 🐛 emoji, see the gif below for the odd rendering that occurs when you paste one in. The irony of a bug emoji causing a bug..

[2018-03-06 17:54] jaller94 commented on #2652
Also affected:
* 2.0.0.canery14

[2018-03-06 18:48] Dog commented on #1103
I wanted to come back and report that the issue still exists in the canary build. The interesting thing is it didn't seem to appear until a couple days later.

[2018-03-06 20:27] Delphin10 commented on #1604
If you are on ubuntu try this

- Go to keyboard settings and scroll down to the bottom
- Click on (+) Add Custom Shortcut
- Set

1. Name: whatever you want (hyper for example)
2. Command: hyper
3. Shortcut: It's up to you (<kbd>crtl+T</kbd>)

[2018-03-07 08:40] byronpolley commented on #1528
+1

[2018-03-07 08:44] chabou commented on #1528
Thanks for the report 🙏 .
We're tracking this work over here: #2719

[2018-03-07 08:44] #1528 closed

[2018-03-07 08:46] chabou opened #2738 "Unfocus term when window is unfocused"
In 2.0.0-canary.14, cursor is not unfocused when window become unfocused.

[2018-03-07 09:02] chabou opened #2739 "[CLI] Do not automatically prefix package name when installing"
For now, CLI automatically adds `hyper-` prefix when installing/uninstalling plugins.
`hyper i pane` do exactly the same thing than `hyper i hyper-pane`.
But if user wants to install a plugin with a non standardized name like `hyper i hyperline`, it will try to install `hyper-hyperline`.
It leads to some security problems. If someone forks `hyperline`, adds some malicious code and published it as

[2018-03-07 09:47] chabou opened #2740 "SSH url scheme handling should not be added on dev mode"
Since #2516, Hyper is set as default program to handle `ssh://` url scheme.
It should not be done on dev mode.
Condition should be added here:
https://github.com/zeit/hyper/blob/0162a9f84dab44a5be395f4faf7579217822e5a6/app/index.js#L186-L195

cc @antonioalmeida

[2018-03-07 10:10] mhamdan95 commented on #2693
hey guys, I didn't fix the feature yet, but I developed my ideas, and finally I found the root of the feature, it's in the folder app -> renderer in the file bundle.js

We have to add some operation to make work the "Export the text as"
Need your help 😟

[2018-03-07 15:33] jperezruiz opened #2741 "Question: Change shell to use in runtime"
Thank for bring us an amazing tool.
I would like to ask you a question, is possible to modify at runtime the shell to use?.
I usually work with Git bash but I also need Windows Powershell, I would like to develop a plugin that allows configuring multiples shells, similar to ConEmu tasks. I made some debugging and as far as I saw is not possible to change the shell in runtime.
If you have enough ti

[2018-03-07 15:52] ajomadlabs commented on #2740
Can I take up this issue

[2018-03-07 15:57] antonioalmeida commented on #2740
Sure @ajomadlabs, you just need to check `isDev`, before applying the change

[2018-03-07 16:00] Tresky commented on #1528
@chabou Thanks for the redirection. :+1:

[2018-03-07 16:03] ajomadlabs commented on #2740
@antonioalmeida Since this is my first issue, can you provide some resource, where to start off

[2018-03-07 16:08] diogotorres97 commented on #2740
@ajomadlabs literally do:
 if (! isDev){ line 188,189}
else
nothing;

Same thing to second case

[2018-03-07 16:10] antonioalmeida commented on #2740
https://github.com/zeit/hyper/blob/0162a9f84dab44a5be395f4faf7579217822e5a6/app/index.js#L186-L195

 As @chabou mentioned, in this area you should check if Hyper is running on dev mode, and prevent the chances if so. To do this, you can check `isDev`'s value, similar to what is done here:
 https://github.com/zeit/hyper/blob/0162a9f84dab44a5be395f4faf7579217822e5a6/app/index.js#L88-L108

Is that cl

[2018-03-07 17:06] bootstraponline commented on #2431
Right

[2018-03-08 00:03] moso opened #2742 "How to get config value?"
I feel like an idiot asking this, but I've been trying to solve this for hours now.

For a plugin, I want to add styling depending on a config setting, in this case `showWindowControls`.
So if this is set to `'left'`, I want some different style added.

My attempt so far:

[code]

Any tips to get me in the right direction?

[2018-03-08 01:08] MAPESO commented on #2737
@chabou I'm using styled-jsx in my electron application 😍

[2018-03-08 01:09] chabou commented on #2737
🤔

[2018-03-08 01:11] chabou commented on #1251
@joeSaad thank you for your feedback

[2018-03-08 01:12] #2725 closed

[2018-03-08 04:23] ajomadlabs commented on #2740
I followed the contribution guidelines but I am unable to set up. I am encountering with the following error
![errorhyper](https://user-images.githubusercontent.com/21251118/37132946-9028929c-22b6-11e8-86f0-daedd256f3af.png)

[2018-03-08 05:37] eujc21 opened #2743 "Error: `node-pty` failed to load."
Mac 10.13.3 (17D102)
node v9.8.0
[code]
https://github.com/zeit/hyper/blob/36cde0f23e27376a9ec139541f7f8b288e772999/app/session.js#L18
Possible Fix
app/session.js
[code]

[2018-03-08 10:28] phifa commented on #2470
same here, using cobalt2 by wes bos, and the icons do not work

[2018-03-08 10:32] phifa commented on #2470
was able to fix it (i am on windows btw):
install fonts manually.

    Navigate to the font you

- want to install.
- Right-click and select “Install”.

kudos to https://davidtranscend.com/blog/windows-terminal-workflow-guide/

[2018-03-08 10:44] chabou commented on #2743
try to clean/reinstall your dependencies: `rm -Rf node_modules && yarn`

[2018-03-08 11:12] chabou commented on #2470
Thank you for your feedback @phifa 🙏

[2018-03-08 12:54] Furetur opened #2744 "Ctrl + N breaks Hyper on Windows"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10
- **Hyper.app version**: latest stable (8 march 2018)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
-

[2018-03-08 12:57] chabou commented on #2744
Hi there, thanks for reporting an issue!
Unfortunately, we need the information that was listed out in template when you created the issue to really help solve your problem. For now, we'll close your issue and wait for you to comment/re-open the issue with the template information filled out from https://github.com/zeit/hyper/issues/new

[2018-03-08 12:57] #2744 closed

[2018-03-08 14:27] ajomadlabs commented on #2740
@chabou I created a pull request https://github.com/zeit/hyper/pull/2745. Please do suggest me changes if any

[2018-03-08 14:45] #2740 closed

[2018-03-08 15:01] Zane- opened #2746 "QR Code not being displayed in terminal (For react-native)"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Build 16299
- **Hyper.app version**:  1.4.8 (when I tried on stable), 2.0.0-canary.14 (when I tried on canary)
- **Link of a [Gist](https://gi

[2018-03-08 15:08] chabou commented on #2746
Can you precise your hyper version?
"Latest" today will not be "Latest" in fex days :)

[2018-03-08 15:36] antonioalmeida commented on #2740
@chabou no problem! 👍
good job @ajomadlabs

[2018-03-08 17:46] albinekb commented on #2742
I think you just need to move this block `  if(controlLeft == 'left') {`to be above the first `return`:

[code]

[2018-03-08 18:54] b0rski commented on #2470
Currently, at least for me, it's not about the font. It's about the colors.

My configuration looks awesome in wsl-terminal (mintty) or under Linux (with gnome terminal) and looks rather strange in Hyper. It seems a component of Hyper does not implement/interpret colors (https://misc.flogisoft.com/bash/tip_colors_and_formatting) correctly.

HYPER

![image](https://user-images.githubusercontent.com

[2018-03-08 19:17] chabou commented on #2470
Then I think this is not the right place for your feedback 😉

@b0rski Can you open a new issue with all informations asked in template to help us to reproduce/fix?

[2018-03-08 20:17] olsonpm commented on #1448
@chabou - what branch of [chabou/xterm.js](https://github.com/chabou/xterm.js) should I create a PR for with the [merged fix](https://github.com/xtermjs/xterm.js/pull/1296)?

[2018-03-08 20:26] b0rski commented on #2470
@chabou: I am the author of this issue and I still have the same problem. I already delivered all my settings twice.

[2018-03-09 00:06] LeviathanTheGreat commented on #2726
I found out it actually was a error to do with the default program that is set to run ".js" files, by default it is set to windows script host, which Is, as I learned, a big "no-no" as Microsoft implements its own dialect of JavaScript.

This is one of my fist times posting on this website so i'm not sure if I'm suppose to close this issue or if I'm even suppose to be responding to this.

[2018-03-09 03:41] chabou commented on #2726
Yes you're right. Windows try to execute this JS file but this is a module that it can't understand.

In our upcoming v2 (currently released as canary: https://zeit.co/blog/canary) this is handled and if no application is set to handle JS file, it opens Notepad.

So yes, you can close this issue, because already fixed in canary update channel. And you are always welcomed to respond to any comment

[2018-03-09 03:48] chabou commented on #2470
Oh sorry, I didn't noticed this.

Please try our canary (upcoming v2): https://zeit.co/blog/canary
Everything should be alright!

Let me know if anything goes wrong

[2018-03-09 04:00] eujc21 commented on #2743
It gets stuck in a loop
[code]

[2018-03-09 05:10] alejost848 commented on #2641
Same here, I'm on Windows and I'm facing the issue too

![hyper_2018-03-09_00-09-15](https://user-images.githubusercontent.com/8323249/37191515-27bf65d2-232e-11e8-8ffc-10b10f5eb533.png)

[2018-03-09 06:41] alexiskknox opened #2747 ""Unable to start terminal process: CreateProcess failed" when opening new tab under WSL"
**EDIT: Noticed that this is a duplicate, but still relevant.**

Issue:
Receiving "CreateProcess failed" error when attempting to open new tab under the Windows Subsystem for Linux (WSL). Full error below.
![hyper-error](https://user-images.githubusercontent.com/9276541/37194069-802852c2-233a-11e8-8944-ed456b6f48bb.PNG)

Steps to reproduce this issue:

- Run Windows Subsystem for Linux (any shell)

[2018-03-09 08:55] Juje commented on #1269
What is state of development for this issue?
Because for me this still happens in the latest 2.0 (canary.14) version.

[2018-03-09 09:49] b0rski commented on #2470
The screen shots from above are from 2.0.0-canary.14, I think it's super easy to reproduce on **Windows 10** with the **Linux Subsystem** (Ubuntu) because I get same result on 2 different Windows boxes.

[2018-03-09 10:02] moso commented on #2742
Thanks, that worked!

[2018-03-09 10:02] #2742 closed

[2018-03-09 12:16] chabou commented on #2470
@b0rski For previous screenshot on canary, I think you used `'hyperterm-base16-tomorrow-night'`.
Referring to [this screenshot](https://hyperthemes.matthi.coffee/hyper/hyperterm-base16-tomorrow-night/2x.jpg), this theme is using something like `#8CBEB7` for blue color. And this is exactly the color I see in your prompt.

[2018-03-09 12:18] lededje commented on #18
It looks like you need to focus the webview before hitting `CTRL-C`

[2018-03-09 12:20] b0rski commented on #2470
@chabou: Well even if that's the case and the colors are not the same because of the used theme then why is the ">" sign printed in other color (inside first and last part of the prompt)? Even if I roll back to default theme, it's still the case (see [this screen](https://user-images.githubusercontent.com/11145838/32994863-d2c979bc-cd6c-11e7-9c81-28be70eda23c.png)).

[2018-03-09 13:27] chabou commented on #2470
I'm little bit confused.
In [this comment](https://github.com/zeit/hyper/issues/2470#issuecomment-371586446), you said that problem is color, but I don't see bottom bar in your `hyper` screenshot, only in regular WSL. Is it attended? 🤔

[2018-03-09 14:07] Hecsall commented on #2328
Same error and exporting the right LANG in my .zshrc solved the issue.
Just to write down for other people:

While having the issue, "echo $LANG" was printing
**it.UTF-8**

Then i added "export LANG=it_IT.UTF-8" at the bottom of my .zshrc file, restarted the terminal, and then "echo $LANG" printed
**it_IT.UTF-8**

After this the issue was solved

[2018-03-09 14:21] chabou commented on #2328
@Hecsall Thank you for your confirmation 🎉

We need to enforce defaut right locales. There are some related but maybe outdated PRs.
But It should be definitely fixed soon without user action required

[2018-03-09 15:23] b0rski commented on #2470
It does not matter whether the bottom bar (generated for powerline for tmux) is present or not :) It's just that background colors of the powerline bar chunks are not same color in Hyper (see my picture below).

![image](https://user-images.githubusercontent.com/11145838/37214729-2b06b87a-23b6-11e8-9db4-512fab10986a.png)

[2018-03-09 16:14] SirWindfield opened #2748 "built-in hyperlinks alternative not working properly"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: OS X Sierra 10.12.6
- **Hyper.app version**: Hyper 2.0.0-canary.14 (canary)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyp

[2018-03-09 16:24] chabou commented on #2470
Can you add screenshots made with a fresh install of `2.0.0-canary.14` (remove your config file, colorscheme has changed in our last release. Removing it with regenerate a default config)?
Please add all your config file (powerline, zsh, oh-my-zsh etc..) to let me reproduce your issue.

Thank you 🙏

[2018-03-09 17:06] chabou commented on #2748
Thank you for your feedback!

After some discussions about some security concerns, we abandoned the idea of browsing websites directly in Hyper.

Electron webview is not enough secure (old Chrome version, potential API leaks in website JavaScript context...).

We are really unhappy to remove this shining feature, but as a terminal app, security is non-negotiable.

[2018-03-09 17:52] b0rski commented on #2470
OK, let's start over with the simplest configuration I can come up with.
Windows 10 + Linux Subsystem (Ubuntu) + Bash + Powerline + Hyper. No zsh, no oh-my-zsh, no tmux involved).

Screen Shot
![image](https://user-images.githubusercontent.com/11145838/37221191-5ca94c04-23c9-11e8-87bf-1b571d04b058.png)

.hyper.js
https://gist.github.com/b0rski/967afc110a1efa0dd52283372506782b

.bashrc
https://gist

[2018-03-09 19:56] Lucretius commented on #2743
What version of Yarn are you using?  I am on Mac OS X `v10.13.2` with Yarn `v1.3.2` and am having no issues with my build. From the output of your logs it looks like you are on an older version of Yarn?

[2018-03-09 21:11] MAPESO commented on #2734
@PlanetVaster can provide more information 🙏

[2018-03-09 21:18] MAPESO commented on #2734
@PlanetVaster It is a very frequent problem in the windows version, since it tries to execute the file
`.hyper.js`.  in the canary version it is configured to open notepad or any text editor that has been previously configured

[2018-03-09 21:20] MAPESO commented on #2734
@PlanetVaster  You can change to the Canarian channel by adding this line of code to the .hyper.js file: `updateChanel:  'canary'`

[2018-03-10 13:15] Hero-here opened #2749 "A JavaScript error occurred In the main process"
-
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

![snipaste_2018-03-10_21-12-39](https://user-images.githubusercontent.com/14844769/37242646-14f5503a-24a8-11e8-8ce2-7d30017c68f8.png)

[2018-03-10 18:57] jonassteinberg1 opened #2750 "mac ctrl+minus does not resize text properly"
I have reviewed the issues and believe I am the first to report this
- Hyper version: 1.4.8
- OS: OSX 10.12.6 (although the server I noticed this on is CentOS 6.9 which I was ssh'd into, but I don't believe that is relevant? Hyper is installed and running from OSX 10.12.6 )
- Hyper config (it's stock) [gist](https://gist.github.com/jonassteinberg1/ebea0f3c400d5bc588370f5292fa363b)
- Issue is repro

[2018-03-10 21:58] Lucretius commented on #2719
Comparing this behavior to what happens in iTerm2/Terminal upon clear:

In iTerm2 the pane is cleared by simply scrolling down until the previous text disappears.  The basic mac Terminal app does something similar, but just scrolls a full window size down instead of just the few lines that iTerm does.  That scrolling behavior does not seem to happen in Hyper, instead all previous commands appear t

[2018-03-11 04:27] nikitakatchik commented on #1868
IMO just put the workflow file from this archive to your ~/Library/Services folder and then use this service in keyboard preferences to bind a shortcut.
[New Hyper Tab at Folder.workflow.zip](https://github.com/zeit/hyper/files/1800038/New.Hyper.Tab.at.Folder.workflow.zip)

[2018-03-11 06:11] saamalik opened #2751 "Support for xterm 3.2.0?"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

Hi all -- xterm released the latest version [xterm 3.2.0](https://github.com/xtermjs/xterm.js/releases/tag/3.2.0) a few days ago. Any plans to support this latest version?

I also

[2018-03-11 07:53] saamalik commented on #2751
I found the xterm commit which broke the scroll behavior in Hyper: xtermjs/xterm.js@dc759a93bc7753fcd733a06fbb3a67220120876b.

Verified by reverting the commit. Anyway, the proper solution is to probably figure out how to incorporate scrollbar changes into Hyper.

/cc @chabou

[2018-03-11 07:54] saamalik commented on #2751
argg -- looks like this was already reported by @chabou at #2686.

[2018-03-11 08:36] chabou commented on #2751
We need to support this latest version.
Indeed we had some layout problems due to CSS changes with xterm v3.1.0.
But we had some pane width issue too.

We really need to tackle this ASAP

[2018-03-11 13:30] devansh08 opened #2752 "Opening new tab does not resize window properly"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version | Latest canary
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **Ubuntu 16.04**:
- **Hyper 2.0.0-canary.16 (canary)**:
- **N/A** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

## Issue

On opening a new tab window height do

[2018-03-12 05:35] antcodd commented on #2298
This is because of running out of inotify watchers on the machine. This happened to me on my very first time using hyper. I see similar non-fatal messages in VSCode and other programs sometimes with many files open and to be honest the stack trace gives a fairly good hint.

This should be handled gracefully (presumably by just not watching the file for changes) as it happens all the time on develo

[2018-03-12 11:43] Stanzilla commented on #2621
@leo

[2018-03-12 12:45] fabiospampinato commented on #2646
@chabou same problem.

[2018-03-12 15:55] saadq commented on #2702
I'm a user of both TypeScript and Flow. For what it's worth, the [`xterm.d.ts` defs](https://gist.github.com/anonymous/057d178976966811c061d6514ca8d3a2) are pretty simple and it would be pretty trivial to write a Flow libdef from it (just taking a glance, I think the file is already 99% compatible with Flow). So if that's the deciding factor, I could submit a PR to `flow-typed` with a libdef for `

[2018-03-12 16:56] leo commented on #2621
So, what exactly is the problem again?

[2018-03-12 17:00] Stanzilla commented on #2621
The link to the update notes in the "new version is ready" is https://github.com/zeit/hyper/releases/tag/2.0.0-canary13 instead of https://github.com/zeit/hyper/releases/tag/2.0.0-canary.13 notice the missing period.

[2018-03-12 17:07] Stanzilla commented on #2621
I've only seen the problem on Windows, yeah.

[2018-03-12 23:12] chabou commented on #2739
@MAPESO this is a major issue and I really want to fix it and ship it ASAP.
Do you know when you'll have time to work on that?

[2018-03-12 23:26] tastycode opened #2754 "How to add a command to the CommandRegistry from a plugin?"
I'm trying to build the autocomplete functionality in iTerm into hyperterm. It's not clear to me how to get access to the command registry to register my own commands so that others will be able to bind my autocomplete action to whatever they'd like.

I ended up usinng `decorateTerms` to get a ref to the terms object, which ought to have `registerCommands` available as a property (https://github.c

[2018-03-13 03:19] designMoreWeb opened #2755 "Command + Tab does not open new tab"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Mac OS High Sierra
- **Hyper.app version**: Hyper 1.4.8 (stable)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:htt

[2018-03-13 06:13] alanaasmaa commented on #2747
I get the same error when running git bash.

I will add screenshot when i get this. It does not come every time.

[2018-03-13 06:30] chabou commented on #2754
@tastycode We wrote a non yet published documentation about writing plugins.: https://github.com/zeit/hyper/blob/plugin-doc/PLUGINS.md#keymaps

Please give us your feedback about it. Is it clear? Is there some points to develop?

Thank you in advance. 🙏

[2018-03-13 07:33] MAPESO commented on #2755
@designMoreWeb  Hi, You can try to delete hyper and try again. I'm testing your plugins but my hyper is still running normally :(

[2018-03-13 07:34] MAPESO commented on #2755
@designMoreWeb If the problem persists, let me know 🙏

[2018-03-13 07:40] MAPESO commented on #2749
@Hero-here Could you provide more information about the problem 😅

[2018-03-13 07:45] MAPESO commented on #2747
@alanaasmaa  @alexiskknox Hi 👋  could try to use the canary version, if the problem persists let me know 🙏

[2018-03-13 07:52] MAPESO commented on #2739
@chabou Hi, I am struggling to solve this problem, I would appreciate it if you could help me 🙍

[2018-03-13 08:31] itssimple commented on #2734
Another solution would be to change the default action for .js-files in Windows, to open in your favorite JavaScript-editor. When I configured so that .js-files opened in Visual Studio Code, this problem went away.

[2018-03-13 09:22] chabou commented on #2755
For me, `command+tab` is used by OS to switch between application... 🤔

@designMoreWeb I'm not sure to understand your issue. Do you mean `command+t`?

[2018-03-13 13:00] nikitakatchik commented on #1188
@audunolsen thanks for your solution but I have a problem with it.
**$_** pretty much always contains **show_command_in_title_bar**.

[2018-03-13 13:13] timothyis opened #2756 "Retain commented out plugins when installing/uninstalling plugins from the cli"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version (canary)
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS 10.13.3 (High Sierra)
- **Hyper.app version**: Hyper 2.0.0-canary.14 (canary)
- **The issue is reproducible in vanilla Hyper.app**: Is Van

[2018-03-13 13:14] nikitakatchik commented on #1188
Seems like this helps: [https://stackoverflow.com/questions/40944532/bash-preserve-in-a-debug-trap](url)

[2018-03-13 13:28] chabou commented on #2756
`node_modules`should be cleaned, no problem whith that.
But we should keep commented plugins.

It should happen somewhere here:
https://github.com/zeit/hyper/blob/e4cef0a17234f1c99a6a9ef171cea41f7b382163/cli/api.js#L104-L105

[2018-03-13 14:28] alanaasmaa commented on #2747
@MAPESTO actually I'm using canary version

[2018-03-13 14:38] designMoreWeb commented on #2755
@chabou yeah I mean command+t my bad lol

[2018-03-13 14:55] chabou commented on #2755
Are you sure that your finger doesn't hit the `R` key right by `T` key?
Because `cmd+r` is supposed to reload app...

Can you try with another keyboard?

[2018-03-13 15:40] designMoreWeb commented on #2755
@chabou I will give it a try once I am back home I am away from my main laptop where the issue is occuring

[2018-03-13 16:42] #2739 closed

[2018-03-13 16:43] albinekb commented on #2739
@MAPESO I did it while I had some spare time. You can look at #2757 to see what needed to be done 👍 ✅

[2018-03-13 17:25] MAPESO commented on #2739
@albinekb Thanks ❤️ 🙏

[2018-03-13 19:41] jwjames83 commented on #2721
I use CTRL+SPACE as my prefix and nothing works.

As a side note, this is also an issue on ConEmu / mintty / cmder, so it's not inherently specific to Hyper.js in the sense that other apps also miss (ignore?) these key combinations.

[2018-03-13 19:45] jwjames83 commented on #2721
I use ctrl+space as my prefix on Linux, however this does not work in Windows (except for the native Windows console.) As a side note, this also does not work in other terminal emulators, such as mintty, ConEmu, and cmder.

[2018-03-13 21:03] timothyis commented on #2737
I've begun work on this here: https://github.com/zeit/hyper/tree/styled-jsx

[2018-03-13 21:21] ArslanAmeer commented on #1682
Solution from @kevlut  worked for me.

TL;DR with the github for desktop window "focused" hit **`Alt` +` spacebar`** to open the window context menu on screen and maximize the window. Not sure if this is related, but may be something with electron.

i can see github desktop window when i hover on taskbar icon.
Hover then press `Alt` + `spacebar` and click maximize. Simple! i dont know exactly how

[2018-03-14 01:51] #2726 closed

[2018-03-14 03:38] tastycode commented on #2754
It wasn't immediately apparent what `this.terms` was being invoked in the context of. I'm assuming that's from something like

[code]

Thanks for the notes about the keybindings, that'll definitely be helpful. Though, I remember trying the above and not seeing a `registerCommands` available on the terms. It seemed i was getting an "exposeDecorator" terms instead.

In other news, I noticed this tid

[2018-03-14 03:52] designMoreWeb commented on #2755
<img width="422" alt="screen shot 2018-03-13 at 11 48 18 pm" src="https://user-images.githubusercontent.com/5986856/37382482-6ec61d38-2719-11e8-9a40-929b750d927a.png">

So I deleted and re-installed hyper twice both times running through clean installs and I am getting this error when editing the preferences not sure what steps to take.

[2018-03-14 09:49] damien122 opened #2760 "Function Keys not send to shell"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Version 10.0.16299.248
- **Hyper.app version**: 1.4.8 (stable)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper

[2018-03-14 09:59] damien122 commented on #2755
@designMoreWeb did you try Ctrl + Shift + T ? On windows it is the combination to open a new tab in hyper.

[2018-03-14 13:41] mokahaiku commented on #2747
Removing `hypercwd` plugin fixed this for me.

[2018-03-14 21:19] ericcirone commented on #1780
Just tried upterm (formally black-screen) and the autocompletion it has is really cool. Would love to see it come to hyper

[2018-03-14 23:39] eujc21 commented on #2743
@Lucretius Yeap update brew and yarn, works.

[2018-03-14 23:39] #2743 closed

[2018-03-15 02:22] marshalhayes commented on #1188
I just did a clean install of Hyper (and added plugin ['hyper-tab-icons'](https://github.com/dfrankland/hyper-tab-icons)) and the tab titles are not changing. Nor are the icons, like they are supposed to with hyper-tab-icons.

Do I need to do something in order for the title/icons to show?

[2018-03-15 02:46] jkutianski opened #2762 "No app for this action opening preferences"
When I try to open preferences appears this error

![image](https://user-images.githubusercontent.com/1901108/37441734-96c345fe-27e1-11e8-9039-67739f08b2be.png)

        -
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

[2018-03-15 06:33] MAPESO commented on #2762
@arojunior in the canary version it is configured to open notepad or any text editor that has been previously configured. You can change to the Canarian channel by adding this line of code to the .hyper.js file: `updateChanel: 'canary'`

[2018-03-15 06:35] MAPESO commented on #2762
@jkutianski If the problem persists, tell me 😸

[2018-03-15 08:40] d3lm commented on #2760
I am experiencing the same a forward delete of text on a Mac. When I press `Fn + Delete` it prints `~` to the terminal. Is it only me or do you have the same issue?

[2018-03-15 09:54] damien122 commented on #2760
@d3lm I tryed your solution, to use bash instead of fish (in my case, its the same as zsh) but nothing changed. I got the same behavior. If I start my linux environment from an tipicall windows terminal then all F Keys works as expected, but in Hyper not.

[2018-03-15 11:50] dotWaldemar commented on #2036
![2018-03-15 13 50 20](https://user-images.githubusercontent.com/25832802/37461673-d381c49a-2857-11e8-946c-9063365c46a4.png)

[2018-03-15 11:56] dotWaldemar commented on #2036
This`s fix with

[code]

in to your .bash_profile or .zshrc

[2018-03-15 15:33] d3lm opened #2763 "Cursor is not aligned with the text"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS High Sierra 10.13.1
- **Hyper.app version**: 1.4.8 (stable)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: [

[2018-03-15 16:38] baborlelefan opened #2764 "Set as default terminal in Ubuntu"
Hi,
I'm a new user of Hyper and I love it. I'd like to know how to set it as my default terminal. I've tried sudo update-alternatives --config x-terminal-emulator but I didn't find it...

Thanks for your help

[2018-03-15 17:09] 12luisalmeida commented on #75
Any solution for this?

[2018-03-15 19:19] krisztianpuska commented on #75
Sadly, no. Neither of the previous examples work, on latest canary at least. You can still change the font line-height directly to make it work, but I think thats a bit too much of a hack.

[2018-03-16 05:46] joting commented on #270
Having this issue in the latest version of canary, is it a regression from the change to xterm?

[2018-03-16 06:30] joting opened #2765 "Neovim cursor shape does not change on insert mode"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **Debian WSL on Windows 10**:
- **2.0.0-canary.14**:
- **The issue is reproducible in vanilla Hyper.app**:

## Issue

This is an old  issue #270, that was supposedly fixed by #24

[2018-03-16 06:37] JustSid commented on #1147
I would like this as well. My use case is that I have to switch between wsl/bash, Visual Studio Command Prompt, PowerShell and Admin command prompt regularly.

All I want is a single terminal that I can use to drop into any of these without making my life harder.

[2018-03-16 09:05] thuld commented on #1810
Reproducible with my machine.

[2018-03-16 12:22] 12luisalmeida commented on #75
How can I do that?

[2018-03-16 12:55] cbioley commented on #75
@12luisalmeida Try to scroll this issue, just a bit ^^

[2018-03-16 18:15] mwdiers commented on #2470
On macOS (10.13.3), in Canary.14, this is now working perfectly for me using my preferred powerline font (Iosevka Terminal Medium). Colors are also correct.

[2018-03-16 23:00] Stanzilla commented on #2633
Sounds good to me.

[2018-03-16 23:01] Stanzilla commented on #2284
Also should list updating the docs as a bullet point, especially the extensions part and https://github.com/zeit/hyper/blob/canary/website/index.html#L712

[2018-03-17 12:51] #2737 closed

[2018-03-17 14:31] EliYao opened #2766 "Display wrong in Chinese lang version Windows 10"
Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

Every time open Hyper will got this.
![snipaste_2018-03-17_22-13-07](https://user-images.githubusercontent.com/7480584/37556412-7c5528d0-2a30-11e8-96ff-02e53eb4b73d.png)

And type command will got this.
![snipaste_2018-03-17_22-17-03](https://user-images.githubusercontent.com/7480584/37556540-ba6284f4-2a32-11e8-8453-7a4f722f4fa2.png)

[2018-03-17 19:55] feryardiant commented on #2470
I'm having similar issue on Windows 10 WSL with fresh install of hyper few minutes ago. Here's side by side comparisons

Home user with `zsh` + `oh-my-zsh`
![home folder zsh](https://user-images.githubusercontent.com/508665/37559255-5012884c-2a55-11e8-9820-72af435ee469.png)

`nvim` + `vim-airline` plugin
![image](https://user-images.githubusercontent.com/508665/37559278-d127c528-2a55-11e8-8a76-0fc

[2018-03-17 23:24] #2751 closed

[2018-03-18 00:11] #2686 closed

[2018-03-18 00:15] #799 closed

[2018-03-18 00:15] chabou commented on #1584
outdated

[2018-03-18 00:15] #1584 closed

[2018-03-18 00:19] #2592 closed

[2018-03-18 05:14] bgw commented on #2592
FYI: Even with the dynamic char atlas patch set, drawing characters with a background is slower than without, since we make a new call to `fillRect` for each character (even when adjacent characters are the same color), which ends up being expensive (it takes up nearly half the render time for me).

I'm hoping to tackle that problem next, but you might still want to stick with the `:hi Normal cter

[2018-03-18 09:06] chabou commented on #2592
@bgw Thank you so much for your hard work. This is totally amazing. Be sure, that we'll give you our feedback.

[2018-03-18 15:34] sn0wyfall commented on #1276
I'm experiencing this and I'm fairly sure that I don't have `zsh-autosuggestions` enabled. This does however only occur with zsh – with bash it pastes much faster. I'm unsure how to diagnose my issue. Any pointers would be appreciated!

[2018-03-18 23:47] typeqwerty commented on #1252
I did what @Faleij says! It worked for me!
[code]

[2018-03-19 03:12] bgw commented on #2763
I'm not sure what the issue is. The cursor isn't aligned with the `d`, but that's because there's an ascender and no descender for that glyph. It's more closely aligned with the arrow, though not perfectly aligned, however, that might just be because the glyph isn't perfectly aligned.

![selection_039](https://user-images.githubusercontent.com/180404/37576086-baf5f3d2-2ae7-11e8-8bc5-0acc6e148eec.p

[2018-03-19 04:51] vivekkumar27june88 opened #2772 "clear or ctrl+L not working if using bash.exe which comes with git"
-
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.15063

[2018-03-19 08:17] linonetwo commented on #2766
月经
Fixed in 2.0.0

[2018-03-19 11:08] chandan1794 opened #2773 "Setup for the development environment failing, when running 'yarn' command."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:  Windows 10Pro x64
- **Hyper.app version**:  Branch: canary, Last Commit: cf7347f (5 days ago)
- **Link of a [Gist](https://gist.github.com/) with the co

[2018-03-19 12:52] chandan1794 commented on #2773
It turned out, I was using an older version of node. As soon as I updated to the latest version it started working.

[2018-03-19 12:52] #2773 closed

[2018-03-20 01:04] chaseleinart commented on #2764
@baborlelefan Try running to command below to add Hyper to your config. If that doesn't work, can we please see the output from the command you ran?

sudo update-alternatives --install /usr/bin/x-terminal-emulator x-terminal-emulator /opt/Hyper/hyper 50

[2018-03-20 05:10] #2576 closed

[2018-03-20 11:23] librae8226 commented on #2766
just awesome @linonetwo

[2018-03-20 17:00] SirWindfield opened #2775 "Allow hyper to start on system startup in the background."
I find myself often opening and closing terminal windows as I need them. Therefore a fast startup time would be good to have. Hyper still needs around 2-3 seconds depending on what I am currenty doing. Compared that to the normal OS X Terminal which is available under 1 sec, that is "a lot" of difference.

I thought about an option in the config to make Hyper start on startup and be kept in the ba

[2018-03-20 17:36] Zane- commented on #2746
@bgw
qrcode-terminal does not seem to work in hyper for me. This is running on vanilla 2.0.0-canary.14 just like you. Running WSL Ubuntu as my shell, which doesn't seem to be the issue since it displays fine in the Windows cmd.
<img width="371" alt="10be2f9ef81f4858f12540cc31500f39" src="https://user-images.githubusercontent.com/6345012/37672105-9fd42fe4-2c43-11e8-91ba-43ade6e7aa21.png">

[2018-03-20 18:10] gclove opened #2776 "Hyper cannot use unicode language."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:  MacOS
- **Hyper.app version**: 1.4.8
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from

[2018-03-20 20:07] Strike117 commented on #1612
same here

[2018-03-20 23:03] chabou commented on #2728
Example of a plugin using an array to define ANSI colors: https://github.com/kasperlewau/hyperterm-oceanic-next/blob/master/index.js

[2018-03-20 23:09] chabou commented on #1612
Maybe same issue than https://github.com/zeit/hyper/issues/1829

[2018-03-21 09:00] #2728 closed

[2018-03-21 12:49] rianquinn commented on #2572
Dup: https://github.com/zeit/hyper/issues/2715

[2018-03-21 12:50] rianquinn commented on #2772
Dup: https://github.com/zeit/hyper/issues/2715

[2018-03-21 12:52] rianquinn commented on #2572
I can confirm that `env: { TERM: 'cygwin' }` fixes this issue

[2018-03-21 12:52] rianquinn commented on #2715
I can confirm that `env: { TERM: 'cygwin' }` fixes this issue

[2018-03-21 12:53] rianquinn commented on #2772
Give this a try `env: { TERM: 'cygwin' }`

[2018-03-21 13:11] baborlelefan commented on #2764
It worked, thanks a lot for your answer

[2018-03-21 13:34] #2572 closed

[2018-03-21 14:15] d3lm commented on #2763
Ok, so the canary version and the new rendering pipeline works perfectly! I really love it, because it's now exactly the same experience as in the Terminal App on Mac. The only thing that I dislike is that the scrollbar flashes up for a second when I start Hyper. It would be nice to have an option for disabling the scrollbars completely.

You guys are doing a great job! I really enjoy Hyper so far

[2018-03-21 14:43] d3lm opened #2778 "Scrollbar flashes when application is started"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS High Sierra
- **Hyper.app version**: Hyper 2.0.0-canary.14 (canary)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper

[2018-03-21 14:57] TDamiao commented on #2715
Thank you @rianquinn

[2018-03-21 14:57] #2715 closed

[2018-03-21 16:44] chaseleinart commented on #2764
@baborlelefan Excellent - would you mind marking the issue as Closed?

[2018-03-21 16:44] chabou commented on #2764
@chaseleinart Thank you so much for your help 🙏

[2018-03-21 16:44] #2764 closed

[2018-03-21 17:17] albinekb commented on #2763
I'm closing this off as it's fixed in 2.0 🔥 Thanks for confirming 🙏

[2018-03-21 17:17] #2763 closed

[2018-03-21 17:54] eshanmind commented on #1484
Same issue a year later, it turns out that the same issue exists with java, and it only happens if you are printing something inside the loop, if it's a silent infinite loop, you can still `^C` it.

[2018-03-21 18:15] chabou commented on #1484
It has been really improved in our upcoming v2 (currently available on our canary update channel).

[2018-03-21 19:51] chaseleinart commented on #2661
@kenorb I'm on Ubuntu, not Knoppix, but did you try installing it with Alien, rather than rpm directly? I'm not familiar with RPM, so if that's not a preferred option, I'll try to reproduce on a Knoppix VM.

[2018-03-21 20:14] kenorb commented on #2661
Sorry, I won't be able to re-test on Knoppix, it was my temporary OS, now I'm back on macOS.

[2018-03-21 20:44] albinekb commented on #2661
Thanks 👍 Then I'm closing this off for now, if anyone in the future wants help getting it running on Knoppix, feel free to reopen 🙏

[2018-03-21 20:44] #2661 closed

[2018-03-21 21:55] xeoneux opened #2779 "Hyper always starts in windowed mode instead of fullscreen"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10
- **Hyper.app version**: Hyper 2.0.0 Canary 14

## Issue

The Hyper window does not open up in full screen mode when restarted after closing t

[2018-03-22 09:10] samuelleeuwenburg opened #2780 "Menu doesnt open on windows"
-
        Hyper 1.4.8
        Electron 1.7.8
        win32 x64 10.0.16299

![image](https://user-images.githubusercontent.com/2111164/37761099-01c14018-2db9-11e8-9867-aef155c9f6de.png)

Steps to reproduce:

install hyper
open hyper
press `ctrl` `,`  or go to the preferences via the menu

[2018-03-22 10:56] pevecyan commented on #2780
Set default program for opening .js files to notepad or any other text/code editing software.

[2018-03-22 18:09] chaseleinart commented on #2741
@jperezruiz - Hi Javier - It looks like there is currently an issue with community Feedback wanted under  #1147 - Does that address this and your earlier issue #2411 ?

[2018-03-23 04:30] yogeshkotadiya commented on #2775
+1
I would love to have this feature as I also open/close terminal frequently.
About memory, Hyper uses around ~120 MB RAM on my machine (Windows 10) which is really high compared to the native terminal that uses just about 5Mb, not surprised tho knowing that its an electron app.

[2018-03-23 06:03] gclove commented on #2776
That's ok for canary version.

[2018-03-23 06:03] #2776 closed

[2018-03-23 06:04] gclove commented on #2766
That's ok for canary version.  @EliYao

[2018-03-23 07:37] manastalukdar commented on #312
I have the exact same problem as @JacobDB .

[code]

Manually deleting this folder for now to get past the plugin update error.

OS: Microsoft Windows [Version 10.0.16299.309]
Hyper: 1.4.8.
nodejs: 9.8.0
npm: 5.7.1.

[2018-03-23 09:44] Ricq commented on #2760
Same here. Tried using `htop` and `mc` (Midnight Commander) in Ubuntu on Windows using Hyper, but the function keys aren't working. I think they're being intercepted by Chromium.

Any way that we can let the function keys pass through to the console? Or otherwise, a trick through which we can use another command and make that send the function key to the shell?

[2018-03-23 09:56] towertop opened #2781 "shellArgs would pass extra ending char with duoble quote"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Home Basics 64bit
- **Hyper.app version**:  2.0.0 - Canary.14 (stable)
- **Link of a [Gist](https://gist.github.com/) with the contents of you

[2018-03-23 10:00] chabou commented on #2781
can you try to use something like:
[code]

[2018-03-23 10:15] yossepbb commented on #1289
This is the Z Shell configuration function for new users,
zsh-newuser-install.
You are seeing this message because you have no zsh startup files
(the files .zshenv, .zprofile, .zshrc, .zlogin in the directory
~).  This function can help you with a few settings that should
make your use of the shell easier.

You can:

(q)  Quit and do nothing.  The function will be run again next time.

(0)  Exit,

[2018-03-23 11:33] juliaovod commented on #921
+ 1

[2018-03-23 12:18] SirWindfield commented on #2775
@yogeshkotadiya I do not really mind about the RAM usage nowadays. Most people have probably anyway 8GB+. I might try to see how much impact this has on performance once I have some more time.

[2018-03-23 12:45] blackwire commented on #1147
So, I found a work around that seems to be okay. It's not automatic, but once you have it up it works just fine. You can start out with the Powershell terminal and open a new tab and then type in **bash** or **bash.exe** and it will start the WSL (Windows Subsystem for Linux). This way you can have both terminals running. Hope this helps a few people. It took me a second of thinking and then I rea

[2018-03-23 13:32] albinekb commented on #2775
If you're concerned about 120 MB ram you should not be using Hyper, our main focus is not to make a resource focused terminal, there's other projects that do that 👍

[2018-03-23 15:04] yogeshkotadiya commented on #2775
@SirWindfield Agreed. I don't mind 120Mb memory in the background as I have Chrome running in the background which takes around 1Gig memory, I have a 16Gig machine so don't care that much.

@albinekb I don't hate Hyper, in fact I'm using Hyper as my main terminal for the last couple of months and i really like using it. But if you just add the feature to continue running Hyper in background it can

[2018-03-23 16:29] Caryyon commented on #63
MacOS High Sierra 10.13.3 using Hyper 2.0.0-canary.14 with no plugins I am currently experiencing the same issue. I can't press and hold a key for a repeat.

[2018-03-23 17:01] appleton opened #2782 "cmd-backspace not working on MacOS"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS 10.13.3
- **Hyper.app version**: 1.4.8
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.github.co

[2018-03-23 20:08] MAPESO commented on #63
@Caryyon Thanks for reporting this error🙏

[2018-03-23 20:09] MAPESO commented on #63
@albinekb @chabou This error I thought it had been fixed in the canary version 🙍 😞

[2018-03-23 20:19] MAPESO commented on #63
@chabou Thanks friend 😺

[2018-03-23 22:31] atrauzzi commented on #1147
Not really because I start with bash :)

[2018-03-24 00:06] blackwire commented on #1147
If you just need to run a few things using powershell in the WSL environment you can alias powershell.exe to **ps** or something like that in your .bashrc file and use **ps yourpowershellscript.ps1** this also works with any powershell command. You can also just kick over to the powershell terminal by using **powershell.exe** without any parameters. This doesn't work quite as well though as if you

[2018-03-24 00:50] atrauzzi commented on #1147
I think ideally we should just keep this issue focused on multi-terminal support.

Workarounds run the risk of derailing this ticket.

[2018-03-24 01:38] opes commented on #2747
What fixed it for me was changing the shell specified in `.hyper.js` to use `wsl.exe` instead of `ubuntu.exe`:

[code]

[2018-03-24 01:41] opes commented on #2487
@7twin I realize it's been some time since you posted this, but have you tried changing the shell to `wsl.exe`?

[2018-03-24 02:48] 7twin commented on #2487
@opes I have since wiped my computer and re-installed everything, it's working again, might have been an issue with node not getting cleanly uninstalled - and yes I did change it to wsl.exe

[2018-03-24 02:48] #2487 closed

[2018-03-24 03:12] EliYao commented on #2766
Yes, I found fixed on canary version.

[2018-03-24 03:12] #2766 closed

[2018-03-25 09:04] towertop commented on #2781
@chabou This workaround cannot help the path containing blank spaces. For in Windows, it is convention to enclose them with double quote marks.

I'm new to Hyper and the React underneath which stop me from getting to the code. But I think it's probably a bug or typo.

[2018-03-25 09:10] chabou commented on #2781
I am aware of this convention and this is a convention shared by all OS.

But shellArgs is not used with string concatenation. This array is passed directly to `node-pty.spawn()` method.

When you says "This workaround cannot help". It means that you tried it without success?

[2018-03-25 09:24] towertop commented on #2781
I tried many different way to tune that option. Not sure whether I have tried your advice above and I'm not on my Windows laptop right now. I configured shellArgs as:
[code]
For I had moved my script out of a path with blank space. That was my workaround.

I don't need another workaround and just hope to pointer out a bug. :)

[2018-03-25 09:42] chabou commented on #2781
Please try my solution.
This is not supposed to be a workaround but the way to use `shellArgs`.
I really want to know if it works and if so, I will try to find a solution to explain to users how to use `shellArgs` correctly.

[2018-03-25 13:13] b-gran commented on #2470
I had this problem on MacOS, and was able to resolve it. (Note: using latest non-canary Hyper)

**TLDR:** I was using the _font filename_ in my `.hyper.js` instead of the **_font family name_** as understood by MacOS.

Here is the relevant snipper from the original, non-working `.hyper.js`. Note that the family includes the "Regular" (not actually part of the font family name).
[code]

Here is my

[2018-03-25 13:31] chabou commented on #2470
@b-gran Thank you for your valuable feedback 🙏

[2018-03-25 14:53] towertop commented on #2781
@chabou Yes，I just tried and that way works.

[2018-03-25 15:57] chabou commented on #2781
Thank you for your confirmation 🎉.

If you want more explanations, when you type a command, the shell (cmd, powershell, bash etc..) split your command line at spaces to extract the command to execute and make an array of remaining arguments. Then it spawns the command passing arguments array. In this case, you need to use (double) quotes or if compatible, escape this space with `\ ` to tell the sh

[2018-03-25 22:30] Etregoning opened #2784 "Is there a working CLI for hyper (for installing plugins)?"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS High Sierra 10.13.3
- **Hyper.app version**: 1.4.8
- **Link for [My Gist](https://gist.github.com/Etregoning/d6232aac38fa4190ea302a422b4d3951)**

#

[2018-03-25 23:25] ErEllison commented on #631
same here
![Uploading Sketch.png…]()

[2018-03-25 23:50] mhamdan95 commented on #2693
@chabou @lesce @ppot
Hi guys, do you have any proposition please?

[2018-03-26 00:35] thmsbfft commented on #631
👋

I don't know how relevant that might still be but I use a similar `rpc.js` as Hyper and ran into the same issue. Passing the server's `id` to `this.wc.removeAllListeners()` when destroying the instance fixed it for me. You can see the commit [here](https://github.com/thmsbfft/oryoki/commit/9533615c5145134ad3733c27e0bd8b142f913295#diff-a59638ed544fe3c9e8f6b2ddd93a7343R48). I'd do a PR but I'm no

[2018-03-26 05:55] towertop commented on #2781
Thank you for your kindly explain. You're right. I just got your point till now with using shellArgs as:

[code]
I didn't need to use double quote mark here as the convention. I was attracted by that extra mark in error message.

[2018-03-26 05:55] #2781 closed

[2018-03-26 06:51] chabou commented on #2784
In our upcoming v2, a `hyper` command will be automatically installed:
[code]

[2018-03-26 07:12] Etregoning commented on #2784
Cool, is it waiting for v2 or will it be on the canary branch before That? Thanks!

[2018-03-26 07:24] chabou commented on #2784
This is already available on canary update channel :)

[2018-03-26 07:52] sim186 commented on #1613
Setting the critical stop sound to a silent wav file worked for me, thanks to ozbonus ([https://github.com/zeit/hyper/issues/1613#issuecomment-369208180](url))

[2018-03-26 08:11] Etregoning commented on #2784
Thanks! I will switch branches then.

[2018-03-26 13:45] adityatandon007 opened #2785 "keyboard shortcut for command"
- [x] Your Hyper.app version is **2.0.0-canary.14**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is th

[2018-03-26 19:20] RichDonnellan commented on #2782
I'm running the same exact setup and `cmd + backspace` **is** working fine for me; all the other combinations work as expected, too.

I peeped your gist, and noticed you have an empty `keymaps` object. Is it possible this is overwriting the default options? Although it had no effect on me, try removing that and test.

[2018-03-26 20:07] albinekb commented on #2431
PR welcome @BrainInBlack 😊

[2018-03-26 23:29] jaller94 commented on #2785
Is it possibly related to this ticket? It would open two tabs after Reloading once.

#2652 Reload causes New Tab to spawn multiple tabs

[2018-03-26 23:30] chabou commented on #2785
Thank you for your link @jaller94. Certainly related 🙏

[2018-03-26 23:37] chabou commented on #2782
@appleton linked code lines concern canary release channel.
But I tried your config with stable release and it works very well 🤔

[2018-03-26 23:37] chabou commented on #2782
@RichDonnellan BTW, thanks for your help 🙏

[2018-03-27 05:13] danieldunderfelt opened #2788 "Canary.15 broke Hyper with plugins"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS High Sierra, 10.13.3
- **Hyper.app version**: 2.0.0 canary.15
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:

[2018-03-27 05:19] danieldunderfelt commented on #2788
Update: Disabling the plugins made Hyper work again, so I've updated the issue title to reflect this. In short, canary.15 is not compatible with plugins, at least mot Hyper-snazzy or Hyperborder.

[2018-03-27 07:01] chabou opened #2789 "CLI: Use dev config file"
When Hyper is in dev mode, local config file has precedence: https://github.com/zeit/hyper/blob/e181e1eb8d5b3044a99a1add728c5bca8b5a14c3/app/config/paths.js#L18-L29

It permits to develop on Hyper without breaking regular one.

It would be great to do something similar for CLI here: https://github.com/zeit/hyper/blob/e181e1eb8d5b3044a99a1add728c5bca8b5a14c3/cli/api.js#L8

Not conditioned to `elect

[2018-03-27 07:03] chabou commented on #2789
It would make other PRs, like #2756, easier to develop.