[2020-01-22 21:18] Stanzilla commented on #4194
Unpublished the release for now :)

[2020-01-22 21:19] LabhanshAgrawal commented on #4196
I think this is related to the cursor issue, for me it's working as I have selectionColor set in #rrggbbaa

[2020-01-22 21:41] chabou commented on #4196
yesss! same workaround! Thanks 🙏

[2020-01-23 05:02] joehanko commented on #3703
@joybhallaa worked for me too, thanks!

[2020-01-23 05:55] joybhallaa commented on #3703
Welcome, everyone! Is this issue still there? I'd like to open an issue to work on this.

[2020-01-23 08:28] Luxcium commented on #2144
I have same issue when not using hyper (iTerm) but only when loading inside of TMUX I load my ZSH exactly the same way outside and inside the TMUX but I am getting the `%` only when in TMUX session ...

[2020-01-23 08:38] Luxcium commented on #2144
I should have read the comment before sending my comment I am sorry ~>

PROMPT_SP <D>
Attempt to preserve a partial line (i.e. a line that did not end with a newline) that would otherwise be covered up by the command prompt due to the PROMPT_CR option. This works by outputting some cursor-control characters, including a series of spaces, that should make the terminal wrap to the next line when a p

[2020-01-23 08:39] Luxcium commented on #4147
PROMPT_SP <D>
Attempt to preserve a partial line (i.e. a line that did not end with a newline) that would otherwise be covered up by the command prompt due to the PROMPT_CR option. This works by outputting some cursor-control characters, including a series of spaces, that should make the terminal wrap to the next line when a partial line is present (note that this is only successful if your termin

[2020-01-23 08:39] Luxcium commented on #4147
PROMPT_SP <D>
Attempt to preserve a partial line (i.e. a line that did not end with a newline) that would otherwise be covered up by the command prompt due to the PROMPT_CR option. This works by outputting some cursor-control characters, including a series of spaces, that should make the terminal wrap to the next line when a partial line is present (note that this is only successful if your termin

[2020-01-24 02:49] ivanwonder commented on #4195
It has been fixed in master, I think it will be released in the next version. Try the latest beta. https://github.com/xtermjs/xterm.js/blob/master/README.md#beta-builds

[2020-01-24 09:30] LabhanshAgrawal commented on #4190
can you try it out? I tried to install it but I'm getting some node-gyp errors, From what I understood from the source repo, it doesn't seem to support newer node versions.
I tried out https://github.com/desktop/registry-js also, I'm able to read the registry values with Unicode correctly, but it doesn't seem to have a way of setting values.

[2020-01-24 15:21] Stanzilla commented on #4190
Hrm, won't have that much time in the near future but will investigate further!

[2020-01-24 16:23] hammypants opened #4197 "Default startup directory changed in latest canary build"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Version 1909 (OS Build 18363.535)
- **Hyper.app version**: 3.1.0-canary.1

## Issue
All shells now default to `~/AppData/Roaming/Hyper` instea

[2020-01-24 18:32] lrnv opened #4198 "Using win-bash as a shell"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 latest build
- **Hyper.app version**: 3.0.2 stable
- **Link of my [.hyper.js](https://gist.github.com/lrnv/d91af3b65399b23b9df2a432d89e7519)

[2020-01-24 18:50] mdizo opened #4199 "Keep getting � symbols when using Yarn"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/mdizo/40ed27acab76709adb8a87564492b655) with the contents of your

[2020-01-24 23:39] robhicks commented on #2907
I love Hyper so don't take what I say the wrong way.
Having to use a script to change the tab name is silly.
Since tabs are created by Hyper, they should have the functionality you would expect from tabs. They should support drag and drop and they should be renameable.

[2020-01-25 01:33] slamoureux commented on #3533
on mac os my cursor will not blink unless I set webgl to false

[2020-01-25 08:23] LabhanshAgrawal commented on #4199
I'm able to see the emojis with yarn (Hyper 3.0.2)

![Annotation 2020-01-25 134549](https://user-images.githubusercontent.com/16598275/73118382-65384280-3f79-11ea-8457-e51355a38164.png)
You're getting the ✨ symbol at the end but not other symbols, It might be a fonts issue.
I have fonts configured as `fontFamily: '"Source Code Pro", Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace'

[2020-01-25 08:24] LabhanshAgrawal commented on #4199
P.S. I am using powershell 6, not cmd. if that might be relevant.

[2020-01-25 10:43] mdizo commented on #4199
Thanks for replying back. I've tried using different fonts, still no differences. It seems the microsoft emoji font is still working fine when used in browsers:
![firefox_NxeSspfUSS](https://user-images.githubusercontent.com/12964726/73119830-5914ab00-3fa2-11ea-88e9-11f1c66f6f36.png)

It seems weird to me why only one emoji font works and the other don't.

[2020-01-25 11:06] mdizo commented on #4199
Found related issue #3113

[2020-01-25 12:08] LabhanshAgrawal commented on #4199
I tried again, using your config and the Jetbrains font (also tried with the default config), still faced no issue.
You can try out the latest canary build from [here](https://github.com/zeit/hyper/suites/415124596/artifacts/1282439)
There's currently a bug in canary with cursorColor and selectionColor, using rgba(), you will have to use hex colors. But you should be able to test the emoji thing e

[2020-01-25 14:03] qweasd1 commented on #3582
sounds great!

[2020-01-25 16:39] mdizo commented on #4199
Still facing the same issues with vanilla config 😢
Thanks for trying to help though.

[2020-01-25 18:26] LabhanshAgrawal commented on #4199
Did you try the canary build?

[2020-01-25 18:27] LabhanshAgrawal commented on #4199
the bugs I mentioned should be fixed soon.

[2020-01-25 18:32] mdizo commented on #4199
Yep. Even tried forking the branch and build my own executable. Still the same problem.

[2020-01-25 19:00] LabhanshAgrawal commented on #4199
I'm out of ideas then 😔.

[2020-01-25 19:45] bphd opened #4201 "Automake and patch unmet dependances"
- [X ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools**

[2020-01-26 17:25] simnalamburt commented on #4190
This issue is critical for all non-English Windows user. If someone who uses non-ASCII username installs Hyper, his/her computer will suddenly become buggy, in irreversible way.

###### Reference
- https://twitter.com/Basix1120/status/1219352809771917313

[2020-01-26 19:39] BasixKOR commented on #4190
As a workaround, I changed Windows system locale to UTF-8 and now it works as intended. The few problems are (1) this option is currently in beta, (2) it might be incompatible for old softwares.

[2020-01-26 21:00] 0xbkt commented on #3736
I'm having the same problem when using OpenSSH's `ssh.exe` as a shell in Windows 10 Pro 1903. `exit`'ing works but the X icons never do.

[code]

[2020-01-27 12:58] #4197 closed

[2020-01-27 13:08] bet4it commented on #4201
https://wiki.archlinux.org/index.php/Arch_User_Repository#Getting_started

[2020-01-27 13:11] bphd commented on #4201
So add base-devel to dependancies, make it verify by the PKGBUILD

[2020-01-27 13:18] bet4it commented on #4201
https://wiki.archlinux.org/index.php/PKGBUILD#makedepends

[2020-01-27 13:34] bphd commented on #4201
Well, okay

Just to say that it didn't come with vanilla Arch so it's pretty illogical

[2020-01-27 19:48] 0xbkt commented on #3797
Same issue. Whenever I run `ssh.exe`, closing Hyper or tabs using the X buttons is impossible without crash.

[2020-01-28 12:31] benvp commented on #3699
Having the same issue. I tried setting `webGLRenderer: false` but it doesn't seem to solve the issue. I always have the dependency on `Hyper Helper` which prevents from using the internal graphics card and which is killing battery life when on the road. Using Hyper 3.0.2 and also tested it with the latest 3.0.2-canary.4

[2020-01-28 14:26] sachin3973 commented on #4035
I am having exactly same issue Hyper is not opening but weirdly showing in Task manager. But I installed Hyper today only and as I using windows 10 I have to add some path inside the ".hyper" to connect it with git. So, I added that path after that it is not opening, I reinstalled it multiple times. But it remains unsolved.

[2020-01-28 14:29] endreujhelyi commented on #4035
I managed the issue by removing the **hyper** folder from the _/User/[username]/AppData/Local_ folder and restarted the installation.

[2020-01-28 15:43] LabhanshAgrawal commented on #4194
@Stanzilla  @chabou
From what I see the main issues we saw in the release are
Cursor and Selection colour (#4195  and #4196 )
and
Unicode characters in $PATH on Windows (#4190 )

I'm listing possible solutions (a little hacky) which should help us for the time being.

For the colour issue, as mentioned by @ivanwonder https://github.com/zeit/hyper/issues/4195#issuecomment-577970104 the issue is fix

[2020-01-28 16:02] Stanzilla commented on #4194
Thank you for the investigation! I think we should use the 10 days to maybe come up with a better solution for the registry thing and then do a new canary release with the new xterm.

For example the awesome @eugeny made this for use in Terminus https://www.npmjs.com/package/windows-native-registry maybe we can use it as well

[2020-01-28 19:42] Stanzilla commented on #4198
Hey there, any reason you are not using WSL instead?

[2020-01-28 20:39] cdenneen opened #4213 "Watch screen rewrite"
- **OS version and name**: Catalina 10.15.2
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.github.com/cdenneen/6616becee15916e04a5d9b688a7e91e1

## Issue
Running command via watch. Switch tab. Go back to watch tab. You must CTRL-C and re-run to see output.

I've tried to disable webgl rendering but didn't help.
I've

[2020-01-28 22:21] lrnv commented on #4198
Well I am not Shure I understand completely what WSL is, so correct me if I'm wrong, but this is a complete emulated Linux kernel. It is really not the same thing than a simple program as `bash`, takes more ram, and is less compatible and Integrated into the environnement. `win-bash` comes usulay with a native port of many GNU utilitaries : grep, ls, cd, cat, less, awk, sed, ..  that also run with

[2020-01-29 02:13] bet4it commented on #4194
@LabhanshAgrawal If use the latest beta build of xterm, `Split Horizontally` and `Split Vertically` can't work.

[2020-01-29 05:05] LabhanshAgrawal commented on #4194
Hmm.. there seems to be some issue. Thanks for pointing out, I had only checked for the color issue.
The split is happening but with a plugin error notification and the following errors in console
[code]
[code]
[code]
[code]

[2020-01-29 07:24] ataricoder commented on #3959
+1 for .zip not working. Had to download .dmg file. Jan 29, 2020.

[2020-01-29 09:50] maikyjolling commented on #3959
+1 zip is not working from website

[2020-01-29 10:09] jaronschulz commented on #3637
thank you

[2020-01-29 12:26] andrewbaisden commented on #3637
Thanks @qweasd1 i wish we had this solution sooner.

[2020-01-29 12:41] LabhanshAgrawal commented on #4194
I tried out 'windows-native-registry'.
It was able to read the values correctly, but it messed it totally while setting the value. 'winreg' messed the unicode characters only, but this ends up setting some totally unrecognizable value.
My path looked like this initially
[code]
And I tried to add `Iñtërnâtiônàlizætiøn☃💩` to it [ref](https://mathiasbynens.be/notes/javascript-unicode#poo-test)
And en

[2020-01-29 13:11] Stanzilla commented on #4194
Hrm, did you look at how it's implemented in Terminus? Maybe @eugeny can help?

[2020-01-29 17:11] LabhanshAgrawal commented on #4194
I just now looked at Terminus code and it seems to only be getting used there to set the context menu entries, and the values are regular strings.

[2020-01-29 20:14] arjawn commented on #3959
+1 again zip is not working from the site but this dmg did work. tysm!

[2020-01-29 20:53] arjawn commented on #1289
Same problem and setting shell = '/bin/zsh' in ~/.hyper.js did the trick for me. Thank you!

[2020-01-30 02:55] Stanzilla commented on #4194
I found https://github.com/ironSource/node-regedit, takes some extra steps because of ASAR though.

[2020-01-30 06:22] bibliobibulus commented on #3795
You can change SHELL variable in hyper.js as following.

[code]

But this is unnatural, this should be fixed.

[2020-01-30 09:48] snowserge commented on #3736
I have the same problem with default Hyper config (just installed on new Win 10 1903)
Once I run some DOS command, for instance 'cd \' I can't close the terminal window.
If I kill child process 'conhost.exe' then terminal close successfully.
![image](https://user-images.githubusercontent.com/14926190/73438252-cb004200-435e-11ea-8afc-c07e9bd9f8e0.png)

[2020-01-30 15:48] parrotcar00 opened #4214 "Can you run GUI apps based on electron(like VSCode, Postman) embedded inside Hyper?"
Considering Hyper uses HTML and CSS technologies to draw on screen, I was wondering if I can run VSCode in a small terminal window with all GUI effects and similarly any other electron app like Postman or Slack in a hyper window. It would serve the purpose like a tiled window manager. Tried to search around if it is possible but couldn't find any answers to it!

[2020-01-30 16:55] dbhagen opened #4215 "Terminal not visible after MacBook comes back from sleep"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate
![image](https://user-images.githubusercontent.com/5039466/73470598-bcf5f580-434d-11ea-8765-2ecf7a723257.png)
Could be related to: https://github.com/zeit/hyper/issues/3160 or https

[2020-01-30 17:01] BLZH93 commented on #3703
Yup! still going on! Used your code and it fixed it in a whiff. Thank you bud!

[2020-01-30 18:05] mrjones2014 commented on #4035
@endreujhelyi this did not fix the issue for me.

[2020-01-30 23:01] ppot commented on #4214
No sorry, can't do that! You have many tilling manager open source however depending of your platform!

[2020-01-30 23:01] #4214 closed

[2020-01-31 12:18] ShadowFM commented on #4196
I have the same issue and as hex coloring I could fix it, hope rgba will work soon again

[2020-02-01 05:59] OmgImAlexis opened #4216 "Sending large text over ssh causes slow downs"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: 10.15.2 (19C57)
- **Hyper.app version**: Hyper 3.0.2 (stable)
- **The issue is reproducible in vanilla Hyper.app**:  Yes

## Issue

Pasting a large amoun

[2020-02-01 06:37] zyxxyzyxz opened #4217 "Keep getting huge whitespace gaps when typing?"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Pro [Version 1909 (OS Build 18363.592)]
- **Hyper.app version**: 3.0.2 Stable
- **Link of a [Gist](https://gist.github.com/) with the contents

[2020-02-03 13:47] hk4140 commented on #4147
I had the issue, both on upgraded macOS Catalina and clean-installed one. PROMT_SP treatment solved the issue; no problem now, other than a few empty lines on Hyper startup.. 🙂

[2020-02-04 10:52] DeanGalvin commented on #3596
For reference, this is still an issue. Tried several workarounds found online to no avail.

[2020-02-04 14:41] raphtlw commented on #4035
Can confirm, moments after installling this terminal did this start happening out of the blue.
@endreujhelyi This did not work for me.

[2020-02-04 18:03] Stanzilla commented on #4194
xterm 4.4.0 is out now, also coming with xterm-addon-unicode11 which we should probably use

[2020-02-04 18:24] Stanzilla opened #4229 "Cert Expired"
@rauchg @timneutkens @juancampa the code signing cert in Appveyor CI expired.

[2020-02-04 22:51] leo commented on #4229
We're taking a look!

[2020-02-05 00:16] leo commented on #4229
A new certificate has been requested. It's pending.

[2020-02-05 00:32] khalwat commented on #3959
zip file linked to from the site still not working

[2020-02-05 01:29] bet4it opened #4241 "Split window doesn't work after updating xterm to 4.4.0"
@LabhanshAgrawal If use the latest beta build of xterm, `Split Horizontally` and `Split Vertically` can't work.

_Originally posted by @bet4it in https://github.com/zeit/hyper/issues/4194#issuecomment-579560976_

[2020-02-05 18:39] zeilen opened #4242 "#config-location Either your webpage is wrong or your program."
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:
N/A

  - **Is the issu

[2020-02-05 20:17] Stanzilla commented on #4242
yeah the website is a bit outdated, thanks!

[2020-02-05 22:37] NachoKai commented on #4035
Same problem...

[2020-02-06 00:39] peppy opened #4243 "Mouse pointer click position is incorrect when not showing caret"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Catalina
- **Hyper.app version**: Hyper 3.0.1-canary.4 (canary)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js*

[2020-02-06 07:48] amurchick commented on #3281
Same issue, version 3.0.2 (stable)
Renderers: WebGL (39)
Plugins: none

OS: MacOS 10.15.3

Fresh run:
![image](https://user-images.githubusercontent.com/1515699/73916039-31e9a200-48ef-11ea-81bd-b90c1713d13b.png)

Then simply open 9 tabs:
![image](https://user-images.githubusercontent.com/1515699/73916079-45950880-48ef-11ea-9139-df8656264e47.png)

[2020-02-06 15:54] jacobleonwoffenden opened #4244 "Unable to Open Hyper on CentOS"
- [ X ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ X ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

https://github.com/zeit/hyper/issues/3321, https://github.com/zeit/hyper/issues/2743 and https://github.com/zeit/hyper/issues/2861 look similar but not identical

- **OS versio

[2020-02-07 09:04] crtlf opened #4245 "clearBuffer when prompt have a line break"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Catalina 10.15.3
- **Hyper.app version**: 3.0.2 (stable)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: http

[2020-02-07 13:29] LeandroVCastro commented on #911
This solved to me. Thanks.

[2020-02-07 18:11] chuckmitchell commented on #2937
This is the expected behaviour for me as well. Can we get an option or something?

[2020-02-08 23:34] maurocornejo commented on #3629
Same problem render doesn't work, I don't know anything in Hyper terminal, webgl2 not supported by this
https://prnt.sc/qzk5i9

[2020-02-10 04:50] GimpMaster commented on #4198
Irnv

I would recommend git-bash. It comes installed with git for windows. There are a couple settings you will want to have in your preferences file. These are the ones I ended up with.

[code]

I've really enjoyed using hyper over git-bash's window system. The plugins are great with Hyper and it looks amazing. My one request is that they release a new installable build soon. That last one was Ma

[2020-02-10 09:12] onordbo commented on #4229
Any news on this? @leo @skllcrn 🚀

[2020-02-10 10:56] vuegoman commented on #3938
same here. I deleted, reinstalled Hyper.
It automatically closes itself

[2020-02-10 14:41] lrnv commented on #4198
Yeah i use git bash like you, but git bash is quite slow itself wompare to the native port, and do not cointain as much features (e.g changing the pompt to something actualy usefull like liquidprompt is really slowing everything up, while it is not using win-bash).

[2020-02-10 16:18] GimpMaster commented on #4198
Interesting. I had never heard of win-bash. I just checked it out. Last updated 2011?

Let me know if you ever get it working. I would give it a quick try.

[2020-02-11 06:51] iEricKoh commented on #3929
same problem happen to me

[2020-02-11 07:42] amurchick opened #4251 "MOSH's escape keyboard shortcut (ctrl+^) not worked"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.15.3
- **Hyper.app version**:  3.0.2 (stable)
- **The issue is reproducible in vanilla Hyper.app**: `Is Vanilla`

## Issue
In MOSH (https://mosh

[2020-02-11 17:37] #4241 closed

[2020-02-11 17:53] peymanmortazavi commented on #1047
Same here I can't get this to work on linux.

[2020-02-11 23:30] ridhwaans opened #4254 "Cannot scroll in vim"
Cannot scroll in vim for files longer than 1 page. it works when using specific themes such as `hyperterm-gotham` but unable to scroll in any other themes
Using:
`zsh 5.4.2 (x86_64-ubuntu-linux-gnu)`
`antigen (latest)`
`hyperterm 3.0.2 on WSL (Windows10)`

[2020-02-11 23:48] noim210 commented on #1260
any body got the answer?

[2020-02-12 01:26] tz4678 opened #4255 "AUR installing error"
- **OS version and name**:

[code]

- **Hyper.app version**: 3.0.2-1

I have installed [asdf-vm](https://github.com/asdf-vm/asdf) version manager. Maybe this is the cause of the error?

[code]

[code]

[2020-02-12 02:28] bet4it commented on #4255
Use `yay -S hyper-git`

[2020-02-12 10:20] rehatkathuria commented on #1164
@matheuss Any updates on this?

[2020-02-12 16:45] LabhanshAgrawal commented on #4194
@Stanzilla
The only remaining issue now is the Unicode in PATH
I looked at node-regedit, but have never used asar, so it'll take some time for me to try it out. Did you try it?

[2020-02-12 16:49] Stanzilla commented on #4194
I sadly have not, too much work work recently. I think we already include a file outside of asar for the CLI stuff though? Should be the same principle, afaik

[2020-02-12 16:57] LabhanshAgrawal commented on #4194
hm, will have to check that out.

[2020-02-12 17:00] Stanzilla commented on #4194
https://github.com/zeit/hyper/blob/canary/electron-builder.json#L7

This should be the trick

[2020-02-12 17:00] bet4it commented on #4194
What about #3929?

[2020-02-12 17:01] Stanzilla commented on #4194
right, that one as well

[2020-02-12 17:09] LabhanshAgrawal commented on #4194
we should add all the blocking issues to the milestone for 3.1.0

[2020-02-12 17:11] Stanzilla commented on #4194
Done. Btw I would have given you contributor permissions ages ago but I don't actually have enough permissions myself to do it :/

[2020-02-12 17:22] LabhanshAgrawal commented on #4194
no worries 😊
can't deny I would love that though 😜

[2020-02-12 17:38] LabhanshAgrawal commented on #4194
we can close #4195 and #4196  as it's fixed with the xterm update
also we can move #3575 and #3778 to 3.2.0 milestone as it's about the webgl renderer.

[2020-02-12 17:59] #4195 closed

[2020-02-12 17:59] #4196 closed

[2020-02-12 18:38] cbuteau opened #4257 "CMD is not parented to HYPER process."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **Windows 10 Enterprise Version 1903**:
- **Hyper 3.0.2 (stable)**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.github.com/

[2020-02-12 20:31] ppamorim commented on #3426
Please give us a option to disable this.

[2020-02-12 21:07] DanielTamkin opened #4258 "Buffer() is deprecated Error on update plugins"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

N/A

  - **Is the iss

[2020-02-13 00:48] ppot commented on #4258
Duplicated. Will keep 3722 opened

[2020-02-13 00:48] #4258 closed

[2020-02-13 00:49] ppot commented on #4242
Well.. The documentation represent latest stable release. Not canary.

[2020-02-13 05:07] phonerefer opened #4259 "When ever i run **python** app in hyper terminal it crash. I am not able to open one more tab"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-02-13 06:36] rockyFierro commented on #101
it's 2020... still no images... no water... no hope... james took the last of the supplies... i can hear them getting closer at night, becoming unafraid of the campfire... how much longer can we last without images...

[2020-02-13 15:41] LabhanshAgrawal commented on #4190
@Stanzilla
I tried out [node-regedit](https://github.com/ironSource/node-regedit)
it's able to read and write unicode values correctly
But if the key is of type `REG_EXPAND_SZ` (it is in my case atleast) it expands the environment variables in the value in system context, giving incorrect value. See https://github.com/ironSource/node-regedit/issues/40

[2020-02-13 17:17] Stanzilla commented on #4190
man, why is there no lib for this that works properly :D

[2020-02-13 17:26] LabhanshAgrawal commented on #4190
Ok here's a summary of all the packages I've tried

| Package | Read | Write | Comments
| --- | --- | --- | --- |
| [node-winreg](https://github.com/fresc81/node-winreg) | ❌ | ✔️ | Gives � on reading unicode characters |
| [windows-registry-node](https://github.com/CatalystCode/windows-registry-node) | ❌ | ❌ | Doesn't seem to run on newer Node versions |
| [registry-js](https://github.com/desktop/

[2020-02-13 17:34] Stanzilla commented on #4190
i really don't want to suggest using two libs, one for reading and one for writing but do we have a choice?

[2020-02-13 17:52] LabhanshAgrawal commented on #4190
I searched a bit more on npm and these 2 seem worth trying
[native-reg](https://github.com/simonbuchan/native-reg)
[node-winreg-utf8](https://github.com/eskibear/node-winreg-utf8)

[2020-02-13 18:23] 3cks82 opened #4260 "Connect to Serial port in Hyper Bash on Windows 10"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2020-02-13 18:28] 3cks82 commented on #4260
I have Hyper up and running good on Windows 10 (I am really liking it so far) still making adjustments. The one thing I am stuck on is how do I connect to a serial port within the Hyper bash terminal? I am probably missing something looking right in my face. LOL

I also wanted to see if there is a way to setup auto logging of the output to text file, but create new files for each new tab/session I

[2020-02-13 18:44] 3cks82 commented on #4260
Looking further I see there is miniterm (I assume it is similar to minicom) but I am not sure how to find what I am suppose to use to connect to my serial port (COM1).

[2020-02-14 00:22] tz4678 commented on #4255
thnx

[2020-02-14 04:32] BasixKOR commented on #4190
How about using Iconv-lite for converting utf-8 to system locale? Although it would need to detect system locale...

[2020-02-14 14:00] LabhanshAgrawal commented on #4190
@BasixKOR can you elaborate a bit please?
Like, how to get correct utf-8 values? A proof of concept would be awesome, if possible.

[2020-02-14 19:26] zeilen commented on #4242
I found out Hyper uses `$XDG_CONFIG_HOME` if set.

(3.0.2 is the latest stable release)

[2020-02-14 19:46] LabhanshAgrawal commented on #4190
@Stanzilla
I tried out `native-reg`  Looks like the list needs to be updated

| Package | Read | Write | Comments
| --- | --- | --- | --- |
| [node-winreg](https://github.com/fresc81/node-winreg) | ❌ | ✔️ | Gives � on reading unicode characters |
| [windows-registry-node](https://github.com/CatalystCode/windows-registry-node) | ❌ | ❌ | Doesn't seem to run on newer Node versions |
| [registry-js](h

[2020-02-14 20:12] Stanzilla commented on #4190
jesus, finally! great work!

[2020-02-14 20:18] LabhanshAgrawal commented on #4190
yep
I feel like I can write a whole blog post on Registry modules for node now.

[2020-02-15 09:12] LabhanshAgrawal opened #4262 "Replace winreg with native-reg"
`winreg` is not able to read unicode values correctly and has not been updated in a long time & this is causing issues #4190 .
After trying out all the mainstream libs, `native-reg` came out as the only module which fulfills all our requirements [ref](https://github.com/zeit/hyper/issues/4190#issuecomment-586445934).
This issue is created to track the migration.

[2020-02-15 09:18] LabhanshAgrawal commented on #4190
@Stanzilla  @BasixKOR @simnalamburt
Can you all try out the build from the [pr](https://github.com/zeit/hyper/pull/4261)
Make sure to have some unicode string in your path, to check if it's working correctly.

[2020-02-15 11:17] LabhanshAgrawal commented on #4255
@tz4678 can you close this issue now, as it's solved.

[2020-02-15 16:55] ridhwaans opened #4264 "Vim color scheme or contrast inverted for solarized light, dark themes"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:  Windows 10 WSL w/ zsh 5.4.2 (x86_64-ubuntu-linux-gnu), antigen (latest)
- **Hyper.app version**: 3.0.2 (stable), hyperterm theme: hyper-solarized-dark

[2020-02-16 02:35] petercr commented on #4199
Yeah I'm having the same issue too, where almost all of the emojis are not showing up on Windows 10 with Hyper Terminal.
I have these plugin's running:
- `hyperpower`
- `hyper-night-owl`

They seem to work everywhere else, but I'm also running Windows Build 19041.84 so it could also be a Windows issue 🤷‍♂

[2020-02-16 03:43] #4190 closed

[2020-02-16 19:48] ridhwaans opened #4265 "Colors washed out, how to enable true full color palette"
[x ] I am on the latest Hyper.app version
[ x] I have searched the issues of this repo and believe that this is not a duplicate
OS version and name: Windows 10 WSL w/ zsh 5.4.2 (x86_64-ubuntu-linux-gnu), antigen (latest)
Hyper.app version: 3.0.2 (stable), hyperterm theme: hyper-iceberg. also happens with, hyperterm-gotham, hyper-solarized-dark
Link of a Gist with the contents of your .hyper.js: ht

[2020-02-17 00:51] Inlustra commented on #1780
I know I'm super late and what-not but I decided to have a go...
It's suuuuper early development, almost not really worth talking about, but I figured I'd gauge interest!
https://github.com/Inlustra/hyper-autocomplete

[2020-02-17 03:26] kevtan opened #4266 "Hyper doesn't use default shell on MacOS"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Catalina (10.15.3)
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gis

[2020-02-17 08:12] Razatastic commented on #2316
Still running into this issue on Windows with Hyper Snappy & ZSH. 😢

[2020-02-17 09:35] LabhanshAgrawal commented on #4266
We use [default-shell](https://github.com/sindresorhus/default-shell) to get the default shell.
I'm getting zsh without setting `shell` in config
I'm using latest ci build, you can try it from [here](https://4214-62367558-gh.circle-artifacts.com/0/dist/Hyper-3.1.0-canary.3.dmg)

[2020-02-17 11:39] akdnfbf opened #4280 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 11:42] quonn77 commented on #3539
The same for me.

[2020-02-17 12:03] #4280 closed

[2020-02-17 12:33] akdnfbf opened #4281 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 14:35] helen119 opened #4285 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:08] samrafanoe commented on #3813
Looking forward to this,

[2020-02-17 15:20] #4285 closed

[2020-02-17 16:09] helen610 opened #4286 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 17:10] helen773 opened #4287 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 18:21] kevtan commented on #4266
I just installed the `default-shell` npm module in a standalone project directory and tried to see what its default shell is and I'm still getting `/bin/bash`!

- `default-shell` version 1.0.1
- `node` version 12.6.0

[2020-02-17 18:21] kevtan commented on #4266
x

[2020-02-17 18:36] LabhanshAgrawal commented on #4266
Hmm that's strange, I tried the same (default-shell separately) and I'm getting zsh, even when I start node from bash.
Can you try the steps from [here](https://www.howtogeek.com/444596/how-to-change-the-default-shell-to-bash-in-macos-catalina/) (Do the From System Preferences step & just check your current login shell)

[2020-02-17 18:37] LabhanshAgrawal commented on #4266
Also, which shell opens when you start the default Terminal.app?

[2020-02-17 18:52] heken375 opened #4289 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 20:29] scdsfvd opened #4290 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/wyb476h

[2020-02-17 21:18] kevtan commented on #4266
`zsh` opens in my default terminal app. It's weird that the same issue isn't able to be replicated on your machine—it's a minor issue though; I'm not sure how much it's worth looking into from a contributor!

[2020-02-17 21:40] LabhanshAgrawal commented on #4266
did you try the ci build? If yes, then can't think of anything else (without debugging) which might be causing this.

[2020-02-17 23:00] ppot commented on #3813
What I was thinking when I done Keymaps, was to integrate a sessionProfiler. In sort, with a custom `script.hy` (`.hy` for Hyper). I followed rust for some time and was thinking of creating a subset for session management in rust. Will see if I get this another go. If you have suggestion, feel free to propose. I'm listening. Using rust would prevent the memory hog such as memory leak.

[2020-02-18 02:05] aboutqx commented on #3528
Hyper 3.0.2 rustup command still has problems.
![image](https://user-images.githubusercontent.com/4919094/74697628-2cb51d00-5236-11ea-8b2e-dc4e36ed0c1d.png)

[2020-02-18 09:31] helen225 opened #4292 "100$ for registration for everyone! 💰💰💰"
Register on this site and get $ 100! It's free!
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:01] helen225 opened #4293 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:36] helen225 opened #4294 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 10:50] LabhanshAgrawal opened #4295 "Updating to electron 8"
#4283 is failing because we need newer node-abi also for electron-rebuild to work (see [this](https://github.com/LabhanshAgrawal/hyper/tree/electron8)).

Updating to electron 8 introduces some issues though.
One I've been able to identify is with `cwd`, it's getting set as undefined and thus hyper starts at `/` when opened or the hyper git folder during dev with `yarn run app`.
Explanation:
While

[2020-02-18 11:58] helen225 opened #4296 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 12:55] webketje opened #4297 "Installation as administrator always fails on Windows (with enforced UAC)"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Enterprise (x64)
- **Hyper.app version**: 3.0.2

## Issue

On Windows with enforced User Account Control (as is often applied by bigger compan

[2020-02-18 13:15] helen884 opened #4298 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/uu5drcp

[2020-02-18 14:36] LabhanshAgrawal commented on #4295
I think setting cwd in initial ui state and filtering undefined values should both be done for this.
@Stanzilla what do you think about it?

[2020-02-18 14:38] Stanzilla commented on #4295
Setting cwd ourselves ensures that the behaviour of every later action is the same as before, so I think that's the safest way as well?

[2020-02-18 14:47] LabhanshAgrawal commented on #4295
I agree, I suggested filtering undefined also as  if any plugin triggers the session_set_cwd action with undefined then I think workingDirectory should be used, or is that too many fallbacks and might not really happen irl

[2020-02-18 14:55] Stanzilla commented on #4295
Yeah, I don't have a good insight into what plugins do these days but we might just also tell them if they do that to help their debugging

[2020-02-18 23:41] najam489 commented on #1589
Hi, you have to search for hyper.js file in your system and edit it by your need delete all the code if you don't know what is causing the error
I hope that will help

[2020-02-18 23:42] najam489 commented on #3938
Hi, you have to search for hyper.js file in your system and edit it by your need delete all the code if you don't know what is causing the error
I hope that will help

[2020-02-19 02:05] Stanzilla commented on #4297
I think that's intended by Squirrel (the installer)

[2020-02-19 04:05] serverguyken commented on #2849
@stereokai  You don't need to restart your system, just run Hyper as an administrator and run the command you are trying to, that worked for me.

[2020-02-19 09:26] helena8823 opened #4301 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 10:15] helena2299 opened #4302 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/v43x47t

[2020-02-19 10:47] helena7732 opened #4303 "MY HOT VIDEOS HERE 💋💋💋"
MY HOT VIDEOS HERE 💋💋💋
👇👇👇

https://tinyurl.com/qp4t24k

[2020-02-19 11:44] kate5578 opened #4305 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 16:15] skllcrn commented on #4229
Can you attempt reinstalling @onordbo? https://releases.hyper.is/download/mac

[2020-02-19 17:17] kate5586 opened #4309 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 19:27] hleila1837 opened #4312 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 20:18] edwardbeckett commented on #1559
I'm using ConEmu terminal emulator, msys2 bash, msys2 git and I am showing support for both ansi and vt100... Though it's most likely from ConEmu - It supports vt100 and ansi

![ansi_vt100](https://user-images.githubusercontent.com/949373/74872131-3b78fe00-5322-11ea-92f3-e35e2ba9ddef.png)

[2020-02-20 00:16] lorensr commented on #3956
I tried reinstalling, didn't change. I get one notification per command  I enter.

[2020-02-20 00:17] saulmaos commented on #4035
Same problem

[2020-02-20 06:56] JukkaM commented on #4257
I'm facing a similar issue in my Windows 10 PC. I'm using Github Desktop and I have configured hyper as default shell application. If I launch hyper from Github Desktop, hyper is started but the cmd area is blank. I'm using the latest Github Desktop and hyper (3.0.2). There are no errors in Developer tool console.

[2020-02-20 13:13] SajjanKarn commented on #4035
Same Problem Guys!

[2020-02-20 15:41] Stanzilla commented on #4194
Published a new canary release for mac and Linux, let's see how it goes.

[2020-02-20 15:46] LabhanshAgrawal commented on #4194
The release assets doesn't have files for Windows

[2020-02-20 15:47] Stanzilla commented on #4194
That's why I said I published it for mac and Linux :D

[2020-02-20 15:49] LabhanshAgrawal commented on #4194
Oops my bad 😐Just saw the release and noticed that, didn't read your message fully.

[2020-02-20 15:52] LabhanshAgrawal commented on #4194
Why not release for Windows though?

[2020-02-20 16:02] Stanzilla commented on #4194
No, the cert on appveyor is still broken so it can't build it

[2020-02-20 16:34] mrjones2014 commented on #4035
Disappointing that this hasn't even been looked at 😢

[2020-02-20 17:08] LabhanshAgrawal commented on #4295
While trying to put the initial working directory in ui state I am having issues with opening hyper from cli, and the `Open Hyper Here` menu on Windows.
I think I don't fully understand how opening from cli works
https://github.com/zeit/hyper/blob/d0ce94ce8ea690012778069db5deb80d624f73c8/app/ui/window.ts#L62-L68
Here workingDirectory is set in this order `process.argv > cfg.workingDirectory > home

[2020-02-20 17:10] Stanzilla commented on #4295
Maybe @chabou can help here, CLI was his baby

[2020-02-20 17:30] LabhanshAgrawal commented on #3391
From the last comment it seems like this is fixed, maybe it was an issue with the old xterm?
A new [canary](https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4) for Mac(use dmg) and Linux was released (Windows users can try it out from [here](https://ci.appveyor.com/project/chabou/hyper-1b303/builds/30940651/artifacts))
Can you all please give it a try and confirm if this issue still there.

[2020-02-20 17:38] MarlBurroW commented on #3391
Fixed for me
Tested on 3.1.0-canary.4

[2020-02-20 17:49] LabhanshAgrawal commented on #3391
Without the `export TERM=screen` workaround?

[2020-02-20 17:52] MarlBurroW commented on #3391
No, I removed the workaround before my test.
Works with TERM=xterm-256color

[2020-02-20 18:05] #3391 closed

[2020-02-20 18:15] LabhanshAgrawal commented on #4035
Can you give the latest canary a try? From [here](https://ci.appveyor.com/project/chabou/hyper-1b303/builds/30940651/artifacts).

[2020-02-20 18:21] LabhanshAgrawal commented on #4035
Uninstall the older version and remove the hyper folder from `%LOCALAPPDATA%` to ensure a clean install.

[2020-02-20 21:20] saulmaos commented on #4035
@LabhanshAgrawal  i tried the canary version and crashed after installing it

[2020-02-20 22:04] mrjones2014 commented on #4035
@LabhanshAgrawal same here

[2020-02-21 01:56] aschrab commented on #2259
Besides installing the alternative during the package installation, it should also be removed if and when the package is uninstalled. With that, the alternatives system would select one of the other alternatives as the preferred one if Hyper had been selected previously.

It's the lack support for this in the removal process that leaves me unsatisfied with the work around mentioned in the first co

[2020-02-21 13:39] SajjanKarn opened #4317 "Hyper Terminal Not Opening after installation Windows 10."
### Hey Guys I used to love The Hyper Terminal.. IT was working fine and i uninstalled it for some reasons..
Now I recently installed it and performed cleaned installation. It doesn't open any window..

_Please Help Me Guys!_

![Capture](https://user-images.githubusercontent.com/49333264/75038977-bb989280-54df-11ea-88c2-07a0eecee71f.PNG)

[2020-02-21 13:45] SajjanKarn commented on #4035
Plzz help us if anyone knows here

[2020-02-21 15:24] LabhanshAgrawal commented on #4035
I am not able to reproduce this.
Can some of you try the steps from [here](https://github.com/zeit/hyper#contribute) , run the dev environment and report the output of `yarn run dev` & `yarn run app`

[2020-02-21 19:07] joe-scotto opened #4318 "Every command triggering configuration reload."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS 10.15
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.github.com/

[2020-02-21 19:19] brodybits commented on #4318
Fix the title, please

[2020-02-21 19:21] joe-scotto commented on #4318
@brodybits Fixed.

[2020-02-22 13:03] lemarier commented on #4317
Hi !

Can you try running the app from command line and see if you got any error?

[2020-02-22 16:03] LabhanshAgrawal commented on #3956
Do you see any error in dev console?

[2020-02-23 01:55] lorensr commented on #3956
No errors

On Sat, Feb 22, 2020 at 11:03 AM Labhansh Agrawal <notifications@github.com>
wrote:

[2020-02-23 14:41] taggy opened #4319 "Unable to install CLI"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OSX Mojave 10.14.5**:
- **Hyper 3.0.2 (stable)*:

## Issue
Plugin -> Install CLI throws an error Symlink creation failed. ENOENT

[2020-02-24 00:28] bet4it opened #4320 "Cannot find module 'native-reg' on Linux"
- **OS version and name**: Arch Linux
- **Hyper.app version**: 3.1.0-canary.4

## Issue

[code]

[2020-02-24 02:41] SajjanKarn commented on #4035
Hey Guys I have found the solution

1.) Open the CMD as Administrator
and run this...

`gpupdate /force`

then uninstall hyper and remove its folder from these directories..
`%appdata%` and `%localappdata%`

and then restart your PC. Problem Solved!

[2020-02-24 02:45] NachoKai commented on #4035
It worked, good job!

[2020-02-24 12:24] mrjones2014 commented on #4035
@SajjanKarn worked for me too!

[2020-02-24 12:30] mrjones2014 commented on #4035
@SajjanKarn actually, it worked for first launch for me. then I have this same issue again.

[2020-02-24 23:47] SajjanKarn commented on #4317
Hey Guys I have found the solution

1.) Open the CMD as Administrator
and run this...

gpupdate /force

then uninstall hyper and remove its folder from these directories..
%appdata% and %localappdata%

Install Hyper Again

and then restart your PC. Problem Solved!

[2020-02-24 23:47] #4317 closed

[2020-02-24 23:48] SajjanKarn commented on #4035
Bro, Again Follow The Same Steps Maybe It Should Work...

[2020-02-25 03:31] bet4it commented on #4320
@LabhanshAgrawal

[2020-02-25 04:02] LabhanshAgrawal commented on #4320
Native-reg's just there for windows, this message is from the try catch block while importing it. Shouldn't affect anything, can remove the console log from catch block if desired.

[2020-02-25 07:09] polaroidkidd commented on #1276
works perfectly. Thank you @fredleger

[2020-02-25 10:08] woutervanwijk commented on #3426
+1

[2020-02-25 11:53] mrjones2014 commented on #4035
@SajjanKarn having to do this every time I want to launch a terminal is not a solution.

[2020-02-25 12:42] danacr commented on #3722
Adding proxies for yarn in my `.zshrc` solved the issue for me:
[code]

[2020-02-26 02:36] bet4it commented on #4320
Why not check `process.platform` before import?

[2020-02-26 08:24] mccartney commented on #3929
It also affects `Esc-0` terminal codes for `F10` (and my ability to exit Midnight Commander :P)

[2020-02-26 09:29] computersarecool commented on #2016
@Stanzilla hopefully not totally abandoned...

[2020-02-26 16:46] stradled commented on #3283
Still a problem in 3.0.2
macOS 10.14.6 (18G3020)

[2020-02-26 17:55] philippnoah commented on #3516
`PROMPT='%1{🤖%} '` did the trick for me, could somebody confirm?

Credit to:
[(https://unix.stackexchange.com/questions/90772/first-characters-of-the-command-repeated-in-the-display-when-completing)]

[2020-02-26 18:33] jigar-p commented on #3644
According to the example provided in `.hyper.js`, the path should be in following format:
[code]
In my case, changing from `C:\Users\jpatel\AppData\Local\Programs\Git\bin\bash.exe` to `C:\\Users\\jpatel\\AppData\\Local\\Programs\\Git\\bin\\bash.exe`  (adding extra `\`)   fixed the issue.

[2020-02-26 23:06] agentofuser commented on #2779
I'm on macOS and I also miss the option of always starting Hyper in full screen.

[2020-02-27 02:41] cbuteau commented on #4257
I switched to Windows Terminal Preview in the meantime...goodbye hyper you were fun for awhile...

[2020-02-27 02:41] #4257 closed

[2020-02-27 19:36] andyedwards79 commented on #3595
Just to confirm, I tried most of the solutions above - instaling both npm and hyper via brew did it for me too.

[2020-02-27 19:45] cdenneen opened #4331 "yarn run app (3.0.2)"
MacOS

[code]

I can get Hyper to launch a window but there is no shell.
Same thing if I build the "dist"
I originally thought it was a problem with the canary tags but I am checking out `3.0.2` to confirm stable and still same issue.

[2020-02-27 20:08] cdenneen commented on #4331
When running latest canary:

[code]

[2020-02-27 21:15] LudwigThePig opened #4332 "Escape key does not work in latest canary build on MacOS"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS Mojave 10.14.6
- **Hyper.app version**: Canary (Feb 19th ish release)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyp

[2020-02-28 07:25] lucactusss commented on #4332
It also happens with Linux OS (Ubuntu 19.10) and with the latest canary build

[2020-02-28 17:41] saamalik commented on #4332
Use `Ctrl+[` like a champ instead! =)

[2020-02-28 18:37] saamalik opened #4333 "Font weight/bold on Canary"
**OS version and name**: macOS Catalina Version 10.15.3
**Hyper.app version**: 3.1.0-canary.4

## Issue
The font-weight looks different between stable and canary versions. Please take a look at the screenshots below.

[2020-02-28 18:38] saamalik commented on #4333
![stable](https://user-images.githubusercontent.com/1455661/75577219-63e5b400-5a16-11ea-9545-1ee8e426ed73.png)
![canary](https://user-images.githubusercontent.com/1455661/75577225-65af7780-5a16-11ea-904b-96aab929d7eb.png)

[2020-02-29 05:57] bntzio commented on #4332
Yep, it's happening to me as well.

[2020-02-29 06:07] #4259 closed

[2020-03-01 04:20] Th3G4mbl3r commented on #4319
Same issue occurs for me as well.

[2020-03-01 14:35] duncannah commented on #4331
I also run into the same issue on the latest canary.

[2020-03-01 17:52] marcingrabda commented on #3560
This happens to me very often, and it's super annoying.

[2020-03-02 01:24] araujoantonio commented on #3951
I'm with the same problem. Any solution so far?

[2020-03-02 02:49] peppy commented on #4243
This looks to have been fixed in `Hyper 3.1.0-canary.4 (canary)`, likely via https://github.com/zeit/hyper/commit/64249f389db9638d7fc145c6810f31ab011ff6f5.

Closing for now, thanks!

[2020-03-02 02:49] #4243 closed

[2020-03-02 18:32] ssthomas commented on #4251
I am also having this issue in Windows.

[2020-03-03 19:43] colepeters commented on #3670
I've tried everything recommended in similar issues — deleting my hyper config, deleting `/usr/local/bin/hyper`, then doing a complete reinstall, using the default hyper config… nothing has worked for me so far. Has anyone managed to resolve this? Even running `hyper list` results in the same error.

Specs:

Hyper: 3.0.2
macOS 10.15.3

[2020-03-03 20:15] colepeters commented on #3670
For what it's worth, I've just tried [canary 4 for 3.1.0](https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4) and this seems to be resolved. However, I noticed when trying to install a plugin, I got a warning that the config file wasn't available:

![image](https://user-images.githubusercontent.com/1713932/75815270-bbf32200-5d58-11ea-8319-9e290fcecfb8.png)

I realized the path for this con

[2020-03-03 22:27] bhardy commented on #4266
I'm having the same issue on a fresh install. `echo $0` and `echo $SHELL` both return bash in Hyper, while returning zsh in terminal. switching the default shell back and forth works but only terminal reflects the change. I manually put zsh in as my shell in my hyper config and it's working fine (although it's printing a % on the first line for some reason). I suspect hyper isn't honouring the sys

[2020-03-05 02:47] cradbold opened #4354 "Stopped loading config'd bash shell, loads cmd regardless after win10 update"
- [X] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:
Not much logged... don

[2020-03-05 10:23] LabhanshAgrawal commented on #4354
make a copy of your config somewhere and delete the ones in ~ and appdata, Hyper will create the config file again.
You can make your changes to that file.
try this and then we can see if it resolves the issue

[2020-03-05 10:26] LabhanshAgrawal commented on #4035
do you all have the windows dark mode on? If yes, can you please once confirm whether Hyper opens if you switch to light mode.

[2020-03-05 10:29] raphtlw commented on #4035
@LabhanshAgrawal it happened to me in light mode

[2020-03-05 23:21] lucassnowfall commented on #4035
I honestly have up about hyper. Can't make it work with bash anymore.

On Thu, 5 Mar 2020, 2:29 am raphtlw, <notifications@github.com> wrote:

[2020-03-05 23:39] SajjanKarn commented on #4035
Hey Guys I have found the solution

1.) Open the CMD as Administrator
and run this...

gpupdate /force

then uninstall hyper and remove its folder from these directories..
%appdata% and %localappdata%

Install Hyper Again

and then restart your PC. Problem Solved!

[2020-03-06 11:37] mrjones2014 commented on #4035
@SajjanKarn you literally posted the same comment which does not solve the issue.

[2020-03-07 02:04] Relaxself commented on #819
It's appear when I use opacity color or plugin.

[2020-03-07 02:08] bet4it commented on #819
@Relaxself  Try [v3.1.0-canary.4](https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4)

[2020-03-07 02:19] Relaxself commented on #819
OK，I‘ll try. thx

[2020-03-07 02:52] Relaxself commented on #819
I used 3.1.0 install and fresh install ,but unfortunately, it appear an error.
when first I open hyper,the screen like this:
![image](https://user-images.githubusercontent.com/8120401/76135349-383f7b00-6061-11ea-8d93-510328e31d70.png)

then i press any key... oh my
![image](https://user-images.githubusercontent.com/8120401/76135360-4ee5d200-6061-11ea-8cc8-ddf38e9769ee.png)

my System info is:
MacO

[2020-03-07 04:48] bet4it commented on #819
@Relaxself This may be another issue?

[2020-03-07 14:19] LabhanshAgrawal commented on #4295
@Stanzilla I think we should go ahead with

[2020-03-07 15:42] #4295 closed

[2020-03-07 15:42] #4262 closed

[2020-03-07 15:42] #4320 closed

[2020-03-07 16:59] Stanzilla commented on #4354
Also use wsl.exe instead of bash.exe

[2020-03-08 10:45] LabhanshAgrawal commented on #4331
What is the issue here? Are you talking about the `Error: Cannot find module 'native-reg'`, then it's fixed. It's an optional dependency. And it's not there in 3.0.2

[2020-03-08 10:50] LabhanshAgrawal commented on #4331
Oops, sorry I missed the `no shell` part. The `yarn run app` output doesn't have anything pointing towards that.
Can you post the output from devtools?

[2020-03-08 18:25] nicolaibach commented on #4242
@zeilen: on my system Hyper uses `$XDG_CONFIG_HOME` when launched via the cli command. Opening the .app still reads from `~/.hyper.js`.
Can you confirm that?

[2020-03-09 04:47] noomz commented on #3662
@MacAhmed This is my workaround, setting custom css in `~/.hyper.js`

[code]

[2020-03-09 04:49] noomz commented on #3003
Here's the workaround: Set custom css in `~/.hyper.js`

[code]

[2020-03-09 04:57] bet4it commented on #3003
@noomz Can you try [v3.1.0-canary.4](https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4)? It should be fixed now.

[2020-03-09 09:46] noomz commented on #3003
@bet4it Just tried it, no more blank space.

[2020-03-09 09:47] bet4it commented on #3003
So can this issue be closed?

[2020-03-09 09:49] noomz commented on #3003
Yes, thanks. 👍

[2020-03-09 10:50] annikamarayag commented on #4035
this worked for me but..

I'm on Udemy(enrolled in webdev bootcamp) now and our instructor had asked us to install Hyper and edit its preferences with the [Hyper config](https://gist.github.com/coco-napky/404220405435b3d0373e37ec43e54a23)

After editing the preferences, I close Hyper to reload the update but it doesn't open again. Is there an alternative that works similar to Hyper that I can use?

[2020-03-09 13:36] RikoKami commented on #3664
To clean, use the command `ctrl + shift + k`

[2020-03-09 13:59] brunocloutier opened #4360 "Text disappearing when using SF Mono as the font family"
- **OS version and name**: Mac OS Mojave (10.14.6)
- **Hyper.app version**: 3.1.0-canary.4
- **The issue is reproducible in vanilla Hyper.app**: No

I have been using SF Mono as my terminal font for years, and last week, whenever I started typing in Hyper, all the text would disappear. The terminal would load with the first line shown (computer name / user name), but after the first letter was typ

[2020-03-09 14:09] mrjones2014 commented on #4035
@annikamarayag sounds like you had the same issue as me where it works for first launch, but then the issue starts again after closing it the first time.

As far as a replacement, I tried [Fluent Terminal](https://github.com/felixse/FluentTerminal) on Windows, but eventually settled on [Cmder](https://cmder.net/).

[2020-03-09 16:53] LabhanshAgrawal commented on #4360
Tried it out, but couldn't reproduce the issue. Maybe try to reinstall the font and Hyper.

[2020-03-10 00:11] nbau21 commented on #3402
^ Can reproduce with the same steps

[2020-03-10 01:33] brandonpittman commented on #4332
Back to iTerm…

[2020-03-10 12:02] rdunkle-nj commented on #4118
I've been experiencing this too, for well over a year. It tends to happen when I'm trying to kill processes or close the app.

Windows 10 Pro
Hyper 3.0.2
Powershell

[code]

<details>
  <summary>Full <code>.hyper.js</code></summary>

[code]
</details>

[2020-03-10 13:16] jackblackCH commented on #3402
Often it happens while I am running file watchers and then open/split into a new tab with CMD + Shift + E or closing an active tab with CMD + Shift + W. Happening on newest macOS but also on 1 version older.

[2020-03-10 14:10] noomz commented on #3003
Oh, the problem still existed. ;(

[2020-03-10 14:43] bet4it commented on #3402
@jackblackCH Have a look at #3749.

[2020-03-10 18:52] edlahaba commented on #1589
Howdy! Can I take this issue?

Greetings!

[2020-03-11 14:41] mpeven opened #4374 "esc key not working"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

This might be a duplicate of this: https://github.com/zeit/hyper/issues/3929
If it is, feel free to remove.

- **OS version and name**: Mac OS Mojave (10.15.3)
- **Hyper.app versio

[2020-03-11 14:53] bet4it commented on #4374
Duplicate of #3929

[2020-03-11 14:57] #4374 closed

[2020-03-11 17:32] untrix commented on #2468
Still happening with v 3.02 on macOS Mojave (on March 11, 2020).
![Screen Shot 2020-03-11 at 10 28 39 AM](https://user-images.githubusercontent.com/1545368/76445823-4522de00-6383-11ea-95bf-854c66f2be56.png)

![Screen Shot 2020-03-11 at 10 30 59 AM](https://user-images.githubusercontent.com/1545368/76445938-7c918a80-6383-11ea-9a31-cecee299a8a3.png)

[2020-03-11 20:15] starraiderx opened #4375 "Rasbian"
-->

- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtool

[2020-03-12 06:36] nathgit opened #4376 "chrome OS support?"
is this compatible with Chrome OS's implementation of Linux (official)?

[2020-03-12 06:43] Groovylein commented on #3426
+1

[2020-03-12 09:50] LabhanshAgrawal commented on #4376
You can try installing the deb file I suppose.

[2020-03-12 10:01] LabhanshAgrawal commented on #4375
Won't you need an arm build? You can try to build it, see https://github.com/zeit/hyper#contribute
take a look at https://github.com/zeit/hyper/issues/4135 for electron install

[2020-03-12 17:45] miltongq commented on #2880
At some point this was just a syntax issue, this bug should be closed by now.

[2020-03-12 18:55] ssthomas commented on #2880
Does this mean that xterm.js will require code for every possible Ctrl+ combination? Seems like this may be a possible resolution for https://github.com/zeit/hyper/issues/4251 as well.

[2020-03-12 20:33] silv4b commented on #2040
I have same problem. Hyper shows me `execvp(3) failed.: Arquivo ou diretório inexistente` when i use only `shell: ''` or `shell: '\bin\fish'`, but, If a put `\bin\bash`, then works fine, but with bash shell. :/

[2020-03-13 00:49] tolgahanakgun opened #4377 "Problem with mapping ctrl+plus , ctrl++ key combinations"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:Microsoft Windows 8.1 Pro x64 Build 9600
- **Hyper.app version**: 3.0.2
- **The issue is reproducible in vanilla Hyper.app**: I am using Hyper with straig

[2020-03-13 04:45] LabhanshAgrawal commented on #4377
Working for me on win10 and Hyper 3.1.0 canary 4, you can try it out from [here](https://github.com/zeit/hyper/suites/511329619/artifacts/2739589)

[2020-03-13 07:32] CodeBrotha commented on #3656
Was this ever fixed?

[2020-03-13 07:46] tolgahanakgun commented on #4377
I switched to Hyper 3.1.0 canary 4. It is the same.

![ezgif-2-7f621f926b19](https://user-images.githubusercontent.com/8354277/76600224-28b3ac80-650f-11ea-9afe-9dd913120a94.gif)

[2020-03-13 10:54] khannajai commented on #2065
Any update on this? Currently running Hyper 3.0.2 and not able to scroll with mouse on vim running in WSL2.

[2020-03-13 13:11] LabhanshAgrawal commented on #4377
I see, you were talking about the `+` button on numpad, I was using the `=/+` button on the top row and that was working.
The numpad `+` is not working for me too, the default keybinding for zoom:in is `ctrl+=` you can try that.
Your keyboard layout seems different, I've a `=` key you might need to press `ctrl+shift+0`(top row).
For the + can you once try the + key from `shift+4`(top row) also.
We

[2020-03-13 13:11] neilpalima commented on #3402
No fix yet for this issue?

[2020-03-13 16:11] #4134 closed

[2020-03-13 19:55] hannesmeinlschmidt commented on #4266
I also have this problem on a fresh install, switching between bash and zsh works perfectly fine in the terminal app, no change in behavior in hyper though.

[2020-03-13 23:39] tolgahanakgun commented on #4377
For consistency and due to the years of experience I am used to use ```ctrl+plus``` and ```ctlr+-```. <br>```ctrl+0``` or ```ctrl+-``` or ```ctrl+/``` key combinations works with the keys from numpad. The problem is with ```ctrl+plus``` combination.

[2020-03-14 08:03] simonxabris opened #4379 "Close icon doesn't appear when you close a tab"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.14.6
- **Hyper.app version**: 3.0.2 stable
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.

[2020-03-14 17:59] #4379 closed

[2020-03-15 03:21] enbandari commented on #3025
Still the same.

OS: Windows
Hyper version: 3.0.2 stable
Shell: Powershell

[2020-03-15 05:01] LabhanshAgrawal commented on #4377
I agree that it's a bug, the `+` key from numpad didn't work for me also. Wasn't implying that you should switch to some other shortcut (though you'd have to until this is fixed), rather just wanted to check if `+` or `=` from top row was working for you or not.

[2020-03-15 13:47] machieajones commented on #3582
Thank you for this!

[2020-03-15 17:51] daaang commented on #3321
I'm having the same problem, on ubuntu (19.10). I'm on Hyper 3.0.2, and I'm not having any luck with uninstalling and reinstalling (with `dpkg -r hyper` and `dpkg -i hyper_3.0.2_amd64.deb`). I'll attempt building from source instead, but I'm not able to run Hyper when building from the 3.0.2 release.

[2020-03-15 18:19] daaang commented on #3321
I have Hyper 3.0.2 running from source via `yarn run app`. I tried installing from the deb generated by `yarn run dist`, but it resulted in the same node-pty error as before. So until the next release, running from source is a decent workaround. Feel free to @ me if you're trying to replicate the problem; I'd be happy to help.

[2020-03-16 04:34] cradbold commented on #4354
Seeing a lot of instability around it now after also trying reinstall in addition to above suggestions -- rogue processes, won't-starts.  Gonna move on to something else, but I enjoyed it when it was working for me!

![Screenshot (4)](https://user-images.githubusercontent.com/2042966/76723466-983ebd00-6704-11ea-836c-f316a97f4ddc.png)

[2020-03-16 05:04] cradbold commented on #4354
Full uninstall including 'AppData/Roaming/Hyper' + restart (i.e. kill rogue processes) + full reinstall finally did the trick.  Thanks for suggestions (bash --> wsl also, which needed --login config removed)

[2020-03-16 05:04] #4354 closed

[2020-03-16 13:41] bruc3mackenzi3 opened #4383 "OS X: hyper app always running"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- OS X Mojave 10.14.6:
- 3.0.2:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- N/A _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:
- is van

[2020-03-16 15:15] LabhanshAgrawal commented on #4383
The manual quit behaviour is default in OS X, and it also reopens apps by default on startup.

[2020-03-17 08:08] vicliucn opened #4395 "建议去除点击链接自动打开浏览器的功能"
目前点击链接，会自动打开浏览器，这个功能经常引起误操作，建议去除或者添加开关选项配置。

[2020-03-17 17:07] JohnCalin commented on #3217
I have the same issue, particularly annoying in vim.
I find that if I tap escape twice it seems to work as expected.  I also assumed it was a Hyper hotkey, but didn't find anything in the settings.

[2020-03-17 19:36] #2445 closed

[2020-03-17 19:38] #2444 closed

[2020-03-17 20:10] lucasbento commented on #1508
@BerniWittmann hey, I believe you would be glad to know that this just solved the problem I have been trying to fix for about 3 hours in a totally different project, thank you so much for this.

More than 3 years later and I'm the one feeling dumb.

[2020-03-17 20:17] sbrych opened #4397 "zshrc not read if symlinked"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.15.3
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.github.co

[2020-03-17 22:49] tz4678 opened #4398 "Colon Bug"
1)

[code]

2) Enter edit mode (`i`) and type colon (`:`)

3) Escape (exit edit mode) doesn't work

 hyper-git-3.1.0.canary.4.r63.g4a3132b8-1

[2020-03-18 00:06] bet4it commented on #4398
Duplicate of #3929

[2020-03-18 00:41] #4398 closed

[2020-03-18 00:42] Stanzilla commented on #4395
Hey there, could you translate this for us, please?

[2020-03-18 12:23] mosesontheweb commented on #4066
Hi,
same here on Ubuntu 18.04:
[code]
Any hints?
Regards, Thomas

[2020-03-18 12:54] mguthaus commented on #2016
Seems to be abandoned. I'm also having this problem.

[2020-03-18 15:42] agypsydiver commented on #883
macOS Catalina
zsh
hyper 3.0.1
Updating to Hyper 3.1.0-canary.4 fixed the issue (:

[2020-03-18 15:55] erhuz commented on #883
@Kinark When I was using hyper with any sort of vibrancy it messed with the foreground color, I have not fix for it except to not use any sort of vibrancy. Sorry :/

[2020-03-18 16:32] vgarzom commented on #883
Unfortunately the problem persist for me after updating to Hyper 3.1.0-canary.4. I'm using macOs Mojave 10.14.6, And it is not possible for now update to MacOS Catalina.

[2020-03-18 19:19] KZTN opened #4400 "Annoying % at Hyper startup"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 20.04 LTS
- **Hyper.app version**: 3.0.2 STABLE
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant

[2020-03-18 19:40] LabhanshAgrawal commented on #4400
https://github.com/zeit/hyper/issues/2144#issuecomment-326741620

[2020-03-18 19:44] LabhanshAgrawal commented on #4397
Does it work in the default terminal? Also I see that you are using `/usr/local/bin/zsh`, any specific reason for that over `/bin/zsh`?

[2020-03-18 19:51] KZTN commented on #4400
Ok, solved

[2020-03-18 19:51] #4400 closed

[2020-03-18 20:04] LabhanshAgrawal commented on #3321
Might be a problem with packaging, the code base has updated a lot since 3.0.2. You can download the latest build from [here](https://github.com/zeit/hyper/actions/runs/58425235) and give it a try.
Currently one known issue with latest build is that esc button getting captured for search bar #3929 (should be fixed soon)
You can use `ctrl+[` as a workaround for esc.
Let me know if you run into any

[2020-03-19 15:03] robinscholz opened #4401 "#"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2020-03-19 15:03] #4401 closed

[2020-03-20 03:38] ehaiwag commented on #2316
i tried below steps to solve this issue:
1. update .hyper.js with: env: { 'TERM':'msys' }
2. update variable for bash: export TERM=cygwin

Thanks all.

[2020-03-20 11:15] LabhanshAgrawal commented on #4360
@brunocloutier did you try to reinstall?

[2020-03-20 11:16] LabhanshAgrawal commented on #4376
@nathgit did you try the deb file?

[2020-03-20 11:16] LabhanshAgrawal commented on #4375
@starraiderx ping

[2020-03-20 11:18] LabhanshAgrawal commented on #4383
@bruc3mackenzi3 can you close this, as this is intended behaviour for macOS.

[2020-03-20 11:18] LabhanshAgrawal commented on #4397
ping @sbrych

[2020-03-20 11:19] LabhanshAgrawal commented on #3321
@daaang did you try the ci build?

[2020-03-20 11:23] yratof opened #4403 "Hyper relies on Nodejs installed on windows, but uses node from WSL and fails"
Installed node in WSL, this needs to be in the path, as nothing works in WSL with the nodejs installed on windows.

However, once you install node in the wsl.exe bash, hyper fails to use most of it's features:

If you try to split a plane:

![image](https://user-images.githubusercontent.com/1001935/77159270-5071ba00-6aa5-11ea-8063-15379227d109.png)

There is no work around that I can find where I

[2020-03-20 11:36] yratof commented on #4403
Removing `hypercwd` plugin fixed this for me.

_Originally posted by @mokahaiku in https://github.com/zeit/hyper/issues/2747#issuecomment-373024454_

[2020-03-20 11:36] #4403 closed

[2020-03-20 12:12] sbrych commented on #4397
I'm sorry @LabhanshAgrawal. I typed the response, changed the tab and forgot to actually send it, so here it goes:
- Yes, it works in terminal, iterm2 and alacritty.
- I am using the zsh version (5.8) installed via homebrew, that's why it's in `/usr/local/bin` instead of just `/bin`. However, for testing purposes I changed it to `/bin/zsh` (also changed it in the `.hyper.js` file), but it didn't h

[2020-03-20 12:20] LabhanshAgrawal commented on #4397
Hmm, seems strange, reading zshrc should not be influenced by what terminal you use. And the `$SHELL` thing seems similar to #4266
Will have to check and see if I can reproduce it.

[2020-03-20 12:26] sbrych commented on #4397
I rebooted the laptop and `echo $SHELL` returns `/bin/zsh` as expected, the `.zshrc` however, is still not loaded. Also, I observed some weird behaviour:
[code]

It seems that the .zshrc file is not accessible, but I can easily cat or source it (with the same `/bin/zsh` shell in any other terminal emulator.

[2020-03-20 12:33] LabhanshAgrawal commented on #4397
Seems like a permission issue then?
Can you open Hyper from the default terminal using this
`open /Applications/Hyper.app/Contents/MacOS/Hyper`
and see if you can access .zshrc

[2020-03-20 12:36] sbrych commented on #4397
I purged all of the hyper files, downloaded and installed it again, but still no luck. The `$SHELL` is correct, but it does not load the .zshrc.

After opening it this way: `open /Applications/Hyper.app/Contents/MacOS/Hyper` it loaded the .zshrc and I can access the file without a problem.

[2020-03-20 12:49] LabhanshAgrawal commented on #4397
That means when opening the .app directly it's running with less privileges somehow. Which shouldn't be happening.
Nothing's coming to my mind right now on how to fix this, will have to research.
A quick hack solution can be to create .sh file which starts hyper and add that to the dock.

[2020-03-20 13:11] LabhanshAgrawal commented on #3749
Is this issue still there? Tried the steps on macOS(w/ latest canary), faced no issues.

[2020-03-20 13:27] bet4it commented on #3749
Oh, you are right.
This bug has been fixed sometimes😀

[2020-03-20 13:27] #3749 closed

[2020-03-20 13:52] dominikzogg commented on #4056
Have the same issue with `hyper_3.1.0-canary.4_amd64.deb` on ubuntu 19.10

[2020-03-20 13:57] dominikzogg opened #4404 "italic font does not render correctly"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 19.10
- **Hyper.app version**: hyper_3.1.0-canary.4_amd64.deb
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**

[2020-03-20 14:44] daaang commented on #3321
Ah I have not, since running from source has been working just fine. But I can confirm that the ci build also does work!

[2020-03-20 14:54] LabhanshAgrawal commented on #3321
Glad to hear that it's working, can you please close this issue then?

[2020-03-20 14:56] LabhanshAgrawal commented on #3321
Do remember to download the stable release of 3.1.0 when it's out, as I don't think that the ci build will check for updates (at least on mac it doesn't)

[2020-03-20 15:26] LabhanshAgrawal commented on #3321
@daaang sorry I didn't realize that you have not created this issue.
@BadPaiva Can you please try the ci build, confirm if it's working for you and close this.

[2020-03-20 20:17] LabhanshAgrawal commented on #4319
@taggy @Th3G4mbl3r
Can you confirm if `/usr/local/bin` directory exists and it's permissions are `drwxrwxr-x`

[2020-03-20 20:24] LabhanshAgrawal commented on #4404
Which font is it, the config you've uploaded seems like the default one.

[2020-03-20 22:24] aamorimsimoes commented on #3262
thanks, works perfectly here!

[2020-03-21 06:51] dominikzogg commented on #4404
Should be Menlo, Fontsize 11

[2020-03-21 15:59] azeveco opened #4406 "Slow scroll when there's a big amount of lines"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Elementary OS 5..1.2 Hera
- **Hyper.app version**: 3.0.2 (stable)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: [

[2020-03-21 20:18] LabhanshAgrawal commented on #3929
I looked into this a bit and thought about the possible solutions (including already mentioned ones)

**using `shift+esc`**
easy to do, might not be intuitive at first for users

**capture `esc` only when search is open**
best case scenario, I tried to come up with some genric way where commands would be able to return a value indicating whether the event should be caught or not. But as the comman

[2020-03-21 21:14] Stanzilla commented on #3929
I like the only capture when search is open solution

[2020-03-21 21:17] LabhanshAgrawal commented on #3929
What approach do you think we should use to implement that solution.

Also any thoughts on the stuff in P.S. ?

[2020-03-22 00:11] bet4it commented on #3929
How does [hyper-search](https://github.com/jaanauati/hyper-search) implement it?

BTW, I think `hyper-search` is much beautiful than this implement.

[2020-03-22 00:34] Th3G4mbl3r commented on #4319
Hi @LabhanshAgrawal

It did exist and the permissions were correctly set. However, it is not a issue for me anymore as i had to reimage my laptop and so there is no way for me to reproduce the issue. After reimaging for some reason the first time round itself it worked perfectly.

thanks,
rohit

[2020-03-22 00:57] Stanzilla commented on #3929
Don't really know atm :/

[2020-03-22 01:20] #4383 closed

[2020-03-22 08:40] LabhanshAgrawal commented on #3929
Agreed, it looks better. But it'd be a bit more work to replicate it compared to fixing the `esc` thing now. Maybe we can take a look at it later.

[2020-03-22 12:54] bet4it commented on #3929
Do we really need to merge it if we could achieve it by a plugin?
We could just revert it!

And this implement would confuse `hyper-search` user.

[2020-03-22 13:10] Stanzilla commented on #3929
In my opinion this feature should and always should have been baseline

[2020-03-22 13:22] LabhanshAgrawal commented on #3929
I also think that search should be provide out of the box, And using xterm search method seems better than the custom implementation in hyper-search.

[2020-03-23 02:31] doojin commented on #3402
For me happening as well.
Using on MacOS.
I really love the Hyper but I'm forced to switch to iTerm. Can't keep loosing all my open tabs every time once the Hyper stops responding.

[2020-03-23 03:44] admosity commented on #3472
Had this popup when one of my instances was firing up a browser (strapi in this case).

[2020-03-23 07:16] ivanwonder commented on #3929
The second solution that captures `ESC` looks good for me.

[2020-03-23 07:25] LabhanshAgrawal commented on #3929
can you try out #4407 once

[2020-03-23 10:42] jackblackCH commented on #3402
I sadly had to switch back as well, the stable version became too unstable and time consuming.

[2020-03-23 11:36] ivanwonder commented on #3929
@LabhanshAgrawal error when running `yarn` in your project 😂.
`Error: Generated checksum for "chromedriver-v8.0.0-darwin-x64.zip" did not match expected checksum.`

[2020-03-23 11:49] LabhanshAgrawal commented on #3929
That's a spectron installation issue, see https://github.com/electron-userland/spectron/issues/265

[2020-03-23 13:29] csrujanreddy opened #4408 "Hyper crashes after some time"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: 10.15.3 OSX Catalina
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.gi

[2020-03-24 20:33] eliashkan commented on #4406
I get this too whenever I'm in vim and there's more lines than can fit on the screen. Also more than enough RAM and CPU. Also on WSL (Ubuntu on Win10)

[2020-03-24 21:04] eliashkan opened #4424 "Themes not applying to output text"
![ugly colors](https://user-images.githubusercontent.com/38148675/77476709-5821bd80-6e1b-11ea-8ef2-18f5b279ff2c.PNG)

I installed the material theme in the hyper.js and zsh with powerlevel10k. I'm on WSL ubuntu.

The colors seem what they should be for the most part except for the actual output. Before on mac I used iTerm and importing themes was easy. Now it seems I should also edit the color obj

[2020-03-24 21:49] IceMan81 commented on #3607
Will the fix in canary make it into 3.0.1? Can a build be put out for this fix? I couldn't find any build artifacts on CI.

[2020-03-24 22:07] Stanzilla commented on #3607
No, not soon, for which OS are you looking for?

[2020-03-24 22:11] IceMan81 commented on #3607
MAC OS

[2020-03-24 22:14] Stanzilla commented on #3607
Can you try this then? https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.3

[2020-03-24 22:32] IceMan81 commented on #3607
Should that be v3.1.0-canary.5? since v3.1.0-canary.4 is already published

[2020-03-24 22:35] Stanzilla commented on #3607
Ah yes, my bad, try https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4

[2020-03-25 05:02] huwllewellyn commented on #1276
This worked for me: https://gist.github.com/magicdude4eva/2d4748f8ef3e6bf7b1591964c201c1ab

[2020-03-25 07:48] IceMan81 commented on #3607
It kind of works, see screenshot. The font is [Iosevka](https://github.com/be5invis/Iosevka)
The first
<img width="795" alt="Screen Shot 2020-03-25 at 12 46 51 AM" src="https://user-images.githubusercontent.com/1093778/77513456-44ce1c80-6e32-11ea-9123-72122512a461.png">

[2020-03-25 08:04] herrbischoff commented on #2927
Closing, since this will obviously not be addressed.

[2020-03-25 08:05] #2927 closed

[2020-03-25 12:11] j10ccc commented on #4395
Currently clicking the link will automatically open the browser. This function often causes misoperation. It is recommended to remove or add the switch option configuration.

I think it would be better to automatically open the browser by clicking the link **while holding CTRL**

[2020-03-25 12:15] j10ccc commented on #4146
Please use a proxy

[2020-03-25 12:29] #3929 closed

[2020-03-25 13:15] LabhanshAgrawal commented on #4194
@Stanzilla now that all the issues in the 3.1.0 [milestone](https://github.com/zeit/hyper/milestone/6) have been closed I think we should do a 3.1.0 canary 5 release and then based on the response after a few days release 3.1.0.

[2020-03-25 13:19] LabhanshAgrawal commented on #4229
@leo @skllcrn any update on the cert, blocking issues for [3.1.0](https://github.com/zeit/hyper/milestone/6) are fixed so we'd need it for release.

[2020-03-25 14:10] Stanzilla commented on #4194
Yeah I was kinda waiting for the new xterm release. Not sure how Corona affected that, @Tyriar any ETA for it?

[2020-03-25 15:18] LabhanshAgrawal commented on #4194
are there any particular changes we're waiting for? If it's ok we can release canary 5 now and do one more with the new xterm before stable release. Would be better to get new feedback since all blocking issues are fixed now.

[2020-03-25 15:26] Stanzilla commented on #4194
Not but since we're waiting on the cert for appveyor anyway I figured why not.

[2020-03-25 15:30] LabhanshAgrawal commented on #4194
I see, maybe mac and linux only like canary 4 now and hopefully if the cert is there by the time xterm releases then one more?

[2020-03-25 15:31] LabhanshAgrawal commented on #4194
4.5.0 milestone mentions April 3

[2020-03-25 16:22] michaeljmcd opened #4426 "Unable to move terminal window on Windows 10 + WSL"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Microsoft Windows 10 + WSL + VcVxsrv
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:

[2020-03-25 17:13] Tyriar commented on #4194
Mostly settings sync in vscode that caused the delay -> https://twitter.com/Tyriar/status/1242085047404019716

[2020-03-25 17:49] IceMan81 commented on #3607
@Stanzilla btw, the font rendering has also changed in v3.1.0-canary.4, in my opinion it has improved. Earlier fonts used to rendered very thin.

[2020-03-25 17:59] Stanzilla commented on #3607
Sounds good, thank you! The bug you mentioned might be something to report over at xterm, does it happen in VSCode for you as well?

[2020-03-25 19:21] IceMan81 commented on #3607
I don't use VS Code, so wouldn't know. But I was wondering if its a font specific issue. I switched to PragmataPro Liga, which has ligatures and they don't work.
The same was reported [here](https://github.com/zeit/hyper/issues/3607#issuecomment-568475890)

[2020-03-25 19:24] Stanzilla commented on #3607
that was canary 3.**0**.1-canary4 though, in theory it should work in 3.**1**.0-canary4. Can you please install VSCode and see if it works there?

[2020-03-25 19:35] IceMan81 commented on #3607
Sorry, didnt see the difference in the versions. Here's a screenshot from VSCode, seem to work fine there.

<img width="787" alt="Screen Shot 2020-03-25 at 12 34 17 PM" src="https://user-images.githubusercontent.com/1093778/77578063-1d5c6b80-6e95-11ea-804d-6b1fd6709dd1.png">

[2020-03-25 19:37] Stanzilla commented on #3607
Well "great" then it's probably a hyper bug.

[2020-03-25 20:08] IceMan81 commented on #3607
Unfortunately, I think so too.

[2020-03-26 02:00] nathgit commented on #4376
it won't interfere with the builtin terminal, right?

[2020-03-26 03:10] bet4it commented on #3607
@IceMan81 You should try this in the integrated terminal provided by VSCode.

[2020-03-26 03:46] Stanzilla commented on #3607
Oh damn it, good call, I did not actually look at the screenshot -.-

[2020-03-26 08:55] LabhanshAgrawal commented on #4426
is Hyper installed on windows or wsl?

[2020-03-26 13:39] michaeljmcd commented on #4426
WSL via the debian package.

On Thu, Mar 26, 2020, 03:55 Labhansh Agrawal <notifications@github.com>
wrote:

[2020-03-26 13:54] LabhanshAgrawal commented on #4426
You should install Hyper in windows instead and set term to wsl.exe
x11 is not 'officially' supported by wsl https://github.com/Microsoft/WSL/issues/2356 so it might have a few kinks, maybe some apps work but all are not guaranteed to.

[2020-03-26 14:15] michaeljmcd commented on #4426
Setting it to Windows bash works (config settings below, if they are ever useful to anyone). It still feels odd for X11 not to work. I run gvim, zeal and terminator on X11 every day without issue. Either way, it works.

    shell: 'C:\\Windows\\System32\\bash.exe',
    shellArgs: ['~'],

[2020-03-26 14:28] LabhanshAgrawal commented on #4426
I agree most of the apps work through Vcxsrv, I have used some of them myself. But I had issues trying to run vs code like that. So maybe it's an issue with electron apps currently as the window frame and dragging are done in a roundabout way for electron apps (ones without the native frame like hyper, vscode etc.)
I think you can close the issue as it's resolved now.

[2020-03-26 14:30] LabhanshAgrawal commented on #4376
We don't set any defaults or anything so there should be no issues

[2020-03-26 15:01] #4426 closed

[2020-03-26 15:47] KZTN opened #4427 "E: The package hyper needs to be reinstalled, but I can't find an archive for it."
After installing Hyper and running the command https://github.com/zeit/hyper/issues/2764#issuecomment-374437229, i can't execute many funcionalitties in my OS(ubuntu 20.4)

Everytime when I try to download an program via apt-get, i can't complete it. And the problem is showing in every case
E: The package hyper needs to be reinstalled, but I can't find an archive for it.
I tried to reinstal via .d

[2020-03-26 19:24] IceMan81 commented on #3607
Do you need to do something to enable ligatures for the integrated terminal in VSCode?

[2020-03-26 19:26] IceMan81 commented on #3607
Another example of the weird behavior. See how the right arrows are behaving.

![image](https://user-images.githubusercontent.com/1093778/77688219-ef425e80-6f5c-11ea-97c8-84d3df0b4c85.png)

[2020-03-27 18:05] KZTN commented on #4427
After a search for simillar issues, I found the solution:
`sudo dpkg --remove --force-all ubuntu-mono`
then
`sudo apt-get update`
Reboot your pc and the hyper was completly removed and able to install again.

[2020-03-27 18:05] #4427 closed

[2020-03-28 00:48] JessicaSachs commented on #4360
Just reproduced this from a fresh install. It's happening 100% of the time for me -- same build -- using the following font family string: `fontFamily: '"MesloLGS NF", Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace'`

There's an exception being thrown where you're looking for /Network/Library/Fonts and that directory doesn't exist.

The fonts are loaded properly, then the excepti

[2020-03-28 06:35] LabhanshAgrawal commented on #4360
@brunocloutier @JessicaSachs
Can you try once with ligatures disabled, set `disableLigatures: true` in config.
The exception is thrown by the `font-ligatures` module which is used by `xterm-addon-ligatures`

[2020-03-28 20:24] Mustafobek commented on #4035
i could solve that problem with just removing "Network Persistent State" file from Appdata/Roaming/Hyper/
now it's working!

[2020-03-29 03:22] AlonsoK28 commented on #3725
Is now possible use the Portable version for Windows?

[2020-03-29 19:08] Dids commented on #4397
Likely not related to this, but I recently went through something similar, where there was an extra file (`.zshrc.<something>`), which was being read instead of `.zshrc`. It turned out to be some sort of "compiled" version of `.zshrc`.

[2020-03-29 22:30] IceMan81 commented on #3607
It looks like VSCode's integrated terminal does not currently support ligatures. There used to be a ligatures setting which has been disabled.
https://github.com/microsoft/vscode/issues/34103

[2020-03-29 23:10] LiterallyUniqueLogin opened #4428 "Support manipulate selection data (e.g. clipboard) escape sequence"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows using WSL
![image](https://user-images.githubusercontent.com/1317013/77863182-3aff3d00-71d5-11ea-8a38-640522310033.png)
- **Hyper.app version**:

[2020-03-30 01:24] tomasdev commented on #3736
Any workaround for this when using git-bash as terminal on Windows?

[2020-03-30 08:21] gdude2002 commented on #3736
So far, the only third-party terminal emulator I've had luck with on Windows is ConEmu, which doesn't seem to suffer from this problem.

[2020-03-30 08:50] amurchick commented on #4251
I am start using https://github.com/xtermjs/xterm.js by  my work and `xterm.js` have same issue.
So it may be not `hyper` issue.

[2020-03-30 10:01] AadarshVerma opened #4429 "command not working"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-03-30 10:40] tomasdev commented on #1719
Perhaps related to #3736

[2020-03-30 11:17] tomasdev commented on #3736
After some debugging, the hang seems to come from this line (`window.ts`)
[code]

[2020-03-30 12:03] tomasdev commented on #3736
FIX: adding `useConpty: true,` to your `.hyper.js` fixes it, as stated by #3781 (not sure why this is not in the default config for windows...)

[2020-03-30 12:04] gdude2002 commented on #3736
That fix didn't work for me when I tried it

[2020-03-30 12:32] tomasdev commented on #3736
There used to be two bugs about this ticket. One is fixed with Conpty.

[2020-03-30 14:36] LabhanshAgrawal commented on #4429
Can you describe your issue a bit?

[2020-03-30 17:34] NotMoni opened #4440 "The State of Hyper vs other Terminal Apps."
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS Catalina  10.15.4
- **Hyper.app version**: 3.0.2
- **The issue is reproducible in vanilla Hyper.app**: YES

## Issue

### State of Hyper

Hyper i

[2020-03-31 19:42] Stanzilla commented on #4440
Okay but what is the point of this issue? I agree with you on almost everything but it will be impossible to reach native speeds with an Electron stack. Hyper lost the power of ZEIT behind it and is mostly maintained by 1.5 (I'm the .5) people these days.

[2020-03-31 20:27] NotMoni commented on #4440
@Stanzilla It is ambitious, but ~~remove the electron stack~~, aka remake the app. I am down to help and make a terminal app that takes the pros of hyper and puts it in a fast almost native terminal. Who is the other maintainor? We 3 should make a new terminal app. Even though there are a lot of terminal apps they don't have as customizability as hyper.  **I want to do this**. What about you?

[2020-03-31 21:12] #4440 closed

[2020-03-31 21:13] Stanzilla commented on #4440
That's a bit out of scope for this project. There are a lot of good and native terminals out there for every OS.

[2020-03-31 21:37] NotMoni commented on #4440
I just want to improve Hyper @Stanzilla

[2020-03-31 21:49] Stanzilla commented on #4440
Well that's fine, we're always taking Pull Requests :)

[2020-03-31 21:55] rendhalver commented on #3126
I was pondering working out how to do it at some point.
Now seems like a good time with being stuck at home.
I will have a look at the docs tonight and see if I can work it out. Will link to this issue when I have something.

[2020-04-01 00:30] joeygaitan commented on #3412
I am having the same error and reinstalling isn't working I have it hooked up to Zsh though. Plugins will not work keep throwing this error `hyper -v

Disabling Chromium GPU blacklist
running in prod mode`

[2020-04-01 07:38] rovf opened #4443 "Install fails on Windows 10"
I downloaded the Windows installer for 3.0.2, but installation fails. I have attached the log file from the installation.

[SquirrelSetup.log](https://github.com/zeit/hyper/files/4413475/SquirrelSetup.log)

[2020-04-01 07:39] rovf commented on #4443
Adding to the issue: I have local admin rights on the machine, but I did not run the installer as admin.

[2020-04-01 09:05] cptncoolbread commented on #3984
same problem here ... further I didn't see hyper in the list in Apps & features

[2020-04-01 13:34] mindblastr commented on #2959
Hi, I'm getting this bug in version 3.0.2 (stable)

[2020-04-01 23:41] jaraco opened #4444 "Hyperlinks at the end of a sentence erroneously include the period"
I'm using the Azure CLI, and one of the help outputs had this text:

[code]

If I try to click on that URL, it is highlighted, but it doesn't work because the `.` is included in the URL. Many other systems like Slack are able to detect hyperlinks like these without including extraneous trailing characters. It would be nice if Hyper could do the same.

[2020-04-02 06:35] LabhanshAgrawal commented on #4444
The weblinks functionality comes from `xterm` itself, I think you should report it [there](https://github.com/xtermjs/xterm.js/issues/new?template=bug_report.md) instead.
Though I guess it might be difficult as `.` is a valid character in urls.

[2020-04-02 08:56] Primordium opened #4445 "Unexpected input, duplicated characters."
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/Primordium/44e3dc0c42a32bc731ded692f20860e5) with the contents of your .hyper.js*

[2020-04-03 16:48] luixal commented on #3595
I'm still getting this issue on win10 and hyper 3.0.2 :(

[2020-04-03 18:05] Hariama commented on #1147
Just a heads up, there is actually an extension that fixes this issue quite eloquently called "Hyper-Shellect". It's functionality is a lot like the workaround script from legowerewolf. Even though the original developer and their code have gone AWOL on Github, the extension is still available on npm (https://www.npmjs.com/package/hyper-shellect). The only problem I have encountered is that when y

[2020-04-04 11:00] IdanCo commented on #283
@bkjoel solution worked for me.

For some reason the line wrap issue manifested for me only on IntelliJ WebStrom terminal.

[2020-04-04 12:19] alexanderjeurissen commented on #4175
I can confirm that enabling termguicolors in neovim causes significant lag when scrolling through files.
Input lag seems not te be an issue, it's merely the redrawing that is causing lag.

[2020-04-05 03:42] Alfian5229 commented on #1625
yeah, me too

[2020-04-05 18:42] chris-c-thomas opened #4459 "Can't install Hyper .deb on Ubuntu 20.04"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **Ubuntu 20.04 Beta**:
- **Current .deb 3.0.2**:

## Issue

When I download the available .deb from the website it won't install in Ubuntu's Software application as in the past.

[2020-04-06 13:43] chris-c-thomas commented on #4459
Nevermind, this is Ubuntu related. [See Here](https://ubuntuforums.org/showthread.php?t=2439893)

[2020-04-06 13:43] #4459 closed

[2020-04-06 14:57] LabhanshAgrawal commented on #4459
you can try the appImage or snap also from https://github.com/zeit/hyper/actions/runs/71249146

[2020-04-06 15:40] azeveco commented on #4406
I was on WSL, but never had a problem like this. Elemntary OS is testing me.

[2020-04-06 18:23] jadnhm commented on #4213
I am also having this problem.

Hyper 3.0.2 (stable)
macOS 10.14.6
fish shell

[2020-04-07 12:43] LazyRen opened #4462 "Using msys2 shell with hyper"
I've looked all over the internet for the information, but couldn't find specific guideline for this.

Alomst all bash with Windows use git-cmd.exe.

For those who needs to use msys2, here is what I've done to the `hyper.js`
[code]

[2020-04-07 12:44] #4462 closed

[2020-04-07 16:00] Terkea opened #4463 "Pureline, the tip of the arrows are one pixel off"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Win10 Pro
- **Hyper.app version**:  3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.github.com/T

[2020-04-07 16:03] Terkea commented on #3560
I encountered this multiple times.

[2020-04-07 17:50] snappy316 commented on #819
Updating to 3.1.0-canary.4 seems to have fixed it! 🎉

Both the pasted text from the original issue, as well as the bug in Nano as shown in [this comment](https://github.com/zeit/hyper/issues/819#issuecomment-489646566) are now fixed!!

(For reference, `backgroundColor: "rgba(0, 0, 0, 0.7)"` in my config was broken in 3.0.2, but was immediately fixed in the canary version.)

[2020-04-07 17:56] mariadb-faisalsaeed commented on #3595
Just to give you guys an update and hopefully, some of the folks here will find comfort in this crazy painful COVID-19 time :)

I have been getting the same problem, it all started when I copied someone's configuration to make my Hyper look cool and I ended up with this error, Hyper was not even opening. Uninstall/reinstall did not help.

Here is what worked for me on **Windows 10**:

1. Uninstall

[2020-04-07 18:26] drdogbot7 commented on #3722
For me this was an issue with Yarn trying to use a proxy for some reason (https://github.com/yarnpkg/yarn/issues/4890). I don't use yarn so I didn't know it wasn't working. You can try running the 'yarn' command manually in your '.hyper_plugins' folder to see if that's the issue. Yarn gave me more helpful error messages than Hyper did.

e.g.
[code]
You can see if yarn has a proxy set by running:
[

[2020-04-07 20:37] Nikhiljayaram commented on #4035
I had the same issue (I think I am on the same Udemy course as well!). The configuration that the instructor gave us had this on line 69

**"shell: 'C:\\Program Files\\Git\\git-cmd.exe',"**

This was not the location where I had installed my git-bash. I changed the path to point to the right folder which see to have fixed the issue. (Note that the double backslash may still be needed to escape bac

[2020-04-07 20:53] PawanTekade opened #4464 "not able to open prefrence in edit section"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-04-08 06:54] OnTheRicky commented on #819
I have this problem not only when I paste text, but also when there is download bar that "scrolls over" text.

Running Hyper 3.0.2 (stable) + zsh on macOS Catalina
Renderers: Canvas (4)
Plugins:
  hyper-search (0.4.0),
  verminal (1.5.1),
  hyperline (1.2.0)

[2020-04-08 08:00] ramtinsoltani commented on #3736
This fixed it for me (using CMDer).

[2020-04-08 20:28] jwhitley commented on #4397
@sbrych I note that you're on Catalina.  It sounds like you may be hitting the new access controls. I'd recommend adding Hyper.app under System Preferences > Security & Privacy > Full Disk Access and try to reproduce again.  You'll need to exit and restart Hyper after adding it to Full Disk Access.

[2020-04-08 21:20] wavefancy commented on #3755
Same issue,  Hyper 3.0.2.

[2020-04-08 21:22] Cherrylicious commented on #3125
I have no idea how to change shells.

My hyper wont work and i get this error: https://imgur.com/K93mbxj

I've installed hyper, then gitbash and then I applied thise setting to hyper:
https://gist.github.com/coco-napky/404220405435b3d0373e37ec43e54a23

now hyper shows that error message and no text is appearing. any idea how to fix it?

[2020-04-09 00:03] NozzyEz commented on #3699
yes, disabling `webGLRenderer` worked fine, just had to restart the app

[2020-04-09 13:07] AshMcConnell commented on #3402
This happens to me when an SSH session times out

[2020-04-09 23:01] karsibali opened #4465 "Hyper starts bu does not show command prompt"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 18.04 LTS
- **Hyper.app version**: hyper-3.0.2-x86_64.AppImage
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js*

[2020-04-10 08:17] egouy commented on #3637
Thanks @qweasd1 you're a life saver !

[2020-04-10 09:30] HollyHjj commented on #4035
I solve that problem with the following steps:
1.uninstall Hyper
2.delete its two folders:
C:\Users\***\AppData\Local\hyper
C:\Users\***\AppData\Roaming\Hyper
3.restart PC and install Hyper Again

[2020-04-10 10:39] Sujimoshi commented on #3736
For me bug appears only if I open a new tab and then close it without waiting while shell will be loaded. (Windows 10, git bash)
My config:
[code]

[2020-04-10 12:41] silvenon opened #4466 "Selection artifacts on letters"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Catalina, 10.15.3
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist

[2020-04-10 14:14] ceoshikhar commented on #3607
For me the ligatures won't work. And in my Hyperjs zsh powerline10k theme those icons/symbols you have for github / branches also won't show up in my hyperjs terminal. Can you help me?
This is how my hyjerjs looks like.

![image](https://user-images.githubusercontent.com/62669971/78997158-a0ebad00-7b63-11ea-96ed-b9ac05d28924.png)

[2020-04-10 18:56] sharmashubham850 commented on #87
Windows users, follow these steps -:
1.) Add "hyper-opacity" to plugins array. (hyper-opacity plugin will be installed)
2.) Add property - "opacity: 0.8" (Editable)

[2020-04-12 04:09] G-Rath commented on #2843
I can confirm this is still an issue in Hyper 3.0.2.

Happy to help where I can in getting this fixed - including making a PR with some guidance (if I get the time), and trying out pre-release versions :)

[2020-04-12 06:13] Zenthad commented on #3984
probably not getting fixed man idk

[2020-04-12 11:16] AaronRobinson commented on #4332
And me

[2020-04-12 11:59] afzaalnazir9 commented on #2211
it worked thanks

[2020-04-12 16:44] Marflage commented on #4035
Solution:
1. Go to Control Panel and uninstall Hyper
2. Do the combination Ctrl + R, type in %appdata% and delete Hyper folder. Then type %localappdata% and delete the hyper folder.
3. Install Hyper again. You do not need to download the setup again, just run it.

PS: For those enrolled in the Angela Yu's Udemy course, you can copy the configuration course and paste it in the preferences file of H

[2020-04-12 20:20] silenceleaf commented on #3561
Open three tabs, cost 1.2G memory, similar as chrome

[2020-04-13 08:12] GTMxCode commented on #3736
Yeah I really wanted to make this work too.
- won't open directly into Wsl, tried with both full path and the direct Wsl.exe. I even tried linking it directly to the Ubuntu..exe, where I had to take over permissions of the Windows apps folder, subsequently breaking every application in there (yay), but that didn't work either.

-Then theres the freezing issue, which actually seemed to be solved by

[2020-04-13 08:38] rahatkar commented on #3404
Hyper terminal(version 3.0.2) JavaScript error

[2020-04-13 09:31] bet4it commented on #3404
@rahatkar Try https://github.com/zeit/hyper/suites/469423654/artifacts/2035140

[2020-04-13 10:02] rahatkar commented on #3404
Still not working
It throws error saying "Installation has failed"

[2020-04-14 06:54] clockelliptic commented on #3804
Same here, Windows 10 Enterprise. Crashes on every exit, no matter what.

[2020-04-14 17:05] LabhanshAgrawal commented on #4360
@brunocloutier @JessicaSachs ping

[2020-04-15 02:02] nyc-tinker commented on #4332
Can confirm also MacOS catalina doesn't work.  Can confirm that <Esc> works in regular terminal, so it's a hyper-specific issue

[2020-04-15 15:43] aditya-giri commented on #3804
Wanna try and fix this myself - can someone point me to a good starting point for investigation? I would do it but I'm a little short on time 😬

[2020-04-15 16:49] Lazer39 opened #4487 "chekbox x"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2020-04-15 18:57] y1y123 commented on #3583
I downloaded Hyper  3.0.2 today on mac and found that work around suggested above (move ~/.hyper.js to ~/Library/Application\ Support/Hyper/.hyper.js)  is not working. I do not see any difference in terminal after making changes.

[2020-04-15 21:26] klakiervx commented on #3533
For me it is blinking only when `webGLRenderer` is set to `false`. It is still working ok after restart. Setting it to `true` breaks cursor blink again for new windows and sometimes even for already open window just after it reloads config.

[2020-04-15 23:11] manuhazen commented on #3425
Is this issue still open?

[2020-04-16 04:44] VictorHMartins commented on #3533
@klakiervx  Thank YOU!! I should've tried setting webGLRenderer to false!

Thank you!!!

I was wondering what would be the reason for that. I'd assume webGL is essential?

[2020-04-16 06:07] LabhanshAgrawal commented on #4487
what's your issue?

[2020-04-16 06:16] LabhanshAgrawal commented on #4194
@Stanzilla was the appveyor cert updated? If yes we can release now.

[2020-04-16 06:33] LabhanshAgrawal commented on #4465
Hyper seems to have started the `/bin/bash --login` process and then bash spawns those blocking processes, you should check your `.bash_profile` and `.bashrc` to see if these are started from there.

[2020-04-16 08:06] Stanzilla commented on #4194
Nope

[2020-04-16 08:13] LabhanshAgrawal commented on #4229
@leo @chabou can you please look into it. It's been 2 months. It's blocking the release.

[2020-04-16 18:08] chm-dev commented on #3736
Yup same here. Exactly as described. Happens on wsl, cygwin and powershell.

[2020-04-16 21:46] LabhanshAgrawal commented on #3804
Not facing any issue with latest canary, you can try it out from https://github.com/zeit/hyper/suites/594966292/artifacts/4319163

If you still face the issue, can you do the following
open hyper
open one more tab (ctrl+shift+t)
open dev console (ctrl+shift+i)
open powershell/wsl
close that tab

and report if you see any error on dev console

[2020-04-17 00:53] peppy commented on #4332
As the current canary build is broken, I'd propose doing a new canary release with the fix included.

[2020-04-17 02:14] nathgit commented on #4376
I was able to install it & I ran a shell script. Do the themes work? I clicked on one of them on the site & there's a message at the bottom that says: "We can't currently find information for this extension 😰

View source code" I clicked on a second one & got the same message. Both do have an install button though.

[2020-04-17 02:58] LabhanshAgrawal commented on #4332
New release might take some time, you can use the build from [CI](https://github.com/zeit/hyper/actions?query=branch%3Acanary).

[2020-04-17 03:58] LabhanshAgrawal commented on #4376
The extensions are installed from npm, the site just lists a few. You can take a look at https://github.com/bnb/awesome-hyper
It lists plugins, themes etc.
To install you need to run `hyper i <plugin-name>` in shell. You might need to click `Install Hyper CLI in path` from the `plugins` menu in hyper first.
Can you close this issue as you were able to install it. If you face any other problem you

[2020-04-17 04:08] #4376 closed

[2020-04-17 08:48] Rambou commented on #3476
Same error. Does anyone have any idea? The unauthorized response doesn't seem logical.

[2020-04-17 09:12] sbrych commented on #4397
@jwhitley Thank you very much for your tip, it works now. :)

[2020-04-17 09:12] #4397 closed

[2020-04-17 10:14] LabhanshAgrawal commented on #2641
@hegelstad
from the last comment I guess this problem is not there anymore
can you confirm and close this issue

[2020-04-17 10:37] LabhanshAgrawal commented on #3736
Since there hasn't been any release since #3781  you may instead use the canary build
You can download it from the artifacts in the [ci](https://github.com/zeit/hyper/actions/runs/77488656)
if you still run into this issue,  can you please try setting `useConpty: true` and report how it behaves (it will help if you can also report what happens when you set it to false)

[2020-04-17 10:53] hegelstad commented on #2641
Works in single tab:

![image](https://user-images.githubusercontent.com/6997343/79561920-70979780-80aa-11ea-9ad4-0dabbc49107f.png)

Same problem in multiple tabs:

[2020-04-17 11:03] LabhanshAgrawal commented on #2641
@hegelstad can you check if you're not facing the same pre-ellipsis thing. I checked the source code for the tabs and the ellipsis are done via css on text overflow. But there's space on your tab bar.
Also check if you're using any theme/plugins.
You can also try out the latest canary build from [ci](https://github.com/zeit/hyper/actions/runs/77488656) (there's been lot's of improvements since las

[2020-04-17 11:05] LabhanshAgrawal commented on #2641
now that I looked carefully you seem to be using some plugin to show the command+1 keyboard shortcut, try once after disabling it also.

[2020-04-17 12:48] hegelstad commented on #2641
Hey @LabhanshAgrawal I am really sorry :( I have shown you a picture of iTerm 2 with a theme that looks very similar to Hyper, so I got things mixed up.

I downloaded the canary version of hyper 3.1-4 and it checks out fine!

![image](https://user-images.githubusercontent.com/6997343/79570448-c162bc80-80b9-11ea-8402-d2534bd2af6c.png)

I remember why I gave up hyper and went back to iTerm 2:
https:

[2020-04-17 12:48] #2641 closed

[2020-04-17 12:59] LabhanshAgrawal commented on #2641
That really looked like hyper
This backtick issue happened with 3.1.4? Can you open a new issue. We can try to solve it.

[2020-04-17 13:03] hegelstad commented on #2641
I love the hyper design 🙈
Will do, it has been like that since v2 or so I believe.

[2020-04-17 13:16] hegelstad opened #4488 "Backticks ` and possibly other special characters appear out-of-place"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version (3.1.4)
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

![image](https://user-images.githubusercontent.com/6997343/79572554-6fbc3100-80bd-11ea-8cfc-594785c293fa.png)

![image](https://user-images.githubusercontent.com/6997343/79

[2020-04-17 14:09] udv-code opened #4489 "Glitches: duplicate lines."
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Microsoft Windows 10 Pro 10.0.18363 Build 18363
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .

[2020-04-17 20:59] kulaj commented on #2812
this still happens, Hyper 3.0.2, Ubuntu 19.10. Deja vu sans should be removed as a fall-back. Undescroes render properly when it is taken out

[2020-04-17 22:17] Tyriar commented on #3607
@Stanzilla btw vscode's terminal doesn't support ligatures, it never ended up making it that far and the work on the addon has pretty much all been external.

[2020-04-18 00:09] Stanzilla commented on #3607
That explains that, thank you

[2020-04-18 09:21] FlamingPhoenix777 opened #4490 "Hyper is not opening!!!!!"
I changed the shell to `shell: {'path\to\bash.exe'}` in the config file and then it has stopped opening at all. Every time I double click the icon it loads but no screen is seen. No terminal opens.  Please *HELP*

[2020-04-18 11:13] nosyminotaur commented on #4490
Try going here
`C:\Users\{YOUR USERNAME}\AppData\Roaming\Hyper`
Here you can find the .hyper.js file.
Try editing the config back to powershell to get powershell back. I'm not sure about the correct path to WSL bash so while someone else can help you out with that, you can use this path instead for opening powershell.
`C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\powershell.exe`.
Remember to ad

[2020-04-18 16:41] jocull commented on #2812
If it is falling back, what font is it falling back to?

[2020-04-18 19:40] chm-dev commented on #3736
Thanks - that is one of few things i didn't try ;)

**V. 3.1.0-canary.4 (stable)** which got installed as canary fixes all the issues I had.

I tested the Conpty settings you suggested  and it seems like it has no impact over this issue (on canary at least).
I can quit / exit / kill hyper now with no problems no matter the value or presence of this setting in .hyper.js .

For everyone having same

[2020-04-18 20:49] williamclot commented on #1276
Thanks @huwllewellyn, this fix worked for me.

[2020-04-19 00:58] karsibali commented on #4465
It turned out to be McFly reverse history script. When I comment out the mcfly script from my .bashrc file Hyper works OK.
What I don't understand here is, normally this is not a blocking process the line in the mcfly.bash script, which spawns these processes is as follows:
[code]
This should normally end without any problem. But for whatever reason the last part of the command (head -n 1) does no

[2020-04-19 04:33] LabhanshAgrawal commented on #4465
Looks like a known issue in McFly, it's closed so maybe you need to update it?
https://github.com/cantino/mcfly/issues/32
https://www.unix.com/unix-for-advanced-and-expert-users/271649-cmd-cat-dev-urandom-not-closing-cleanly.html

[2020-04-19 04:34] LabhanshAgrawal commented on #4465
as the problems seems to be unrelated to hyper, you can close this issue

[2020-04-19 19:03] lakshshan commented on #4035
thanks! itz worked!

[2020-04-20 14:44] hensz commented on #2020
Hi!
I also see this problem. I'm using tmux 2.9, but I run Hyper on Windows, but connect to my Linux box via the built-in OpenSSH. With this setup, mouse clicks don't work in tmux - but also don't work in mc. So this is not a tmux only issue, but with Hyper in general.

btw, I also can't use the mouse when I run vim for Windows without ssh.

So since I don't use WSL, I doubt that the issue is rela

[2020-04-20 19:02] andrzejnovak commented on #3350
Bump, still a problem for me.

[2020-04-20 22:47] brianhafferkamp opened #4504 "Multiple new lines on Hyper startup"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Cataline 10.15.3
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.

[2020-04-20 22:49] incruder1 opened #4505 "i am constantly irritated by the plugin error notification . and don't know how to solved it pls. save my ear"
- [ ] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-04-21 18:27] flyinggfigh commented on #3938
where can i find hyper.js?

[2020-04-21 18:58] flyinggfigh commented on #3644
I can't even find the .hyper.js file.

[2020-04-21 19:38] #4465 closed

[2020-04-21 19:38] karsibali commented on #4465
Thanks a lot...

[2020-04-21 19:47] LabhanshAgrawal commented on #4465
@karsibali
What ended up being the solution for your McFly issue?

[2020-04-21 22:21] karsibali commented on #4465
I left a comment on McFly github page. There is no comments on that yet.
Currently I simply I disabled McFly from my .bashrc file.

[2020-04-22 08:17] #2816 closed

[2020-04-22 08:31] danielzaiser commented on #1276
@huwllewellyn worked like a charm, thanks

[2020-04-22 21:21] leo commented on #4229
Thank you, we're taking a look!

[2020-04-23 00:47] timbchua92 opened #4506 "Version3.0.2(stable) keep crashing after pushing git origin "master/branches""
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-04-23 07:48] rstacruz commented on #1594
This is happening to me right now and the fixes in this thread don't help. Let me try to find out more.

[2020-04-23 13:06] kaddkaka commented on #2922
I have never used hyper, but just for information I can share that I'm having similar problem with ESC taking about 1 second to register.

My setup is: WSL (Windows Subsystem for Linux) with Ubuntu -> ssh -> tmux -> nvim

[2020-04-23 15:26] m90 commented on #787
Still happening with Hyper 3 on Ubuntu 18

[2020-04-23 15:36] bet4it commented on #787
Try `yay -S hyper-git`

[2020-04-23 17:17] LabhanshAgrawal commented on #4332
@LudwigThePig
Were you able try out the ci build?

[2020-04-23 17:19] LabhanshAgrawal commented on #3736
@rofazayn were you able to try out the ci build?

[2020-04-23 17:21] LabhanshAgrawal commented on #3804
@aditya-giri
It was fixed in #3781
Were you able to try out the ci build?

[2020-04-23 17:23] LabhanshAgrawal commented on #3350
can you give the [ci build](https://github.com/zeit/hyper/actions/runs/83039360) a try and report if you are still facing it

[2020-04-23 17:29] LabhanshAgrawal commented on #3644
it should be in either %APPDATA%\Hyper or %HOMEPATH%

[2020-04-23 17:31] LabhanshAgrawal commented on #2922
Not clear if this is on hyper or ubuntu.exe?

[2020-04-23 17:32] yosoymatiasn commented on #3644
With hyper open, you can click on the dropdown menu -> edit -> preferences, and that'll take you to the file.

[2020-04-23 17:35] LabhanshAgrawal commented on #2922
@LexSong @ecielam @jamessewell @uadev
Is it still happening?
Can you try out the [ci build](https://github.com/zeit/hyper/actions/runs/83039360) once also (lots of improvements since last release)

[2020-04-23 21:10] dptasznik commented on #4177
I'm having the same issue, same OS (El Capitan 10.11.6).

[2020-04-24 00:12] rofazayn commented on #3736
No, not really, I stopped using hyper exactly after this issue, I am currently using linux. Although, a friend of mine who had tried windows' new terminal, mentioned that it is way better than hyper and he hadn't faced any issues using it with zsh.

[2020-04-24 00:56] peppy commented on #4332
Can confirm it works again on the latest CI build.

[2020-04-24 05:01] AaronRobinson commented on #4332
Works for me after fresh download

Sent from my iPhone

[2020-04-24 05:06] LabhanshAgrawal commented on #3736
@rofazayn
from the latest comments, seems like this is fixed now. Can you please close the issue.

[2020-04-24 06:14] LabhanshAgrawal commented on #4177
@Lokua @dptasznik try out the [ci build](https://github.com/zeit/hyper/actions/runs/83039360) (lots of improvements since last release)

[2020-04-24 11:46] ceoshikhar commented on #1460
Same here! did you find a fix?

[2020-04-24 14:11] kingIZZZY commented on #3685
Also having major rendering issues when resuming from sleep, all text disappears leaving black background, sometimes Reload puts things back in order but often only a full reload / close and restarting hyper helps, losing any current sessions...

[2020-04-24 14:12] dptasznik commented on #4177
Thanks, tried yesterday and works great!

[2020-04-24 14:18] LabhanshAgrawal commented on #4177
@Lokua can you also try it out and close this issue if everything's good.

[2020-04-24 14:34] LabhanshAgrawal commented on #4332
@LudwigThePig can you also try it and close this issue if everything's good.

[2020-04-24 14:46] LabhanshAgrawal commented on #3685
I'd suggest you all to try out the latest [ci build](https://github.com/zeit/hyper/actions/runs/83039360) (lots of improvements since last release)

[2020-04-24 17:57] saamalik commented on #4332
Fixed it for me too!

On Fri, Apr 24, 2020 at 7:34 AM Labhansh Agrawal <notifications@github.com>
wrote:

[2020-04-24 18:33] arnotes opened #4510 "ctrl+C does not kill trapped process(git bash config was used)"
[code]

note that this is working correctly on conEmu

[2020-04-24 18:36] LabhanshAgrawal commented on #4510
can you list the other details as mentioned in the issue template? e.g. your config, os, hyper version etc.

[2020-04-24 18:40] arnotes commented on #4510
@LabhanshAgrawal edited

[2020-04-24 19:20] LabhanshAgrawal commented on #4510
Haven't used git bash, have read about different configs working for people though.
You may want to give the latest [ci build](https://github.com/zeit/hyper/actions/runs/86997584) a try (lots of improvements since last release)

[2020-04-24 20:10] #3736 closed

[2020-04-24 22:03] #3810 closed

[2020-04-25 00:50] karsibali commented on #4465
I upgraded McFly to the latest version. It seems to be fixed with this version (v0.3.5).

[2020-04-25 05:57] #4332 closed

[2020-04-25 07:06] aarjaneiro commented on #3722
@danacr 's suggestion worked for me, I presume then (as I also tried @drdogbot7 's solution) that strict-ssl = false might have been the source of my flag.

[2020-04-25 14:29] azazel-cat commented on #4319
I get a similar error: "Symlink creation failed: EACCES". I installed Hyper using the 3.0.2 dmg onto macOS Mojave 10.14.6

My `/usr/local/bin` has permissions `drwxr-xr-x`.

I granted Hyper Full Disk Access, but that didn't fix it.

[2020-04-25 14:38] LabhanshAgrawal commented on #4319
@azazel-cat can you try and create a symlink in `/usr/local/bin` pointing to `/Applications/Hyper.app/Contents/Resources/bin/hyper`
that should be usable

[2020-04-25 14:40] LabhanshAgrawal commented on #4319
[code]

[2020-04-25 15:46] divyanshu013 commented on #3699
Doesn't work on latest canary
<img width="781" alt="image" src="https://user-images.githubusercontent.com/6682655/80284112-08942180-873a-11ea-88f8-054604384bf8.png">

[2020-04-25 16:43] azazel-cat commented on #4319
Worked (using `sudo`) — thanks!

[2020-04-25 18:12] epitone opened #4511 "hyperjs on canary will not update past 3.0.2 (the most recent stable version)"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Microsoft Windows 10 Home (Version 10.0.17763 Build 17763)
- **Hyper.app version**: Hyper 3.0.2 (Canary/Stable)
- **Link of a [Gist](https://gist.github.

[2020-04-25 19:44] LabhanshAgrawal commented on #4511
That's because canary release for windows is not there because of a cert issue. You can get the latest build from the [ci](https://github.com/zeit/hyper/actions?query=branch%3Acanary+event%3Apush)

[2020-04-25 20:07] epitone commented on #4511
Ah, thank you! @LabhanshAgrawal. I didn't realize that was where I needed to get the canary version. Rather than starting a new issue, would you happen to know if there's a workaround for attempting to load WSL bash in Hyper? I set the shell variable appropriately to `C:\\Windows\\System32\\wsl.exe` but it looks like that causes Hyper to crash on startup and I'm not too sure why.

[2020-04-26 00:25] bet4it opened #4512 "Unify the way to get application directory"
There are three places to get application directory:
https://github.com/zeit/hyper/blob/432fc30c3cc4a6b2cb75d5ee78a23bcecd8d57b9/cli/api.ts#L12-L17
https://github.com/zeit/hyper/blob/432fc30c3cc4a6b2cb75d5ee78a23bcecd8d57b9/app/config/paths.ts#L14-L19
https://github.com/zeit/hyper/blob/432fc30c3cc4a6b2cb75d5ee78a23bcecd8d57b9/app/index.ts#L5

You can notice that they are not totally the same.
Hope

[2020-04-26 08:48] UsairemAlamgeer commented on #4035
GUYSSS,... instead of deleting only Appdata from local , also delete hyper from roaming. And then re install the application. It would work.

[2020-04-26 09:44] LabhanshAgrawal commented on #4511
I simply use
[code]

[2020-04-26 11:10] andrzejnovak commented on #3350
@LabhanshAgrawal Well actually, this made it worse. Previously this would happen only in the default opened tab, but following tabs didn't have the issue. In the canary-4 linked above the alignment is problematic even in the subsequently opened tabs

[2020-04-26 11:23] LabhanshAgrawal commented on #3350
can you post the details again, like current os version, config and screenshot
as these might've changed since you opened this issue.

[2020-04-26 11:35] andrzejnovak commented on #3350
Here goes. I did a clean install just to be sure, cleaning the `config.js` apart from
[code]

- OS Name	Microsoft Windows 10 Pro
- Version	10.0.18363 Build 18363
- Hyper 3.1.0-canary.4

![image](https://user-images.githubusercontent.com/13226500/80306246-52284f00-87c2-11ea-9654-825d0021f5ef.png)

It seems to play particularly poorly with fullscreen and when the filename lengths vary a lot. Though

[2020-04-26 11:59] LabhanshAgrawal commented on #3350
Hmm that's strange, It's working for me properly at all sizes.
Can you check https://github.com/xtermjs/xterm.js once and see if the demo works properly for you.

[2020-04-26 13:00] andrzejnovak commented on #3350
@LabhanshAgrawal Could you tell me what to look for? I haven't worked with npm before, but following the demo, I can get it to open in browser, but it's not interactive.

[2020-04-26 13:46] LabhanshAgrawal commented on #3350
did you do a 'npm install' at first?

You may want to change demo/server.js line 47 to use wsl instead of cmd
just replace `'cmd.exe'` with `'C:\\Windows\\System32\\wsl.exe'` and add `'~'` to the empty args array at the end.
Then run `npm run start`
and then you should be able to use the terminal in the browser (localhost 3000)
test it with different values for rows and cols (try also with the siz

[2020-04-26 14:20] saamalik commented on #3699
Interesting, on my system the canary build is not using the discrete
graphics card - even if I remove the webGLRenderer option

On Sat, Apr 25, 2020 at 8:46 AM Divyanshu Maithani <notifications@github.com>
wrote:

[2020-04-26 16:57] arnotes commented on #4510
tried the ci build..same problem.

[2020-04-27 08:44] andrzejnovak commented on #3350
@LabhanshAgrawal can you clarify whether this was the demo you meant? https://xtermjs.org/ I am bit confused about how that helps actually

[2020-04-27 08:47] LabhanshAgrawal commented on #3350
@andrzejnovak No, I meant the demo from the xterm git repo. You need to clone it to local and then follow the steps I mentioned in previous reply.

[2020-04-27 10:46] andrzejnovak commented on #3350
Ok, the web page doesn't seem to work for me.

Running `npm install` results in a bunch of error messages
<details>
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated mkdirp@0.5.3: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises

[2020-04-27 13:29] LabhanshAgrawal commented on #3350
did you run `npm install` from the root of the repo i.e. `/home/anovak/aligntest/xterm.js`
from some errors it seems like it's running from some child folder
`npm start` failed because `npm install` failed

i guess you should be able to simply run the below commands and it should work
[code]

[2020-04-27 14:22] andrzejnovak commented on #3350
Thanks for the detailed instructions. But actually it seems to lead to the same errors messages as above.

[2020-04-28 01:11] damca commented on #3649
My issue may also be related to this. Load neovim ( or vim ), then resizing the window leaves dead space, even after a `:redraw!` command.

[2020-04-28 08:29] slovenski opened #4526 "Remove vertical blue separator in terminal tabs"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS Mojave 10.14.6
- **Hyper.app version**: 3.0.2

## Issue

Is this appearance normal? I hope not, I was trying to install another version but the pro

[2020-04-28 09:39] #3751 closed

[2020-04-28 12:34] mkstix6 commented on #3699
Similar issue for me:

Hyper Helper shows "Graphics Card: yes"

<img width="746" alt="Screenshot_2020-04-28_at_13_32_10" src="https://user-images.githubusercontent.com/1573136/80487565-f3dfa580-8954-11ea-9f21-74819c0937a6.png">

Hyper 3.0.2 (stable)

MacBook Pro (Retina, 15-inch, Late 2013)
macOS Catalina 10.15.4

[2020-04-28 12:37] aditya-giri commented on #3804
@LabhanshAgrawal sorry I havnn't able to try the canary yet. The link seems to be broken. Where can I find the artifacts from CI builds?

[2020-04-28 14:23] LabhanshAgrawal commented on #3804
get it from the latest run in https://github.com/zeit/hyper/actions?query=event%3Apush+branch%3Acanary

[2020-04-28 14:52] bswank commented on #39
So, this is fixed now?

[2020-04-28 17:12] Edmondus commented on #4035
thank you so much! it worked

[2020-04-28 18:27] slovenski commented on #4526
LOL! stupidly I just realized that it is an accent color oh the themes. sorry 😂

[2020-04-28 18:27] #4526 closed

[2020-04-28 20:13] jakemumu commented on #1370
just stumbled upon this using hyper with Ruby on Rails & a gem called sunspot solr.

I'm on hyper 3.2.0, quitting hyper left an open process running which requires a kill to the port to stop

[2020-04-29 21:35] mpcsh commented on #4175
Is there any update on this? I just tried it out with `3.1.0-canary.4` and the bug is still there.

[2020-04-29 22:31] hakankaraduman commented on #29
any solution is planned to this? I use a turkish q layout keyboard. I get the correct ~and `characters on any other application. But on the hyper it writes ü~ instead of only ~ and writes ,` instead of only ` character.

[2020-04-30 00:40] #3246 closed

[2020-04-30 23:57] 3u3i opened #4528 "Config file doesn't seem to load on Sway(which implements Wayland) window manager"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: 5.6.7-arch1-1(Arch Linux)
- **Hyper.app version**: 3.0.2 (newest as of today)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .h

[2020-04-30 23:59] 3u3i commented on #4528
Oops,forgot to write:

- **Windows manager**: sway 1.4

[2020-05-01 10:45] Un-knownCoder opened #4529 "Different color between the shell window and the border around"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 64bit
- **Hyper.app version**: 3.0.2

<hr>
I have this issue, the hyper window starts with an ugly border around the actual terminal window, I

[2020-05-01 11:17] LabhanshAgrawal commented on #4529
your config??

[2020-05-01 15:52] Un-knownCoder commented on #4529
Here it is:
[code]
As you can see the only plugin I have installed is *hyperpower*

[2020-05-01 16:02] bet4it commented on #4529
Try to use a theme?

[2020-05-01 16:04] Un-knownCoder commented on #4529
Yep, it doesn't work either, I tried using this theme: [hyper rose pine](https://hyper.is/plugins/hyper-rose-pine)

[2020-05-01 17:44] hashchange commented on #3564
I've had problems with this forever and more or less abandoned Hyper because of it.

After finally moving to Windows 10, I've had a closer look at the issue. As far as I can tell, the problem here is a missing registry key.

Hyper creates the following key:

`Computer\HKEY_CLASSES_ROOT\Directory\Background\shell\Hyper`

and that's not enough. I have recreated the exact same key in

`Computer\HKEY_

[2020-05-02 13:57] aditya-giri commented on #3804
Sorry for the delay.
Yeah, it looks good with the latest canary build 👍
I'm closing the issue.

[2020-05-02 13:57] #3804 closed

[2020-05-03 01:56] ImperadorSid opened #4530 "Weird behavior of Home/End keys"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Linux Mint 19.3 Tricia
- **Hyper.app version**: 3.0.2 (DEB Package, amd64)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hype

[2020-05-03 06:58] drone1 commented on #1594
FWIW, my .hyper.js file has an empty array for both plugins and localPlugins, and I get symlink errors.

[2020-05-03 11:20] MoonPadUSer commented on #4066
I have the same issue on macOS 10.14

[2020-05-04 00:57] Place1 commented on #2431
I was about to try out Hyper on macos but everytime i saved my config file I got a notification. Hyper looks really cool but this isn't a great first impression.

Perhaps I can contribute a flag if someone can point me in the right direction?

[2020-05-04 16:05] phrazzld commented on #2942
Keeping a commented list in my `.hyper.js` file isn't terrible, but it isn't great.

`hyper theme <theme-name>` would be ideal, using `<theme-name>` if it's installed, or installing and using it if it is not.

[2020-05-04 21:06] zaneclaes commented on #3391
@Stanzilla perhaps I'm confused, but the official version is still at `3.0.2` some 6 months after the build... and the build page to which you linked no longer has the official download, so I'm unsure how to acquire v`3.1.0`...

[2020-05-04 21:17] Stanzilla commented on #3391
Can you try without any plugins installed?

[2020-05-04 21:21] zaneclaes commented on #3391
Commented out all plugins from the config and restarted. No change, except the theme looks different.
<img width="710" alt="Screen Shot 2020-05-04 at 3 20 04 PM" src="https://user-images.githubusercontent.com/2084821/81014824-cf833d80-8e1a-11ea-8191-81a463837a3a.png">
Downgraded back to 3.0.2 and everything worked fine. Changed the `TERM=screen` and the original bug went away.

[2020-05-04 21:25] Stanzilla commented on #3391
Interesting, do you have webGL enabled or disabled? Should be an option in the file as well if you don't have it, it's off.

[2020-05-04 22:14] zaneclaes commented on #3391
Disabled, AFAICT. Here's my full config with superfluous comments removed & plugins re-enabled:
[code]

And `~/.zshrc` too fwiw:
[code]

[2020-05-04 22:25] Stanzilla commented on #3391
Can you try just removing/renaming your config and see if it works with the default one?

[2020-05-04 22:47] zaneclaes commented on #3391
Still no go.

See `3.0.2` running on the right side (second screenshot), and note the commands I ran in order to remove `~/.hyper.js`. The left window, `3.1.0`, was opened after that was ran. Also, note that the display but does not happen right away. It appears to boot fine, including the prompt (first screenshot). It even renders the nerdfonts correctly, with the Mac icon on the right. The bug h

[2020-05-05 05:44] ludugz commented on #3402
It happens on Windows as well.

[2020-05-05 10:54] LabhanshAgrawal commented on #3391
@zaneclaes instead of the releases page get the latest build from the most recent run in this page https://github.com/zeit/hyper/actions?query=event%3Apush+branch%3Acanary

The build on the releases page still had some issues iirc, which've been fixed in the ci build

[2020-05-05 14:15] zaneclaes commented on #3391
Okay, I downloaded build #95769080. This version works with the default config file, but did not work with my config file. So I removed everything one at a time and isolated the problem to the nerdfonts. Specifically, the `fontFamily` line in the config causes the bug.

<img width="1634" alt="Screen Shot 2020-05-05 at 8 14 50 AM" src="https://user-images.githubusercontent.com/2084821/81076135-8712

[2020-05-05 14:49] rivertam opened #4542 "rustc --print sysroot launches hyper (recursively, considering it's in my zshrc)"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 16.04
- **Hyper.app version**: 3.02
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: [I think this is just th

[2020-05-05 14:57] rivertam commented on #4542
This actually occurs whenever I use `rustup` as well. I suspect these tools call the terminal emulator binary with arguments that hyper ignores or something similar.

[2020-05-05 15:00] rivertam commented on #4542
This seems to not happen if I install using the deb instead of the AppImage.

[2020-05-05 19:19] andrzejnovak commented on #3350
@LabhanshAgrawal If it helps it seems to be a rendered issue. I tried a bunch of prompts and the default windows wsl.exe and bash.exe have the same problem, so it's quite possibly not caused by hyper. The problem doesn't appear for the "new" windows terminal.

[2020-05-06 08:39] jbberinger commented on #4360
@LabhanshAgrawal Ran into the same issue with font disappearing after upgrading to canary. Disabling font ligatures fixed the problem for me.

**OS**: Ubuntu 19.10 x86_64
**Hyper.app version:** 3.1.0-canary.4
**Shell**: zsh 5.7.1
**fontFamily** 'MesloLGS NF, Menlo, "DejaVu Sans Mono", Consolas, "Lucida Console", monospace',

[2020-05-06 08:56] LabhanshAgrawal commented on #3391
@zaneclaes Can you also try once with ligatures disabled, set `disableLigatures: true` in config.

[2020-05-06 12:19] zaneclaes commented on #3391
That fixed it! Thanks @LabhanshAgrawal — fyi the `nano` pagination bug is confirmed fixed with this too (I disabled the `TERM=screen` export).

[2020-05-06 14:28] bogdancss commented on #3699
any feedback from zeit on this?

[2020-05-06 16:35] TodorTotev commented on #1868
Love you brother

[2020-05-06 21:12] kpittman-securus commented on #413
If the linked PR will close this issue, will the PR enable hyper to open files?

My use case is, if a linter command is run and the output says there's an issue in a certain file, I would like to be able to Cmd+Click (or Ctrl+Click on Win) and open the file in the associated editor.

[2020-05-07 00:31] rocket-squirrel commented on #413
@kpittman-securus, I'm sorry this issue was linked by mistake. I scanned through open issues related to web-links and somehow completely missed the "file" part in this one. I'll unlink it from PR to avoid further confusion.

For file links though, we could borrow TerminalLinkHandler from VSCode - essentially register another link matcher with really complex regex.

[2020-05-07 18:36] #4511 closed

[2020-05-08 00:53] hridoy100 commented on #1250
Same problem. In my hyper.js it's written:

     shell: 'C:\\Program Files\\Git\\git-cmd.exe',
    // for setting shell arguments (i.e. for using interactive shellArgs: ['-i'])
    // by default ['--login'] will be used
    shellArgs: ['--command=usr/bin/bash.exe', '-l', '-i'],

[2020-05-08 15:54] ceoshikhar commented on #2843
How lazy are the developers of Hyper? I am facing the same issue.

[2020-05-09 03:17] GaboYanez commented on #3003
This is also happening to me (Windows 10 Pro x64) - Hyper 3.0.2:

![owu3ypfZkK](https://user-images.githubusercontent.com/41060379/81462599-1e6a0380-918a-11ea-8d69-74ccc2a1a6df.gif)

It's extremely annoying because when I alt + tab from a different application and open Hyper, I expect to be able to write on the terminal right away but it's not focused, so when I write nothing happens. I have to ma

[2020-05-09 06:24] abecaleb commented on #4023
Hi, I faced a similar issue, you need to remove the --login argument is using powershell.

Just change the shellargs at line 110

from
`shellArgs: ['--login'],` to `shellArgs: [],`

Save the preferences and reload the hyper terminal. this should solve it.

[2020-05-09 12:20] fernandopasik commented on #2144
It doesn't happen in the canary 3.1.0

[2020-05-09 13:19] henryz00 commented on #287
Any updates on this issue?

[2020-05-09 13:43] bet4it commented on #287
@henryz00
Use [v3.1.0-canary.4](https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4)

[2020-05-09 22:33] vadimshvetsov opened #4544 "Black foreground blocks on typing"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Catalina 10.15.4
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: [Config](http

[2020-05-10 02:59] annamariadaniel commented on #3802
@toby1991 How did you manage to do this? When I type ~/.hyper.js in the regular Terminal it says Permission denied. Is there a different way? I am very new to this and kind of lost. I'd appreciate any help. Thanks.

[2020-05-10 03:05] toby1991 commented on #3802
So probably the current user you logon has no permission for that directory. ‘.hyper.js’ is the configuration file for hyper, and will locate in the folder in ‘/Users/YOUR NAME/.hyper.js’.

Try sudo?

[2020-05-10 03:24] annamariadaniel commented on #3802
I can't locate it.
Not sure how to do that.
Thanks for the help anyway! Really appreciate it.

[2020-05-10 07:44] Luxcium commented on #4147
I forgot to mention my source: [PROMPT_SP](https://zsh.sourceforge.net/Doc/Release/Options.html#Prompting) on https://zsh.sourceforge.net/

[2020-05-10 12:35] stereokai commented on #2849
Run as administrator is not a friendly solution, why should a simple npm install (that's what hyper plugins are after all) require admin privilege to install?

[2020-05-10 13:33] r0b3rt85 opened #4545 "JavaScript Error: connect ENOENT on startup or install"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

![image](https://user

[2020-05-10 15:06] Denzic commented on #3177
I have the exact same problem here.

[2020-05-11 13:28] johnmerrifield commented on #3637
Thanks been stuck on this for ages, much prefer drag and drop.  Great solution

[2020-05-11 15:04] rohitkrishna094 commented on #2020
Any update on this? This is not a WSL problem afaik. Since when I open wsl and create two tmux panes, I can switch between them using mouse. But only in hyper its not working.

[2020-05-11 15:05] rohitkrishna094 commented on #2843
@ceoshikhar If you have a higher version of windows, you can try the new windows terminal. Its way better than hyper.

[2020-05-11 18:04] Tirotu commented on #1682
Same issue here, I have a laptop and every time I come to work if I left the VM open I have to close it and reopen it to move it to the correct screen, or else whenever it is not Maximized it is off the screen.  I did eventually find a better workaround so I don't have to close it down.  Do the right click and move, then hold Shift + CTRL + ALT and move with the arrow keys.  Hope this helps.

[2020-05-12 09:58] marcofugaro opened #4556 "[Canary] Emoji picker on macOS is broken"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS Catalina 10.15.3
- **Hyper.app version**: v3.1.0-canary.4
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: htt

[2020-05-13 06:05] noomz commented on #3003
@ggyanez Did you try my workaround? https://github.com/zeit/hyper/issues/3003#issuecomment-596329916

[2020-05-13 08:45] hensz commented on #2020
Hi!
I can confirm the observation of @rohitkrishna094 . When I use tmux in WSL using the mouse works fine. It only doesn't work within Hyper.

[2020-05-13 11:50] #4018 closed

[2020-05-13 23:17] Mvrs commented on #819
Can confirm that this problem has been resolved in  the latest **3.1.0-canary.4** version
:partying_face:

[2020-05-14 00:51] NeekSandhu opened #4557 "Hyper workflow automation (scripting)"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

## Feature request

Everyday I get to the office, I open 2 terminal tabs and 2 panes each, 1 tab dedicated to 2 backend services and the other dedicated to 2 frontend tasks.

I thi

[2020-05-14 02:37] bet4it commented on #4557
Try [hyperinator](https://github.com/bet4it/hyperinator).

[2020-05-14 06:12] halfhorst opened #4558 ""Hide Cursor" ANSI escape not working"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Pro (10.0.19041 Build 19041), using WSL
- **Hyper.app version**: 3.0.2
- **The issue is reproducible in vanilla Hyper.app**: This shows up in

[2020-05-14 07:00] Xx0w0wxX commented on #3583
me neither

[2020-05-14 09:39] BosEriko commented on #4544
After this happens, the icons/emojis also break.

[2020-05-14 16:49] mucanyu commented on #3591
I have been facing this issue despite I have installed latest version. It is a bit distracting.

[2020-05-14 21:31] tactwolfe commented on #4035
Well I was learning about git merging and branching from the same course guess what it merged two branches ,but everytime I try to check network tab inside github insight it show there is  no branching at all so I shut down my system and when I came back I saw now my hyper wont exit git branch it keeps on showing (master) in my root directory  😑😑 .well I uninstalled hyper and git now it wont open

[2020-05-14 21:33] tactwolfe commented on #4035
So if it helps someone plz tell me solution of both of my problem or  else what are hyper alternatives?? Thank you 😐

[2020-05-15 05:42] rithwikjc commented on #3736
Still happens. Just happened with me in Windows 10, when I am using cmder.

[2020-05-15 12:34] igotnocans opened #4559 "Download link for Debian not correct"
Hello,

Just a quick issue, not sure where else to post it. The download link for debian on the main website links to https://releases.hyper.is/download/dev instead of https://releases.hyper.is/download/deb

[2020-05-15 14:10] vassbence commented on #4559
Thanks for opening an issue, I'll fix it :) [Site's repo can be found here if you are interested](https://github.com/zeit/hyper-site)

[2020-05-16 03:57] Yash-Sonje commented on #4035
Alternative:
Hello guys if you are learning Angela Yu's webDevelopment model then there is no need to go throgh Hyper. U can use your cmd everything is working.

Only for Creation of file you havve to use : type nul>filename.js
Rest of the things are working fine.

[2020-05-16 15:39] Jonic commented on #4318
I have the same issue - Hyper triggers a notification and a sound every single time I run a command, and it's gotten really annoying!

[2020-05-17 11:00] TimofeyBiryukov commented on #3736
+1 Still happening, Windows 10, zsh.

[2020-05-17 20:49] rodolf0 opened #4560 "expose xterm.js' `loadAddon` to plugins"
Feature request:
xterm.js is extensible via addons. Hyper currently loads a static set of addons (https://github.com/zeit/hyper/blob/bad51f9c15a9f094588a3c3e36bea2b5151d4606/lib/components/term.tsx#L154-L158). It would be useful to allow plugins to enable additional addons.

One of the main motivators behind this would be to allow for custom `ILinkProvider` to enhance user interaction with text ob

[2020-05-18 08:22] s3bastianeljas opened #4561 "weird characters showing after launch"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: MacOS Catalina 10.15.4
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.

[2020-05-18 08:57] bet4it commented on #4561
Use [v3.1.0-canary.4](https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4)

[2020-05-18 11:21] s3bastianeljas commented on #4561
Thanks, I downloaded it. Now the numbers and empty lines are gone, but the percent sign is still there.

[2020-05-18 11:40] s3bastianeljas commented on #4561
EDIT: It still appears so at first launch after reinstall only the percent sign appeared, but now its the same as before

https://imgur.com/a/Al3chGL

[2020-05-18 12:39] tanya355 commented on #1045
where would you have to add this code?

[2020-05-19 15:19] bearguns commented on #3737
Having a similar issue on hyper-canary v3.0.2. This is a clean install of Hyper with no modifications in `.hyper.js`.

When the window has a width >= 1414px and a height greater than 2968px (i.e. maximized on an external 4k display), the input area "floats" up, and the cursor ends up pushed down.

![hyper_bug](https://user-images.githubusercontent.com/8432227/82344829-c4e7ad00-99b1-11ea-8246-f3a7a

[2020-05-21 02:15] paulocastellano commented on #4561
I have same problem with debian version

![Screenshot from 2020-05-20 23-14-43](https://user-images.githubusercontent.com/265964/82515906-d7680080-9aef-11ea-92c9-8a89720d6892.png)

[2020-05-21 05:38] glen777 opened #4573 "Documentation, accessing remote server"
I use terminals like ‘smartTTY’ to manage my remote web servers.   But I can't find any documentation on how to use ‘Hyper’ to connect to my server.   Where or how do I enter the IP address and root password?
Hyper appears to have some great customizing options I'd like to try.  But no documentation on remote usage.

- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.a

[2020-05-21 10:35] YewTreeWeb commented on #629
This is still the same issue for me I'm running macOS 10.15.4 and if I run `echo $SHELL` or `echo $0` in Hyper I get **/bin/bash** but if I run the commands in iTerm2 I get **/usr/local/bin/zsh**

[2020-05-21 11:47] jgalmeida93 commented on #4445
![Screen Shot 2020-05-21 at 08 46 34](https://user-images.githubusercontent.com/19418427/82556175-9b5c8c00-9b3f-11ea-8614-79b18d55dc80.png)

Same here, i just type "ls" and got "lls"

[2020-05-21 13:18] Krasnov8953 commented on #4545
same problem with 3.0.2 in windows 10

[2020-05-21 17:18] SHOAIB2110 commented on #4035
Just check if you have installed Git-Bash before installing Hyper.
If not ,than install both,then cheak .
It work out for me....

[2020-05-21 20:57] jrbytes commented on #4561
Hi,

Use unsetopt PROMPT_SP in .zshrc

Solved in Ubuntu 20.04

[reference](https://superuser.com/questions/645599/why-is-a-percent-sign-appearing-before-each-prompt-on-zsh-in-windows)

[2020-05-22 14:16] agypsydiver commented on #2719
Any updates on this? Willing to contribute.

[2020-05-23 01:52] GTMxCode opened #4574 "Running dev with WSL (windows system for linux)?"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate
- **OS version and name**: Ubuntu 18.04 / WSL2.0 / Win 10

Hey guys so I've been messing around with the config and created a CSS monster but im at a point where I can't really do w

[2020-05-23 07:34] rdewolff commented on #2942
Maybe that means refactoring the config file. We could have a dedicated propery `themes: []` so we clearly separate them from `plugins: []`. Then either the first theme of the array would be the active one, or using an additional property `activeTheme`.

What do you think?

[2020-05-23 21:34] ppot commented on #2942
This is something I vouched for some times. Will require a bigger refactor in order to do so. Feel free to propose something.

[2020-05-25 08:29] Tolgor commented on #4004
I had the same issue.

[code]

hyper.cmd is the command registered when you type "hyper".
In the hyper.cmd, the ``set ELECTRON_RUN_AS_NODE=1`` seems to cause some issues on Windows.
I edited the hyper.cmd:

[code]

And now for "opening" Hyper in specific directory:

[code]

Disabling the ELECTRON_RUN_AS_NODE=1 may have some side effects, still, this works for me.
Hope this helps.

[2020-05-25 08:29] #3553 closed

[2020-05-25 09:51] alaouimehdi1995 opened #4575 "FZF "highlighted" text isn't displayed correctly"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Ubuntu 18.04
- **Hyper.app version**: 3.1.0-canary.4 (and all previous versions)
- **Relevant information from devtools** _(CMD+ALT+I on macOS, CTRL+SHIF

[2020-05-25 10:51] OmriLevy888 opened #4576 "Pane resizing shortcut"
Using hyper, there is one feature I'm missing and couldn't for the life of me find it -> resizing panes using only the keyboard. I'm only Ubuntu 20.4, using hyper 3.0.2.

I came across hyerinator and hyperlayour which would allow me to create layouts with asymmetrical pane sizes but what I want is something like terminator's ctrl+shift+arrow keys to be able to resize a pane.

Does this exist/any p

[2020-05-25 11:11] #3426 closed

[2020-05-25 11:11] #4193 closed

[2020-05-25 11:15] bet4it commented on #4576
It's really easy to be achieved by a plugin, but firstly, someone need to write this plugin😅

[2020-05-25 23:23] timothyis commented on #4559
Looks like this fix was merged! Closing for now, thanks @vassbence! Please feel free to comment if still broken @igotnocans

[2020-05-25 23:23] #4559 closed

[2020-05-25 23:24] #4487 closed

[2020-05-26 08:31] OmriLevy888 commented on #4576
@bet4it yeah I assumed as much, guess it gives me a reason to learn some JS for a change, was just hoping maybe someone already came across it and made it

[2020-05-26 17:04] JoeEarly commented on #3391
This should make it for 3.1.0 release?

[2020-05-27 01:31] shinriyo commented on #3061
@misolori
Me too. is it difficult to fix?

[2020-05-27 04:42] bet4it commented on #3061
This is fixed in [v3.1.0-canary.4](https://github.com/zeit/hyper/releases/tag/v3.1.0-canary.4).

[2020-05-27 08:39] shinriyo commented on #1295
I want this feature. It is easily see which panel is it.

[2020-05-27 10:38] Battlord8 commented on #2863
When i tried to install plugins, using : `hyper i <plugin>`, it showed : 'zsh: hyper is not a command', can someone please help?

[2020-05-27 17:45] mostafaznv commented on #4119
I installed **Hyper 3.1.0-canary.4 (stable)** but starting up hyper takes 10~15 seconds.
It's very slow on startup.

MacOS Catalina 10.15.5

[2020-05-28 07:26] jeriscc opened #4593 "Can't click in command line editor on hyper"
- [x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Home 1709 16299.57
- **Hyper.app version**:  3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: htt

[2020-05-28 08:30] bramus commented on #3762
VSCode has a similar issue: https://github.com/microsoft/vscode/issues/96463

I've noticed that depending on how you start VSCode the result for `logname` differs. If this is also the case for Hyper, then perhaps it's an Electron issue?

[2020-05-28 20:19] Akhila-C-R commented on #3793
I wanted to add the Ubuntu Mono font and it's not working on hyper

[2020-05-29 04:30] prakpk commented on #4035
I had the same issue. Resolved it by reinstalling Git in the default directory:
'C:\\Program Files\\Git\\git-cmd.exe'. Did the job for me.

[2020-05-30 09:41] xavierrobitaille commented on #3813
Did anyone try the hyper-startup plugin recently? It's "an extension for Hyper, which executes commands when Hyper launches". I can't get it to work, though... I am using other plugins (eg. hyperlayout), so I don't think my .hyper.js file is broken or anything. Would love to hear if other people recently got it to work.

[2020-05-30 09:46] xavierrobitaille commented on #3780
Did anyone try the hyper-startup plugin recently? It's "an extension for Hyper, which executes commands when Hyper launches". I can't get it to work, though... I am using other plugins (eg. hyperlayout), so I don't think my .hyper.js file is broken or anything. Would love to hear if other people recently got it to work.

[2020-05-30 09:54] bet4it commented on #3780
@xavierrobitaille Try [hyper-init](https://github.com/daltonmenezes/hyper-init).

[2020-05-30 10:15] xavierrobitaille commented on #3780
works like a charm! thank you @bet4it

[2020-05-30 10:18] xavierrobitaille commented on #3813
FYI I got a tip to try [hyper-init](https://github.com/vercel/hyper/issues/3780#issuecomment-636307700), and it works like a charm.

[2020-05-30 21:52] ajmssc opened #4597 "WSL2 compatibility issues"
- [X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 2004
- **Hyper.app version**: 3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: N/A

- **Relevant in

[2020-05-31 05:09] VartikaSmile commented on #4035
I had the same issue but the issue was resolved after
1. I deleted hyper from "local " and "roaming" present in "AppData" folder.
2. Reinstalled hyper.
3. If you are taking Udemy course and facing the same problem again after changing the preferences, try changing the path location from " shell: 'C:\\Program Files\\Git\\git-cmd.exe', "  to path where your git-cmd is located. ( For example: I had s

[2020-06-01 06:26] mu-yu commented on #2020
the cursor works fine with windows terminal, wsl and tmux, but failed with hyper.

[2020-06-01 08:50] ToMMy86 commented on #4489
I have the same issue when editing text with  vi / nano etc...
Scrolling mess up text lines ...

Fedora Linux 32 - Deepin DE - Wayland

[2020-06-02 01:54] rafamerlin commented on #4035
So, I'm having the exact same issue, however, if I run it as administrator it just works.
Funnily enough, I'm having the same issue with windows terminal, it won't run anything if not as administrator. Maybe it's some configuration on windows or something?

[2020-06-02 04:45] decomoraes commented on #2782
Install Oh My Zsh:

https://github.com/ohmyzsh/ohmyzsh

[2020-06-02 07:52] madeinspace opened #4607 "Nextjs build errors that don't appear in other command line clients"
- [ X] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ X] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: windows 10
- **Hyper.app version**: 3.02
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information

[2020-06-03 06:00] GTMxCode commented on #4597
This is what works for me

[2020-06-03 07:24] Ebrahitc1983 commented on #1594
Hi guys and girls, sorry i'm new to this whole thing but can some tell me has anyone found a solution to the problem yet ?

[2020-06-03 17:21] LabhanshAgrawal commented on #3736
@rithwikjc @TimofeyBiryukov on latest canary ci build?

[2020-06-03 17:36] Royal-lobster opened #4608 "How to open hyper and execute a command form another terminal"
Hello, I am using hyper 3.0.2 in elementary OS Hera (Ubuntu bionic).
I tried to look if there is any way to open hyper and run a command automatically form another terminal.
I am doing the thing what i want using xterm with command
[code]
i tried
[code]
but it is showing the hyper help showing it cant be used like that. I would be great if there is any thing to make hyper to do like xterm.

[2020-06-03 22:29] christiangusukuma commented on #3736
Installing canary version fixed the problem for me.

[2020-06-03 23:47] pychap commented on #3637
Thanks @qweasd1 !!! Works great!

[2020-06-04 08:06] s3bastianeljas commented on #4561
What does that do exactly with my zsh?

[2020-06-05 13:18] TimofeyBiryukov commented on #3736
Building from source on `canary` branch. It does not happen every time I close a tab, but opening more than 2-3 tabs and closing them will lead to the same result no matter what. Let me know if you need more info. @LabhanshAgrawal

[2020-06-05 15:02] fornnever opened #4609 "Hyper adds itself to PATH on every run"
✅ Your Hyper.app version is **3.0.2**
✅ I have searched the [issues]

As title explains itself whenever i run hyper it adds itself to PATH again. I don't know if its because exe location contains unicode characters. I attached a ss file. I tried uninstall and fresh install already.

![ss](https://user-images.githubusercontent.com/19656379/83891739-5008c700-a756-11ea-91e3-8cd9fa492c35.png)

[2020-06-05 16:56] RBalconi commented on #2645
You are giving me this error, how can I solve it?

![image](https://user-images.githubusercontent.com/18688446/83903283-d78d1080-a72b-11ea-8ad0-81b161e2ccb4.png)

[2020-06-05 17:02] RBalconi opened #4610 "Error when changing terminal"
Hello, I'm trying to use GitBash or Windows PowerShell with Hyper, however when I change the .hyper.js to the following configuration:
[code]
Give the following error. Regardless of the terminal you place. How can I solve?

![image](https://user-images.githubusercontent.com/18688446/83903446-25a21400-a72c-11ea-9fcd-97844cbb8b4e.png)

Thank you

[2020-06-06 03:01] GTMxCode commented on #4593
If you hold alt you can click to a point within the current line. It's not ideal but better than nothing, this is an issue for me as well

[2020-06-06 13:49] LabhanshAgrawal commented on #3736
@TimofeyBiryukov Can't say much, earlier it was happening because of an issue in node-pty but it has been fixed since then, and we're on the latest version, if more people experience this behaviour then maybe we can look at similarities. You can try to look into the processes and dev console.

[2020-06-06 16:40] plaxdan commented on #163
Note: this has since been updated to `brew cask install hyper`

[2020-06-07 05:46] lojickse7en commented on #4254
I"m having this same issue. Scrolling up will show the file/folder system you're in. And scrolling down doesn't work. At least with using the mouse scroll wheel.

[2020-06-07 06:49] supasonk opened #4611 "Can't run hyper cli in windows 10 wsl"
- [ x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 WSL2
- **Hyper.app version**:  3.0.2
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**: https://gist.gith

[2020-06-08 07:05] jquast commented on #1857
I actually used hyper as an example in an article I wrote about varying Unicode Version level support in Terminals (and a solution that works for python), https://jeffquast.com/post/terminal_wcwidth_solution/

The gist of it is that Hyper supports only version ``5.1.0`` of the Unicode standard for wide characters, through its depenency on the wcwidth library, whereas version 9.0 introduces the spe

[2020-06-08 17:43] racqel commented on #3637
Thank you @qweasd1

[2020-06-08 17:58] DntPullALockett commented on #4529
Same issue

[2020-06-09 08:18] gabroo commented on #4397
Hi, this is still happening on macOS 10.15.5 (Catalina)

I tried giving full disk access to Hyper.app as suggested by @jwhitley but this did not change the output:

<img width="865" alt="Screen Shot 2020-06-09 at 1 17 57 AM" src="https://user-images.githubusercontent.com/6046841/84123706-0edf1400-a9ef-11ea-9316-603db0f4ab12.png">

`.zshrc` is clearly not being read. Also I installed anaconda using

[2020-06-09 14:20] svenjacobs commented on #3929
Any chance to get a new canary version that contains the fix to this problem?
As a Vim user I really need the ESC key :/

[2020-06-10 07:23] harpreetsb commented on #4529
same on ubuntu. All that space could be used.
![Screenshot from 2020-06-10 12-51-35](https://user-images.githubusercontent.com/6584304/84238900-6083bd80-ab19-11ea-9e8b-364a31c05760.png)

[2020-06-10 09:56] sazary commented on #3294
any new workaround?

[2020-06-11 09:55] MartynF commented on #101
Sticking a oar in...

Would it not better for hyper to recognise and render html rather than images? It should then be trivial to write a hyper-cat script that could encapsulate any particular file type supported by html that can be inlined.

Use case: I ssh to a remote server, and I still want to read html files, view svml graphics and jpegs, without a seperate utility for each.

[2020-06-11 17:51] joshgarde commented on #101
That'd likely lead to a remote code execution vulnerability. It'd be a lot more work to render full HTML than to render just images because of the context isolation that would need to be added in.

[2020-06-12 07:19] gabroo commented on #155
Hi, I'm getting some weird behavior with the border color leaking into the frame on vim 8.2 hyper 3.0.2

Setting `termguicolors` property does not change the behavior

Screenshot of vimrc (showing the issue):

<img width="1428" alt="Screen Shot 2020-06-12 at 12 18 40 AM" src="https://user-images.githubusercontent.com/6046841/84475969-4d204180-ac42-11ea-9a20-0609b88076b5.png">

[2020-06-12 18:02] nusairafnan commented on #1866
guys just try using a vpn. I tried setting my location to hongkong or singapore i guess and the downloads were pretty fast for me...

[2020-06-13 06:16] LabhanshAgrawal commented on #4609
This has been fixed in canary, you can get the latest ci build from https://github.com/vercel/hyper/actions/runs/133549960 and test.

[2020-06-13 09:52] Alexander9673 opened #4634 "color problem?"
I was wondering on why i am getting this:
`←[0m←[0m←[1m←[31merror←[0m←[1m:←[0m`
but when i use cmd, i get the word `error` and is colored as red

[2020-06-13 13:05] #4609 closed

[2020-06-13 17:25] #4244 closed

[2020-06-14 14:59] keithy opened #4635 "Just Black window"
As a Hyper virgin, I downloaded the latest from the website, installed on Mac OS High Sierra, and the result... Just an all black window.

- Mac OS X High Sierra
- 3.0..2
- no changes made

[2020-06-15 11:00] 4khi1 opened #4636 "support for powerline fonts?"
I am using spaceship theme in zsh shell...
it's showing a box instead of a symbol

![image](https://user-images.githubusercontent.com/21128035/84650018-1fc6e280-af25-11ea-90a7-0d857378c76b.png)

**Expected:**

![image](https://user-images.githubusercontent.com/21128035/84855598-14d59480-b082-11ea-9d2e-069ab5cc2c64.png)

[2020-06-15 18:38] Zhunio commented on #3736
Can this be fix for windows using git bash?
![image](https://user-images.githubusercontent.com/967968/84693662-d7ec8f00-af15-11ea-88ad-f7c1fed53b1f.png)

[2020-06-15 21:49] www-wagner commented on #1147
Another available extension is [hyper-launch-menu](https://hyper.is/store/hyper-launch-menu). It works like a charm for me!

[2020-06-16 05:13] cameronaaron opened #4646 "Camera crash due to Hyper not requesting permissions on mac os x Catalina"
- [ x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: macOS 10.15.5 (19F101)
- **Hyper.app version**: Hyper 3.1.0-canary.4 (canary)
- **Link of a [Gist](https://gist.github.com/) with the contents of your

[2020-06-16 07:35] LabhanshAgrawal commented on #3929
Not sure about a release. You can get the latest ci build from https://github.com/vercel/hyper/actions/runs/136614828

[2020-06-16 12:17] LopezPedrosaAlex commented on #4635
Same issue here

[2020-06-16 13:03] Lunchb0ne commented on #1612
The update-checker process checks for a feed from https://VERSIONTYPE.hyper.is/update/PLATFORM/VERSION
Where VERSIONTYPE is the type of the app (release or releases-canary)
PLATFORM is the platform of the app
VERSION is the version of the app (eg 3.0.9)

So for example, if I want the feed for Linux stable, I would need to go to

https://releases.hyper.is/update/deb/3.1.0-canary.4

[2020-06-16 13:49] Lunchb0ne commented on #3443
Maybe add support for remapping it?

[2020-06-16 14:48] MartynF commented on #101
Surely its pretty simple to not run embedded code.... ?

[2020-06-16 17:34] joshgarde commented on #101
Perhaps just a little bit more complex than just displaying images. We'd have to create a new [BrowserWindow](https://www.electronjs.org/docs/api/browser-window) instance and disable `javascript`. Then we'd probably use [offscreen rendering](https://www.electronjs.org/docs/tutorial/offscreen-rendering) to grab a bitmap of the rendered HTML to display in the main Hyper instance. So at the end of th

[2020-06-16 18:19] LabhanshAgrawal commented on #4646
Does this work in other terminals?
I tried [this snippet](https://www.geeksforgeeks.org/python-opencv-capture-video-from-camera/) and it asked for permission and then worked properly.
I'm using the latest [ci build](https://github.com/vercel/hyper/actions/runs/137478211) with python 3.7.5

The opencv commit seems to indicate that the process needs to request the access, not the terminal. The iterm

[2020-06-16 18:19] LabhanshAgrawal commented on #4635
try the latest build https://github.com/vercel/hyper/actions/runs/137478211

[2020-06-16 18:25] LabhanshAgrawal commented on #3443
You can just map the shortcut for `window:hamburgerMenu` in your config

[2020-06-16 18:29] LabhanshAgrawal commented on #101
iterm2 is doing it by adding a set of proprietary escape sequences for identifying and displaying images. Since don't really handle the parsing and rendering ourselves, it might be better to request this on https://github.com/xtermjs/xterm.js

[2020-06-16 18:41] LabhanshAgrawal commented on #4636
can you post your config please?

[2020-06-16 18:46] joshgarde commented on #101
It might be a bit better to build this out as a xterm addon since there's not really an open standard for supporting images in the terminal. Since iTerm2 is GPL licensed, would supporting its escape sequence require the code to be GPL licensed as well?

[2020-06-16 19:03] cameronaaron commented on #4646
This works perfectly in the default terminal that comes with mac os x and only crashes on Hyper

[2020-06-16 19:30] LabhanshAgrawal commented on #4646
can you try once with the latest build. Also try the snippet I mentioned.

[2020-06-16 22:04] simoncorry commented on #1642
This still appears to be an issue on Windows.

[2020-06-17 01:28] shinriyo opened #4658 "canary is smaller than stable"
- [ x ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ x ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

My latest is Hyper 3.1.0-canary.4 (stable)

<img width="532" alt="スクリーンショット 2020-06-17 10 22 34" src="https://user-images.githubusercontent.com/396927/84844279-f91fbd80-b084-11

[2020-06-17 08:30] LopezPedrosaAlex commented on #4635
It still doesn't work for me.

When I open Hyper it pops up like that:

![Captura de pantalla 2020-06-17 a las 10 29 08](https://user-images.githubusercontent.com/58748526/84874800-692e4380-b085-11ea-935c-c4f267182404.png)

[2020-06-17 08:57] LabhanshAgrawal commented on #4635
can you check the developer tools once, and see if there are any errors.

[2020-06-17 12:19] LopezPedrosaAlex commented on #4635
Yes! Something about WebGL 2.0 is not supported in my machine. I have already tried of disabling "webGLRenderer" to false in the file ".hyper.js". But not working still.

[2020-06-17 12:31] LabhanshAgrawal commented on #4635
current canary has webgl disabled, can you post a screenshot of the devtools

[2020-06-17 13:43] LopezPedrosaAlex commented on #4635
Not even looking good with canary.

![Captura de pantalla 2020-06-17 a las 15 42 23](https://user-images.githubusercontent.com/58748526/84905634-326e2280-b0b1-11ea-919e-daaee16ec879.png)

[2020-06-17 15:40] cameronaaron commented on #4646
I tried the snippet on the latest build and I still am getting a crash

Process:               Python [75404]
Path:                  /usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/Resources/Python.app/Contents/MacOS/Python
Identifier:            Python
Version:               3.7.7 (3.7.7)
Code Type:             X86-64 (Native)
Parent Process:        fish [75387]
Responsibl

[2020-06-17 15:43] 4khi1 commented on #4636
I am not touched the config file. It's the default config.
Unfortunately I don't have it now.
FYI, OS: Win 10

[2020-06-17 16:41] LabhanshAgrawal commented on #4635
Does it look like that? with all the weird artifacts or did the image got corrupted while uploading?
can you reupload with the console tab opened instead of elements?

[2020-06-17 17:10] LabhanshAgrawal commented on #4646
Try the build from https://github.com/LabhanshAgrawal/hyper/actions/runs/138685319 once. I've added the code from the iTerm2 commit.

[2020-06-17 17:17] LabhanshAgrawal commented on #4636
you will have to use a powerline font for the symbols to work

[2020-06-17 17:51] lucizek commented on #3476
Not sure what should I do to fix it.

[2020-06-17 21:02] cameronaaron commented on #4646
This now appears to be fixed thank you very much!!

[2020-06-17 21:22] LabhanshAgrawal commented on #4646
With the build I mentioned? With the iterm2 changes.

[2020-06-17 23:38] shinriyo commented on #3217
yes. me too.
it is bad for `vim`.
So, I always use `ctrl` + `c`.

[2020-06-18 03:25] cameronaaron commented on #4646
Yes after downloading and using that I do not have the crash anymore

[2020-06-18 08:03] JiCkY-007 commented on #3684
same is happening with me did you find any solutions to it
![Capture](https://user-images.githubusercontent.com/63316956/84994449-550f4280-b168-11ea-9528-ef88fc6d0c28.PNG)

[2020-06-18 08:21] JiCkY-007 opened #4660 "all the text on it is blurry plss help"
- [x] Your Hyper.app version is **3.0.2**. Please verify your using the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
  - [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

  ---
  - **Any relevant information from devtools?** _(CMD+ALT+I on macOS, CTRL+SHIFT+I elsewhere)_:

  - **Is the issue re

[2020-06-18 08:29] LabhanshAgrawal commented on #3684
Give the latest build a try https://github.com/vercel/hyper/actions/runs/137478211

[2020-06-18 08:31] LabhanshAgrawal commented on #4660
duplicate of #3684

[2020-06-18 08:55] #4646 closed

[2020-06-18 10:51] LopezPedrosaAlex commented on #4635
In canary it looks like that, I don't know why. In Hyper 3.0.2 doesn't look like that so I downloaded again this version to show you the console tab.

![Captura de pantalla 2020-06-18 a las 12 50 56](https://user-images.githubusercontent.com/58748526/85011801-5dfd1580-b162-11ea-82d9-d71924a63d0e.png)

[2020-06-18 11:18] LabhanshAgrawal commented on #4635
Can you try the steps in https://github.com/vercel/hyper#contribute and see if it works for local build

[2020-06-18 15:05] LopezPedrosaAlex commented on #4635
I have tried and it's still the same. Although there is a step I couldn't do with "yarn" (yarn run dev), cuz it pops up this:

![Captura de pantalla 2020-06-18 a las 17 01 47](https://user-images.githubusercontent.com/58748526/85037571-d6c19900-b185-11ea-9224-f2f2875cdb80.png)

[2020-06-18 15:10] LabhanshAgrawal commented on #4635
did you run `yarn` first? to install all the deps.

[2020-06-18 20:35] imanalien2020 opened #4662 "Cant install themes"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2020-06-18 20:45] LabhanshAgrawal commented on #4662
Plugins Menu -> Install Hyper CLI command in path
After this you should be able to do `hyper i theme`

[2020-06-19 01:32] arumals commented on #3951
same problem in linux mint

[2020-06-19 05:28] rolbr commented on #3736
I'm on Win10, Hyper 3.0.2 (stable)

When running a gulp task with browsersync and trying to close the window, Hyper crashes.

Adding `useConpty: true,` to .hyper.js config did nothing, other than that my config is unchanged. Then I tried `updateChannel: 'canary',` which opened another can of worms: [hyper canary will not update past 3.0.2 because of a windows certificate issue](https://github.com/

[2020-06-19 10:06] harpreetsb commented on #4529
I was able to remove border via following setting.
[code]

[2020-06-19 11:49] LopezPedrosaAlex commented on #4635
Oh, I'm so dumb. That was it. Now I can run this command until a part where I have to stop the process because it's not doing anything. And Hyper is not working still.

![Captura de pantalla 2020-06-19 a las 13 47 05](https://user-images.githubusercontent.com/58748526/85129596-a801fc00-b233-11ea-8e89-e7f4fa9ae1d7.png)

[2020-06-19 11:52] LabhanshAgrawal commented on #4635
you have to open two terminals, run `yarn run dev` in one and once it gets to the above state, run `yarn run app` in the other.

[2020-06-19 12:25] LopezPedrosaAlex commented on #4635
Black window still...

![Captura de pantalla 2020-06-19 a las 14 23 01](https://user-images.githubusercontent.com/58748526/85132263-b1da2e00-b238-11ea-900c-31dc4a9fbb56.png)

[2020-06-19 13:00] LabhanshAgrawal commented on #4635
Are you using High Sierra?

[2020-06-19 13:01] LopezPedrosaAlex commented on #4635
Yes! High Sierra 10.13.6

[2020-06-19 13:04] LabhanshAgrawal commented on #4635
I found an issue https://github.com/electron/electron/issues/10736 with electron and high sierra. Maybe you are hitting this. In it someone mentioned facing issues with canvas rendering, so try out the build from https://github.com/labhanshagrawal/hyper/actions/runs/139451227 it has webgl renderer enabled.

[2020-06-19 15:30] Shellchuck commented on #3703
@joybh98 Hi, could you please share your code one more time? The gist is unavailable.

[2020-06-19 17:27] emes commented on #3217
change your preferences to include:

[code]

[2020-06-19 23:17] shinriyo commented on #3217
@emes
Thank you.

I did below and resolved. however, I think it should be default settings.
[code]
[code]

[2020-06-20 03:57] #4636 closed

[2020-06-20 05:45] joybh98 commented on #3703
@Shellchuck https://gist.github.com/joybh98/9610dd2059539df83725befd3be34dd4
here you go !

[2020-06-20 06:32] GTMxCode commented on #3736
I dont know why but my hyper just stated crashing a lot within the last day
too. Thought I might be crazy but then saw this email  and your post.

The changelogs say there havnt been any releases to the main branch in a
long while.. but Im pretty sure we're having updates pushed to us, and its
these silent updates that lead to things seemingly happening out of
nowhere. I only say this because toda

[2020-06-20 09:21] LabhanshAgrawal commented on #3736
@GTMxCode there aren't any silent updates. There was one update for 3.1.0-canary4, but it was rolled back (IIRC). You might've been using 3.0.2 with updateChannel as canary and received that build (there's a popup informing about update). I suggest to install the latest build from [ci](https://github.com/vercel/hyper/actions/runs/141259795) which shouldn't have any update issues as there are no ne

[2020-06-20 13:07] Shellchuck commented on #3703
@joybh98 Thank you!

[2020-06-20 13:16] PKUFlyingPig opened #4665 "the speed of moving cursor is too slow"
I feel that the speed of moving cursor is too slow, if I want to move the cursor from the end of a very long command to the middle of the command, I have to watch the cursor moving slowly, are there some solving methods?

[2020-06-20 15:38] senjoux commented on #3423
Having same issue hyper install command doesn't wok, tried the following :

- hyper i hyper-material-theme
- hyper install hyper-material-theme

Error log is :

My preferences changes are :

- [ ] Windows 10 Pro
- [ ] Hyper app version 3.0.2
- [ ] Hyper data location "C:\Users\XXXX\AppData\Roaming\Hyper"

[2020-06-20 18:03] LabhanshAgrawal commented on #3423
@senjoux It's as the error log says, hyper is installed in windows and there are some limitations on using the cli directly from wsl.
You can try `cmd.exe /C hyper i <plugin>`
If that doesn't work just do `cmd.exe` once and run the hyper command there and then exit from cmd.
Let me know if it worked for you.

[2020-06-20 18:08] LabhanshAgrawal commented on #4665
It doesn't depend on the terminal.
I usually do `option+arrow_key` to move one word at a time. I'm on mac so the shortcut might differ for you based on your os.
Also possible to do `option+click` to directly move the cursor to desired location.

[2020-06-20 23:10] GTMxCode commented on #4665
^
On windows its ctrl+arrow. In Linux I'm pretty sure it depends on your shell and settings, for me in zsh in Emacs mode it's the same

If you're using zsh and you literally want the middle of the line you could create a widget that moves the cursor to the middle of the line and then bind it to a key. I might just do this for myself, it's not a bad idea and would be even faster than jumping one wo

[2020-06-21 00:45] shinriyo commented on #3707
It opens Sleipnir. why?

[2020-06-21 00:52] PKUFlyingPig commented on #4665
Thanks a lot for your share : )

[2020-06-21 07:00] LabhanshAgrawal commented on #3707
@shinriyo Is sleipnir an editor? Hyper opens the config file in the default app for js files.

[2020-06-21 08:21] shinriyo commented on #3707
@LabhanshAgrawal Ah, I set sleipnir as js editor...
I changed settings. Thank you.

[2020-06-21 18:13] GTMxCode commented on #4575
I figure since no one helped you and it's been a month I might as well offer a potential solution.. I discovered this bug a little while ago, and I actually make use of it so I dont actually want it fixed (lol)..

That isn't highlighted text, that's bold text. Check your setting for the bold font weight. If it's not a quoted string that's either a) a value between 100 and 900, or b) "bold" you may

[2020-06-21 21:25] MarkLyck commented on #3607
<img width="581" alt="Screen Shot 2020-06-21 at 16 24 31" src="https://user-images.githubusercontent.com/6841110/85235575-b0953680-b3db-11ea-9a5c-f81cf4359370.png">

Ligatures still aren't working for me on `3.1.0-canary4`

I have tried with several powerline fonts including `Fira Code`, with and without hyper-font-ligatues, with and without webGLRenderer enabled.

I just get these square boxes.

[2020-06-22 05:23] WirelessHubMaster opened #4666 "I am on version 3.0.2 and i am not able to open a file when in .git."
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2020-06-22 05:37] LabhanshAgrawal commented on #4666
Can you elaborate a bit?

[2020-06-22 06:11] WirelessHubMaster commented on #4666
I am running windows 10 software, hyper version 3.0.2 . I am using the hyper terminal as a web developer. I was not able to "open file.txt" or something like this in my system as bash is not recognizing it. Please solve this

[2020-06-22 06:58] LabhanshAgrawal commented on #4666
see https://stackoverflow.com/questions/35811533/git-bash-bash-open-command-not-found
you can close this issue as it's not related to hyper

[2020-06-22 07:13] LabhanshAgrawal commented on #4575
Can you please open an issue with details for these settings? We can try to fix them.

[2020-06-22 08:42] #4666 closed

[2020-06-22 09:50] LabhanshAgrawal commented on #4665
@PKUFlyingPig can you please close this issue as it's been answered.

[2020-06-22 10:00] #4665 closed

[2020-06-22 10:57] jacobzart opened #4676 "Hyper creates many environment variables"
- [x] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 10 Enterprise 1809
- **Hyper.app version**: Hyper 3.0.2 (Stable)
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.

[2020-06-22 14:40] LabhanshAgrawal commented on #4676
this was a problem with the registry library we were using, it has been fixed now.
Download the latest [ci build](https://github.com/vercel/hyper/actions/runs/143471057) it should set env vars properly. You can delete the earlier entries.

[2020-06-22 15:12] jacobzart commented on #4676
thanks, works as needed😃

[2020-06-22 15:12] #4676 closed

[2020-06-23 15:21] #1857 closed

[2020-06-23 15:30] LabhanshAgrawal commented on #1857
@wyqydsyq @jquast can you check again with the latest [ci build](https://github.com/vercel/hyper/actions/runs/145055527)
I ran the `ucs-detect` tool with the new changes and it showed `UNICODE_VERSION=12.1.0; export UNICODE_VERSION`

[2020-06-23 15:36] 99SharmaTushar commented on #4035
Thanks for this !! It worked for me..

[2020-06-23 18:26] LabhanshAgrawal commented on #4610
which windows version are you on?

[2020-06-24 03:19] jquast commented on #1857
<img width="598" alt="Screen Shot 2020-06-23 at 11 18 30 PM" src="https://user-images.githubusercontent.com/972584/85495132-f30b6e80-b5a7-11ea-8a45-c82a2118251c.png">

Everything looks great now, thanks

[2020-06-24 04:26] LabhanshAgrawal commented on #1857
What is this tool you're using?

[2020-06-24 06:07] Triggs9 commented on #3410
do shell script "open -a Hyper /usr/local/microsoft/powershell/7-lts/pwsh"

it doesn't have to directly support Hyper, this command in an automator script will open hyper and run pwsh

[2020-06-24 08:00] LeapofAzzam opened #4681 "Hyper 3.1.0 Canary for Windows"
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [x] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**: Windows 8.1 Pro x64

## Issue

For no reason, there no Windows build for Hyper 3.1.0 canary 4. In my configuration file, my update type is canary, but th

[2020-06-24 08:04] LeapofAzzam commented on #4636
Use Nerd Fonts. Search for your fonts in [https://www.nerdfonts.com](https://www.nerdfonts.com) and download it. Then extract it and install the font. Now change the font with the Nerd Fonts version (which is has NF at end of font name)

[2020-06-24 09:16] the-ult commented on #4318
I disabled/removed `hypercwd` this seems to fix the issue.

there was an error/warning that the hyper config was missing configuration settings for hypercwd. (adding the proper settings might help as well)

[2020-06-24 12:55] jquast commented on #1857
`pip install wcwidth blessed`

then, this is the script: https://github.com/jquast/wcwidth/blob/master/bin/wcwidth-browser.py

[2020-06-24 14:01] LabhanshAgrawal commented on #4681
There was no build for windows because of a cert issue. You can download the latest build from the [ci](https://github.com/vercel/hyper/actions/runs/145055527)

[2020-06-24 19:19] LabhanshAgrawal commented on #3391
@zaneclaes Can you reply with the link from where you downloaded the font, I want to try and reproduce the issue, so that we might not need to disable ligatures for it.

[2020-06-24 19:20] LabhanshAgrawal commented on #4360
@JessicaSachs @jbberinger Can you reply with the link from where you downloaded the font, I want to try and reproduce the issue, so that we might not need to disable ligatures for it.

[2020-06-24 20:14] zaneclaes commented on #3391
It's part of the [Nerd Fonts Package](https://www.nerdfonts.com/). IIRC I may have [built it from source](https://github.com/buzzkillhardball/nerdfonts), but the first URL appears to have a much more modular user-friendly approach than when I first started using Nerd Fonts years ago.

[2020-06-24 21:46] pradyuman commented on #3321
We're running into this issue when trying to run the debian package: https://github.com/NixOS/nixpkgs/pull/91153. Any idea how we can debug this?

[2020-06-24 21:58] jbberinger commented on #4360
@LabhanshAgrawal I'm using the popular zsh theme Powerlevel10k. It recommends the use of the Meslo Nerd font, which it installs during the setup wizard. I'm guessing that's where @JessicaSachs got the font as well.

https://github.com/romkatv/powerlevel10k#meslo-nerd-font-patched-for-powerlevel10k

[2020-06-25 05:39] mrghasemi1992 commented on #4317
@SajjanKarn Thanks for your solution. It works for me.

[2020-06-25 10:46] WirelessHubMaster opened #4683 "I am using Version 3.0.2, and there is a slight problem. If we get the window to close, the system starts to slow down, It remains unresponsive until a forced reboot. Please fix this issue."
- [ ] I am on the [latest](https://github.com/zeit/hyper/releases/latest) Hyper.app version
- [ ] I have searched the [issues](https://github.com/zeit/hyper/issues) of this repo and believe that this is not a duplicate

- **OS version and name**:
- **Hyper.app version**:
- **Link of a [Gist](https://gist.github.com/) with the contents of your .hyper.js**:
- **Relevant information from devtools** _

[2020-06-26 11:14] #4681 closed

[2020-06-26 11:34] #4022 closed

[2020-06-26 11:36] #4662 closed

[2020-06-26 11:42] #4147 closed

[2020-06-26 11:44] #4429 closed

[2020-06-26 15:36] LabhanshAgrawal commented on #1242
Tested on latest canary, seems to be fixed, no results on searching 'Open Hyper here' in registry after uninstall.

[2020-06-26 15:36] #1242 closed

[2020-06-26 15:36] LabhanshAgrawal commented on #3090
Tested on latest canary, seems to be fixed, no results on searching 'Open Hyper here' in registry after uninstall.

[2020-06-26 15:36] #3090 closed

[2020-06-26 15:38] ericslaw commented on #501
I'd like to see ':' _excluded_ from being considered a 'word' on macOS.
They used to have an 'language' definition for 'ascii' years ago but have since removed.
For some unexplained reason, ':' is now somehow considered a word? 🤯

[2020-06-26 15:38] #4660 closed

[2020-06-26 15:43] LabhanshAgrawal commented on #3684
@JiCkY-007 did it work for you?

[2020-06-26 15:49] #3939 closed

[2020-06-26 15:53] #3742 closed

[2020-06-26 15:53] #3487 closed

[2020-06-26 17:00] LabhanshAgrawal commented on #3683
Delete the .hyper.js file and hyper will recreate it when started.
If you face any other problems try out the latest [ci build](https://github.com/vercel/hyper/actions/runs/145055527) once before creating a new issue.

[2020-06-26 17:01] LabhanshAgrawal commented on #3951
@araujoantonio @arumals can you try the latest [ci build](https://github.com/vercel/hyper/actions/runs/145055527) once and see if it works for you.